<div class="collection-group">
  {% for selected_handle in shop.metafields.accentuate.store_featured_collections %}
    {% include 'content-collection-group', with selected_handle: selected_handle %}
  {% endfor %}
</div>
