<div class="container-fluid px-0 mt-5">
  <div class="affiliate-closing">
  
      <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/insta1.jpg">
 
      <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/insta2.jpg">
   
      <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/insta3.jpg">

    <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/insta4.jpg">
      
    
    <div class="textwrap">
      
      <div class="heading text-center">Join the HUSTLER Hollywood sex toy and lingerie affiliate program today!</div>
      <a class="d-block btn-md mt-3 btn btn-white" href="{{ affiliatelink }}" target="_blank" rel="nofollow">Become an Affiliate</a>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/insta5.jpg">
    </div>
  </div>