{%- assign affiliatelink = 'https://ascend.pepperjam.com/affiliate/registration.php?refid=173373' -%}
<style>
  :root {
    --c-affiliate: #d60132;
  }
  .c-affiliate {
    color: #d60132;
  }
    #shopify-section-footer {
      margin-top: 0px;
    }
    .container.bottom-bar__container {
      display: none;
    }
  .affiliate-top-tabs {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 6px 1rem 0px;
    border-bottom: 6px solid #fff;
  }
  .affiliate-top-tabs .page-header {
    font-size: 2.6rem;
    font-weight: 400;
  }
    .affiliate-top-tabs p.lead {
    font-size: 1.26rem;
    font-weight: 300;
  }
  .affiliate-top-tabs .affiliate-tab, .mobile-top-join {
   padding: 0.95rem 1.4rem;
    color: #fff;
    font-weight: 600;
    font-family: "Gotham";
    font-size: 15px;
    letter-spacing: 0.034em;
    text-transform: uppercase;
    background: #464646;
    display: flex;
    align-items: center;
  }
    .mobile-top-join {
     background: var(--c-affiliate);
       margin-bottom: 5px;
       font-size: 13px;
    }
    .mobile-top-join img {
      max-height: 20px;
    }
  .affiliate-top-tabs .affiliate-tab:hover, .affiliate-top-tabs .affiliate-tab.active {
    background: #fff;
    color: #464646;
    cursor: pointer;
  }
  .affiliate-top-tabs .affiliate-tab + .affiliate-tab {
    margin-left: 6px;
  }
  .affiliate-tab.pepperjam-colors {
    background: var(--c-affiliate);
  }
  .affiliate-tab.pepperjam-colors:hover {
    background: var(--hh-red);
    color: #fff;
  }
  .affiliate-tab.pepperjam-colors img {
    max-height: 25px;
    margin-right: 15px;
  }
    
.btn.btn--lg, .btn.btn-lg {
  font-size: 15px;
}
  .affiliate-top-home {
    background: #74ae53;
    background: rgb(92,0,21);
background: linear-gradient(180deg, rgba(92,0,21,1) 0%, rgba(149,0,34,1) 100%);

    color: #fff;
    font-size: 1.17rem;
    line-height: 1.3;
  }
     .affiliate-top-home .container {
      max-width: 1400px !important;
    }
    .opac-h1 {
       opacity: 0.75;
  font-family: "Gotham";
  text-transform: uppercase;
    }
.sm-heading {
  font-size: 0.88rem;
  letter-spacing: 0.02em;
 
}
  .xlg-heading {
    font-size: 3.85rem;
    font-weight: 300;
    line-height: 1;
  }
  .lg-heading {
    font-size: 2.9rem;
    font-weight: 300;
    line-height: 1.05;
  }
    .md-heading {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.05;
  }
  .lg-heading .small {
    font-size: 40%;
  }
  .affiliate-top-home .sideimg {
   width: 100%;
    max-width: 700px;
    margin: 0px 0px 0px auto;
  }
  .join-label {
    font-family: "Gotham";
    font-weight: 500;
    display:block;
    text-transform: uppercase;
  }
  .commissions-count {
    font-size: 60px;
    font-weight: 900;
    color: #000;
    line-height: 0.9;
    font-family: "Gotham";
  }
  .commissions-count .bignumber {
    color: #d60132;
    font-weight: 900;
    font-size: 200%;
  }
  .container.container-sm {
    max-width: 950px;
  }
  .affiliate-features {
    font-size: 95%;
    line-height: 1.3;
    display: flex;
    flex-wrap: wrap;
  }
  .affiliate-features  h5 {
    color: #000;
    font-size: 1.1rem;
  }

    
    .affiliate-feature {
      display: flex;
      width: 50%;
      margin: 0.75rem 0px;
    }
    .affiliate-feature .icon {
             background: var(--c-affiliate);
               line-height: 30px;
               width: 30px !important;
               height: 30px;
               text-align: center;
               display: flex;
               justify-content: center;
               align-items: center;
                    margin-right: 15px;
               border-radius: 50px;
               }
     .affiliate-feature svg {
       color: #fff;
       font-size: 17px;
       

margin: auto;
    
         display: block;
         }
    .affiliate-feature .text-wrap {
      max-width: calc(100% - 45px);
      font-size: 1rem;
      padding-top: 0.3em;
    }
    .affiliate-feature small {
      font-size: 80%;
      display: block;
      opacity: 0.8;
    }
    .affiliate-feature strong {
      color: #000;
    }
  .affiliate-features .media-img {
    width: 28%;
    padding: 0px 1rem 0px 0px;
  }
  .slant-heading {
    font-style: italic;
    color: #d60132;
    line-height: 1.1;
    font-size: 2.3rem;
  }
  .slant-heading span {
    color: #b1b1b1;
    padding-left: 0.5rem;
  }
  p.lead {
    font-size: 1.13rem;
  }
  .btn.btn-green {
    background: #d60132;
  }
  .affiliate-why {
    background: url(https://cdn.shopify.com/s/files/1/1221/0120/files/features_bg.jpg?v=1606121328) no-repeat top center;
    color: #fff;
    padding: 3rem 0px;
    margin-top: 4rem;
  }
    .strong {
      font-weight: 500;
    }
    .c-black {
      color: var(--hh-black);
        }
  @media (min-width: 1600px) { 
    .affiliate-why .xlg-heading {
    font-size: 3.58rem;
  }
  }
  .affiliate-checklist {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
  }
  .affiliate-checklist li {
    display: flex;
    width: 50%;
    padding: 1.5rem;
    font-size: 90%;
    line-height: 1.25;
  }
  .affiliate-checklist li h5 {
    color: #fff;
    font-family: "Gotham";
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    font-size: 105%;
  }
  .affiliate-checklist li svg {
    font-size: 40px;
    padding-right: 0.75rem;
  }
.btn.btn-white {
  background: #fff;
  color: var(--c-affiliate);
    }
   .btn.btn-white:hover {
     background: var(--hh-black);
   }
    .affiliate-closing {
      display: flex;
      align-items: center;
      background: #950022;
    color: #fff;
    }
    .affiliate-closing {
      max-width: 100%;
    }
    .affiliate-closing img {
      max-width: 15%;
    }
    .affiliate-closing .textwrap {
      width: 25%;
      flex-grow: 1;
    color: #fff;
      padding: 0.75rem 1.5rem;
      text-align: left;
    }
    .affiliate-closing .textwrap .join-label {
      font-size: 17px;
    }
    .affiliate-closing .textwrap .heading {
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 1.15;
    }
    .expandbox-footer {
    background: var(--hh-black);
      color: #fff;
      align-items: center;
      padding: 1.5rem 1rem; 
      justify-content: center;
      font-size: 1.25rem;
      display: flex;
      margin-top: 3rem;
      }
    @media (max-width: 1200px) {
       .affiliate-closing img:nth-of-type(5) {
        display: none;
      }
    }
    @media (max-width: 1000px) {

      .xlg-heading {
        font-size: 3.2rem;
      }
      
      .commissions-count {
        font-size: 50px;
      }
        .affiliate-closing {
        flex-wrap: wrap;
      }
        .affiliate-closing .textwrap .heading {
      font-size: 1.6rem;
    }
  .affiliate-closing .textwrap {
        width: 100%;
    padding: 3rem 2rem;
      }
      .affiliate-closing img {
        width: 25%;
        max-width: 25%;
      }
    }
    @media (max-width: 768px) {

    
     
       .xlg-heading {
        font-size: 2.75rem;
      }
         
       .affiliate-top-home {
         padding: 0px;
       }
          .affiliate-top-tabs {
       padding:1rem 0px 0px;
     }
      .affiliate-top-tabs .page-header {
        font-size: 2rem;
        margin-bottom: 1.24rem;
      }
      .affiliate-top-tabs .affiliate-tab {
        line-height: 1.15;
        width: 25%;
        justify-content: center;
        font-size: 13px;
        padding: 0.75rem 0.9rem;
      } 
      .affiliate-checklist li {
        width: 100%;
        padding: 0.35rem;
      }
      .affiliate-top-home .imageside {
        overflow: hidden;
      }
      .affiliate-top-home .sideimg {
        transform: scale(1.3);
      }
      .affiliate-why {
        background: url(https://cdn.shopify.com/s/files/1/1221/0120/files/why_mobile_bg.jpg) no-repeat top right #23272a;
        background-size: 100% auto;
      }
    }
    @media (max-width: 560px) {
       .xlg-heading {
        font-size: 2.3rem;
      }
      .commissions-count {
        font-size: 36px;
        text-align: center;
      }
    }
    
    
</style>
<script defer src="{{ 'affiliate-page.js' | asset_url }}"></script>

<div class="container-fluid affiliate-top-tabs">
  <div class="container px-0">
  
    <a class="mobile-top-join d-block d-md-none" href="{{ affiliatelink }}" target="_blank" rel="nofollow">Become an Affiliate</a>
       
       <div class="row mx-0">
         
     <div class="col-12 d-flex align-items-flex-end px-0 justify-content-center">
       <a class="affiliate-tab {% if affiliate-page == 'home' %} active {% endif %}" href="/pages/affiliate-program"><span class="d-none d-md-inline">The Program</span> <span class="d-inline d-md-none">Intro</span></a>
       <a class="affiliate-tab {% if affiliate-page == 'tips' %} active {% endif %}" href="/pages/affiliate-program-tips">Tips + Tricks </a>
       <a class="affiliate-tab {% if affiliate-page == 'media' %} active {% endif %}" href="/pages/affiliate-program-media">Banners</a>
       <a class="affiliate-tab {% if affiliate-page == 'faq' %} active {% endif %}" href="/pages/affiliate-program-faq">FAQ </a>
       
        <a href="{{ affiliatelink }}" target="_blank" rel="nofollow" class="affiliate-tab pepperjam-colors d-none d-md-block">Become an Affiliate</a>
       
      </div>
    </div>
  </div>
</div>