<style>
   #agegate-modal{background:#000;color:#fff;text-align:center;padding-top:115px;max-width:600px;width:calc(100% - 25px);margin-top:25px;margin-right:25px;font-size:105%;line-height:1.35;box-shadow:0 0 44px rgba(0,0,0,.7);border:1px solid rgba(200,200,200,.2)}#agegate-modal .modal-heading{position:absolute;top:0;padding:15px 20px;color:#fff;font-size:2.7rem;left:0;font-weight:900;width:100%;text-transform:uppercase;line-height:1.05;text-align:left;padding-right:200px;margin-top:20px}#agegate-modal .modal-corner-img{position:absolute;top:0;right:0;background-color:#000;background-image:url("{{ 'age21.svg' | asset_url }}");background-position:center center;background-repeat:no-repeat;margin-top:-25px;margin-right:-25px;border-radius:200px;background-size:72% auto;width:150px;height:150px}#agegate-modal .modal-innercontent{width:100%;max-width:570px;margin:1rem auto}#agegate-modal .modal-innercontent .bold-lead{font-size:125%;line-height:1.3;font-weight:800}#age-input-form{padding:.5rem 0 1.5rem;border-top:1px solid rgba(200,200,200,.2);border-bottom:1px solid rgba(200,200,200,.2)}#age-input-form label{display:block;text-align:center;font-size:14px;text-transform:uppercase;font-weight:600;margin:.3rem auto}#age-input-form input{text-align:center}#agegate-modal .modal-error-text{color:#d60434;font-weight:600;margin:.5rem auto;padding:.5rem;font-size:92%;display:none}#agegate-modal .modal-error-text i{display:inline-block;font-size:83%;font-weight:400;padding-right:4px}#agegate-modal .confirm-btns .btn{width:100%;line-height:45px;padding:0;border-radius:0}#agegate-modal .confirm-btns .btn.btn-grey{background-color:#575757}#agegate-modal .confirm-btns .btn.btn-red{background-color:#d60434}#agegate-modal .agefooter-text{color:rgba(255,255,255,.9);width:100%;max-width:400px;margin:2.25rem auto 0;font-size:82%;line-height:1.36}#agegate-modal .agecheck-close{display:table;margin:1.5rem auto;background:rgba(200,200,200,.1);font-weight:700;border-radius:50px;padding:.5rem 1rem;font-size:95%}@media (max-width:1024px){#agegate-modal .modal-heading{font-size:2rem}}@media (max-width:768px){#agegate-modal{padding-top:70px;margin-right:0;width:100%;font-size:100%}#agegate-modal .modal-corner-img{left:0;right:0;margin:auto;margin-top:-20px;width:80px;height:80px}#agegate-modal .modal-heading{position:relative;text-align:center;margin-top:0;margin-bottom:15px;padding:0;font-size:2.2rem}}
</style>
<!-- Modal HTML embedded directly into document -->
<div id="agegate-modal" class="modal">
  
  <div class="modal-corner-img"></div>
  
  <!-- <a href="#" rel="modal:close">Close</a> -->
  <div class="modal-heading">Verify Your Age</div>
  <div class="modal-innercontent">
  <div class="bold-lead mb-2">You must be at least 21 years of age <br class="d-none d-lg-block"/> to purchase this product.</div>
    <p> Please confirm your age by entering your birthday.</p>
    
    <div class="container" id="age-input-form">
     
      <div class="row">
        <div class="col-sm-6"><label>Month</label><select id="agecheck_month" class="form-control">
          <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
          </select>
        
        
        </div>
         <div class="col-sm-2 col-6" ><label>Day</label><input type="number" placeholder="DD" maxlength="2" class="form-control" id="agecheck_day"></div>
         <div class="col-sm-4 col-6" >
           <label>Year</label>
           <input type="number" maxlength="4" placeholder="YYYY" id="agecheck_year" class="form-control"></div>
      </div>
      
    </div>
    <div class="modal-error-text"> <i class="fas fa-exclamation-circle"></i> <span>This date does not seem valid.</span></div>
    
    <div class="container confirm-btns mt-3 px-0">
      <div class="row">
      <div class="col-6 pr-1">
        <a href="/collections/sex-toys" class="btn btn-grey">I'm not 21 <span class="d-none d-md-inline">Yet</span></a>
      </div>
      <div class="col-6 pl-1">
        <a href="#" id="btn-checkage" class="btn btn-red">Confirm Age</a>
      </div>
      </div>
    </div>
   
      <div class="agefooter-text">
    
        <p class="mb-3"><strong>NOTE:</strong> Products that are age restricted will require someone 21 years or older to sign for delivery.</p>
       <a href="#" rel="modal:close" class="agecheck-close mt-2"><i class="fa fa-times-circle" aria-hidden="true"></i> Nevermind, I changed my mind</a>
     
      </div>
    </div>
   
  </div>
