{% comment %} The Template for displaying product archives, including the default collection. {% endcomment %}
{%- paginate collection.products by post_per_page -%}
  <div class="row justify-content-center">
    {%- if is_fullpage == 'false' -%}
      <div class="col-lg-3 col-xl-auto d-none d-lg-block">
        {%- include 'collection-toolbar' -%}
        {% section 'collection-side-banner' %}
      </div>
    {%- endif -%}
      <div class="col-12 col-lg-9 mx-auto p-mob-0">
         {%- section 'collection-single-banner' -%}
         <div class="row w-100 align-items-center text-center mx-0 collection-header-text">
            <div class="col-lg-auto col-12">   <h1 class="title title--default">{{ collection.title }}</h1></div>
           <div class="col-lg-auto col-12"><div class="heading-breadcrumbs">{% include 'breadcrumbs' %}</div></div>
          </div>
        <header class="collection-header">
          <div class="row no-gutters w-100">
            <div class="col-12 col-md-9 px">
              {%- if settings.ss_enable -%}
              	<div id="searchspring-facets"></div>
              {%- endif -%}
            </div>
            <div class="col-md-3 d-none d-md-block ss-toolbar-rightside ml-auto">
              {%- if settings.ss_enable -%}
                <div id="searchspring-toolbar">
              {%- endif -%}
                {% include 'sort-order-menu' with class: 'custom-select--sort-by ml-auto' %}
                {% include 'mini-pagination' %}
              {%- if settings.ss_enable -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        </header>
        {%- if settings.ss_enable -%}
        	<div id="searchspring-content" data-no-instant>
        {%- endif -%}

          {%- if paginate.pages > 1 -%}
            {%- include 'pagination' -%}
          {%- endif -%}
        {%- if settings.ss_enable -%}
        	</div>
        {%- endif -%}
        {%- if collection.metafields.accentuate.brand_warrenty_link  -%}
          <div class="brand-warrenty_link"><a href="{{ collection.metafields.accentuate.brand_warrenty_link }}" target="_blank" rel="nofollow" class="coverlink"></a><img data-src="{{ 'brandwarrenty.png' | asset_url }}" class="lazyload">Manufacturer <br/>Warranty <i class="fas fa-external-link-alt"></i></div>
          {%- endif -%}
         {%- if is_fullpage == 'true' and collection.description -%}
         {%- if collection.metafields.accentuate.bottom_description_box -%}
        <div class="collection__desc cleanup"> {{ collection.metafields.accentuate.bottom_description_box }} </div>
          {%- endif -%}
        {%- else -%}
        <div class="collection__desc cleanup" id="less-jump">
          {%- if collection.metafields.accentuate.bottom_description_box -%}
            {%- include 'read-more' with desc_handle: collection.metafields.accentuate.bottom_description_box, truncate_words: 100 -%}
          {%- endif -%}


        </div>
        {%- endif -%}


      </div>
  </div>
  <div class="yotpo yotpo-reviews-carousel clearfix"
 data-background-color="transparent"
 data-mode="most_recent"
 data-type="product"
 data-count="9"
 data-show-bottomline="1"
 data-autoplay-enabled="1"
 data-autoplay-speed="3000"
 data-show-navigation="1">&nbsp;</div>
{%- endpaginate -%}
