
<div class="comments-wapper">

{% comment %}If a comment was just submitted with no blank field.{% endcomment %}
{% if comment and comment.created_at %}
<p class="success feedback">
    {% if blog.moderated? %}
    Your comment was posted successfully. We will publish it in a little while, as our blog is moderated.
    {% else %}
    Your comment was posted successfully! Thank you!
    {% endif %}
</p>
{% endif %}

{% if number_of_comments > 0 %}
    <div class="sub-section">
    <h3 class="sub-section__title">Recent Comments</h3>
    <ul class="comments">
        {% comment %}If a comment was just submitted with no blank field, let's show it.{% endcomment %}
        {% if comment and comment.created_at %}
        <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
        <div class="comment__cnt">
            {{ comment.content }}
        </div>
        <footer class="comment__footer">
            <p class="comment__date">
            On {{ comment.created_at | date: "%B %d, %Y" }}
            </p>
            <span class="seperator">&nbsp;|&nbsp;</span>
            <h4 class="comment__author">By {{ comment.author }}</h3>
        </footer>
        </li>
        {% endif %}
        {% comment %}Showing the rest of the comments.{% endcomment %}
        {% for comment in article.comments %}
        <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
        <div class="comment__cnt">
            {{ comment.content }}
        </div>
        <footer class="comment__footer">
            <p class="comment__date">
            On {{ comment.created_at | date: "%B %d, %Y" }}
            </p>
            <span class="seperator">&nbsp;|&nbsp;</span>
            <h4 class="comment__author">By {{ comment.author }}</h3>
        </footer>
        </li>
        {% endfor %}
    </ul>
    
    {% comment %}Comments are paginated.{% endcomment %}
    {% if paginate.pages > 1 %}
        {% include 'pagination' %}
    {% endif %}
    </div>
{% endif %}

{% comment %}Comment submission form.{% endcomment %}
{% form "new_comment", article, class: 'comment-form  form sub-section' %}

    <h3 id="add-comment-title" class="sub-section__title form__title">Leave Message</h3>
    
    {% if form.errors %}
    <div class="feedback error">
    {{ form.errors | default_errors }}
    </div>
    {% endif %}
    <div class="form__row">
    <div class="form__group col-12 col-md-6">
        <label for="comment-author" hidden>Name</label>
        <input required class="form__control{% if form.errors contains "email" %} error{% endif %}" type="text" name="comment[author]" placeholder="Name" id="comment-author" value="{{ form.author }}" />
    </div>

    <div class="form__group col-12 col-md-6">
        <label for="comment-email" hidden>Email</label>
        <input required class="form__control{% if form.errors contains "email" %} error{% endif %}" type="email" name="comment[email]" placeholder="Email" id="comment-email" value="{{ form.email }}" />
    </div>
    </div>

    <div class="form__group">
    <label for="comment-body" hidden>Message</label>
    <textarea required rows="8" class="form__control{% if form.errors contains "email" %} error{% endif %}" name="comment[body]" id="comment-body" placeholder="Message"></textarea>
    </div>

    <button class="btn btn--md btn--dark-alt" type="submit" value="Post Comment">Post Comment</button 
    
    {% if form.errors %}
    <script>
        window.location.hash = '#add-comment-title';
    </script>
    {% endif %}
    
    {% if form.posted_successfully? %}
    <script>
        window.location.hash = '#comments';
    </script>
    {% endif %} 

{% endform %}

</div>