
<div class="widgets widgets--blog">
    {% if blog.all_tags %}
    <div class="widget widget--blog-tags">
        {% if blog.all_tags.size > 0 %}
            <h3 class="widget__title accordion-trigger closed">Categories</h3>
            <div class="accordion-panel" style="display: none">
                {% include 'blog-category' %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="widget widget--recent-posts">
        <h3 class="widget__title">Recent Posts</h3>
        {% include 'blog-recent' %}
    </div>
    <div class="widget">
        <div class="discount-letter">
            <div class="klaviyo-form-JhrbtP"></div>
        </div>
    </div>
</div>