<ul class='articles'>
  {% assign rec_count = 0 %}
  {% for rec_article in blogs[blog.handle].articles %}
      {% if rec_count < 6 %}
          {% unless includedArticlesID contains rec_article.id %}
              {% assign rec_count = rec_count | plus: 1 %}
              <li class="article">
                  <div class="article__img-wrapper">
                      {% if rec_article.image %}
                      <a href="{{ rec_article.url }}" class="article__img lazyload"
                          data-bgset="{% include 'responsive-bg-image', image: rec_article.image %}"></a>
                      {% else %}
                      <a href="{{ rec_article.url }}" class="article__img"></a>
                      {% endif %}
                  </div>
                  <div class="article__cnt">
                      <h2 class="article__title"><a href="{{ rec_article.url }}">{{ rec_article.title }}</a></h2>
                      <div class="article__date">
                          <time pubdate datetime="{{ rec_article.published_at | date: '%Y-%m-%d' }}">{{ rec_article.published_at | date: format: 'month_day_year' }}</time>
                      </div>
                  </div>
              </li>
          {% endunless %}
      {% else %}
          {% break %}
      {% endif %}
  {% endfor %}
</ul>