{% assign selected_handle = shop.metafields.accentuate.blog_sidebar_collection %}
{% if selected_handle %}
  <section class="collection collection--{{ selected_handle }}" style="margin-top: 1.5rem">
    <div class="container container--collection">
      <div class="collection__header">
        <div class="collection__title"><a class="" href="{{ collections[selected_handle].url }}"> Featured {{ collections[selected_handle].title }}</a></div>
      </div>
      <ul class="products products--sm slider--equal-height hh-slider-grid">
        {% for product in collections[selected_handle].products limit:6 %}
          <li class="product-item slider__item">
            {% include 'content-product', maxWidth: 300, maxHeight: 355 %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
<style type="text/css">
  .sticky-widget {
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
  }
  .sticky-widget .products {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .sticky-widget .products .product-item {
    width: 50% !important;
  }
  .sticky-widget .products .product-item img {
    max-width: 100% !important;
  }
</style>