<ul class="tags append-count">
  {% for tag in blog.all_tags %}
    {% assign count = 0 %}
    {% for article in blogs[blog.handle].articles %}
      {% if article.tags contains tag %}
        {% capture count %}{{ count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
    {% unless count == 0%}
      <li class="tag">
      {{ tag | link_to_tag: tag }}
      </li>
    {% endunless %}
  {% endfor %}
</ul>

<div id="article-count" style="display:none;" data-count="{{ blog.articles_count }}"></div>
<script type="text/javascript">
  $(function() {
  $('ul.tags.append-count li').each(function(){
    var $this = $(this),
        link = $this.find('a'),
        url = link.attr('href');
    $.get(url, function(data){
      var count = parseInt($(data).find('#article-count').data('count'),10);
      link.append('<span class="tag__count">' + count + '</span>');
      if (count === 0) { // Remove tags with 0 articles
        $this.hide();
      }
    });
  });
  });
</script>
