{% if blog.all_tags.size > 0 %}
    <div class="dropdown-blog-tags-container">
        <a href="javascript:void(0);" class="trigger trigger--blog-nav js-trigger-blog-nav">
            <span class="trigger__icon">
                <span class="burger">
                </span>
            </span>
            <span class="trigger__title">Browse Blog</span>
        </a>
        {% assign words = settings.tag-list | newline_to_br | split: '<br />' %}
        <div class='dropdown-blog-tags js-dropdown-blog-tags'>

                <ul class="tags">
                    {% for tag in blog.all_tags %}
                    {% assign count = 0 %}
                    {% for article in blogs[blog.handle].articles %}
                    {% if article.tags contains tag %}
                    {% capture count %}{{ count | plus: 1 }}{% endcapture %}
                    {% endif %}
                    {% endfor %}
                    {% unless count == 0%}
                    <li class="tag">
                        {{ tag | link_to_tag: tag }}
                    </li>
                    {% endunless %}
                    {% endfor %}
                </ul>

        </div>
    </div>
{% endif %}
