<section class="grid grid--img-txt grid--img-txt--land">
  <div class="container">
    <div class="row grid__group justify-content-center">
      {% for title in collection.metafields.accentuate.item_title %}
        <div class="col-auto col-md-6 col-lg-3 grid__item">
          <div class="grid__cnt-wrapper">
            <div class="grid__img-wrapper"><img class="grid__img lazyload" data-src="{{ collection.metafields.accentuate.item_image[forloop.index0] }}"></div>
            <h4 class="grid__title"><a class="grid__link" href="{{ collection.metafields.accentuate.item_link[forloop.index0] }}" title="{{ title }}">{{ title }}</a></h4>
            <a class="grid__hidden-link" href="{{ collection.metafields.accentuate.item_link[forloop.index0] }}"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>