{%- unless template == 'index' or template == 'cart' or template == 'list-collections' -%}
  <nav class="nav nav--breadcrumb" role="navigation" aria-label="breadcrumbs">
    {%- if template == 'collection' or template == 'collection.fleshlight' -%}
      {%- case collection.handle -%}
          {%- when 'hustler-store' -%}
            {%- unless currentLink == '' or currentLink.title == "More"  -%}
                <a class="nav__item nav__item--link" href="{{ currentLink.url }}" title="Go to {{ currentLink.title }}">{{ currentLink.title }}</a>
                <span aria-hidden="true" class="nav__seperator">|</span>
              {%- endunless -%}
              <span class="nav__item">HUSTLER® Store{%- if settings.ss_enable -%}<span class="ss-item-count">{%- endif -%}({{ collection.all_products_count }} Item{%- if collection.products.size > 1 -%}s{%- endif -%}){%- if settings.ss_enable -%}</span>{%- endif -%}</span>

          {%- when 'hustler-toys' -%}
            <span class="nav__item">{{ collection.title }}{%- if settings.ss_enable -%}<span class="ss-item-count">{%- endif -%}({{ collection.all_products_count }} Item{%- if collection.products.size > 1 -%}s{%- endif -%}){%- if settings.ss_enable -%}</span>{%- endif -%}</span>
          {%- when 'sex-toys' -%}
            <span class="nav__item">{{ collection.title }}{%- if settings.ss_enable -%}<span class="ss-item-count">{%- endif -%}({{ collection.all_products_count }} Item{%- if collection.products.size > 1 -%}s{%- endif -%}){%- if settings.ss_enable -%}</span>{%- endif -%}</span>
          {%- when 'new-arrivals' -%}
            <span class="nav__item">{{ collection.title }}{%- if settings.ss_enable -%}<span class="ss-item-count">{%- endif -%}({{ collection.all_products_count }} Item{%- if collection.products.size > 1 -%}s{%- endif -%}){%- if settings.ss_enable -%}</span>{%- endif -%}</span>
          {%- else -%}
            {%- include 'current-link' -%}
            {%- if currentLink.active -%}
              {%- unless collection.handle == 'vibrators' or collection.handle == 'dildos' or collection.handle == 'strap-ons' or collection.handle == 'anal-toys' or collection.handle == 'kink' or collection.handle == 'lingerie' or collection.handle == 'lubes-lotions' -%}
              <span class="nav__item">{{ currentLink.title }}</span>
              <span aria-hidden="true" class="nav__seperator">|</span>
              {%- endunless -%}
              <span class="nav__item">
                {%- unless collection.handle == 'vibrators' or collection.handle == 'dildos' or collection.handle == 'strap-ons' or collection.handle == 'anal-toys' or collection.handle == 'kink' or collection.handle == 'lingerie' or collection.handle == 'lubes-lotions' -%}
                All
                {%- endunless -%}{{ currentLink.title }} {%- if settings.ss_enable -%}<span class="ss-item-count">{%- endif -%}({{ currentLink.object.all_products_count }} Item{%- if currentLink.object.products.size > 1 -%}s{%- endif -%}){%- if settings.ss_enable -%}</span>{%- endif -%}</span>
            {%- else -%}
              {%- unless currentLink == '' or currentLink.title == "More" -%}
                <a class="nav__item nav__item--link" href="{{ currentLink.url }}" title="Go to {{ currentLink.title }}">{{ currentLink.title }}</a>
                <span aria-hidden="true" class="nav__seperator">|</span>
              {%- endunless -%}
              <span class="nav__item">{{ collection.title }} {%- if settings.ss_enable -%}<span class="ss-item-count">{%- endif -%}({{ collection.all_products_count }} Item{%- if collection.products.size > 1 -%}s{%- endif -%}){%- if settings.ss_enable -%}</span>{%- endif -%}</span>
            {%- endif -%}
          {%- endcase -%}
    {%- elsif template contains 'product' -%}
      {%- if collection.url -%}
        <span class="nav__item">{{ collection.title | link_to: collection.url }}</span>
        <span aria-hidden="true" class="nav__seperator">|</span>
      {%- endif -%}
    <!--  <span class="nav__item">{{ product.title }}</span> -->
    {%- elsif template contains 'collection' and collection.handle -%}
            {%- if current_tags -%}
              {%- capture url -%}/collections/{{ collection.handle }}{%- endcapture -%}
              {{ collection.title | link_to: url }}
              <span aria-hidden="true" class="nav__seperator">|</span>
              <span>{{ current_tags | join: " + " }}</span>
            {%- else -%}
              <span>{{ collection.title }}</span>
            {%- endif -%}
    {%- elsif template == 'blog' -%}
      {%- if current_tags -%}
       <h1 class="blogpage-title"> {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true" class="nav__seperator">|</span>
          <span>{{ current_tags | join: " + " }}</span></h1>
      {%- else -%}
      <h1 class="blogpage-title">{{ blog.title }}</h1>
      {%- endif -%}
    {%- elsif template == 'article' -%}
      {{ blog.title | link_to: blog.url }}
      {%- for tag in article.tags -%}
        <span aria-hidden="true" class="nav__seperator">|</span>
        {{ tag | link_to_tag: tag }}
        {%- break -%}
      {%- endfor -%}
    {%- else -%}
      <span>{{ page_title }}</span>
    {%- endif -%}
  </nav>
{%- endunless -%}
