<style type="text/css">
    @media screen and (max-width: 767px) {
        .breadcrumbs {
            text-align: center;
            padding: .75rem 0;
        }
    }
    .breadcrumbs {
        opacity: 0.7;
        font-weight: 500;
        padding: .5rem 0;
        font-size: 13px;
      line-height: 1.15;
    }

</style>
<nav class="breadcrumbs">
    {%- if template contains "product" -%}
        {%- if product.collections -%}
            {%- for collection in product.collections -%}
                {%- if collection.handle == "for-her" or collection.handle == "for-him" or collection.handle == "for-couples" -%}
                    {%- assign primaryCrumb = collection -%}
                {%- endif -%}
            {%- endfor -%}

            {%- for collection in product.collections -%}
                {%- if collection.title == "HUSTLER® Hollywood Toys & Apparel" -%}
                    {%- assign specialCrumb = "HUSTLER® Store" -%}
                    {%- assign specialCrumbUrl = collection.url -%}
                {%- elsif collection.title == "Women's Apparel" or collection.title == "Men's Apparel" or collection.title == "Adult Books" or collection.title == "Adult Toy Storage" or collection.title == "Condoms" or collection.title == "Dance Poles" or collection.title == "Adult DVD's" or collection.title == "Gifts & Apparel" or collection.title == "Sexy Halloween Costumes" or collection.title == "Naughty Games" or collection.title == "Party Supplies" or collection.title == "Sex Dolls" or collection.title == "Sex Furniture" or collection.title == "Sex Machines" or collection.title == "Socks" or collection.title == "Wigs" or collection.title == "Cockrings" or collection.title == "Heels" or collection.title == "Body Molding Kits" -%}
                    {%- assign specialCrumb = collection.title -%}
                    {%- assign specialCrumbUrl = collection.url -%}
                {%- endif -%}
            {%- endfor -%}
            {%- for collection in product.collections -%}
                {%- if collection.handle == "vibrators" or collection.handle == "dildos" or collection.handle == "strap-ons" or collection.handle == "anal-toys" or collection.handle == "kink" or collection.handle == "lingerie" or collection.handle == "lubes-lotions" -%}
                    {%- assign primaryCrumb = collection -%}
                {%- endif -%}
            {%- endfor -%}

            {%- assign childNav = primaryCrumb.handle -%}
            {%- for collection in product.collections -%}
                {%- for link in linklists['000-new-nav-menu'].links -%}
                    {%- if link.handle == childNav -%}
                         {%- for sublink in link.links -%}
                            {%- assign realHandle = sublink.url | replace: "/collections/", "" -%}
                            {%- if collection.handle == realHandle  -%}
                                {%- assign subCrumb = collection -%}
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                {%- endfor -%}

            {%- endfor -%}
        {%- endif -%}



        {%- if specialCrumb -%}
            <a href="{{ specialCrumbUrl }}" title="{{ specialCrumb }}" >{{ specialCrumb }}</a>

        {%- elsif primaryCrumb -%}
            <a href="{{ primaryCrumb.url }}" title="{{ primaryCrumb.title }}" >
                {%- if primaryCrumb.handle == "for-her" -%}
                    Women's Sex Toys
                {%- elsif primaryCrumb.handle == "for-him" -%}
                    Men's Sex Toys
                {%- elsif primaryCrumb.handle == "for-couples" -%}
                    Couple's Sex Toys
                {%- else -%}
                    {{ primaryCrumb.title }}
                {%- endif -%}
            </a>
            {%- if subCrumb -%}<span aria-hidden="true" class="nav__seperator">|</span><a href="{{ subCrumb.url }}" title="{{ subCrumb.title }}">{{ subCrumb.title }}</a>

        {%- endif -%}
        {%- endif -%}
   {%- comment -%}
        {%- if primaryCrumb or subCrumb or specialCrumb -%}
            <span class="page-title">{{ product.title }}</span>
        {%- endif -%}
  {%- endcomment -%}
    {%- else -%}
        {%- comment -%} <span class="spacer"><i class="icon icon--arrow-right-small"></i></span> {%- endcomment -%}
        <span class="page-title">{{ product.title }}</span>
    {%- endif -%}
</nav>
