<div class="collection-group">
  {% for selected_handle in collection.metafields.accentuate.featured_collection %}
    {% include 'content-collection-group', with selected_handle: selected_handle %}
  {% endfor %}
</div>