<section class="collection collection--{{ selected_handle }}">
  <div class="container container--collection">
    <div class="row no-gutters row--collection">
      <div class="col-12 col-lg-2 col-small--custom">
        <div class="collection__header">
          <div class="collection__title"><a class="" href="{{ collections[selected_handle].url }}" title="{{ collections[selected_handle].title }}"> Shop <br class="d-none d-lg-block"> {{ collections[selected_handle].title }}</a></div>
          <a class="collection__link d-none d-lg-inline-block" href="{{ collections[selected_handle].url }}" title="Shop All {{ collections[selected_handle].title }}">Shop All</a>
        </div>
      </div>
      <div class="col-12 col-lg-10 col-large--custom">
        <ul class="products products--sm slider--equal-height hh-slider-grid" data-flickity='{ "cellAlign": "left",
        "contain": true,
        "cellSelector": ".slider__item",
        "freeScroll": true,
        "freeScrollFriction": 0.08,
        "pageDots": false,
        "imagesLoaded": true }'>
          {%- for product in collections[selected_handle].products limit:8 -%}
            {%- unless product.available -%}
              {%- continue -%}
            {%- endunless -%}
            <li{% cycle 'group1': '', '', '', ' class="last product-item slider__item"' %} class="product-item slider__item">
              {%- include 'content-product', maxWidth: 300, maxHeight: 355, isSlider: true -%}
              {% comment %}
              <script type="text/javascript">
                 window.BOLD.common.Shopify.saveProduct({{ product.handle | json }}, {{ product.id | json }});
                 window.BOLD.common.Shopify.saveVariant({{ product.selected_or_first_available_variant.id | json }}, { product_id: {{ product.id | json }}, price: {{ product.selected_or_first_available_variant.price | json }} });
              </script>
              {% endcomment %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</section>

