<div class="grid__cnt-wrapper d-flex flex-wrap">
  <div class="row no-gutters">
    <div class="col-4 d-flex flex-wrap">
      <div class="grid__img-wrapper d-flex flex-wrap">
        <div class="grid__img lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: image %}"></div>
      </div>
    </div>
    <div class="col-8 d-flex flex-wrap">
      <div class="grid__caption d-flex flex-wrap flex-column justify-content-center">
        <h5 class="cta__subtitle">{{ subtitle }}</h5>
        <h2 class="cta__title">{{ title }}</h2>
        <div class="cta__description">{{ description }}</div>
      </div>
    </div>
  </div>
  <a class="grid__hidden-link" href="{{ link }}"></a>
</div>
