{% if section.blocks.size > 0 and mega_menus contains top_link_title %}
  {% for block in section.blocks %}
    {% if block.settings.title == top_link_title  %}
        <div class="col-md">
          {% if block.settings.nav_image != nil %}
            <div class="nav__banner">
              {% if block.settings.nav_image_link != nil %}
                <a class="media-link" href={{ block.settings.nav_image_link }}>
              {% endif %}
                {% include 'responsive-image' with image: block.settings.nav_image, image_class: "", wrapper_class: "", max_width: 350, max_height: 229 %}
              {% if block.settings.nav_image_text != nil %}
                <h3 class="abcxyz333" style="color: {{ block.settings.nav_image_text_color }} ">{{ block.settings.nav_image_text }}</h3>
              {% endif %}
              {% if block.settings.nav_image_link != nil %}
                </a>
              {% endif %}
            </div>
          {% endif %}
          {% comment %}Extra Menus{% endcomment %}
          <ul class="dropdown__group dropdown__group--custom">
              {% if block.settings.ariticle_link_1 != nil %}
              <li class="dropdown__item">
                <a class="dropdown__link" href="{{ block.settings.ariticle_link_1 }}">{{ block.settings.ariticle_text_1 }}</a>
              </li>
            {% endif %}
              {% if block.settings.ariticle_link_2 != nil %}
              <li class="dropdown__item">
                <a class="dropdown__link" href="{{ block.settings.ariticle_link_2 }}">{{ block.settings.ariticle_text_2 }}</a>
              </li>
            {% endif %}                          
          </ul>
            



        </div>
        <div class="col-md">
          <div class="nav__banner nav__banner--last">
            {% if block.settings.nav_image_2 != nil %}
              {% if block.settings.nav_image_link_2 != nil %}
                <a class="media-link" href="{{ block.settings.nav_image_link_2 }}">
              {% endif %}
                {% include 'responsive-image' with image: block.settings.nav_image_2, image_class: "", wrapper_class: "", max_width: 350, max_height: 229 %}
                {% if block.settings.nav_image_text_2 != nil %}
                  <h3 class="abcxyz444" style="color: {{ block.settings.nav_image_text_color_2 }}">{{ block.settings.nav_image_text_2 }}</h3>
                {% endif %}
              {% if block.settings.nav_image_link_2 != nil %}
                </a>
              {% endif %}
            {% endif %}
          </div>
          {% comment %}Extra Menus{% endcomment %}

        </div>
    {% endif %}
  {% endfor %}
{% endif %}