{%- if current_date_time >= start_date and current_date_time < end_date -%}
<section data-section-id="{{ section.id }}" data-section-type="cta"  class="section-hh-full-image" style="background-color: {{ section.settings.bg_color }}">
 
 
  
  <div class="{% if section.settings.full_width %} container-fluid {% else %} container {% endif %}">
    <div class="row">
      <div class="col-12 text-center px-0">
        
        {% if section.settings.image_link != blank %}
        <a class="d-block" data-sizes="auto" href="{{ section.settings.image_link }}" alt="{{ section.settings.title }}">
          {% endif %}
    
          
          
<picture>
  <source media="(min-width: 1200px)" data-srcset="{{ section.settings.main_img | img_url: 'master' }}">
{% if section.settings.tablet_img != blank %}
  <source media="(min-width: 768px)" data-srcset="{{ section.settings.tablet_img | img_url: '1200x' }}">
{% endif %}
    {% if section.settings.mobile_img != blank %}         
  <img data-src="{{ section.settings.mobile_img | img_url: '700x' }}"
       class="lazyload" 
       {% if section.settings.image_text != blank %}
       			alt="{{ section.settings.image_text }}"
       {% elsif section.settings.mobile_img.alt %}
       			alt="{{ section.settings.mobile_img.alt }}" 
       {% else %}
       			alt="Homepage Banner"
       {% endif %}
       
       style="width:auto;">
  {% else section.settings.tablet_img != blank %}
  <img data-src="{{ section.settings.tablet_img | img_url: '768x' }}" class="lazyload" alt="{{ section.settings.tablet_img.alt }}" style="width:auto;">
  {% else %}
   <img data-src="{{ section.settings.main_img | img_url: '700x' }}" class="lazyload" alt="{{ section.settings.main_img.alt }}">
  {% endif %}
</picture> 
          
      

           {% if section.settings.image_link != blank %}
        </a>
        {% endif %}
      </div>
     
    </div>
  </div>  
  
</section>
{% endif %}
