<div class="grid__cnt-wrapper">
  {% include 'responsive-image' with image: image, image_class: "grid__img", wrapper_class: "grid__img-wrapper", max_width: width, max_height: height, responsive_image_alt: title %}
  <h4 class="grid__title"><a class="grid__link" href="{{ link }}" title="{{ title }}">{{ title }}</a></h4>
  <a class="grid__hidden-link" href="{{ link }}"></a>
</div>