{%- assign grand_child_list_handle = childLink.title | handle -%}
{%- if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 -%}
  {%- assign sublinkTitle_lCase = childLink.title | downcase -%}
    {%- if sublinkTitle_lCase != 'highlight items' -%}
      <li class="collection-item {{itemClass}} {% for grand_child_link in linklists[grand_child_list_handle].links %}{% if grand_child_link.active %} active{% endif %}{% endfor %}{% if childLink.active %} active{% endif %}" href="{{ childLink.url }}">
        <div class="collection">
          {% include 'responsive-mobilemenu-image' with image: childLink.object.image , image_class: "collection__thumb", wrapper_class: "collection__media-wrapper", max_width: 120, max_height: 120 %}
          <h3 class="collection__title"><a class="collection__link {% for grand_child_link in linklists[grand_child_list_handle].links %}{% if grand_child_link.active %} open-close open-close--black{% endif %}{% endfor %}
          {% if childLink.active %} open-close open-close--black{% endif %}" href="{{ childLink.url }}" title="View {{ childLink.title }} Subcategories">{{ childLink.title }}</a></h3>
          <a class="coverlink" href="{{ childLink.url }}"  title="View {{ childLink.title }} Products"></a>
        </div>
      </li>
    {%- endif -%}
    {%- for grand_child_link in linklists[grand_child_list_handle].links -%}
      <li class="collection-item {{itemClass}} {% if grand_child_link.active %}active{% endif %}">
        <div class="collection">
          {% include 'responsive-mobilemenu-image' with image: grand_child_link.object.image , image_class: "collection__thumb", wrapper_class: "collection__media-wrapper", max_width: 120, max_height: 120 %}
          <h3 class="collection__title"><a class="collection__link {% if grand_child_link.active %}current{% endif %}" href="{{ grand_child_link.url }}" title="View {{ grand_child_link.title }} Products">{{ grand_child_link.title }}</a></h3>
          <a class="coverlink" href="{{ grand_child_link.url }}" title="View {{ grand_child_link.title }} Products"></a>
        </div>
      </li>
    {%- endfor -%}
{%- else -%}
  <li class="collection-item {{ itemClass }} {% if childLink.active %} active{% endif %}">
    <div class="collection">
      {% include 'responsive-mobilemenu-image' with image: childLink.object.image , image_class: "collection__thumb", wrapper_class: "collection__media-wrapper", max_width: 120, max_height: 120 %}
      <h3 class="collection__title"><a class="collection__link {% if childLink.active %} open-close open-close--black{% endif %}" href="{{ childLink.url }}" title="Go to {{ childLink.title}}">{{ childLink.title }}</a></h3>
      <a class="coverlink" href="{{ childLink.url }}"  title="View {{ childLink.title }} Products"></a>
    </div>
  </li>
{%- endif -%}