<div id="miniCart" class="cart js-cart-mini cart--mini cart--widget{% if cart.item_count == 0 %} cart--mini--empty js-cart-mini-empty{% endif %}">
    <form action="/cart" method="post" id="cart_form" class="cart__content">
    <header class="cart__header cart__container">
      <a class="cart__close js-close-mini-cart">
      </a>
      <h3 class="cart__title">{{ 'cart.mini.title' | t }}</h3>
      <p class="js-shipping" data-free-shipping-amt="{{ settings.free_shipping_amt }}"></p>
    </header>
    <div class="cart__body cart__container">
      <div id="miniCartEmpty" class="cart__empty">
        <p>You have no items in your cart.</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p>You may also be interested in:</p>
        <ul>
          <li><a href="/collections/best-sellers">Best Sellers</a></li>
          <li><a href="/collections/new-arrivals">New Arrivals</a></li>
          <li><a href="/collections/sale">On Sale Now</a></li>
        </ul>
        <br>
      </div>
      <div id="miniCartItems" class="cart__items">
      </div>
    </div>
    <div id="miniCartTotals" class="cart__total cart__container">
      <p class="cart__total-name">{{ 'cart.general.subtotal' | t }} </p>
      <p class="cart__total-value cart__subtotal" id="miniCartSubtotal">
        {{- cart.total_price | money -}}
      </p>
      <p class="cart__disclaimer">{{ 'cart.general.shipping_at_checkout' | t }}</p>
    </div>
    <footer class="cart__footer">
      <!-- <div class="cart__container">
        <p class="cart__disclaimer"></p>
      </div> -->
      <div class="cart__actions cart__container">
        <button type="submit" name="checkout" title="Proceed to Checkout" class="btn btn--square btn--md btn--accent cart__action
                    cart__checkout">{{ 'cart.mini.checkout' | t }}</button>
       {%- comment -%} <button type="button" id="btnKeepShopping"
          class="btn btn--square btn--md btn--dark cart__action js-close-mini-cart">{{ 'cart.mini.continue_browsing_txt' | t}}</button>
        {%- endcomment -%}
        {%- if template != 'cart' -%}
         {% if additional_checkout_buttons %}  <div class="additional-checkout-buttons mx-auto mt-2 additional-checkout-copy">
           {{  content_for_additional_checkout_buttons }}

  </div> {% endif %}
        {%- endif -%}


      </div>
    </footer>
    </form>
</div>
