{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div class="product" id="product-{{ product.id }}">
  <div class="img-actions">
    {% if featured_image != blank %}
      <a href="{{ product.url }}">
        {% if settings.ss_enable %}
          {% if template == "collection" or template == "product" %}
          {% else %}
            {% include 'responsive-image' with
            image: featured_image,
            max_width: maxWidth,
            max_height: maxHeight
          %}
          {% endif %}
        {% else %}
          {% include 'responsive-image' with
            image: featured_image,
            max_width: maxWidth,
            max_height: maxHeight
          %}
        {% endif %}
      </a>
    {% endif %}
    <div class="product__actions d-none d-md-flex
     row no-gutters justify-content-center justify-content-sm-around">
   {% comment %}   
     <!-- <a class="col col-sm-auto text-center btn btn--square btn--dark btn--sm product__action product__action--qview js-quick-shop-link" data-fancyboxxx data-srcxx="#quick-shop" href="#" 
        data-no-instant
        data-remodal-target="quick-shop"
        data-product-json="{{ product | json | escape }}"
        data-id="{{ product.id }}"
        data-handle="{{ product.handle }}"
        data-money-format="{{ shop.money_format }}"
        data-single-variant="{% if product.has_only_default_variant %}true{% else %}false{% endif %}"
        data-url="{{ product.url  }}"
        data-title="{{ product.title | escape }}"
        data-details-text="{{ 'collections.general.view_product_details_html' | t | escape}}"
        data-full-description="{{ product.description | split: '<!-- split -->' | first | escape }}"
        data-regular-description="{{ product.description | strip_html | truncatewords: settings.description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' | escape }}"
        data-images="{% for image in product.images %}{{ image.id }} || {{ image.alt | escape }} || {{image.variants.first.id}} || {% endfor %}"
        data-collection-handles="{{ collection_handles | join: ','}}">{{ 'products.product.quick_view' | t }} </a>  -->
      {% endcomment %}
    {% if current_variant.available %}
      {% unless product.metafields.accentuate.product_is_a_gift_card or product.variants.size > 1 %}
        <form class="col col-sm-auto text-center" method="post" action="/cart/add" onsubmit="event.preventDefault(); return false;">
          <input type="hidden" name="id" value="{{ current_variant.id }}" class="js-variant-id" />
          <input min="1" type="number" id="quantity" class="quantity-field js-quantity-field" name="quantity" value="1" hidden/>
          <button type="submit" class="btn btn--square btn--accent btn--sm product__action product__action--add-to-cart js-add-to-cart js-add-to-cart"><i class="fas fa-plus"></i> Cart</button>
        </form>
      {% else %}
          <div class="quick-view-button"><a class="quick-view btn btn--square btn--accent btn--sm product__action" data-handle="{{ product.handle }}" href="javascript:void(0);"><i class="fas fa-plus"></i> View</a></div>
      {% endunless %}
    {% endif %}
    </div>
  </div>
  <a href="{{ product.url }}" class="product__highlight row no-gutters align-items-center">
    {% assign date_published = current_variant.published_at | date:'%Y%m%d' %}
    {% assign date_now = 'now' | date:'%Y%m%d' %}
    {% assign date_difference = date_now | minus: date_published %}
    {% if date_difference < 30 %}
      <div class="col-auto">
        <span class="product__new">{{ 'products.product.new' | t }}</span>
      </div>
    {% endif %}
    {% if current_variant.compare_at_price > current_variant.price %}
      {%- assign discount_percent = current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'| plus: 0 -%}
      <div class="col-auto">
        <span class="product__sale">
          {% if discount_percent >= 50 %}
            {{ 'products.product.on_super_sale' | t }}
          {% else %}
            {{ 'products.product.on_sale' | t }}
          {% endif %}
        </span>
      </div>
      <div class="col-auto">
        <span class="product__discount">
          {{ 'products.product.discount_percent_html' | t: discount_percent: discount_percent }}
        </span>
      </div>
    {% endif %}
    {% unless current_variant.available %}
      <div class="col-auto d-none">
        <span class="product__sold-out">{{ 'products.product.sold_out' | t }}</span>
      </div>
    {% endunless %}
  </a>
  <h4 class="product__title">
    <a href="{{ product.url  }}">{{ product.title }}</a>
  </h4>
  <a href="{{ product.url  }}" class="product__price">
    {% if current_variant.compare_at_price > current_variant.price %}
      <span hidden>{{ 'products.product.regular_price' | t }}</span>
      <s class="product__amount product__amount--regular">{{ current_variant.compare_at_price | money }}</s>
    {% endif %}

    {% if current_variant.compare_at_price > current_variant.price %}

      {% if current_variant.price_varies %}
        {%- assign sale_price = current_variant.price | money -%}
        <span hidden>{{ 'products.product.on_sale_from_html' | t }}</span>
        <mark class="product__amount product__amount--sale">{{ sale_price }}</mark>
      {% else %}
        {% comment %} {{ 'products.product.on_sale' | t }} {% endcomment %}
        <span class="product__amount">{{ current_variant.price | money }}</span>
      {% endif %}

    {% else %}

      {% if current_variant.price_varies %}
        {%- assign price = current_variant.price | money -%}
        <span class="product__amount">{{ 'products.product.from_text_html' | t: price: price }}</span>
      {% else %}
        <span class="product__amount">{{ current_variant.price | money }}</span>
      {% endif %}

    {% endif %}
  </a>

</div>
