<div class="grid__cnt-wrapper grid__img lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: image %}">
  <div class="grid__overlay row no-gutters">
    <div class="grid__caption col">
      <h3 class="cta__title c-inherit">{{ title }}</h3>
      <div class="cta__description">{{ description }}</div>
    </div>
    <div class="grid__thumb-wrapper col-6 col-md-3 mt-auto">
      <div class="grid__thumb lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: thumbnail %}"></div>
    </div>
  </div>
  <a class="grid__hidden-link" href="{{ link }}"></a>
</div>
