<section class="section cta cta--sign-up" data-section-id="{{ section.id }}" data-section-type="cta-sign-up">
  <div class="container">
    <div class="row no-gutters row--cta">
      <div class="col-md-4 d-flex">
        <div class="cta__header">
          <div class="cta__title">{{ section.settings.title }}</div>
          <div class="bg-shape">
            {% include 'shape-rectangle-skew' %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cta__highlights">
          <strong class="cta__highlights__top">{{ section.settings.top_cnt }}</strong>
          <div class="cta__highlights__mid">{{ section.settings.mid_cnt }}</div>
          <p class="cta__highlights__btm">{{ section.settings.btm_cnt }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cta__body">
          <div class="cta__description">
            {{ section.settings.description }}
          </div>
          <a class="cta__link" href="{{ section.settings.cta_url }}">{{ section.settings.link_txt }}</a>
        </div>
      </div>
      <a class="cta__hidden-link col-12" href="{{ section.settings.cta_url }}" title="{{ section.settings.title | strip_html }}"></a>
    </div>
  </div>
</section>
