<div class="page-heading collection-heading">
  <div class="container">
    <h1 class="title">{% if section.settings.title != '' %}{{ section.settings.title }}{% else %}{{ collection.title }}{% endif %}</h1>
    
    <p class="sub-title d-block d-md-none">{% if section.settings.title %}{{ section.settings.sub_title }}{% endif %}</p>
   
  </div>
</div>
