<section class="collection collection--big" data-section-id="{{ section.id }}" data-section-type="grid-big-products">
  <div class="container">
    <div class="cta__title"><a class="collection__link" href="{{ collections[selected_handle].url }}" title="View all {{ collections[selected_handle].title }}">Shop {{ collections[selected_handle].title }}</a></div>
    <ul class="products slider--equal-height hh-slider-grid slider-lg" data-flickity='{ "cellAlign": "left",
  "contain": true,
    "cellSelector": ".slider__item",
   "freeScroll": true,
"freeScrollFriction": 0.08,
"imagesLoaded": true,
    "pageDots": false,
    "lazyLoad": true }'>{% for product in collections[selected_handle].products limit:8 %}
        <li{% cycle 'group1': '', '', '', ' class="last product-item slider__item"' %} class="product-item slider__item">
          {% include 'content-product', maxWidth: 400, maxHeight: 516 %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
