{%- unless currentLink -%}

  {%- assign currentMenu = '' -%}
  {%- assign currentLink = '' -%}

  <!-- new iteration for nested main menu -->
  {%- if currentMenu == '' -%}
    {%- for link in linklists[settings.menu_primary].links -%}
      {%- if link.active -%}
        <!-- MAIN LEVEL SIDEBAR LINKLIST ASSIGNMENT -->
        {%- assign currentMenu = link.title -%}
        {%- assign currentLink = link -%}
        {%- break -%}
      {%- endif -%}

      {%- if link.links != blank -%}
        <!-- link has nested child links -->
        {%- for child_link in link.links -%}
          <!-- iterate through child links -->
          {%- if child_link.links != blank -%}
            <!-- child link has nested grand_child links -->
            {%- for grand_child_link in child_link.links -%}
              <!-- assign current menu-->
              {%- if grand_child_link.active -%}
                  {%- assign currentMenu = link.title -%}
                  {%- assign currentLink = link -%}
                  {%- break -%}
              {%- endif -%}


            {%- endfor -%}
            {%- if currentMenu != '' -%}
              {%- break -%}
            {%- endif -%}
          {%- else -%}
            <!-- no grandchild links -->
            {%- if child_link.active -%}
              {%- assign currentMenu = link.title -%}
              {%- assign currentLink = link -%}
              {%- break -%}
            {%- endif -%}

          {%- endif -%}
        {%- endfor -%}

        {%- if currentMenu != '' -%}
          {%- break -%}
        {%- endif -%}

      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  <!-- new iteration for nested secondary menu -->
  {%- if currentMenu == '' -%}
    {%- for link in linklists[settings.menu_secondary].links -%}
      {%- if link.active -%}
        <!-- MAIN LEVEL SIDEBAR LINKLIST ASSIGNMENT -->
        {%- assign currentMenu = link.title -%}
        {%- assign currentLink = link -%}
        {%- break -%}
      {%- endif -%}

      {%- if link.links != blank -%}
        <!-- link has nested child links -->
        {%- for child_link in link.links -%}
          <!-- iterate through child links -->
          {%- if child_link.links != blank -%}
            <!-- child link has nested grand_child links -->
            {%- for grand_child_link in child_link.links -%}
              <!-- assign current menu-->
              {%- if grand_child_link.active -%}
                  {%- assign currentMenu = link.title -%}
                  {%- assign currentLink = link -%}
                  {%- break -%}
              {%- endif -%}


            {%- endfor -%}
            {%- if currentMenu != '' -%}
              {%- break -%}
            {%- endif -%}
          {%- else -%}
            <!-- no grandchild links -->
            {%- if child_link.active -%}
              {%- assign currentMenu = link.title -%}
              {%- assign currentLink = link -%}
              {%- break -%}
            {%- endif -%}

          {%- endif -%}
        {%- endfor -%}

        {%- if currentMenu != '' -%}
          {%- break -%}
        {%- endif -%}

      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endunless -%}