<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
<path d="M91.86,32.15c-15.96-15.96-41.92-15.96-57.87,0c-15.96,15.96-15.96,41.92,0,57.87C48.23,104.26,71.05,105.17,87,94l28,28
	c2.79,2.79,7.13,3.86,9.91,1.07c2.79-2.79,1.87-7.29-0.91-10.07L96,85C107.17,69.05,106.1,46.39,91.86,32.15z M85.14,83.3
	c-12.25,12.25-32.18,12.25-44.42,0c-12.25-12.25-12.25-32.18,0-44.42c12.25-12.25,32.18-12.25,44.42,0
	C97.39,51.12,97.39,71.05,85.14,83.3z"/>
</svg>
