<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8">
  <path fill-rule="evenodd" d="M1694,591.333l-5.6,5.333h0L1687,598l-7-6.667,1.4-1.333,5.6,5.333,5.6-5.334Z" transform="translate(-1680 -590)"/>
</svg>
