<?xml version="1.0" encoding="iso-8859-1"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" x="0px" y="0px"
	 viewBox="0 0 345.567 345.567" style="enable-background:new 0 0 345.567 345.567;" xml:space="preserve">
	<g>
		<path d="M263.342,9.6c-5.98-5.995-14.092-9.375-22.56-9.4h-136V0c-8.481,0.015-16.61,3.396-22.6,9.4
			c-5.995,5.98-9.375,14.093-9.4,22.56v285.76c-0.128,7,2.145,13.832,6.44,19.36c6.028,7.745,16.469,10.539,25.56,6.84
			c7.998-3.506,14.628-9.532,18.88-17.16l49.12-78.32l49.12,78.32c4.252,7.628,10.882,13.654,18.88,17.16
			c9.125,3.746,19.628,0.949,25.68-6.84c4.252-5.544,6.482-12.375,6.32-19.36V31.96C272.694,23.556,269.303,15.525,263.342,9.6z
			 M253.582,326.92c-0.788,1.037-1.878,1.806-3.12,2.2c-1.339,0.293-2.735,0.167-4-0.36c-4.67-2.242-8.518-5.893-11-10.44l-56-89.2
			c-0.676-1.126-1.618-2.069-2.744-2.744c-3.789-2.273-8.703-1.045-10.976,2.744l-56,89.08c-2.428,4.609-6.25,8.332-10.92,10.64
			c-1.264,0.53-2.661,0.656-4,0.36c-1.242-0.394-2.332-1.163-3.12-2.2c-1.917-2.688-2.875-5.942-2.72-9.24V32
			c0.108-8.681,7.119-15.692,15.8-15.8h68h68c8.601,0.152,15.5,7.158,15.52,15.76v285.72
			C256.457,320.978,255.499,324.232,253.582,326.92z"/>
	</g>
</svg>