<?xml version="1.0" encoding="iso-8859-1"?>
<svg version="1.1" width="20" height="20" class="icon"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 47.846 47.846" style="enable-background:new 0 0 47.846 47.846;" xml:space="preserve" transform="scale(-1, 1)">
<g>
	<path d="M23.923,0C11.069,0,0.65,10.42,0.65,23.273c0,5.479,1.905,10.503,5.076,14.476
		c1.285,1.605,1.949,4.172,0.778,5.686c-0.836,1.083-1.757,1.823-2.751,1.955c-3.241,0.433,1.19,4.313,8.786,1.351
		c1.915-0.747,4.895-1.042,6.912-0.639c1.445,0.29,2.94,0.444,4.473,0.444c12.854,0,23.273-10.419,23.273-23.272S36.776,0,23.923,0z
		"/>
</g>
</svg>
