<script>
  /* CustomEvent polyfill for IE9+
     https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent */
  (function(){if(typeof window.CustomEvent==="function")return!1;function CustomEvent(event,params){params=params||{bubbles:!1,cancelable:!1,detail:undefined};var evt=document.createEvent('CustomEvent');evt.initCustomEvent(event,params.bubbles,params.cancelable,params.detail);return evt}
  CustomEvent.prototype=window.Event.prototype;window.CustomEvent=CustomEvent})()

  var hhCustomLoader = {};
  hhCustomLoader.hasBeenTriggeredOnce = false;

  function runOnlyOnce() {
    // checks to see if this function has been triggered once already
    if (hhCustomLoader.hasBeenTriggeredOnce == false) {
      // change variable to 'true' so that the function doesn’t run next time
      hhCustomLoader.hasBeenTriggeredOnce = true;
      document.dispatchEvent(new CustomEvent('StartLoadingDeferredScripts'));
    } else {
      // do nothing, function already ran once
    }
  }
  $(document).one("keydown scroll click mouseover", runOnlyOnce);

  /* fallback to make sure things still load, just in case there is no interaction within 12.5 seconds */
  // $(document).ready(function() {
  //   setTimeout(runOnlyOnce, 12500);
  // });
</script>



<script>
  document.addEventListener("StartLoadingDeferredScripts", function(event) {

    function initFreshChat() {
      window.fcWidget.init({
      token: "6864220b-bf02-4698-8ad1-1932d50b7fee",
      host: "https://wchat.freshchat.com",
        config: {
            headerProperty: {
              hideChatButton: true
            }
          }
      });
    }

    var openWidget = function() {
      document.getElementById('fc_frame').style.display = 'block';
      window.fcWidget.open();
    };
    var hideWidget = function() {
      document.cookie = 'fc_closed=1;expires=24hours';
      document.getElementById('custom_fc_button').style.display = 'none';
    };

    jQuery(document).ready(function() {
      if (document.getElementById('fc_frame')) {
        document.getElementById('fc_frame').style.display = 'none';
      }
    });
    if (document.cookie.indexOf('fc_closed') !== -1 ) {
      document.getElementById('custom_fc_button').style.display = 'none';
    } else {
       document.getElementById('custom_fc_button').style.display = 'block';
     // no cookie, continue to show chat
    }


    function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);


    function showCookieConsent() {
       document.getElementById('cookie-check').style.display = 'block';
    }
    function hideCookieConsent() {
      document.getElementById('cookie-check').style.display = 'none';
    };
    function addCookieConsent() {
      document.cookie = 'cookieconsent=1;expires=365days;path=/';
      document.getElementById('cookie-check').style.display = 'none';
    }
    $('#accept-cookie').on('click', function() {
         addCookieConsent();
    });
    jQuery(document).ready(function() {
    if (document.cookie.match(/^(.*;)?\s*cookieconsent\s*=\s*[^;]+(.*)?$/) ) {
      hideCookieConsent();
    } else {
      showCookieConsent();
     // no cookie, continue to show chat
    }
    });
    
    /* Klaviyo javascript code */
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = 'https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=JLjysa&shop=hustler-hollywood.myshopify.com';
    $("head").append(script);

    /* Bing javascript code */
    // (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5710116"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");

  });
</script>