<style type="text/css">
  .collection__media-wrapper { max-width: 120px; max-height: 120px; }
  .collection__media-wrapper::before { padding-top:100%; }
</style>

<!-- Start MAINMENU MOBILE -->
<nav id="hh-mobilenav" class="" role="navigation">
  <div class="nav-group nav-group--mobile d-lg-none">
    <div class="nav-wrap">
      <div class="nav nav--account-mobile {% if customer %} logged-in {% endif %}">
        {%- if customer -%}
        <a href="/account" class="user-account">
          My Account
        </a>
        {%- else -%}
        <ul class="sign-in">
          {%- if shop.customer_accounts_enabled -%}
          <li class="nav__item">
            <a id="mobile-log-btn" class="nav__link" href="/account/login">
              {{ 'layout.customer.log_in' | t }} / {{ 'layout.customer.create_account' | t}}
            </a>
          </li>
          {%- endif -%}
        </ul>
        {%- endif -%}
      </div>
      <div class="nav nav--primary-mobile">
        {%- for link in linklists[settings.menu_primary].links -%}
          {%- assign child_list_handle = link.title | handleize -%}
          {%- assign three_level_nav = false -%}
          {%- if link.links != blank -%}
          {%- if link.levels == 2 -%}
          {%- assign three_level_nav = true -%}
          {%- endif -%}
          {%- endif -%}
          {%- if link.links != blank -%}
            <div class="mobile-menu-item {% if link.active %} site-nav--active{% endif %}">
              {%- assign handle = link.object.handle -%}
              <span class="menu-label level-1" data-key="{{ link.handle }}">
                {%- include 'mobile-nav-item-icon' with navLink: link -%}
                {{ link.title | escape }} <span class="status">+</span>
              </span>
              <div class="carousel px-0 mx-0 childlist mobile-flickslider" data-match="{{ link.handle }}">
                {%- for child_link in link.links -%}
                  {%- include 'content-list-collection' with childLink: child_link, itemClass: 'slide-item text-center flickity-item' -%}
                {%- endfor -%}
              </div>
            </div>
          {%- else -%}
            <div class="mobile-menu-item {% if link.active %} site-nav--active{% endif %}">
              {%- assign handle = link.object.handle -%}
              <span class="menu-label level-1" data-key="{{ link.handle }}">
                <a href="{{ link.url | escape }}">
                  {%- include 'mobile-nav-item-icon' with navLink: link -%}
                  {{ link.title | escape }}
                </a>
              </span>
            </div>
          {%- endif -%}
        {%- endfor -%}
        {%- comment -%} ADD IN FOR HIM FOR HER FOR COUPLES {%- endcomment -%}
        {%- assign menu = linklists[settings.menu_secondary] -%}
        {%- comment -%} {{ menu.title }}: {{ menu.levels }} {%- endcomment -%}
        {%- for link in menu.links -%}
          {%- assign top_link_title = link.title -%} {%- assign handle =link.object.handle -%}
          {%- if link.links != blank -%}
            {%- if link.title == 'For Her' -%}
              <div class="mobile-menu-item secondary-item">
                <span class="menu-label level-1" data-key="{{ link.handle }}">
                  For <span class="emoji">🌮</span><span class="status">+</span>
                </span>
                <div class="carousel px-0 mx-0 childlist mobile-flickslider" data-match="{{ link.handle }}">
                  {%- for child_link in link.links -%}
                  {%- include 'content-list-collection' with childLink: child_link, itemClass:'slide-item text-center flickity-item' -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- elsif link.title == 'For Him' -%}
              <div class="mobile-menu-item secondary-item">
                <span class="menu-label level-1" data-key="{{ link.handle }}">
                  For <span class="emoji">🍆</span><span class="status">+</span>
                </span>
                <div class="carousel px-0 mx-0 childlist mobile-flickslider" data-match="{{ link.handle }}">
                  {%- for child_link in link.links -%}
                  {%- include 'content-list-collection' with childLink: child_link, itemClass:'slide-item text-center flickity-item' -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- elsif link.title == 'For Couples' -%}
              <div class="mobile-menu-item secondary-item">
                <span class="menu-label level-1" data-key="{{ link.handle }}">
                  For <span class="emoji">🧡</span><span class="status">+</span>
                </span>
                <div class="carousel px-0 mx-0 childlist mobile-flickslider" data-match="{{ link.handle }}">
                  {%- for child_link in link.links -%}
                  {%- include 'content-list-collection' with childLink: child_link, itemClass:'slide-item text-center flickity-item' -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          {%- else -%}
            {%- assign handle = link.object.handle -%}
            <div class="mobile-menu-item">
              <span class="menu-label level-1" data-key="{{ link.handle }}">
                {%- include 'mobile-nav-item-icon' with navLink: link -%}
                {{ link.title | escape }}
              </span>
            </div>
          {%- endif -%}
        {%- endfor -%}
        {%- comment -%} FOR HIM FOR HER FOR COUPLES MOBILE {%- endcomment -%}
      </div><!-- .nav.nav--primary-mobile -->

      <div class="nav nav--social-mobile">
        <h3>find us online</h3>
        {%- include 'social-icons' -%}
      </div>
      <div class="mobile-reviews-count">
        <a class="d-block" href="/pages/customer-reviews" title="YOTPO Reviews">
          <div class="stars">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><span class="stars-number"> 4.5</span>
          </div>
          <div class="count">
            {{ shop.metafields.accentuate.total_yotpo_count }} Reviews
          </div>
          <div class="credit">Reviews By YOTPO</div>
        </a>
      </div>
      <div class="mobile-sezzle">
        <img class="lazyload" width="333" height="34" data-src="//cdn.shopify.com/s/files/1/1221/0120/t/139/assets/sezzle-banner.png" alt="Sezzle, buy now pay later banner">
        <span>Available on all orders over $140</span>
      </div>
      <div class="nav nav--secondary-mobile mt-2">
        {%- include 'nav' with template:'footer-nav', link_list : 'help-menu' -%}
      </div>
      <div class="nav nav--secondary-mobile footer-menu mb-4 clearfix">
        {%- assign link_list3 = section.settings.footer_linklist_3 -%}
        {%- include 'nav' with template:'footer-nav', link_list : 'company-menu' -%}
      </div>
    </div>
    <!-- .nav-wrap -->
  </div>
  <div class="copyright">
    &copy; {{ "now" | date: "%Y" }}, LFP Ecommerce, LLC. All rights reserved.
  </div>
</nav>
<!-- End MAINMENU MOBILE -->