<!-- Start MAINMENU BOTTOMBAR-->
<div class="col" id="mainmenu-bottombar">
  {%- if settings.main_menu -%}
    {%- section 'mega-menus-main' -%}
  {%- else -%}
    {%- include 'nav' with template : 'main-nav' -%}
  {%- endif -%}
</div>
<div class="col-lg-auto secondary-menu-wrap ml-auto">
  {%- if settings.secondary_menu -%}
    {%- section 'mega-menus-secondary' -%}
  {%- else -%}
    {%- include 'nav' with template : 'secondary-nav' -%}
  {%- endif -%}
</div>
<!-- End MAINMENU BOTTOMBAR -->
