	{% if navLink.type == 'collection_link' %}
		<img class="collection-icon lazyload {{navLink.type}}" data-src="{{ collections[handle].metafields.accentuate.collection_icon }} "alt="{{ link.title }}" width="43"/>
	{% elsif navLink.type == 'product_link' %}
		<img class="collection-icon lazyload {{navLink.type}}" data-src="{{ all_products[handle].metafields.accentuate.collection_icon }} "alt="{{ link.title }}" width="43"/>
	{% elsif navLink.type == 'blog_link' %}
		<img class="collection-icon lazyload {{navLink.type}}" data-src="{{ blogs[handle].metafields.accentuate.collection_icon }} "alt="{{ link.title }}" width="43"/>
	{% elsif navLink.type == 'article_link' %}
		<img class="collection-icon lazyload {{navLink.type}}" data-src="{{ articles[handle].metafields.accentuate.collection_icon }} "alt="{{ link.title }}" width="43"/>
	{% elsif navLink.type == 'page_link' %}
		<img class="collection-icon lazyload {{navLink.type}}" data-src="{{ pages[handle].metafields.accentuate.collection_icon }} "alt="{{ link.title }}" width="43"/>
	{% elsif navLink.url == 'https://hustlerhollywood.com/pages/holiday-gift-guide' %}
		<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="61.33" height="61.33" viewBox="0 0 57 57" style="width:34px;height:34px;margin-right:.5rem" xml:space="preserve"><path d="M57 12H41.7c.8-1.2 1.3-2.5 1.3-4 0-1.9-.7-3.6-2-4.9-2.7-2.7-7.2-2.7-9.9 0l-2.8 2.8L25.4 3C22.7.3 18.2.3 15.5 3c-1.3 1.3-2 3.1-2 4.9 0 1.5.4 2.8 1.3 4H0v14h5v30h48V26h4V12zM32.5 4.5c2-1.9 5.1-1.9 7.1 0 .9.9 1.4 2.2 1.4 3.5 0 1.3-.5 2.6-1.5 3.5l-.4.5H24.9l4.7-4.7 2.9-2.8zm-15.6 7c-.9-.9-1.4-2.2-1.4-3.5 0-1.3.5-2.6 1.5-3.5 2-1.9 5.1-1.9 7.1 0l2.8 2.8-3.5 3.5c-.2.2-.4.4-.6.7-.1.1-.1.2-.2.2-.1.1-.1.2-.2.3h-5l-.5-.5zM2 24V14h26v10H2zm26 2v12H7V26h21zM7 40h21v14H7V40zm23 14V40h21v14H30zm21-16H30V26h21v12zm4-14H30V14h25v10z"/></svg>
	{% else %}
		<img class="collection-icon lazyload {{navLink.type}}" data-src="{{ 'triple-x-dvd.png' | asset_img_url: '100x' }}"alt="{{ link.title }}" width="43"/>
	{% endif %}
