<!-- Toolbar -->
{%- if template == 'main-nav' -%}
	<nav role="navigation" class="nav nav--primary nav--mega-menu">
		<ul class="nav__group">
			{%- assign menu = linklists[settings.menu_primary] -%}
			{%- for link in menu.links -%}
				{%- assign top_link_title = link.title -%}
				{%- if link.links != blank -%}
					<li class="nav__item dropdown">
						<a class="nav__link dropdown__toggle" href="{{ link.url }}" title="{{ link.title }}">
							{{ link.title }}
						</a>
						<div class="dropdown__menu">
							<div class="row">
								{%- for sub_link in link.links -%}
										{%- if sub_link.links != blank -%}
											{%- assign sublinkTitle_lCase = sub_link.title | downcase -%}
											{%- if sublinkTitle_lCase == "highlight items" -%}
												<div class="col-md-3">
													<ul class="dropdown__group dropdown__group--highlight">
														{%- for sub_sub_link in sub_link.links -%}
															<li class="dropdown__item">
																{%- if forloop.last == true -%}
																	{%- assign highlightLinkExtraClass = " dropdown__link--accent" -%}
																{%- else -%}
																	{%- assign highlightLinkExtraClass = '' -%}
																{%- endif -%}
																<a class="dropdown__link{{highlightLinkExtraClass}}" href="{{ sub_sub_link.url }}" title="{{ sub_sub_link.title }}">
																	{{ sub_sub_link.title }}
																</a>
															</li>
														{%- endfor -%}
													</ul>
												</div>
											{%- endif -%}
										{%- endif -%}
								{%- endfor -%}
								<div class="col-md-9">
									<ul class="dropdown__group dropdown__group--primary col-count-md-3">
										{%- for sub_link in link.links -%}
											{%- if sub_link.links != blank -%}
												{%- assign sublinkTitle_lCase = sub_link.title | downcase -%}
												{%- if sublinkTitle_lCase != "highlight items" -%}
													<li class="dropdown__item sub-dropdown">
														<a class="dropdown__link sub-dropdown__toggle" href="{{ sub_link.url }}" title="{{ sub_link.title }}">
															{{ sub_link.title }}
														</a>
														<ul class="sub-dropdown__group">
														{%- for sub_sub_link in sub_link.links -%}
															<li class="sub-dropdown__item">
																<a class="sub-dropdown__link" href="{{ sub_sub_link.url }}" title="{{ sub_sub_link.title }}">
																	{{ sub_sub_link.title }}
																</a>
															</li>
														{%- endfor -%}
														</ul>
													</li>
												{%- endif -%}
											{%- else -%}
												<li class="dropdown__item">
													<a class="dropdown__link" href="{{ sub_link.url }}">
														{{ sub_link.title }}
													</a>
												</li>
											{%- endif -%}
										{%- endfor -%}
									</ul>
								</div>
							</div>
						</div>
					</li>
				{%- else -%}
					<li class="nav__item">
						<a class="nav__link" href="{{ link.url }}" title="{{ link.title }}">
							{{ link.title }}
						</a>
					</li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>
{%- endif -%}
{%- if template == 'secondary-nav' -%}
	<nav role="navigation" class="nav nav--secondary nav--mega-menu justify-content-md-end">
		<ul class="nav__group">
			{%- assign menu = linklists[settings.menu_secondary] -%}
			{%- comment -%} {{ menu.title }}: {{ menu.levels }} {%- endcomment -%}
			{%- for link in menu.links -%}
				{%- assign top_link_title = link.title -%}
				{%- if link.links != blank or mega_menus contains top_link_title -%}
					<li class="nav__item dropdown">
						<a class="nav__link dropdown__toggle" href="{{ link.url }}">
							{{ link.title }}
						</a>
						<div class="dropdown__menu">
							<div class="row">
								{%- for sub_link in link.links -%}
										{%- if sub_link.links != blank -%}
											{%- assign sublinkTitle_lCase = sub_link.title | downcase -%}
											{%- if sublinkTitle_lCase == "highlight items" -%}
												<div class="col-md-3">
													<ul class="dropdown__group dropdown__group--highlight">
														{%- for sub_sub_link in sub_link.links -%}
															<li class="dropdown__item">
																{%- if forloop.last == true -%}
																	{%- assign highlightLinkExtraClass = " dropdown__link--accent" -%}
																{%- endif -%}
																<a class="dropdown__link{{highlightLinkExtraClass}}" href="{{ sub_sub_link.url }}" title="{{ sub_sub_link.title }}">
																	{{ sub_sub_link.title }}
																</a>
															</li>
														{%- endfor -%}
													</ul>
												</div>
											{%- endif -%}
										{%- endif -%}
								{%- endfor -%}
								<div class="col-md-9">
									<ul class="dropdown__group dropdown__group--primary col-count-md-3">
										{%- for sub_link in link.links -%}
											{%- if sub_link.links != blank -%}
												{%- assign sublinkTitle_lCase = sub_link.title | downcase -%}
												{%- if sublinkTitle_lCase != "highlight items" -%}
													<li class="dropdown__item sub-dropdown">
														<a class="dropdown__link sub-dropdown__toggle" href="{{ sub_link.url }}" title="{{ sub_link.title }}">
															{{ sub_link.title }}
														</a>
														<ul class="sub-dropdown__group">
														{%- for sub_sub_link in sub_link.links -%}
															<li class="sub-dropdown__item">
																<a class="sub-dropdown__link" href="{{ sub_sub_link.url }}" title="{{ sub_sub_link.title }}">
																	{{ sub_sub_link.title }}
																</a>
															</li>
														{%- endfor -%}
														</ul>
													</li>
												{%- endif -%}
											{%- else -%}
												<li class="dropdown__item">
													<a class="dropdown__link" href="{{ sub_link.url }}" title="{{ sub_link.title }}">
														{{ sub_link.title }}
													</a>
												</li>
											{%- endif -%}
										{%- endfor -%}
									</ul>
								</div>
							</div>
						</div>
					</li>
				{%- else -%}
					<li class="nav__item">
						<a class="nav__link" href="{{ link.url }}">
							{{ link.title }}
						</a>
					</li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</nav>
{%- endif -%}

{%- if template == 'toolbar' -%}
	{% include 'current-link' %}
	<nav class="nav nav--toolbar" role="navigation">
		{%- assign child_list_handle = currentMenu | handleize -%}
		{%- if collection.handle == "new-arrivals"
			or collection.handle == "hustler-toys"
			or collection.handle == "sex-toys"
			or collection.handle == "best-sellers"
			or collection.handle == "sale"
			or collection.handle == "womens-apparel"
			or collection.handle == "mens-apparel"
			or collection.handle == "dvd"
			or collection.metafields.accentuate.use_custom_toolbar == "true"
		-%}
			<div class="nav__title"><a class="nav__link nav__link--all" href="/collections/{{ collection.handle }}" title="{{ collection.title }}">{{ collection.title }}</a></div>
			<ul class="nav__group">
				{%- assign child_list_handle = collection.handle | append: "-toolbar" -%}
				{%- if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 -%}
						{%- for child_link in linklists[child_list_handle].links -%}
							{%- assign grand_child_list_handle = child_link.title | handle -%}
							{%- if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 -%}
								{%- assign sublinkTitle_lCase = child_link.title | downcase -%}
										{%- if sublinkTitle_lCase != 'highlight items' -%}
									<li class="nav__item dropdown {% if sublinkTitle_lCase == 'highlight items' %}order-last nav__item--highlight{% endif %}">
											<a class="nav__link dropdown__toggle {% for grand_child_link in linklists[grand_child_list_handle].links %}{% if grand_child_link.active %} open-close open-close--black{% endif %}{% endfor %}
											{% if child_link.active %} open-close open-close--black{% endif %}" href="{{ child_link.url }}" title="View {{ child_link.title }} Subcategories">{{ child_link.title }}</a>
										<ul class="dropdown__group">
											{%- for grand_child_link in linklists[grand_child_list_handle].links -%}
											<li class="dropdown__item {% if grand_child_link.active %}active{% endif %}">
												<a class="dropdown__link {% if grand_child_link.active %}current{% endif %}" href="{{ grand_child_link.url }}" title="View {{ grand_child_link.title }} Products">{{ grand_child_link.title }}</a>
											</li>
											{%- endfor -%}
										</ul>
									</li>
										{%- endif -%}
							{%- else -%}
								<li class="nav__item {% if child_link.active %} active{% endif %}">
									<a class="nav__link {% if child_link.active %} open-close open-close--black{% endif %}" href="{{ child_link.url }}" title="{{ child_link.title}}">{{ child_link.title }}</a>
								</li>
							{%- endif -%}
						{%- endfor -%}
				{%- endif -%}
			</ul>
		{%- else -%}
			<div class="nav__title"><a class="nav__link nav__link--all {% if currentLink.active %}open-close open-close--black{% endif %}" href="{{ currentLink.url }}" title="{{ currentLink.title }}">{{ currentLink.title }}</a></div>
			<ul class="nav__group">
				{%- if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 -%}
						{%- for child_link in linklists[child_list_handle].links -%}
							{%- assign grand_child_list_handle = child_link.title | handle -%}
							{%- if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 -%}
								{%- assign sublinkTitle_lCase = child_link.title | downcase -%}
										{%- if sublinkTitle_lCase != 'highlight items' -%}
									<li class="nav__item dropdown {% if sublinkTitle_lCase == 'highlight items' %}order-last nav__item--highlight{% endif %}">
											<a class="nav__link dropdown__toggle {% for grand_child_link in linklists[grand_child_list_handle].links %}{% if grand_child_link.active %} open-close open-close--black{% endif %}{% endfor %}
											{% if child_link.active %} open-close open-close--black{% endif %}" href="{{ child_link.url }}" title="View {{ child_link.title }} Subcategories">{{ child_link.title }}</a>
										<ul class="dropdown__group">
											{%- for grand_child_link in linklists[grand_child_list_handle].links -%}
											<li class="dropdown__item {% if grand_child_link.active %}active{% endif %}">
												<a class="dropdown__link {% if grand_child_link.active %}current{% endif %}" href="{{ grand_child_link.url }}" title="View {{ grand_child_link.title }} Products">{{ grand_child_link.title }}</a>
											</li>
											{%- endfor -%}
										</ul>
									</li>
										{%- endif -%}

							{%- else -%}
								<li class="nav__item {% if child_link.active %} active{% endif %}">
									<a class="nav__link {% if child_link.active %} open-close open-close--black{% endif %}" href="{{ child_link.url }}" title="{{ child_link.title}}">{{ child_link.title }}</a>
								</li>
							{%- endif -%}
						{%- endfor -%}
				{%- endif -%}
			</ul>
		{%- endif -%}
	</nav>
{%- endif -%}
{%- if template == 'footer-nav' -%}
	<ul class="nav__group">
	{%- for link in linklists[link_list].links -%}
		<li class="nav__item">
		<a class="nav__link" href="{{ link.url }}" title="{{ link.title }}">
			{{- link.title -}}
		</a>
		</li>
	{%- endfor -%}
	</ul>
{%- endif -%}
