{%- comment -%}
<!-- <script type="text/javascript" src="//connect.nosto.com/include/{{ nosto-script }}" async></script> -->
{%- endcomment -%}

<script>
    document.addEventListener("StartLoadingDeferredScripts", function(event) {
        var nostoScript = document.createElement('script');
        nostoScript.type = 'text/javascript';
        nostoScript.async = true;
        nostoScript.src = '//connect.nosto.com/include/shopify-12210120';
        $("head").append(nostoScript);
    });
</script>