  <div class="maintext mb-2">Shop privately and discreetly with convenience.</div>
                     <div class="hours">
                       <small class="d-block">
                         We're available by phone</small>
                       {{ shop.metafields.accentuate.shop_by_phone_hours }}
                     </div>
                     <div class="callnumber mt-3">
                       <a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}">
                         <i class="fas fa-phone"></i> {{ shop.metafields.accentuate.shop_by_phone_number }}
                       </a>
                     </div>
                        {%- assign current_time = 'now' | date: "%H%M" -%}

   {%- if current_time >= "0700" and current_time < "1700" -%}
   <div class="available"><i class="fa fa-circle" aria-hidden="true"></i> Phonelines Open Now</div>
   {%- endif -%}
{%- if shop.metafields.accentuate.shop_by_phone_special -%}
                <div class="special-holiday-callhours"> 
                    {{ shop.metafields.accentuate.shop_by_phone_special }}
                     </div>
{%- endif -%}
