<div class="pagination pagination--full">
  {% if paginate.previous %}
    <a href="{{ paginate.previous.url }}" class="pagination__btn pagination__btn--prev">
      <i class="hh-icon-angle-arrow-left"></i>
      <span class="icon__fallback-text">>{{ 'general.pagination.previous' | t }}</span>
    </a>
  {% else %}
    <button class="pagination__btn pagination__btn--prev" disabled>
      <i class="hh-icon-angle-arrow-left"></i>
      <span class="icon__fallback-text">>{{ 'general.pagination.previous' | t }}</span>
    </button>
  {% endif %}

  <div class="pagination__pages">
    {% for part in paginate.parts %}
      {% if part.title != current_page %}
        <a href="{{ part.url }}" class="pagination__page">{{ part.title }}</a>
      {% else %}
        <span class="pagination__page pagination__page--current">{{ part.title }}</span>
      {% endif %}
    {% endfor %}
  </div>

  {% if paginate.next %}
    <a href="{{ paginate.next.url }}" class="pagination__btn pagination__btn--next">
      <i class="hh-icon-angle-arrow-right"></i>
      <span class="icon__fallback-text">>{{ 'general.pagination.next' | t }}</span>
    </a>
  {% else %}
    <button class="pagination__btn pagination__btn--next" disabled>
      <i class="hh-icon-angle-arrow-right"></i>
      <span class="icon__fallback-text">>{{ 'general.pagination.next' | t }}</span>
    </button>
  {% endif %}
</div>
