<div class="quick-shop js-quick-shop" id="quick-shop">
  <div class="product product--quick-shop">
    <div class="container container--product">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

      <form action="/cart/add" method="post" enctype="multipart/form-data">

        <div class="product__wrap row">

          <div class="product__photos col-12 col-md-4">
            <div class="product-main-gallery">
              <div class="product-photo-container js-gallery-modal">

              </div>

            </div>
            <ul class="product-photo-thumbs clearfix grid js-gallery-carousel">
            </ul>
          </div><!-- .product-photos -->

          <div class="product__details col-12 col-md-8 ">
            <h2 itemprop="name" class="js-product-title"></h2>

            <div itemprop="offers" 
                 class="price-options js-price-options">
              <div class="sale-wrapper">
                <div class="col-auto">
                  <span class="sold-info js-sold-out"></span><span class="sale-info js-sale-banner d-none"></span><span class="product-price on-sale js-current-price"></span>
                </div>
                <div class="col-auto">
                  <div class="product-compare-price js-was-price"></div>
                  <div class="price-savings js-savings"><span class="percentage-savings"></span></div>
                </div>
              </div>
            </div>

            <div class="free-shipping-info hidden">
              <i class="icon-delivery-truck"></i>Qualifies for <span>free Shipping</span>
            </div>

            <div class="product-options-select d-none js-variants">
            </div>

            <div class="js-backorder" class="hidden">
              <p>
                {{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' | replace: '%s', '<span id="selected-variant"></span>' }}
              </p>
            </div>

            {% if settings.quick_shop_full_description %}
              <div class="rte product-description js-full-description" itemprop="description">
              </div>
            {% else %}
              <div class="tre product-description js-regular-description" itemprop="description">
              </div>
            {% endif %}

            <div class="product-add js-product-add">
              <div class="row align-items-center justify-content-center justify-content-md-start no-gutters qty">
                <label class="quantity-label">qty</label>
                <input type="hidden" name="id" value="" class="js-variant-id">
                <input min="1" type="number" id="quantity" name="quantity" value="1" class="quantity-field js-quantity-field" />
              </div>
              <div class="row no-gutters justify-content-center justify-content-md-start">
                <button type="submit"
                        class="btn btn--square btn--md btn--accent product__action product__action--add-to-cart js-add-to-cart"
                        tabindex="0"><div class="circle-loader"><div class="checkmark draw"></div><div class="crossmark draw"></div></div>Add To Cart</button>
                <a class="js-product-details product__action--view-full btn--md btn btn--square btn--outline-dark"></a>
              </div>
            </div>

          </div>
        </div><!-- .product-details -->

   

    </form>

  </div><!-- .container -->
</div><!-- .product -->
</div>
