<div class="post-actions {{ extraClass }}">
  {% unless title == '' %}
    <h3 class="title">{{ title }}</h3>
  {% endunless %}
  <div class="d-flex flex-md-column align-items-center">
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    {% comment %} <div class="comments">
      {% include 'icon-chat-bubble' %}{% if blog.comments_enabled? %}<span
        class="comments__count" hidden>{{ article.comments_count }}</span>{% endif %}
    </div> {% endcomment %}
  </div>
</div>