<div class="row w-100 no-gutters">
  <div class="col-auto d-none d-md-block">
    {% if product.images.size > 1 %}
      <ul class="product-photo-thumbs clearfix grid show-arrows {% if product.images.size < 5 %}less-than-five{% endif %}" style="visibility: hidden">
        {% for image in product.images %}
          <li class="product-photo-thumb two-per-row"  data-image-id="{{ image.id }}" data-variant-id="{{image.variants.first.id}}">
            <a href="javascript:void(0);" class="media-holder" data-change-variant="{{image.variants.first.id}}">
              {% include 'responsive-image' with image: image, image_class: "product-thumb", wrapper_class: "", max_width: 79, max_height: 97 %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col col-md-9 col-xlg-10">
    {% if product.images.size == 0 %}
      <!-- do nothing -->
    {% else %}
      <div class="product-main-gallery">
        <div class="ar-quicklook-overlay" data-shopify-3d-variant-id="{{ product.selected_or_first_available_variant.id }}" style="display: none;"></div>
        <div class="product-photo-container">
          {% for image in product.images %}
            <div class="product_photo-item">
              {% include 'responsive-image' with image: image, image_class: "product-thumb", wrapper_class: "", max_width: 600, max_height: 600 %}
              <a href="{{ image | img_url: '2048x2048' }}" class="coverlink" data-fancybox="gallery" data-options='{"backFocus" : false, "hash" : false, "wheel" : false}'> </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% if product.metafields.product.video_1 %}
  {% assign itemVideoImage = product.metafields.product.video_img_1 %}
  {% assign itemVideoId = product.metafields.product.video_1 %}
  {% assign videoId = itemVideoId | remove: "watch?v=" %}

  <div class="youtube-player video-media" data-id="{{videoId}}" data-thumbnail="{{ itemVideoImage | file_img_url: '700x' }}"></div>
{% endif %}