    <div class="products-pairs {{ wrapper_class }}">
      <h3 class="section-title"><span>Pairs Better With</span></h3>
      <ul class="slider slider--nav slider--show-nxt-all slider--horizontal slider--equal-height" data-slides-to-show="3" data-slides-to-show-xs="2" data-infinite="true">
        <li class="slider__item">
          <a class="pdt-link" href="#">
            <img class="lazyload" data-src="{{ 'jo-fresh-foam.jpg' | asset_url }}" alt="slider thumb">
            <div class="item-name">
              Jo Fresh Foam Toy Cleaner 1.7oz
            </div>
          </a>
        </li>
        <li class="collection-item slider__item">
          <a class="pdt-link" href="{{ grand_child_link.url }}">
            <img class="lazyload" data-src="{{ 'intimate-earth-green.jpg' | asset_url }}" alt="slider thumb">
            <div class="item-name">
             Intimate Earth Green Tea Tree Toy Cleaner
            </div>
          </a>
        </li>
        <li class="collection-item slider__item">
          <a class="pdt-link" href="{{ grand_child_link.url }}">
            <img class="lazyload" data-src="{{ 'after-glow-personal.jpg' | asset_url }}" alt="slider thumb">
            <div class="item-name">
              Afterglow Personal Cleansing Wipes 20pc
            </div>
          </a>
        </li> 
        <li class="slider__item">
          <a class="pdt-link" href="#">
            <img class="lazyload" data-src="{{ 'jo-fresh-foam.jpg' | asset_url }}" alt="slider thumb">
            <div class="item-name">
              Jo Fresh Foam Toy Cleaner 1.7oz
            </div>
          </a>
        </li>
        <li class="collection-item slider__item">
          <a class="pdt-link" href="{{ grand_child_link.url }}">
            <img class="lazyload" data-src="{{ 'intimate-earth-green.jpg' | asset_url }}" alt="slider thumb">
            <div class="item-name">
             Intimate Earth Green Tea Tree Toy Cleaner
            </div>
          </a>
        </li>
        <li class="collection-item slider__item">
          <a class="pdt-link" href="{{ grand_child_link.url }}">
            <img class="lazyload" data-src="{{ 'after-glow-personal.jpg' | asset_url }}" alt="slider thumb">
            <div class="item-name">
              Afterglow Personal Cleansing Wipes 20pc
            </div>
          </a>
        </li> 

      </ul>
    </div>