    <div class="related-products">
      <h3 class="text-center section-title"><span>More Vibrators</span></h3>
    
      <ul class="products products--sm products--slider slider--show-nxt-mb slider--nav slider--horizontal slider--equal-height" data-slides-to-show="5" data-slides-to-show-xs="2" data-infinite="true">
        {% comment %} For now I have pulled products of Vibrators collection, this will be made dynamic by Search Spring {% endcomment %}
        {% for product in collections.vibrators.products limit:8 %}  
          <li{% cycle 'group1': '', '', '', ' class="last product-item slider__item"' %} class="product-item slider__item">
              {% include 'content-product', maxWidth: 400, maxHeight: 516 %}
          </li>
        {% endfor %}
      </ul>
    </div>
