          <div class="additional-description">
            {%- if product.metafields.product.features -%}
            <div class="product-extras">
              {%- if product.metafields.product.features -%}
              <h4 class="accordion-trigger closed">Product Details</h4>
              {%- endif -%}
              <div class="accordion-panel"  style="display:none;">
                {{ product.metafields.product.features }}
              </div>
            </div>
            {%- endif -%}
            {%- if product.metafields.product.care -%}
            <div class="product-extras">
              {%- if product.metafields.product.care -%}
                <h4 class="accordion-trigger closed">Use + Care</h4>
               {%- endif -%}
                <div class="accordion-panel"  style="display:none;">
                  {{ product.metafields.product.care }}
                </div>
            </div>
            {%- endif -%}
          {%- if product.metafields.product.product_faq -%}
     
       
    {%- assign faqcount = 0 -%}
    {%- for value in product.metafields.product.product_faq -%}
    
    {%- assign question = {{value}} | split: '%]'  -%}
        {% assign faqcount = faqcount | plus: 1 %}
      {% if faqcount == 1 and question[0] contains '[%' -%}
         <div class="product-faqs" itemtype="https://schema.org/FAQPage">
   <h4 class="accordion-trigger closed">FAQ</h4>
    <div class="accordion-panel"  style="display:none;">
      {% endif %}
   
      {% if question[0] contains '[%' %}
 <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question" class="faq-question"><div class="product--faq-wrap">
   <div class="product--faq-question" ><div class="questionwrap" itemprop="name">{{ question[0] | replace: '[%', '' }}</div></div>
   <div class="collapse product--faq-answer" itemprop="text">
  {{ question[1] }}
  </div>
</div>
   
</div>
      {% endif %}
   

{%- endfor -%}
        
   
      {% if faqcount == 1 and question[0] contains '[%' %}
      </div>
</div>
      {% endif %}
    
{%- endif -%}
  </div><!-- .additional-description -->

<style>
  .product--faq-answer {
    display: none;
     background: #f2f2f2;
    padding: 0.5rem 0.75rem;
    color: #000;
    font-size: 95%;
    margin-bottom: 10px;
  }
  .product--faq-answer br {
    display: none;
    height: 0px;
  }
  .product--faq-answer p {
    margin-bottom: 0px;
  }

  .product--faq-question .questionwrap  {
    padding: 0.5rem 0.75rem;
    background: #f2f2f2;
    font-weight: 500;
    color: #000;
    font-size: 100%;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    padding-left: 35px;
    line-height: 1.3;

  }
  .product--faq-question .questionwrap p {
    margin-bottom: 0px;
  }
  .product--faq-question .questionwrap br {
    display: none;
    height: 0;
  }
 .product--faq-question .questionwrap:before {
   position: absolute;
   top: 0;
   left: 0;
   width: 30px;
   text-align: center;
   content: "+";
   font-size: 124%;
   font-weight: 400;
   opacity: 0.6;
   line-height: 41px;
 }
  .product--faq-question.showing .questionwrap:before {
   content: "-";
  }
  .product--faq-question.showing .questionwrap {
    color: #fff;
    background: #b5b5b5;
  }

 /* .product--faq-question.showing + .product--faq-answer {
    display: block;
  } */
</style>
