<h1 itemprop="name" class="d-none d-md-block">{{ product.title }}</h1>
<div class="yotpo bottomLine d-none d-md-block" data-product-id="{{ product.id }}" style="height: 33px;">
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
{%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
{%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
{%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
{%- assign yotpo_bottomline_obsolete = false %}
{%- else %} {%- assign yotpo_bottomline_obsolete = true %} {%- endif %}
{%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
{{ product.metafields.yotpo.catalog_bottomline }} {%- endif %}
</div>

{%- assign product_vendor_handle = product.vendor | handle -%}
{%- comment -%}
Do we have a collection that has the same name as our product vendor name?
If we do, let's have the vendor link point to it.
If not, we will point to the automatic vendor collection.
{%- endcomment -%}
{% if collections[product_vendor_handle].handle == product_vendor_handle %}
  {% assign vendor_url = collections[product_vendor_handle].url %}
{% else %}
  {% assign vendor_url = product.vendor | url_for_vendor %}
{% endif %}
{%- comment -%} <h2 itemprop="brand" class="delta">{{ product.vendor | link_to: vendor_url }}</h2> {%- endcomment -%}
{%- comment -%}
  All themes by Shopify should support the Product Reviews app out of the box.
  https://apps.shopify.com/product-reviews
{%- endcomment -%}

{%- assign in_smoke_collection = false -%}
{%- for collection in product.collections -%}
  {%- if in_smoke_collection == false and collection.title == 'HUSTLER® Smoke' -%}
    {%- assign in_smoke_collection = true -%}
  {%- endif -%}
{%- endfor -%}


{%- if in_smoke_collection -%}
{%- assign agegate = 'true' -%}
{%- include 'agegate' -%}
{%- else -%}
{%- assign agegate = 'false' -%}
{%- endif -%}


<div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>

<div id="product-price" class="delta price-options">
  <meta itemprop="priceCurrency"  />
  {%- if product.available -%}
  <link itemprop="availability" />
  {%- else -%}
  <link itemprop="availability"  />
  {%- endif -%}
  <p>
    {%- assign variant = product.selected_or_first_available_variant -%}
    {%- if product.compare_at_price > product.price -%}
    <span class="product-price on-sale">{{ variant.price | money }}</span>
    <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
    {%- else -%}
    <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
    {%- endif -%}
  </p>

</div>
  <script type="text/javascript">
    document.sezzleConfig = {
        targetXPath: '#product-price/.product-price',
        renderToPath: '..',
        altVersionTemplate: "or 4 interest-free payments of %%price%% with %%logo%% %%link%%  **Sezzle applies on orders over $140, choose Sezzle at checkout."
    }
  </script>
  <script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=bb904f11-4e7d-47c6-98c6-b83ac8fae171"></script>

<div class="rewards-text">Earn <span class="reward-pts">{{ product.price | divided_by: 100 | round }}</span> reward points!</div>
{% if product.price >= 6900 %}
<div class="free-shipping-info">
  <i class="hh-icon-delivery-truck mr-1"></i> Qualifies for <span>free Shipping</span>
</div>
{% endif %}

{% assign hide_default_title = false %}
{%- comment -%} {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
  {% assign hide_default_title = true %}
{% endif %}     {%- endcomment -%}
{%- if product.variants.size == 1 and product.variants[0].title == "Default Title" -%}
  {%- assign hide_default_title = true -%}
{%- endif -%}

{%- assign first_variant_image = product.selected_or_first_available_variant.image -%}

<div class="mobile-sticky-bar {% if product.variants.size == 1 %} single-variant-product {% endif %}">

  <div class="sticky-wrap">
    <div class="mobile-sticky-close"><i class="fas fa-times-circle"></i></div>


    <div class="pdt-meta hidden">
      <div class="mobile-sticky-img"><img src="{{ first_variant_image | img_url: '80x' }}&placeholder_image=true" width="{{first_variant_image.width}}" height="{{first_variant_image.height}}"></div>
      <h3 class="pdt-title">{{ product.title }}</h3>

      {% if product.compare_at_price > product.price %}
        <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
      {% else %}
      <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
      {% endif %}
      <div class="mobile-sticky-btn">
        <button type="submit" class="primary button btn btn--square btn--accent product__action product__action--add-to-cart js-add-to-cart" tabindex="0">+ Cart</button>
      </div>
      <div class="mobile-sticky-more-btn">
        <a class="primary button btn btn--square btn--accent expand-sticky" tabindex="0">Select</a>
      </div>

    </div>

    <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %} product-options-select">
   <select
    id="product-select"
    name="id"
    class="{% if product.variants.size == 1 %} single-variant-product {% endif %}"
    style="display:none"
    {%- for option in product.options -%}
      data-opt{{ forloop.index | minus: 1 }}="{{ option }}"
    {%- endfor -%}
  >

      {%- for variant in product.variants -%}
        <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}"{% unless variant.available %} disabled="disabled"{% endunless %}>{{ variant.title }} - {{ variant.price | money }}</option>
      {%- endfor -%}
      </select>

    </div>
    <div id="backorder" class="hidden">
      <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' | replace: '%s', '<span id="selected-variant"></span>' }}</p>
    </div>
    {% section 'product-sizechart' %}
    <div id="product-add" class="product-add mt-2 js-product-add{% if product.metafields.accentuate.product_is_a_gift_card %} gift-card-atc{% endif %}">

      <label class="quantity-label">Qty</label>
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" class="js-variant-id">
      <select name="quantity" id="quantity"  class="quantity-select js-quantity-field">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    {%- comment -%}  <div class="styled-qty-input-wrapper quantity">
        <button class="qtyminus" aria-hidden="true">&minus;</button>
  			<input min="1" max="99" step="1" type="text" name="quantity" id="quantity" value="1" class="quantity-field js-quantity-field styled-qty-input">
  			<button class="qtyplus" aria-hidden="true">&plus;</button>
      </div>
      {%- endcomment -%}
     {%- comment -%}
      <div class="quantity">
      <input min="1" max="99" type="number" id="quantity" name="quantity" value="1" class="quantity-field js-quantity-field" />
      </div>
      {%- endcomment -%}


      <input type="hidden" name="id" value="{{ product.metafields.accentuate.product_is_a_gift_card }}" class="js-is-gift">
      {%- if product.tags contains "DNR" -%}
        <input type="hidden" id="DNR" name="DNR" value="true">
      {%- endif -%}
      {%- if product.metafields.accentuate.product_is_a_gift_card -%}
        <div class="gift-card-line-items">
           <input class="input-text rec_name" type="text" name="properties[recipient_name]" placeholder="Recipient Name" required />
          <input class="input-text rec_email" type="email" name="properties[recipient_email]" placeholder="Recipient Email" required />
          <textarea class="input-text rec_message" rows="5" name="properties[gift_message]" placeholder="Attach a message to your gift..." required></textarea>
    		</div>
      {%- endif -%}
      {%- if agegate == "true" -%}

      <a class="primary button btn btn--square btn--accent btn-addcart checkage-first" tabindex="0"> <span class="text">{{ add_to_cart | escape }}</span></a>

       <button type="submit" class="primary button btn btn--square btn-addcart d-none btn--accent product__action product__action--add-to-cart js-add-to-cart" tabindex="0"> <span class="text">{{ add_to_cart | escape }}</span></button>
      {%- else -%}
      <button type="submit" class="primary button btn btn--square btn-addcart btn--accent product__action product__action--add-to-cart js-add-to-cart {% unless product.selected_or_first_available_variant.available %}disabled{% endunless %}" tabindex="0"> <span class="text">
        {% if product.selected_or_first_available_variant.available %} {{ add_to_cart | escape }}{% else %}Sold Out{% endif %}
     </span></button>
{%- endif -%}
      <div class="notify-pdt-availability">
        <a class="BIS_trigger btn btn--md btn--square btn--accent" href="#">Notify Me When Available</a>
      </div>

    </div>
  </div>
</div><!-- .mobile-sticky-bar-->
<div id="product-description" class="rte product-description" itemprop="description">
  {% include 'read-more' with desc_handle: product.description, truncate_words: 100%}
</div>
<script>
  function setInputFilter(textbox, inputFilter) {
    ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
      textbox.addEventListener(event, function() {
        if (inputFilter(this.value)) {
          this.oldValue = this.value;
          this.oldSelectionStart = this.selectionStart;
          this.oldSelectionEnd = this.selectionEnd;
        } else if (this.hasOwnProperty("oldValue")) {
          this.value = this.oldValue;
          this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
        } else {
          this.value = "";
        }
      });
    });
  }

  setInputFilter(document.getElementById("quantity"), function(value) {
    return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 99);
  });
  var input = document.querySelector("#quantity");
  var btnminus = document.querySelector(".qtyminus");
  var btnplus = document.querySelector(".qtyplus");

  if (
    input !== undefined &&
    btnminus !== undefined &&
    btnplus !== undefined &&
    input !== null &&
    btnminus !== null &&
    btnplus !== null
  ) {
    var min = Number(input.getAttribute("min"));
    var max = Number(input.getAttribute("max"));
    var step = Number(input.getAttribute("step"));

    function qtyminus(e) {
      var current = Number(input.value);
      var newval = current - step;
      if (newval < min) {
        newval = min;
      } else if (newval > max) {
        newval = max;
      }
      input.value = Number(newval);
      e.preventDefault();
    }

    function qtyplus(e) {
      var current = Number(input.value);
      var newval = current + step;
      if (newval > max) newval = max;
      input.value = Number(newval);
      e.preventDefault();
    }

    btnminus.addEventListener("click", qtyminus);
    btnplus.addEventListener("click", qtyplus);
  } // End if test
</script>
