<div class="qv-product-images" style="opacity: 0"></div>
<div class="qv-content">
  <div class="holder">
    <div class="qv-product-title"></div>
    <!--<h4 class="qv-product-type"></h4>-->
    <div class="qv-product-price"></div>
    <!--<h5 class="qv-product-original-price"></h5>-->
    <hr />
    <div class="qv-add-to-cart">
      <div class="qv-product-options"></div>

      <div class="qv-row-wrap">
      <div class="quantity">
       <!-- <span>Qty.</span> -->
        <input type="hidden" class="qv-quantity" value="1" min="1">
      </div>
      <input type="submit" class="qv-add-button primary button btn btn--accent product__action--add-to-cart js-add-to-cart" value="Add to Cart">



<div class="notify-qv-availability container mt-2" style="display: none">
  <h3>Notify Me When Available</h3>
  <p class="small">Enter an email to get notified.</p>
  <div class="row">
  <div class="col-12">
  <label>Email</label>
    <input type="email" placeholder="Email" class="viaemail via form-control">
   
    </div>
  </div>
  <a href="#" id="qv_BIS_trigger" class="BIS_trigger btn btn--md btn--square btn--accent d-block mt-2" data-variant-id="" data-product-id="">Notify Me When Available</a>
       <div class="qv-add-to-cart-response"></div>
        </div>


   
      </div>
    </div>
   <!-- <div class="qv-product-description"></div> -->
  </div>
  <a class="view-product" id="qv-link">Full Details</a>
</div>
