{% comment %}
{% include 'read-more' with desc_handle: product.description, truncate_words: 100%}
{% endcomment %}

{% assign desWords = desc_handle | split:' ' %}
{% unless template == 'index' %}
  {% if desWords.size > truncate_words %}
    <div class="desc js-desc">
      {{ collection.metafields.accentuate.top_tescription_box }}
      <div class="description__excerpt">
        <span class="excerpt">{{ desc_handle | truncatewords: truncate_words, ". . . " }}</span>
        <a href="javascript:void(0);" class="readmore show-more" >Read More...</a>
      </div>
      <div class="description__full hidden">
         {{ desc_handle }}
        <a href="#less-jump" class="readless show-less" >See Less...</a>
      </div>
    </div>
  {% else %}
    <div class="desc js-desc">
      {{ collection.metafields.accentuate.top_tescription_box }}
      <div class="description__full">
         {{ desc_handle }}
      </div>
    </div>
  {% endif %}
  <script type="text/javascript">
    const showMore = document.querySelector(".show-more");
    const showLess = document.querySelector(".show-less");
    if (showMore) {
      showMore.addEventListener('click',function(){
        document.querySelector('.description__full').classList.toggle('hidden');
        document.querySelector('.excerpt').classList.toggle('hidden');
        showMore.classList.add('hidden');
      });
    }
    if (showLess) {
      showLess.addEventListener('click',function(){
        document.querySelector('.excerpt').classList.toggle('hidden');
        document.querySelector('.description__full').classList.toggle('hidden');
        showMore.classList.remove('hidden');
      });
    }
  </script>
{% else %}
  <div class="desc js-desc">
    {{ collection.metafields.accentuate.top_tescription_box }}
    <div class="description__full">
       {{ desc_handle }}
    </div>
  </div>
{% endunless %}
