{% if article.tags.size > 0 %}
<div class="related-posts" style="display:none">
  <div class="container">
    <h4 class='related-posts__title'>You Might Also Like</h4>
    <div class="articles">
      <div class="articles__grid grid">
        {% assign num_rel_articles = 0 %}
        {% for rel_article in blog.articles %}
          {% if article.id != rel_article.id %}
            {% for rel_tag in rel_article.tags %}
              {% if article.tags contains rel_tag %}
                <div class="grid__item">
                  <div class="article">
                    <div class="article__banner-wrapper">
                      {% if rel_article.image %}
                        {% assign image_alt = rel_article.title | escape %}
                        {% comment %}
                        <div>{{ rel_article | img_url: '340x340' | img_tag: image_alt, 'article__image' | link_to: rel_article.url }}</div>
                        {% endcomment %}
                        {% assign rel_article_image = rel_article.image | img_url: '340x340' %}
                        <a class="article__banner" title="{{ rel_article.title }}" href="{{ rel_article.url }}" style="background-image: url('{{ rel_article_image }}');"></a>
                      {% else %}
                        <a class="article__banner" title="{{ rel_article.title }}" href="{{ rel_article.url }}"></a>
                      {% endif %}
                    </div>
                    <div class="article__cnt">
                      <h4 class="article__title"><a title="{{ rel_article.title | truncatewords: 12 }}"
                          href="{{ rel_article.url }}">{{ rel_article.title }}</a></h4>
                      <p class="article__excerpt">{{ rel_article.content | strip_html | truncatewords: 20 }}</p>
                    </div>
                    {% assign num_rel_articles = num_rel_articles | plus: 1 %}
                  </div>
                </div>
                {% break %}
              {% endif %}
            {% endfor %}
            {% if num_rel_articles == 3 %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if num_rel_articles > 0 %}
<script>
document.getElementsByClassName('related-posts')[0].style.cssText = 'display:block';
</script>
{% endif %}
