<div class="responsive-image__wrapper {{ wrapper_class }}">
  <img
    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{image.width}} {{image.height}}'%3E%3C/svg%3E"
    class="lazyload"
    data-src="{{ image | img_url: '80x', format: 'jpg' }}"
    data-srcset="{{ image | img_url: '80x', format: 'jpg' }} 1x, {{ image | img_url: '160x', format: 'jpg' }} 2x"
    height="{{image.height}}"
    width="{{image.width}}"
    data-aspectratio="{{ image.aspect_ratio }}"
    {%- if image.alt != blank -%}
      alt="{{ image.alt | escape }}"
    {%- elsif responsive_image_alt != blank -%}
      alt="{{ responsive_image_alt | escape }}"
    {%- else -%}
      alt="{{ image | split: '/' | last | split: '.' | first | replace: '-', ' ' | replace: '_', ' ' | split: ' ' | first }}"
    {%- endif -%}
  >
</div>