{%- capture responsive_image_counter -%}{%- increment responsive_image_counter -%}{%- endcapture -%}


{% comment %}
{% if max_width %}
  {% assign override_src = image | img_url: '10x' %}
{% else %}
  {% assign override_src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" %}
{% endif %}
{% endcomment %}
  
{%- comment -%}
    The image aspect ratio tells us the orientation of the image:
    - less than 1.0 is portrait
    - exactly 1.0 is square
    - greater than 1.0 is landscape
{%- endcomment -%}

{%- if image -%}
  {%- if image.aspect_ratio <= 1 -%}
    {%- assign max_height_image = image.height | at_most: max_height -%}
    {%- assign max_width_image = max_height_image | times: image.aspect_ratio -%}
  {%- else -%}
    {%- assign max_width_image = image.width | at_most: max_width -%}
    {%- assign max_height_image = max_width_image | divided_by: image.aspect_ratio -%}
  {%- endif -%}
{%- else -%}
  {%- assign aspectRatio = max_width | divided_by : max_height -%}
  {%- if aspectRatio <= 1 -%}
    {%- assign max_height_image = max_height -%}
    {%- assign max_width_image = max_height_image | times: max_width | divided_by: max_height -%}
  {%- else -%}
    {%- assign max_width_image = max_width -%}
    {%- assign max_height_image = max_width_image | times: max_width | divided_by: max_height -%}
  {%- endif -%}
{%- endif -%}

{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- comment -%} Limit image widths to valid options based on image.width {%- endcomment -%}
{%- assign image_widths = '180,540,720,900,1080,1296,1512,1728,1944,2160,2376,2592,2808,3024' | split: ',' -%}
{%- capture image_widths -%}
  {%- for width in image_widths -%}
    {%- comment -%} Check if image width is less or equal to width {%- endcomment -%}
    {%- assign width_num = width | plus: 0 | round -%}
    {%- if image.width >= width_num -%}{{ width_num }},{%- endif -%}
  {%- endfor -%}
  {{ image.width }}
{%- endcapture -%}
{%- assign image_widths = image_widths | strip -%}
<div id="ImageWrapper-{{ image.id }}-{{ responsive_image_counter }}" data-image-id="{{ image.id }}" class="responsive-image__wrapper {{ wrapper_class }}" {{ wrapper_attributes }}>
  <img id="Image-{{ image.id }}-{{ responsive_image_counter }}"
    class="responsive-image__image lazyload {{ image_class }}"
    width="{{image.width}}"
    height="{{image.height}}"
    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{image.width}} {{image.height}}'%3E%3C/svg%3E"
    data-src="{{ img_url }}"
    data-original-image-80x="{{ image | img_url: '80x' }}"
    data-widths="[{{ image_widths }}]"
    data-aspectratio="{{ image.aspect_ratio }}"
    data-sizes="auto"
    tabindex="-1"
    {%- if image.alt != blank -%}
      alt="{{ image.alt | escape }}"
    {%- elsif responsive_image_alt != blank -%}
      alt="{{ responsive_image_alt | escape }}"
    {%- else -%}
      alt="{{ image | split: '/' | last | split: '.' | first | replace: '-', ' ' | replace: '_', ' ' | split: ' ' | first }}"
    {%- endif -%}
    {{ image_attributes }}
  >
</div>
