<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="520" height="202" viewBox="0 0 520 202">
  <path fill="#c71d31" fill-rule="evenodd" d="M153,1333H672.991L509.927,1500.95,153,1535V1333Z" transform="translate(-153 -1333)"/>
</svg>
