{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
<ul class="social-group">
{%- for social in social_accounts -%}
	{%- assign social_handle = social | handleize -%}
	{%- capture social_link -%}social_{{ social_handle }}_link{%- endcapture -%}
	{%- capture social_icon -%}icon-{{ social_handle }}{%- endcapture -%}
	{%- if settings[social_link] != blank -%}
	<li class="social-item">
		<a class="social-item__link" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
		{%- include social_icon -%}
		<span class="social-item__fallback-text">{{ social }}</span>
		</a>
	</li>
	{%- endif -%}
{%- endfor -%}
</ul>