<!-- /snippets/social-sharing.liquid -->
<div class="social-sharing">

  <div class="social-sharing__item"><a class="social-sharing__link bookmark js-bookmark-this"
      href="javascript:void(0);">
      {% include 'icon-bookmark' %}
    </a></div>

  <div class="social-sharing__item"><a class="social-sharing__link facebook" target="_blank"
      href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
    {% include 'icon-facebook' %}
  </a></div>

  <div class="social-sharing__item"><a class="social-sharing__link twitter" target="_blank"
      href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
    {% include 'icon-twitter' %}
  </a></div>

  <div class="social-sharing__item"><a class="social-sharing__link pinterest" target="_blank"
      href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
    {% include 'icon-pinterest' %}
  </a></div>

  <div class="social-sharing__item"><a class="social-sharing__link email" target="_top"
      href="mailto:?subject=Hey!%20I%20want%20you%20to%20check%20this%20out.&body={{ share_title | url_param_escape }}%0B%0B{{ shop.url | append: share_permalink }}">
    {% include 'icon-envelope' %}
  </a></div>

</div>