<div id="searchspring-basket-recommendations" class="intellisuggest" name="Basket Recommendations"></div>

<style>
   .intellisuggest .intellisuggest-title {
    font-size: 0;
    text-align: center;
    margin: 0 0 35px 0;
    position: relative;
  }
  .intellisuggest .intellisuggest-title:before {
    font-size: 23px;
    font-weight: 500;
    padding: 0 20px;
    background: #ffffff;
    color: #000000;
    position: relative;
    z-index: 2;
  }
  .intellisuggest .intellisuggest-title:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: #acacac;
  }
  #searchspring-product-recommendations .intellisuggest-title:before {
    content: 'Also Viewed';
  }
  #searchspring-basket-recommendations .intellisuggest-title:before {
    content: 'Also Bought';
  }
  .intellisuggest-item-name a {
  font-size: 14px;
    line-height: 1.25;
    display: block;
}
  .intellisuggest-item-price {
    font-family: "Gotham";
    font-weight: 600;
    color: var(--hh-black);
      font-size: 80%;
      }


  @media (min-width: 993px) {
    .flickity-prev-next-button {
      display: none;
    }
    .flickity-enabled.is-draggable .flickity-viewport {
      min-height: 315px;
    }
  }
  .intellisuggest-item {
    width: 20%;
  }
  .intellisuggest-item-inner {
padding: 0.5rem;
  }
  .intellisuggest-item .intellisuggest-item-image{
    display: block;
    margin-bottom: 0.5rem;
  }
  .intellisuggest-item .intellisuggest-item-image img {
    max-height: 222px;
  }
 .intellisuggest-item {
  width: 20% ;
   max-width: 240px;
}
  .intellisuggest-item a {
    display: block;
  }

@media (max-width: 992px) {
.intellisuggest-item {
 width: 25% ;
}
}

@media (max-width: 768px) {
.intellisuggest-item {
 width: 33.31% ;
}
}

@media (max-width: 600px) {
.intellisuggest-item {
 width: 50%;
}
  .slider--show-nxt-mb .slick-list {
    padding: 0 20% 0 0;
}
}

</style>

<!-- SearchSpring IntelliSuggest Tracking and Recommendation Widget -->
<script src="//cdn.searchspring.net/intellisuggest/is.min.js"></script>
<script type="text/javascript">
  try {
    var intId = '{{ shop.metafields.accentuate.searchspring }}';
    var product_code = '{{ product.variants[0].sku }}';

    IntelliSuggest.init({
      siteId  : intId,
      context : 'Product/' + product_code,
      seed    : product_code,
      afterContentPlacement : function() {
        initIntSlider('#searchspring-product-recommendations');
        IntelliSuggest.init({
          siteId  : intId,
          context : 'Basket',
          seed    : [product_code],
          afterContentPlacement : function() {
            initIntSlider('#searchspring-basket-recommendations');
          }
        });
      }
    });

    IntelliSuggest.viewItem({sku:product_code});

    function initIntSlider(selector) {
      var intItem = jQuery(selector + ' .intellisuggest-item');

      if (intItem && intItem.length > 0) {
        // Wrap intellisuggest item details with new wrapper
        intItem.wrapInner('<div class="intellisuggest-item-inner"></div>');

        // Slider variable config
        var intConfig = {
          infinite   : false,
          showNormal : 5,
          showXS     : 2,
        }

        // Wrap all items in slider carousel
        intItem.wrapAll('<div class="slider--show-nxt-mb slider--nav slider--horizontal slider--equal-height" data-slides-to-show="' + intConfig.showNormal + '" data-slides-to-show-xs="' + intConfig.showXS + '" data-infinite="' + intConfig.infinite + '"></div>');

        // Number of slidesToShow
        var intSlides = [intConfig.showXS, 0, 0, 0, 0, intConfig.showNormal];

        // Arithmetic sequence for adding to intSlides
        function intBuildSlideSeq(a1, aN, n) {
          var d = (aN - a1) / (n - 1);
          for (var i = 1; i < n - 1; i++) {
            intSlides[i] = Math.ceil(a1 + i * d);
          }
        }

        // Find terms in arithmetic sequence and adjust intSlides
        intBuildSlideSeq(intSlides[0], intSlides[5], 6);

       // Horizontal slick slider initialized
        jQuery(selector + ' .slider--horizontal').slick({
          infinite       : intConfig.infinite,
          slidesToShow   : intSlides[5],
          prevArrow      : '<a class="icon-angle-arrow-left slick-arrow slick-prev"></a>',
          nextArrow      : '<a class="icon-angle-arrow-right slick-arrow slick-next"></a>',
          responsive     : [{
            breakpoint : 1920,
            settings   : intBpSettings(intSlides[4], 1, true)
          }, {
            breakpoint : 1262,
            settings   : intBpSettings(intSlides[3], 1, true)
          }, {
            breakpoint : 992,
            settings   : intBpSettings(intSlides[2], 1, true)
          }, {
            breakpoint : 768,
            settings   : intBpSettings(intSlides[1], intSlides[1], false)
          }, {
            breakpoint : 577,
            settings   : intBpSettings(intSlides[0], intSlides[0], false)
          }]
        });

        // Function for repetable breakpoint settings
        function intBpSettings(show, scroll, arrow) {
          var settings = {
            slidesToShow   : show,
            slidesToScroll : scroll,
            arrow          : arrow
          }
          return settings;
        }
      }
    }
  } catch(err) {}
</script>
<!-- END SearchSpring IntelliSuggest -->
