{%- if collection.id -%}
    {% capture ss_collection_attr %} collection="{{ collection.id }}" collection-name="{{ collection.title }}" collection-handle="{{ collection.handle }}"{% endcapture %}
{%- endif -%}

{%- if current_tags -%}
    {% capture ss_tags_attr %} tags="{{ current_tags | join: '|' }}"{% endcapture %}
{%- endif -%}

{%- if collection.id == nil and template != 'search' -%}
    {% assign ss_defer_attr = ' defer' %}
{%- endif -%}

{% comment %}SearchSpring Script{% endcomment %}
{% comment %}
<script src="{{ 'searchspring.catalog.bundle_v3.78.4.js' | asset_url }}" searchspring="{{ shop.metafields.accentuate.searchspring }}" hide-content="#searchspring-facets, #searchspring-content, #searchspring-toolbar"{{ ss_collection_attr }}{{ ss_tags_attr }}{{ ss_template_attr }}{{ ss_defer_attr }}></script>
{% endcomment %}

{%- if collection.id == nil and template != 'search' -%}
  <script type="module">
    var searchInputs = document.querySelectorAll('input');
    var eventListeners = {
      "add": "addEventListener",
      "remove": "removeEventListener"
    }
    var loadSS = function() {
      var script = document.createElement('script');
      script.src = "//cdn.searchspring.net/search/v3/js/searchspring.catalog.js?{{ shop.metafields.accentuate.searchspring }}";
      document.head.appendChild(script);
      handleEventListeners("remove");
    }
    var handleEventListeners = function(action) {
      for (var i = 0; i < searchInputs.length; i++) {
        var input = searchInputs[i];
        input[eventListeners[action]]('focus', loadSS, true);
      }
    }
    handleEventListeners("add");
  </script>
{%- else -%}
<script src="//cdn.searchspring.net/search/v3/js/searchspring.catalog.js?{{ shop.metafields.accentuate.searchspring }}"  hide-content="#searchspring-facets, #searchspring-content, #searchspring-toolbar"{{ ss_collection_attr }}{{ ss_tags_attr }}{{ ss_template_attr }}{{ ss_defer_attr }}></script>
{%- endif -%}