
{%- capture storeHandle -%}store-{{ link.handle }}{%- endcapture -%}
{%- assign stores = pages[storeHandle] -%}
{% assign imageFeatured = page.metafields.conspire.store_image %}


<section class="store-hero">
	<div class="container">
		<div class="row">
			<div class="store__image col-12 col-md-7">

				{% comment %} <img data-src="{{ imageFeatured | file_img_url: '942x' }}" data-src-retina="{{ imageFeatured | file_img_url: '1884x' }}"  alt="{{ stores.title }}" /> {% endcomment %}
				<img
					src="{{ imageFeatured }}"
					class="lazyload"
					alt="{{ page.title }}"
				/>

			</div>

			<div class="store__info store-info--single col-12 col-md-5">
				{% include 'store-info'  with template : 'store-single' %}
			</div>
		</div>
	</div>
</section><!-- .store-hero -->
