
{% assign address 			= page.metafields.conspire.store_address %}
{% assign phone 			= page.metafields.conspire.store_phone %}
{% assign hours 			= page.metafields.conspire.store_open_hours %}
{% assign addressMap		= address | remove: ',' | remove: '.' | replace: '<br />', ' ' | replace: '<br/>', ' ' | replace: '<br>', ' ' | strip_newlines | replace: ' ', '+'  %}
{% assign storeLink			= page.metafields.accentuate.store_location_google_link %}
{% if template != 'store-single' %}

	<header class="store-item__header">

			{% if comingSoon == 'true' %}
				<h3>{{ link.title }}</h3>
			{% else %}

				<a class="store-item__title d-block" href="/pages/{{ page.handle }}" title="{{ page.title }}"><h3>{{ link.title }}</h3></a>

			{% endif %}

	</header><!-- .store-tem__header -->

{% endif %}



	<div class="store-item__mid">
		{% if template == 'store-single' %}


				<h3>
					{% if comingSoon == 'true' %}
						{{ link.title }}
					{% else %}
						{{ link.title }}
					{% endif %}
				</h3>

		{% endif %}
		{% if address or phone %}
			<div class="store-item__address">
				{% if address %}
					<div class="address-wrap">
                      {% if template != 'store-single' %}
          {% endif %}
						<i class="icon-map-marker"></i>
						<address>
							{{ address }}
						</address>
					</div>
				{% endif %}

              {% if phone %}
				<div class="phone-number-wrap">
					<i class="icon-phone"></i>
					{% comment %} <span class="desktop-only">{{ phone }}</span> {% endcomment %}
					<span class="tele-link"><a href="tel:{{ phone | replace:'(','' | replace:')','' | replace:'-','' | replace:' ','' }}" title="phone">{{ phone }}</a></span>
				</div>
				{% endif %}
			</div>
		{% endif %}

		{% if storeLink or address %}
			<div class="store-item__directions">
              {% if storeLink %}
              <a href="{{ storeLink }}" class="button btn--square btn--accent btn--sm btn btn-primary" target="_blank"  title="Get Directions">Get Directions</a>
              {% else address %}
				<a href="http://maps.google.com/?q=Hustler+Hollywood+{{ addressMap }}" class="button btn btn-primary btn--square btn--accent btn--sm" target="_blank"  title="Get Directions">Get Directions</a>
	{% endif %}
      </div>
      {% endif %}
	</div><!-- .store-item__mid -->
	{% if hours %}
		<div class="store-item__btm">
          {% if template != 'store-single' %}
          {% endif %}
            {% if template == 'store-single' %}
              <a class="label-curbside" href="#curbsideinfomodal" rel="modal:open"><img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/curbsideicon.png?v=1604460847" class="lazyload"> Curbside Pickup Available</a>
			{% endif %}
			<div class="store-item__hours">
				<h5 class="mt-3">Open Hours</h5>
              <div class="hours-txt">{{ hours }}</div>
		
			
			{% if template != 'store-single' %}
			<div class="store-item__link">
				<a href="/pages/{{ page.handle }}"  title="Store Details" class="button btn btn-primary btn--square btn--dark btn--sm">Store Details</a>
			</div>
			{% endif %}
		</div>	<!-- .store-item__btm -->
	{% endif %}


{% if template == 'store-single' %}
<div id="curbsideinfomodal" class="modal" style="display: none;">
  <div class="modaltitle">Curbside & Pickup Info</div>
  <p class="lead text-center mb-5">Curbside pick-up is available between <span class="hilight">12pm and 8pm</span>   local time at all locations.</p>
  
  <h2 class="c-black text-center text-md-left">Shop safely from a distance:</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12 curb_step">
      <div class="sublabel c-red text-center text-md-left"><i class="fas fa-forward"></i> Step 1</div>  
      <div class="imgwrap"><img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/step1_browse.png" class="lazyload mx-auto d-block ml-md-0"></div>
      <div class="sublabel text-center text-md-left">Browse Online</div>
<p>Shop HUSTLERHollywood.com and browse the site to find what you are looking for. Write down the items you wish to purchase.</p>
  <p><strong>Note: At this time we are not offering Buy Online and Pick Up In Store. Do not checkout online if you are looking for curbside pickup.</strong></p>
    
    </div>
   
    
    <div class="col-md-4 col-sm-12 curb_step"><div class="sublabel c-red text-center text-md-left"><i class="fas fa-forward"></i> Step 2</div>
      <div class="imgwrap"><img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/step2_call.png" class="lazyload mx-auto d-block ml-md-0"></div>
     <div class="sublabel text-center text-md-left">Call Store</div>
      <p>Call* your preferred HUSTLER Hollywood retail location and let the associate know you are looking to place an order for curbside pickup. 
        <strong>Read them the list of items you are looking for, including all color and size choices.</strong></p>
    
    </div>
    
    
    <div class="col-md-4 col-sm-12 curb_step"><div class="sublabel c-red text-center text-md-left"><i class="fas fa-forward"></i> Step 3</div>
      <div class="imgwrap"><img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/step3_pickup.png" class="lazyload mx-auto d-block ml-md-0"></div>
     <div class="sublabel text-center text-md-left">Curbside Pickup</div>
      <p>Your order should be ready in 45-60 minutes. Make your way to the retail location and park close to the entrance. 
        Give the store a call while waiting in your car. 
        An associate will come out to first collect your payment (cash or major credit card). 
        Once your payment has been processed successfully, the associate will bring out your purchase. 
        <strong>Enjoy! 😉</strong></p>
    
    </div>
    
    <div class="col-12"><p class="small text-center mt-3">*<strong>For the hearing impaired</strong>, please come straight to the store and we will work with you over email instead of the phone.</p></div>
  </div>
  
  <div class="row border-top flex-nowrap justify-content-center">
    <div class="col-auto pr-0"><div class="checkicon"><i class="fas fa-check"></i></div>
    </div>
    <div class="col-9">
      <h3 class="c-black mb-0">All orders eligible to receive <span class="c-red">Reward Points</span>!</h3>
      <p>Are you a rewards member? You can still use your points or build them up using curbside pick up!</p>
    </div>
  </div>
</div>
          {% endif %}
