	<div class="store-description">
		<div class="container container--small">
			<h3 class="about-title">About The Location</h3>
			<div class="store__content">
				{{ page.content }}
			</div>
		</div>
	</div><!--.store-description -->
	<div class="store-map">
		<div class="container">
			{% comment %} <a class="store-map__photo-link" href="http://maps.google.com/?q={{ addressMap }}" target="_blank" title="map">
				<img data-src="//maps.googleapis.com/maps/api/staticmap?center={{ addressMap }}&zoom=16&scale=1&size=1640x386&maptype=roadmap&format=png&visual_refresh=false&markers=size:mid%7Ccolor:0xdf0013%7Clabel:%7C{{ addressMap }}&key=AIzaSyDot_rDrULdto4tS_osi8OEdrMXWO5NuX0"
				data-src-retina="//maps.googleapis.com/maps/api/staticmap?center={{ addressMap }}&zoom=16&scale=2&size=1640x386&maptype=roadmap&format=png&visual_refresh=false&markers=size:mid%7Ccolor:0xdf0013%7Clabel:%7C{{ addressMap }}&key=AIzaSyDot_rDrULdto4tS_osi8OEdrMXWO5NuX0"
				src="//maps.googleapis.com/maps/api/staticmap?center={{ addressMap }}&zoom=16&scale=2&size=1640x386&maptype=roadmap&format=png&visual_refresh=false&markers=size:mid%7Ccolor:0xdf0013%7Clabel:%7C{{ addressMap }}&key=AIzaSyDot_rDrULdto4tS_osi8OEdrMXWO5NuX0" class="lazyload"
				alt="{{ page.title }}" />
			</a> {% endcomment %}
			<div class="gmap">
				<iframe width="1600" height="500" id="gmap" src="https://maps.google.com/maps?q=Hustler+Hollywood+{{ addressMap }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
			</div>
		</div>
	</div><!--.store-map-photo -->
