{%- assign list = linklists.stores-page.links -%}
<div class="container">
	<div class="row">
		{%- for link in list -%}

			{%- capture storeHandle -%}store-{{ link.handle }}{%- endcapture -%}
			{%- assign page = pages[storeHandle] -%}


			{%- assign imageThumb = page.metafields.conspire.store_image -%}
			{%- assign comingSoon = page.metafields.conspire.coming_soon -%}

			<article class="store-item  store-list--{{ template }} col-12 col-md-6 col-lg-4 col-xl-3">

				<figure class="store-item__photo ">
					 {% if imageThumb %}
					<img alt="HUSTLER Hollywood {{ link.title }}" src="{{ imageThumb }}" class="lazyload" />
					{% else %}
					<img data-src="{{ 'store-missing.jpg' | asset_img_url: '243x' }}" data-src-retina="{{ 'store-missing.jpg' | asset_img_url: '486x' }}" class="lazyload" alt="No Image" />
					{% endif %}

					{% if comingSoon == 'true' %}
							<div class="store-item__coming"><span>Coming Soon!</span></div>
					{% endif %}


				</figure>

				{% include 'store-info' %}
			</article>
			<!-- .stores-item -->

		{%- endfor -%}

	</div>
</div>



