.btn{
  display: inline-block;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed !important;
  }
  // Size
  &--xs {
    @include font-size(12px);
    min-width: 90px;
    padding: 3.5px 10px;
    @include bp(min-md){
      @include font-size(13px);
      padding: 8px 12px;
    }
  }
  &--sm{
    @include font-size(12px);
    line-height: 1.69;
    padding: 6px 20px;
    min-width: 109px;
    @include bp(min-md){
      @include font-size(13px);
    }
  }
  &--md {
    @include font-size(13px);
    min-width: 170px;
    padding: 11px 22px;
  }
  &--lg{
    @include font-size(12px);
    min-width: 170px;
    padding: 11.5px;
    @include bp(min-md){
      @include font-size(19px);
      height: 62px;
      min-width: 252px;
      padding: 18px;
    }
  }
  // Theme
  &--light{
    background-color: transparent;
    border: 1px solid $color-light;
    color: $color-dark;
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.25s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: $color-light;
      transition: opacity 0.25s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 1, 1);
      z-index: -1;
    }
    &:hover{
      &:not([disabled]) {
        color: $color-light;
        &:after{
          opacity: 0;
        }
      }
    }
    &.btn--square{
      &:not([disabled]) {
        &:hover{
          &:after{
            transform: translateY(100%);
          }
        }
      }
    }
  }
  &--dark{
    background-color: transparent;
    border: 1px solid $color-dark;
    color: $color-light;
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.25s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: $color-dark;
      transition: opacity 0.25s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 1, 1);
      z-index: -1;
    }
    &:hover{
      &:not([disabled]) {
        color: $color-dark;
        &:after{
          opacity: 0;
        }
      }
    }
    &.btn--square{
      &:not([disabled]) {
        &:hover{
          &:after{
            transform: translateY(100%);
          }
        }
      }
    }
  }
  &--dark-alt {
    background-color: transparent;
    border: 1px solid #585858;
    color: $color-light;
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.25s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: #585858;
      transition: opacity 0.25s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 1, 1);
      z-index: -1;
    }
    &:hover{
      &:not([disabled]) {
        color: #585858;
        &:after{
          opacity: 0;
        }
      }
    }
    &.btn--square{
      &:not([disabled]) {
        &:hover{
          &:after{
            transform: translateY(100%);
          }
        }
      }
    }
  }
  &--outline-dark {
    background-color: transparent;
    border: 1px solid $color-dark;
    color: $color-dark;
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.25s ease-in-out;
    @include font-size(13px);
    min-width: 170px;
    padding: 11px 22px;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: $color-dark;
      transition: opacity 0.25s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 1, 1);
      transform: translateY(-100%);
      opacity: 0;
      z-index: -1;
    }
    &:hover{
      &:not([disabled]) {
        color: $color-light;
        &:after{
          opacity: 1;
        }
      }
    }
    &.btn--square{
      &:not([disabled]) {
        &:hover{
          &:after{
            transform: translateY(0);
          }
        }
      }
    }
  }
  &--accent{
    background-color: transparent;
    border: 1px solid $color-accent;
    color: $color-light;
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.25s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: $color-accent;
      transition: opacity 0.25s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 1, 1);
      z-index: -1;
    }
    &:hover{
      &:not([disabled]) {
        color: $color-accent;
        &:after{
          opacity: 0;
        }
      }
    }
    &.btn--square{
      &:not([disabled]) {
        &:hover{
          &:after{
            transform: translateY(100%);
          }
        }
      }
    }
  }
  // Shapes
  &--square{
    border-radius: 0;
  }
  &--rounded{
    border-radius: 27.5px;
  }
  
}
a.button {
  text-decoration: none;
  display: inline-block;
}
.product__action--add-to-cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  // &:before {
  //   color: inherit;
  //   display: inline-block;
  //   opacity: 0;
  //   visibility: hidden;
  //   transition: opacity 0.15s ease-in-out;
  // }
  // body.cart-loading &, body.cart-success &, body.cart-error & {
  //   &:before {
  //     font-family: $icon-font;
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }
  // &:before {
  //   body.cart-loading & {
  //     content: "\e908";
  //   }
  //   body.cart-success & {
  //     content: "\e907";
  //   }
  //   body.cart-error & {
  //     content: "\e90d";
  //   }
  // }
  // Define vars we'll be using
  $loader-size: 1.3em;
  $check-height: $loader-size/2;
  $cross-height: $loader-size/2;
  $check-width: $check-height/1.5;
  $check-left: ($loader-size/6.7 + $loader-size/12);
  $check-thickness: 1px;
  .circle-loader {
    border: 1px solid rgba($color-dark, 0.2);
    border-left-color: $color-light;
    animation: spin360 1.2s infinite linear;
    position: relative;
    display: none;
    vertical-align: middle;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    margin-right: 10px;
  }
  .load-complete, .load-error {
    -webkit-animation: none;
    animation: none;
    border-color: $color-light;
    transition: border 500ms ease-out;
  }
  .checkmark {
    display: none;
    
    &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
    }
    
    &:after {
      opacity: 1;
      height: $check-height;
      width: $check-width;
      transform-origin: left top;
      border-right: $check-thickness solid $color-light;
      border-top: $check-thickness solid $color-light;
      content: '';
      left: $check-left;
      top: $check-height;
      position: absolute;
    }
  }
  .crossmark {
    display: none;
    &:before, &:after {
      background-color: $color-light;
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &:before {
      height: 1px;
      width: $cross-height;
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: crossmarkBefore;
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
    &:after {
      height: $cross-height;
      width: 1px;
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: crossmarkAfter;
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }
  &:hover {
    .circle-loader {
      border: 1px solid rgba($color-accent, 0.2);
      border-left-color: $color-accent;
    }
    .load-complete, .load-error {
      border-color: $color-accent;
    }
    .checkmark {
      &:after {
        border-right-color: $color-accent;
        border-top-color: $color-accent;
      }
    }
    .crossmark {
      &:before, &:after {
        background-color: $color-accent;
      }
    }
  }

  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }
    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
  }
  @keyframes crossmarkBefore {
    0% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }
  @keyframes crossmarkAfter {
    0% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }
}

// Buttons commonly found on embedded article
// products and collection banner headlines
.button {
  &--secondary, &--home {
    background-color: transparent !important;
    border: 1px solid $color-accent !important;
    border-radius: 0;
    color: $color-light !important;
    font-family: $primary-font;
    font-weight: 700;
    @include font-size(13px);
    min-width: 170px;
    padding: 11px 22px;
    text-transform: uppercase;
    box-shadow: none !important;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: color 0.25s ease-in-out;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: $color-accent;
      transition: opacity 0.25s ease-in-out, transform 0.3s cubic-bezier(0.4, 0, 1, 1);
      z-index: -1;
    }
    &:hover{
      &:not([disabled]) {
        color: $color-accent !important;
        &:after{
          opacity: 0;
        }
      }
    }
    &:not([disabled]) {
      &:hover{
        &:after{
          transform: translateY(100%);
        }
      }
    }

  }
  // Duplicate button
  &.phone-only {
    display: none !important;
  }
}