.atc-state {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
    &--error {
        background-color: $color-accent;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    h2 {
        color: $color-light;
        @include font-size(14px);
        font-weight: 500;
        margin-bottom: 0;
        @include bp(min-md) {
            @include font-size(18px);
        }
    }
    &__close {
        color: rgba($color-light, 0.75);
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

/*
Mini Cart
*/
.cart {
    &--mini {
        position: fixed;
        left: 100%;
        top: 0;
        opacity: 0;
        transition: transform 0.45s ease-in-out, opacity 0.15s ease-in-out;
        z-index: 99999;
        background-color: #EEEEEE;
        height: 100vh;
        width: 424px;
        max-width: 90%;
        &--open {
            opacity: 1;
            transform: translateX(-100%);
        }
        p {
            margin-bottom: 0;
        }
        .cart {
            &__container {
                padding-left: 25px;
                padding-right: 25px;
                @include bp(min-md) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @include bp(min-xxl) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }

            &__content {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: 100%;
            }

            &__header {
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #DDDDDD;
                @include bp(min-xxl) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                p {
                    color: #555555;
                    @include font-size(13px);
                    @include bp(min-xxl) {
                        @include font-size(17px);
                    }
                }
            }

            &__close {
                cursor: pointer;
                display: block;
                margin-left: auto;
                position: relative;
                transform: translateX(100%);
                height: 18px;
                width: 18px;
                margin-bottom: -18px;
                @include bp(min-xxl) {
                    height: 24px;
                    width: 24px;
                    margin-bottom: -24px;
                }
                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background-color: $color-dark;
                    transform: translate(-50%, -50%) rotate(0deg);
                    transition: transform 0.25s ease-in-out;
                }
                &:before {
                    width: 3px;
                    height: 100%;
                }
                &:after {
                    width: 100%;
                    height: 3px;
                }
                body.mini-cart-open & {
                    &:before,
                    &:after {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }

                } 
            }

            &__title {
                @include font-size(18px);
                margin-bottom: 5px;
                @include bp(min-xxl) {
                    @include font-size(27px);
                }
            }

            &__body {
                padding-top: 20px;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                overflow: auto;
                overflow: -moz-scrollbars-none; // Firefox
                -ms-overflow-style: none;   // Internet Explorer +10
                &::-webkit-scrollbar {
                    display: none;  // Chrome, Safari, newer versions of Opera
                }
                @include bp(min-xxl) {
                    padding-top: 30px;
                }
            }

            &__empty {
                display: none;
                p {
                    margin-bottom: 15px;
                }
                ul {
                    padding-left: 20px;
                }
                li {
                    margin-bottom: 10px;
                    a {
                        color: $color-accent;
                        text-decoration: none;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }

            &__items {
            }

            &__item {
                display: flex;
                flex-wrap: wrap;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                position: relative;
                &:after {
                    content: '';
                    background-color: #eeeeee;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    z-index: -1;
                    transition: opacity 0.3s ease-in-out;
                }
                &.loading {
                    position: relative;
                    &:before {
                        $size: '20px';
                        position: absolute;
                        z-index: 3;
                        content: '';
                        border: 1px solid rgba($color-accent,0.2);
                        border-left-color: $color-accent;
                        animation: spin360 1.2s infinite linear;
                        top: calc(50% - #{$size} / 2);
                        left: calc(50% - #{$size} / 2);
                        border-radius: 50%;
                        width: #{$size};
                        height: #{$size};
                    }
                    &:after{
                        z-index: 2;
                        opacity: 0.85;
                        visibility: visible;
                    }
                }
                @include bp(min-xxl) {
                    margin-bottom: 30px;
                }
                .item {
                    &__thumb {
                        flex: 0 0 auto;
                        max-width: 100%;
                    }

                    &__img {
                        display: block;
                        width: 100px;
                        @include bp(max-xs) {
                            width: 60px;
                        }
                    }

                    &__cnt {
                        flex-basis: 0;
                        flex-grow: 1;
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-left: 20px;
                        @include bp(min-xxl) {
                            padding-left: 30px;
                        }
                    }

                    &__header {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    &__title {
                        flex-basis: 0;
                        flex-grow: 1;
                        max-width: 100%;
                        color: $color-dark;
                        @include font-size(14px);
                        line-height: 1.25;
                        margin-bottom: 0;
                        @include bp(min-md) {
                            @include font-size(16px);
                        }
                        @include bp(min-xxl) {
                            @include font-size(17px);
                        }
                    }

                    &__link {
                        color: inherit;
                        text-decoration: none;
                    }

                    &__remove {
                        flex: 0 0 auto;
                        max-width: 100%;
                        color: #AAAAAA;
                        @include font-size(16px);
                        padding: 5px 10px;
                        margin-top: -5px;
                        margin-bottom: -5px;
                        margin-right: -10px;
                        transition: color 0.15s ease-in-out;
                        @include bp(max-sm) {
                            @include font-size(18px);
                        }
                        &:hover {
                            color: $color-dark;
                        }
                    }

                    &__variants {
                        margin-bottom: 5px;
                    }

                    &__variant {
                        color: #999999;
                        display: inline-block;
                        @include font-size(13px);
                        font-weight: 500;
                        @include bp(min-xxl) {
                            @include font-size(16px);
                        }
                        &:not(:last-child) {
                            &:after {
                                display: inline-block;
                                content: ',';
                            }
                        }
                    }

                    &__footer {
                        display: flex;
                        align-items: flex-end;
                        margin-top: auto;
                    }

                    &__actions {
                        flex-basis: 0;
                        flex-grow: 1;
                        max-width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                    }

                    &__no-more-qty {
                        color: rgba($color-accent, 0.85);
                        @include font-size(13px);
                    }

                    &__qty {
                        margin-right: auto;
                        .increment {
                            &__label {
                                font-family: $primary-font;
                                @include font-size(13px);
                                font-weight: 700;
                                @include bp(max-xs) {
                                    @include font-size(16px);
                                }
                            }
                            &__field {
                                color: $color-light;
                                background-color: $color-dark;
                                border: none;
                                border-radius: 4px;
                                font-family: $primary-font;
                                @include font-size(14px);
                                font-weight: 700;
                                outline: none;
                                padding: 5px 10px;
                                width: 55px;
                                height: 30px;
                                @include bp(max-xs) {
                                    @include font-size(16px);
                                    width: 40px;
                                    height: 25px;
                                }
                            }
                        }
                    }

                    &__cost-wrap {
                        flex: 0 0 auto;
                        max-width: 100%;
                        text-align: right;
                    }

                    &__price, &__line-price {
                        font-family: $primary-font;
                        font-weight: 700;
                        @include font-size(13px);
                    }

                    &__price-wrapper {
                        margin-bottom: 0;
                    }

                    &__price {
                        color: #555555;
                    }

                    &__line-price-wrapper {
                        margin-bottom: 0;
                    }

                    &__line-price {
                        border-top: 1px solid $color-accent;
                        color: $color-accent;
                    }
                }
            }

            &__total {
                background-color: #DDDDDD;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                font-weight: 700;
                @include font-size(16px);
                padding-top: 14px;
                padding-bottom: 14px;
                @include bp(min-xxl) {
                    @include font-size(18px);
                }
            }

            &__total-name {
                flex: 0 0 auto;
                max-width: 100%;
                padding-right: 20px;
            }

            &__total-value {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                text-align: right;
            }

            &__disclaimer {
                color: #555555;
                font-family: $primary-font;
                @include font-size(13px);
                line-height: 1.12;
                margin-bottom: 25px;
                @include bp(min-xxl) {
                    @include font-size(15px);
                }
            }

            &__footer {
                padding-top: 20px;
                padding-bottom: 20px;
                .btn {
                    margin-bottom: 10px;
                    width: 100%;
                    @include bp(min-xxl) {
                        @include font-size(17px);
                    }
                }
            }

        }
        &--empty {
            .cart {
                &__empty {
                    display: block;
                }
            }
        }
    }
}