// --------------------------------------------------
// Collection Group
.collection-group {
  .collection {
    .row--collection {
      padding-top: 30px;
      padding-bottom: 30px;

      @include bp(min-md) {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }

    .col-small--custom {
      @include bp(only-lg) {
        flex: 0 0 15%;
        max-width: 15%;
      }

      @include bp(min-xl) {
        flex: 0 0 12.666667%;
        max-width: 12.666667%;
      }
    }

    .col-large--custom {
      @include bp(min-lg) {
        flex: 0 0 85%;
        max-width: 85%;
      }

      @include bp(min-xl) {
        flex: 0 0 87.333333%;
        max-width: 87.333333%;
      }
    }

    &__header {
      max-width: 100%;
      @include bp(min-lg) {
        width: 145px;
      }
    }

    &__title {
      color: $color-dark;
      font-family: $primary-font-narrow;
      font-weight: 700;
      @include font-size(22px);
      line-height: 1.21;
      margin-bottom: 30px;

      @include bp(min-xxl) {
        @include font-size(30px);
        margin-bottom: 7px;
      }
    }

    &__link {
      color: #404040;
      display: inline-block;
      line-height: 1;
      border-bottom: 2px solid #9F9F9F;
      font-family: $primary-font-narrow;
      font-weight: 500;
      text-decoration: none;
      transition: opacity 0.15s ease-in-out;

      @include bp(min-md) {
        @include font-size(18px);
      }

      &:hover {
        opacity: 0.85;
      }
    }

    &:not(:last-child) {
      .row--collection {
        border-bottom: 1px solid #CFCFCF;
      }
    }
  }
}