$products: 'ul.products';

ul.products {
  margin-bottom: -10px;

  &--big {
    margin-left: -8px;
    margin-right: -15px;

    @include bp(min-md) {
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 30px;
    }
  }

  .collection-group & {
    @include bp(max-sm) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  a {
    text-decoration: none;
    outline: none;
  }

  .product-item {
    margin-bottom: 10px;
  }
}

li.product-item {
  #{$products}--dvd & {
    padding-left: 8px;
    padding-right: 8px;

    @include bp(min-md) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .product {
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
    padding: 15px 15px 5px;
    transition: 0.15s border-color ease-in-out;
    position: relative;
    overflow: hidden;

    @include bp(min-md) {
      padding: 5px 20px 20px;
    }

    #{$products}--dvd & {
      padding: 0;

      &:hover {
        border-color: transparent;
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      padding-top: 500%;
      height: 0;
      width: 500%;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.45);
      z-index: -1;
      content: '';
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.55s all ease-in-out;
    }

    a {
      text-decoration: none;
    }

    .img-actions {
      overflow: hidden;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 5px;

      .responsive-image__wrapper {
        position: relative;
        z-index: -2;
      }
    }

    &__actions {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5px;
      @include bp (max-sm){
        display:none;
      }
    }

    &__action {
      opacity: 0;
      transform: translateY(20px);
      visibility: hidden;
      transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);

      &--qview {
        transition-delay: 0.02s;
      }

      &--add-to-cart {
        transition-delay: 0.08s;
      }
    }

    &__title {
      font-family: $primary-font-narrow;
      font-weight: 400;
      @include font-size(16.36px);
      line-height: 1.2;

      @include bp(min-md) {
        @include font-size(16px);
        line-height: 1.45;
        margin-bottom: 0;
      }

      #{$products}--sm & {
        @include font-size(14px);
        line-height: 1.23;

        @include bp(min-md) {
          line-height: 1.3;
        }
      }

      a {
        color: #434343;
        text-decoration: none;
      }
    }

    &__price {
      display: block;
    }

    &__amount {
      color: #1f1f1f;
      background-color: transparent;
      font-family: $primary-font-narrow;
      @include font-size(17px);
      font-weight: 700;
      line-height: 1.41;

      &--regular {
        color: #6A6A6A;
        font-weight: 500;
      }

      #{$products}--sm & {
        @include font-size(14px);
      }
    }

    &__highlight {
      margin-bottom: 11px;
    }

    &__new,
    &__sale,
    &__discount {
      display: block;
      font-family: $primary-font-narrow;
      text-transform: uppercase;
    }

    &__new,
    &__sale {
      margin-right: 8px;
      @include font-size(10px);
      font-weight: 700;
      line-height: 1.78;

      @include bp(min-md) {
        @include font-size(13px);
      }

      #{$products}--sm & {
        @include font-size(11px);
      }
    }

    &__new {
      color: #0084FF;
    }

    &__sale {
      background-color: #EA601C;
      color: $color-light;
      padding: 4px 5px;
      text-transform: uppercase;

      @include bp(min-md) {
        padding: 8px 10px;
      }

      #{$products}--sm & {
        padding: 4px 5px;
      }
    }

    &__discount {
      color: #EA601C;
      @include font-size(13px);
      font-weight: 500;
      line-height: 1.47;

      @include bp(min-md) {
        @include font-size(15px);
      }

      #{$products}--sm & {
        @include font-size(13px);
      }
    }

    &__action {
      max-width: 100%;
      margin-bottom: 5px;

      &--add-to-cart {
        min-width: 100px;
      }

      #{$products}--sm & {
        padding: 6px 5px;
        height: 30px;
        line-height: 1.3;
      }
    }

    // ".product" hover effects
    &:hover {
      body[data-quickview-init="true"] & {
        border-color: #F4F4F4;
  
        .product__actions {
          .btn {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
          }
        }
  
        &:after {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}
