input[type="search"] {
  -webkit-appearance: none;
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}
.form__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  &>.col, &>[class*=col-] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.form-control, .form__control {
  display: block;
  width: 100%;
}

.custom-select{
  position: relative;
  &--sort-by {
    width: 190px;
    max-width: 100%;
  }
  &__select,.single-option-selector {
    display: none; /*hide original SELECT element: */
  }
  /* Style the arrow inside the select element: */
  svg {
    position: absolute;
    z-index: 1;
    content: "";
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.25s ease-in-out;
    transform-style: preserve-3d;
  }
  &--active {
    /* Point the arrow upwards when the select box is open (active): */
    svg {
      transform: translateY(-50%) rotateX(180deg);
    }
  }
  &--sort-by {
    background-color: $color-light;
    @include bp(min-md){
      margin-bottom: 10px;
    }
  }
}
.select-selected {
  background-color: transparent;
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 11px;
    top: calc(50% - 4px);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    -webkit-transition: all 0.02s ease-in-out;
    -o-transition: all 0.02s ease-in-out;
    transition: all 0.02s ease-in-out;
    @include bp(min-md) {
      right: 20px;
    }
  }
  &.select-arrow-active {
    &:after {
      border-width: 1.5px 0 0 1.5px;
      top: 50%;
    }
  }
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: $color-dark;
  padding: 9px 35px 9px 12px;
  cursor: pointer;
  font-family: $primary-font-narrow;
  font-weight: 500;
  @include font-size(15px);
}

.select-selected {
  border: 2px solid $color-dark;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: $color-light;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 2px solid $color-dark;
  border-top-width: 0;
  transition: 0.35s transform ease-in-out, 0.25s opacity ease-in-out;
  transform: scaleY(1);
  opacity: 1;
  transform-origin: top center;
}

/* Hide the items when the select box is closed: */
.select-hide {
  transform: scaleY(0);
  opacity: 0;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba($color-accent, 0.1);
}

form {
  &.form--search {
    @at-root {
      .header & {
        $initWidth: 28;
        $posR: 40;
        @include bp(max-sm){
          width: #{$initWidth}px;
        }
        @include bp(min-md) {
          padding-left: 20px;
          width: 772px;
          max-width: 100%;
        }

        input[type="search"] {
          font-family: $primary-font-std;
          font-weight: 400;
          line-height: normal;
          background-color: transparent;
          border: 2px solid #EAEAEA;
          border-radius: 26.5px;
          outline: none;
          transition: box-shadow .15s ease-in-out;

          @include bp(max-sm) {
            color: $color-light;
            height: 80%;
            width: 0;
            border: 0;
            border-radius: 0;
            position: absolute;
            opacity: 0;
            top: 50%;
            padding-right: #{$initWidth / 2}px;
            padding-left: #{$initWidth / 2}px;
            right: #{$posR}px;
            transform: translateY(-50%);
            transition: all 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
            cursor: pointer;
            z-index: 2;
            &:focus{
              opacity: 1;
              width: calc(100% - #{$posR}px);
              background-color: $color-dark;
              border-bottom: 1px solid $color-light;
              box-shadow: none;
              cursor: text;
            }
          }

          @include bp(min-md) {
            @include font-size(13px);
            padding: 9px 20px;
          }
          body.is-handheld &{
            @include bp(tablet-only) {
              font-size: 1.3rem;
              padding: 9px 20px;
              border-width:2px;
            }
          }
          @include bp(min-lg) {
            @include font-size(17px);
            padding: 11px 20px;
            border-width: 5px;
          }

          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(darken(#EAEAEA, 7%), .25);
          }
        }

        button[type="reset"] {
          position: absolute;
          padding-left: 10px;
          padding-right: 10px;
          top: 50%;
          right: 0;
          height: 100%;
          transform: translateY(-50%);
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          color: rgba($color-dark, 0.75);
          background: none;
          @include font-size(10px);
          line-height: 1;
          border: none;
          outline: none;
          visibility: hidden;
          cursor: pointer;
          
          @include bp(max-sm) {
            right: 40px;
            z-index: 2;
          }
          &.visible {
            visibility: visible;
          }
          span.icon {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background: rgba($color-light, 0.75);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }
        }

        .svg-icon {
          position: absolute;
          bottom: 0;
          right: #{$posR}px;
          transform: translateY(-50%);
          width: #{$initWidth}px;
          height: #{$initWidth}px;
          z-index: 1;
          svg {
            max-width: 100%;
            path {
              fill: $color-light;
            }
          }
        }
      }
    }
  }
}

// Newsletter Form
.newsletter {
  form {
    .fzSpET {
      &:first-child {
        .ql-editor {
          margin-bottom: 12px;

          span {
            color: $color-light !important;
            font-family: $primary-font-narrow;
            font-size: 22px !important;
            font-size: 2.2rem !important;
            font-weight: 500;
            letter-spacing: -0.3px;

            @include bp(min-md) {
              font-size: 36px !important;
              font-size: 3.6rem !important;
            }
          }
        }
      }

      &:nth-child(2) {
        .ql-editor {
          margin-bottom: 20px;

          span {
            color: #737373;
            font-family: $primary-font-narrow;
            font-size: 12px !important;
            font-size: 1.2rem !important;
            font-weight: 400;
            line-height: 1.53;
            letter-spacing: -0.3px;

            @include bp(min-md) {
              font-size: 17px !important;
              font-size: 1.7rem !important;
            }
          }
        }
      }

      &:last-child {
        >div {
          &:first-child {
            flex: 0 0 72%;
          }

          &:last-child {
            align-self: auto;
          }
        }
      }
    }

    input {

      &[type="email"],
      &[type="text"] {
        color: $color-light !important;
        font-family: $primary-font-narrow !important;
        font-size: 12px !important;
        font-size: 1.2rem !important;
        height: 41px !important;
        background-color: #242424 !important;
        border: none !important;

        @include bp(min-md) {
          font-size: 15px !important;
          font-size: 1.5rem !important;
        }
      }
    }

    button[type="button"] {
      box-sizing: border-box;
      font-family: $primary-font-narrow !important;
      font-size: 12px !important;
      font-size: 1.2rem !important;
      height: 41px !important;
      text-transform: uppercase !important;
      letter-spacing: -0.3px;
      transition: opacity 0.25s ease-in-out;

      @include bp(min-md) {
        font-size: 15px !important;
        font-size: 1.5rem !important;
      }

      &:hover,
      &:focus {
        opacity: 0.85;
      }
    }
  }
}

// Discount Letter Form
.discount-letter {
  form {
    font-family: $primary-font-narrow !important;
    .fzSpET {
      .ql-editor {
        span, strong {
          font-family: inherit !important;
        }
      }
      &:first-child {
        .ql-editor {
          span, strong {
            font-size: 32px !important;
            font-size: 3.2rem !important;
            @include bp(xxl) {
              font-size: 45px !important;
              font-size: 4.5rem !important;
            }
          }
        }
      }
      &:nth-child(2) {
        .ql-editor {
          span, strong {
            font-size: 16px !important;
            font-size: 1.6rem !important;
            @include bp(xxl) {
              font-size: 22px !important;
              font-size: 2.2rem !important;
            }
          }
        }
      }
      &:nth-child(3) {
        .ql-editor {
          span, strong {
            font-size: 12px !important;
            font-size: 1.2rem !important;
            line-height: 1.44 !important;
            @include bp(xxl) {
              font-size: 14px !important;
              font-size: 1.4rem !important;
            }
          }
        }
      }
      input, button[type="button"] {
        font-family: inherit !important;
        font-size: 12px !important;
        font-size: 1.2rem !important;
        border-width: 0 0 3px !important;
        height: 37px !important;
        line-height: 37px !important;
        @include bp(xxl) {
          font-size: 14px !important;
          font-size: 1.4rem !important;
        }
      }
      input {
        padding: 3px 0 !important;
      }
      button[type="button"] {
        padding: 0 5px !important;
      }
    }
  }
}

/**
* Custom Checkbox
/
/* Customize the label (the container) */
.form-check {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    display: inline-block;
    order: -1;
    height: 15px;
    width: 15px;
    margin-right: 8px;
    border: 2px solid $color-dark;
    position: relative;

    /* Create the checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
      /* Style the checkmark/indicator */
      left: 9px;
      left: calc(50% - 4px);
      top: calc(50% - 1px);
      width: 5px;
      height: 8px;
      border: solid $color-dark;
      border-width: 0 1.5px 1.5px 0;
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: rgb(248, 248, 248);
  }

  /* When the checkbox is checked */
  input:checked ~ .checkmark {
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

}