.collections-thumb {
  background-color: #EBEBEB;
  padding-top: 30px;
  padding-bottom: 10px;
  @include bp(min-md) {
    padding-bottom: 17px;
  }
  &--mb {
  }
  .collection-item {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    @include bp(min-md) {
      padding-left: 12.5px;
      padding-right: 12.5px;
    }
  }
  .collection {
    position: relative;
    max-width: 100%;
    width:100%;
    &__media-wrapper {
      margin-bottom: 10px;
      padding: 5px;
      position: relative;
      @include bp(min-md) {
        margin-bottom: 15px;
      }
      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: $color-accent;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: opacity 0.25s ease-in-out, transform 0.35s ease-in-out;
        transform-origin: center;
        transform: scale(0.9);
      }
    }
    &__thumb {
      display: block;
      background-color: $color-light;
      border-radius: 50%;
      border: 5px solid transparent;
    }
    &__title {
      font-family: $primary-font-narrow;
      @include font-size(17px);
      font-weight: 500;
      text-align: center;
      margin-bottom: 0;
      @include bp(min-md) {
        @include font-size(14px);
      }
    }
    &__link {
      color: #070707;
      position: relative;
      z-index: 2;
      transition: opacity 0.15s  ease-in-out, color 0.25s ease-in-out;
      &:hover {
        opacity: 0.75;
      }
    }
    &__hidden-link {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  .collection:hover, .collection-item.active {
    .collection {
      &__media-wrapper {
        &:after {
          transform: scale(1);
          visibility: visible;
          opacity: 1;
        }
      }
      &__link {
        color: $color-accent;
      }
    }
  }
  &--md {
    .collection-item {
    }
  }
}