[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon{
  &__fallback-text{
    display: none;
  }
}

.icon-lubes:before {
  content: "\e900";
}
.icon-anal-toy:before {
  content: "\e901";
}
.icon-dildo:before {
  content: "\e902";
}
.icon-bra:before {
  content: "\e903";
}
.icon-dvd-3x:before {
  content: "\e904";
}
.icon-vibrator:before {
  content: "\e905";
}
.icon-kink:before {
  content: "\e906";
}
.icon-bag:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-bag-o:before {
  content: "\e909";
}
.icon-bin:before {
  content: "\e90a";
}
.icon-magnifier:before {
  content: "\e90b";
}
.icon-hamburger:before {
  content: "\e90c";
}
.icon-cross:before {
  content: "\e90d";
}
.icon-angle-arrow-left:before {
  content: "\e90e";
}
.icon-angle-arrow-right:before {
  content: "\e90f";
}
.icon-angle-left-thin:before {
  content: "\e910";
}
.icon-angle-right-thin:before {
  content: "\e911";
}
.icon-delivery-truck:before {
  content: "\e912";
}
.icon-mail:before {
  content: "\e913";
}
.icon-user:before {
  content: "\e914";
}
.icon-envelope:before {
  content: "\f100";
}
.icon-map-marker:before {
  content: "\f103";
}
.icon-facebook:before {
  content: "\f104";
}
.icon-twitter:before {
  content: "\f105";
}
.icon-instagram:before {
  content: "\f106";
}
.icon-angle-right:before {
  content: "\f107";
}
.icon-phone:before {
  content: "\e942";
}