.nav {
  $a: &;

  &__group {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  &--mega-menu {
    img {
      display: block;
    }

    .media-link {
      display: block;
    }
    #{$a}__banner {
      position: relative;
      > a {
        display: block;
      }
      h3 {
        font-size: 15px;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        max-width: 90px;
        left: 20px;
        transform: translateY(-50%);
        line-height: 1.1;
        @include bp(min-xl) {
          @include font-size(17px);
          line-height: 1.2;
        }  
        @include bp(min-xxl) {
          @include font-size(25px);
          max-width: 120px;
          line-height: 1;
        } 
      }
      &--last{
        h3{
          top: auto;
          bottom: 30px;
          transform: none;
          margin: 0;
        }
      }
    }
    .dropdown {
      @at-root {
        .bottom-bar__row {
          @include bp(min-md) {
            position: relative;
            justify-content: space-between;
          }
        }
      }

      &__toggle {}

      &__menu {
        @include bp(min-md) {
          background-color: #F0F0F0;
          border-top: 1px solid #C4C4C4;
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          visibility: hidden;
          opacity: 0;
          transform: translateY(30px);
          transition: 0.25s transform ease-in-out, 0.2s opacity ease-in-out;
        }

        @include bp(min-lg) {
          padding: 40px 4%;
        }

        @include bp(only-md) {
          padding: 30px;
        }
      }
      .col--highlight-items{
        max-width:320px;
      }
      &__group {
        &--highlight {

          // > li{
          //     @include bp(min-xxl){
          //         width: 210px;
          //         max-width: 100%;
          //     }
          // }
          .dropdown__item {
            margin-bottom: 8px;
            @include bp(min-xl) {
              margin-bottom: 13px;
            }  
            @include bp(min-xxl) {
              margin-bottom: 15px;
            }             
          }

          .dropdown__link {
            @include bp(min-md) {
              color: $color-dark;
              font-weight: 700;
              @include font-size(13px);
              line-height: 1.3;
              text-transform:uppercase;
            }

            @include bp(min-xl) {
              @include font-size(14px);
            }  
            @include bp(min-xxl) {
              @include font-size(18px);
            } 

            &--accent {
              @include bp(min-md) {
                color: $color-accent;
              }
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }

        &--primary {
          @include bp(min-md) {
            column-count: 2;
            column-fill: balance;
            column-gap: 23px;
            &.col-count-md-3 {
              column-count: 3;
              column-fill: balance;
              column-gap: 23px;
            }
          }
          @include bp(min-xl) {
            column-gap: 25px;
          }  

          .dropdown__item {
            @include bp(min-md) {
              display: inline-block;
              width: 100%;
              margin-bottom: 9px;
            }
            @include bp(min-xl) {
              margin-bottom: 13px;
            }  
            @include bp(min-xxl) {
              margin-bottom: 16px;
            }             
          }

          .dropdown__link,
          .sub-dropdown__link {
            transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
            @include bp(min-md) {
              color: #3d3d3d;
              @include font-size(13px);
              font-weight: 500;
              line-height: 1.35;
            }

            @include bp(min-xl) {
              @include font-size(15px);
            }  
            @include bp(min-xxl) {
              @include font-size(16px);
            } 
            &:hover {
              color: $color-accent;
            }
          }
        }

        &--custom {
          @include bp(min-md) {
            border-left: 5px solid $color-accent;
            margin-left: 12px;
            padding-top: 24px;
            padding-bottom: 24px;
          }

          .dropdown__item {}

          .dropdown__link {
            @include bp(min-md) {
              display: flex;
              flex-wrap: nowrap;
              padding-left: 12px;
              padding-right: 12px;
              color: #3D3D3D;
              font-weight: 500;
              @include font-size(13px);
              line-height: 1.56;
            }
            @include bp(min-xl) {
              @include font-size(15px);
            }  
            @include bp(min-xxl) {
              @include font-size(16px);
            } 
            &:before {
              @include bp(min-md) {
                display: inline-block;
                font-family: $icon-font;
                content: $font-icon-angle-arrow-right;
                margin-right: 9px;
                color: $color-accent;
                transition: transform 0.25s cubic-bezier(0.46, 0.03, 0.52, 0.96);
              }
            }

            &:hover {
              @include bp(min-md) {
                opacity: 0.754;
              }

              &:before {
                @include bp(min-md) {
                  transform: translateX(3px);
                }
              }
            }
          }

        }
      }

      @include bp(min-md) {
        &:hover {
          .dropdown__menu {
            visibility: visible;
            opacity: 1;
            z-index: 9;
            transform: translateY(-1px);
          }
        }
      }

      .sub-dropdown {
        &__toggle {
          @include bp(min-md) {
            font-weight: 700;
          }
        }

        &__group {
          @include bp(min-md) {
            padding-left: 10px;
          }
        }
      }
    }
  }

  &--features {
    #{$a} {
      &__item {
        &:not(:last-child) {
          #{$a}__link {
            border-right: 1px solid #A5A5A5;
          }
        }

        &:last-child {
          #{$a}__link {
            padding-right: 0;
          }
        }
      }

      &__link {
        font-family: $primary-font-std;
        font-weight: 400;
        text-transform: uppercase;

        @include bp(only-md) {
          font-size:11px!important;
        }

        @include bp(min-md) {
          
          @include font-size(14px);
          padding-left: 10px;
          padding-right: 10px;
        }
        @include bp(min-lg) {
          color: #A5A5A5;

        }
        body.is-handheld & {
          color:$color-light;
        }
        @include bp(max-md) {
          color:$color-light;
        }
        &:hover {
          opacity: 0.85;
        }
      }
    }
  }

  &--account {
    #{$a} {
      &__group {
        justify-content: flex-end;
        align-items: flex-end;
        @include bp(min-md){
          align-items: center;
          padding-top: 3px;
        }
      }

      &__item {
        &:last-child {
          #{$a}__link {
            @include bp(min-md) {
              padding-right: 0;
            }
          }
        }

        &--micro-cart {
          position: relative;
          @include bp(min-md) {
            top: -4px;
          }
          
        }
      }

      &__link {
        
        font-family: $primary-font-std;
        font-weight: 400;
        text-transform: capitalize;
        body.is-handheld & {
          color: $color-light;
          i+[class*="d-none"]{
            display: none!important;
          }
        }
        @include bp(max-md){
          color: $color-light;
          i+[class*="d-none"]{
            display: none!important;
          }
        }
        @include bp(max-sm) {
          @include font-size(0px);
        }

        @include bp(only-md) {
          @include font-size(15px);
          padding-left: 5px;
          padding-right: 5px;
        }

        @include bp(min-lg) {
          @include font-size(19px);
          color: $color-dark;
          padding-left: 13px;
          padding-right: 13px;
        }

        &#customer_login_link,
        &#customer_register_link {
          @include bp(min-md) {
            line-height: 1.47;
          }
        }

        &#customer_login_link {
          @include bp(min-lg) {
            padding-right: 18px;
          }
        }

        &#customer_register_link {
          @include bp(min-md) {
            border-left: 1px solid #A5A5A5;
            padding-left: 2.5px;
          }
        }

        &:hover {
          opacity: 0.75;
        }
      }
    }

    [class^="icon-"],
    [class*=" icon-"] {
      display: inline-block;
      margin-right: 12px;
      
      @include bp(max-sm) {
        @include font-size(24px);
        color: $color-light;
      }

      @include bp(only-md) {
        @include font-size(19px);
        margin-right: 5px;
        vertical-align: text-bottom
      }

      @include bp(min-md) {
        @include font-size(27px);
        margin-right: 8px;
      }
    }

    .micro-cart {
      position: relative;

      @include bp(only-md) {
        margin-left: 5px;
        padding-left: 0;
      }

      @include bp(min-md) {
        margin-left: 10px;
        padding-left: 0;
      }
      @include bp(min-lg) {
        padding-left: 0;
      }
      [class^="icon-"],
      [class*=" icon-"] {
        margin-right: 0;

        @include bp(max-sm) {
          @include font-size(35px);
        }

        @include bp(min-md) {
          @include font-size(42px);
        }
      }

      .cart-count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -16%);
        @include font-size(16px);
        font-weight: 700;
        body.is-handheld &{
          color: $color-dark;
        }
        @include bp(max-md){
          color: $color-dark;
        }
        @include bp(min-lg) {
          color: $color-light;
          @include font-size(14px);
        }
      }
    }
  }

  &--primary,
  &--secondary {
    #{$a} {
      &__link {
        @include bp(min-md) {
          font-family: $primary-font;
          height: 73px;
          @include font-size(14px);
          padding: 25px 0;
        }

        @include bp(min-xxl) {
          height: 73px;
          @include font-size(17px);
          padding: 25px 0;
        }
      }

      &__item {
        a {
          font-family: $primary-font-narrow;
        }

        &:not(:last-child) {
          @include bp(min-md) {
            margin-right: 10px;
          }

          @include bp(min-xl) {
            margin-right: 22px;
          }

          @include bp(min-xxl) {
            margin-right: 30px;
          }
        }
      }
    }
  }

  &--primary {
    body.is-handheld &{
      display: none;
    }
    @include bp(max-md) {
      display: none;
    }
    #{$a} {
      &__link {
        @include bp(min-md) {
          font-weight: 500;
          color: #545454;
          text-transform: uppercase;
          position: relative;
        }

        &:after {
          @include bp(min-md) {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            background-color: $color-accent;
            width: 0;
            height: 4px;
            transform: translateX(-50%);
            transition: 0.2s width ease-in-out;
          }
        }
      }

      &__item {
        &:hover {
          @include bp(min-md) {
            .nav__link {
              color: $color-accent;

              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  &--secondary {
    @include bp(max-sm) {
    }
    @include bp(min-md) {
      display: flex;
    }

    #{$a} {
      &__group {
        body.is-handheld &{
          display: flex;
          width:100%;
        }
        @include bp(max-md) {
          display: flex;
          width:100%;
        }
      }
      &__item {
        body.is-handheld &{
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
          margin:0!important;
          .dropdown__menu{
            display:none!important;
          }
          &:nth-child(3n-5) {
            #{$a} { 
              &__link {
                background-color: $color-accent;
              }
            }
          }
          &:nth-child(3n-4) {
            #{$a} { 
              &__link {
                background-color: #8F36C2;
                box-shadow: 0 0 15px rgba($color-dark, 0.35);
                position: relative;
                z-index: 2;
              }
            }
          }
          &:nth-child(3n) {
            #{$a} { 
              &__link {
                background-color: #2777D2;
              }
            }
          }
        }
        @include bp(max-md) {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
          margin:0!important;
          .dropdown__menu{
            display:none!important;
          }
          &:nth-child(3n-5) {
            #{$a} { 
              &__link {
                background-color: $color-accent;
              }
            }
          }
          &:nth-child(3n-4) {
            #{$a} { 
              &__link {
                background-color: #8F36C2;
                box-shadow: 0 0 15px rgba($color-dark, 0.35);
                position: relative;
                z-index: 2;
              }
            }
          }
          &:nth-child(3n) {
            #{$a} { 
              &__link {
                background-color: #2777D2;
              }
            }
          }
        }
      }
      &__link {
        @include bp(max-xs) {
          @include font-size(14px);
          padding: 15px 8px;
        }
        body.is-handheld &{
          display: block;
          @include font-size(18px);
          font-weight: 700;
          text-align: center;
          color: $color-light;
          padding: 20px 8px;
          white-space: nowrap;
        }
        @include bp(max-md) {
          display: block;
          @include font-size(18px);
          font-weight: 700;
          text-align: center;
          color: $color-light;
          padding: 20px 8px;
          white-space: nowrap;
        }
        @include bp(min-md) {
          font-weight: 800;
          color: $color-accent;
          text-transform:uppercase;
          letter-spacing:1px;
        }
      }
    }

  }

  &--footer {
    #{$a} {
      &__group {
        flex-direction: column;
      }

      &__title {
        color: $color-light;
        font-family: $primary-font-narrow;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.3px;
        margin-bottom: 10px;
        text-transform: uppercase;

        @include bp(min-md) {
          @include font-size(20px);
        }
      }

      &__item {
        display: block;
      }

      &__link {
        color: #737373;
        font-family: $primary-font-narrow;
        line-height: 1.4;
        letter-spacing: -0.3px;
        transition: 0.15s opacity ease-in-out;
        @include font-size(13px);
        @include bp(min-md) {
          @include font-size(15px);
        }

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }

  &--toolbar {
    .nav {
      &__title {
        color: $color-dark;
        font-family: $primary-font-narrow;
        @include font-size(20px);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px;
      }
      &__item {
        flex: 0 0 100%;
        &--highlight {
          a {
            font-weight: 500;
            text-transform: uppercase;
          }
          .dropdown {
            &__item {
              &:last-child {
                a {
                  color: $color-accent;
                }
              }
            }
          }
        }
      }
      &__group {
        padding-left: 15px;
      }
    }
    li {
      display: block;
      &.active {
        > a {
          color: $color-accent;
          font-weight: 500;
        }
      }
      a {
        color: #434343;
        font-family: $primary-font-narrow;
        @include font-size(16px);
        font-weight: 400;
        line-height: 1.2;
        padding: 6px 0;
        transition: 0.15s opacity ease-in-out;
        &.nav__link--all {
          font-weight: 500;
        }
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
  body.headMB-fx &-group--mobile{
    top: 67px;
  }
  &-group--mobile {
    font: 14px "Gotham", sans-serif;
    position: fixed;
    top: 115px;
    height: calc(100% - 115px);
    width: 100%;
    z-index: 999;
    transform: translateX(-100%);    
    transition:all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    @include bp(only-md){
      top: 120px;
    }
    body.is-handheld &{
      display:block!important;
      @include bp(min-md){
        top: 120px;
      }
    }
    &.show{
      transform: translateX(0%);
      .nav-wrap{
        box-shadow: 0 0 50px #000;
      }
    }
    .nav-wrap {
      max-width: 90%;
      background: #fff;
      overflow: auto;
      height: 100%;
      width: 400px;
    }
    #{$a},.copyright{
      padding:20px;
    }
    #{$a}--account-mobile{
      background-color: #f0f0f0;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items:center;
      flex-wrap:wrap;
      &.logged-in{
        .sign-in{
          width:100%
        }
      }
      a.user-account {
        font: bold 14px/38px "Gotham", sans-serif;
        color: #000;
        text-transform: uppercase;
      }
      li.logged-in-user {
        padding:7px 0 8px;
        a.nav__link{
          text-transform:capitalize;
          color:$color-accent;
        }
      }
      li.nav__item {
        background-color:$color-dark;
        padding: 10px 18px;
        color:$color-light;
        font: bold 14px "Gotham", sans-serif;
        a{
          color:$color-light;
          text-transform: uppercase;
        }
      }
    }
    #{$a}--primary-mobile {
      padding: 20px 0;
      font:bold 14px "Gotham", sans-serif;
      border-bottom: 2px solid #d7d7d7;
      margin-bottom: 10px;
      ul {
        li {
          position:relative;
          &.nav__item{
            width:100%;
            .dropdown__menu{
              display:none;
              .slider-wrap{
                .collections-thumb{
                  box-shadow:inset 0 5px 5px -5px rgba(0, 0, 0, 0.22), inset 0 -5px 5px -5px rgba(0, 0, 0, 0.22);
                  padding-bottom: 30px;
                }                
                .slider__item{

                  .collection__media-wrapper{
                    margin-bottom:0;
                  }
                  .collection__title{
                    a{
                      padding:0;
                      text-transform:capitalize;
                      line-height:1.3;
                    }
                  }
                }
              }
            }
            span.dropdown__toggle {
              height: 18px;
              position: absolute;
              width: 18px;
              right: 20px;
              top: 21px;
              transform: translateY(-50%);
              padding: 0px;
              &:after,&:before{
                content: "";
                position: absolute;
                width: 3px;
                height: 11px;
                background-color: #c5c5c5;      
                left: 50%;
                top: 50%;    
                transition:transform 0.4s ease-in-out;                  
              }
              &:before{
                transform: translateX(-50%) translateY(-50%);
              }
              &:after{
                transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
              }
              &.active:before{
                transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
              }
            }
          }
          a.nav__link{
            position:relative;
          }
          a {
            text-transform: uppercase;
            color:$color-dark;
            display:block;
            padding:0 20px;
            line-height: 48px;
          } 
          img.collection-icon {
            vertical-align: middle;
            margin-right:7px;
            max-width: 35px;
          }
        }
      }
    }  
    #{$a}--secondary-mobile, #{$a}--tertiary-mobile{
      ul{
        li{
          &.nav__item{
            width:100%;
            margin-bottom:10px;
            a {
              color:$color-dark;
              display:block;
            } 
          }
        }
      }
    }
    #{$a}--tertiary-mobile{
      padding-bottom:0;
    }
    h3 {
      font: bold 14px "Gotham", sans-serif;
      text-transform: uppercase;
      margin-bottom: 13px;
    }
    #{$a}--social-mobile{
      padding-bottom:0;
      ul li {
        display: inline-block;
        margin-right: 10px;
      }      
      .social-item__fallback-text{
        display:none;
      }
    }
    .copyright{
      padding-top:0;
    }
  }
  
  &--breadcrumb {
    @include bp(max-sm) {
      text-align: center;
    }
    a {
      color: #8F8F8F;
      &:hover {
        opacity: 0.7;
      }
    }
    .nav {
      &__item, &__seperator {
        color: #8F8F8F;
        font-family: $primary-font-narrow;
        @include font-size(13px);
        font-weight: 500;
        transition: opacity 0.15s ease-in-out; 
        @include bp(min-md) {
          @include font-size(16px);
        }
      }

      &__seperator {
        margin-left: 9px;
        margin-right: 9px;
        @include bp(min-md) {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
.secondary-menu-wrap{
  body.is-handheld &{
    width: 100%;
  }
  @include bp(max-md){
    width: 100%;
  }
}
body.menu-open{
  @include bp(max-md){
    overflow:hidden;
  }
}
.nav-trigger {
  &--primary {
    cursor: pointer;
    position: relative;
    height: 24px;
    width: 27px;
    margin-right: 20px;
    body.is-handheld &{
      display:block!important;
    }
    @include bp(max-md){
      display:block!important;
    } 
    .hamburger, .hamburger:before, .hamburger:after{
      position: absolute;
      width: 100%;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      background-color: $color-light;
    }
    .hamburger{
      top: 2px;
      margin-top: -2px;
      transition: background-color 0s linear .13s;
      &:before, &:after{
        display: block;
        content: "";
      }
      &:before{
        top: 10px;
        transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
      }
      &:after{
        top: 20px;
        transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
      }
    }
    // Menu Open
    &.menu-open{
      .hamburger{
        background-color: transparent!important;
        &:before{
          top: 0;
          transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
          transform: translate3d(0,10px,0) rotate(45deg);
        }
        &:after{
          top: 0;
          transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
          transform: translate3d(0,10px,0) rotate(-45deg);
        }
      }
    }
  }
}