.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
  &__btn {
    &[disabled] {
      cursor: not-allowed;
    }
    &:not([disabled]):hover {
      opacity: 0.85;
    }
  }
  &--full {
    padding-top: 60px;
    padding-bottom: 35px;
    @include bp(min-xxl){
      padding-top: 80px;
      padding-bottom: 110px;
    }
    .pagination {
      &__btn {
        background-color: #111111;
        border: none;
        outline: none;
        border-radius: 50%;
        color: $color-light;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: 0.2s opacity ease-in-out;
        height: 25px;
        width: 25px;
        @include bp(min-sm) {
          height: 40px;
          width: 40px;
        }
        &--prev{
          margin-right: 10px;
          @include bp(min-sm) {
            margin-right: 25px;
          }
          @include bp(min-md){
            margin-right: 42px;
          }
        }
        &--next{
          margin-left: 10px;
          @include bp(min-sm) {
            margin-left: 25px;
          }
          @include bp(min-md){
            margin-left: 42px;
          }
        }
        i{
          @include font-size(10px); 
          @include bp(min-sm) {
            @include font-size(12px); 
          }
        }
        &[disabled]{
          background-color: #C6C6C6;
        }
      }
      &__page {
        color: $color-dark;
        border-bottom: 1px solid transparent;
        font-family: $primary-font-narrow;
        font-weight: 600;
        padding: 0 2px;
        transition: 0.15s border-color ease-in-out;
        @include font-size(13px);
        margin-left: 3px;
        margin-right: 3px;
        @include bp(min-sm) {
          @include font-size(14px);
          margin-left: 8px;
          margin-right: 8px;
        }
        &--current{
          border-color: $color-dark;
        }
        &:not(.pagination__page--current):hover{
          border-color: $color-dark;
        }
      }

    }
  }
  &--mini {
    margin-left: -6px;
    margin-right: -6px;
    body.template-collection & {
      justify-content: flex-end;
      @include bp(max-sm) {
        display: none;
      }
    }
    .pagination {
      &__pages {
        color: #686868;
        font-family: $primary-font-narrow;
        font-weight: 400;
        @include font-size(14px);
        padding-left: 6px;
        padding-right: 6px;
      }
      &__btn {
        background: none;
        border: none;
        outline: none;
        color: $color-dark;
        display: flex;
        align-items: center;
        padding: 5px 6px;
        @include font-size(13px);
      }
    }
  }
}