.product {
  &__wrap {
    padding-top: 35px;
    margin-bottom: 30px;
    @include bp(min-md) {
      margin-bottom: 80px;
    }
  }

  &__photos {
    ul.product-photo-thumbs {
      & > .product-photo-thumb:nth-child(n + 6) {
        display: none;
      }
      .product--single & {
        width: 80px;
        margin-right: 30px;
        float: left;
      }
      .slick-arrow {
        display: none !important;
      }
      &.show-arrows .slick-arrow {
        margin: 0 30px;
        display: block !important;
        cursor: pointer;
        &.slick-disabled {
          cursor: default;
          opacity: 0.3;
          pointer-events: none;
        }
        &:before {
          position: relative;
          display: block;
        }
      }
      .slick-prev {
        &:before {
          transform: rotateZ(90deg);
        }
      }
      .slick-next {
        &:before {
          transform: rotateZ(90deg);
        }
      }
      #quick-shop.quick-shop & {
        margin-top: 25px;
      }
      @include bp(max-sm) {
        display: none;
      }

      .slick-list {
        // margin: -5px 0;
      }

      .product-photo-thumb {
        .product--single & {
          margin: 5px 0;
        }

        #quick-shop.quick-shop & {
          margin: 5px;
          .media-holder {
            img {
              margin: auto;
            }
          }
        }

        border: 0;

        .media-holder {
          border: 2px solid transparent;
          display: block;
          outline: none;
          padding: 2px;
          transition: border-color 0.3s ease-in-out;

          .product-thumb {
            border: 2px solid #f2f2f2;
          }
        }

        &.slick-current {
          .media-holder {
            border-color: #d50032;
          }
        }
      }
    }
    .product-main-gallery {
      position: relative;
      @include bp(min-md) {
        border: 1px solid #e7e7e7;
        .product--single & {
          width: calc(100% - 110px);
          float: left;
        }
      }
      @include bp(max-sm) {
        margin-bottom: 10px;
      }
      .product-photo-container {
        & > .product_photo-item:not(:first-child) {
          display: none;
        }
      }
      span.zoom-info {
        position: absolute;
        bottom: 10px;
        z-index: 999;
        left: 50%;
        transform: translateX(-50%);
        background-color: #3d3d3e;
        color: #fff;
        font-size: 12px;
        padding: 5px 15px 5px 10px;
        border-radius: 15px;
        display: inline-block;
        opacity: 0.8;
        &:before {
          content: "\02295";
          margin-right: 5px;
          vertical-align: text-bottom;
        }
        @include bp(max-sm) {
          bottom: 70px;
          font-size: 8px;
        }
      }
      .product-photo-container {
        a {
          display: block;
          position: relative;
          .responsive-image__wrapper {
            margin: 0 auto;
          }
          img {
            display: block;
            margin: 0 auto;
          }
        }

        .slick-dots {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          @include bp(max-sm) {
            margin-top: 70px;
          }
          li.slick-active {
            button {
              background-color: $color-accent;
            }
          }
          button {
            background-color: #a1a1a1;
            border: none;
            outline: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            text-indent: -999em;
            margin: 0 5px;
            display: inline-block;
            padding: 0;
            transition: background-color 0.4s ease;
          }
        }
      }
    }
  }

  &__details {
    @include bp(min-md) {
      padding-left: 80px;
      #quick-shop & {
        padding-left: 40px;
      }
    }
    h1 {
      font-size: 30px;
      @include bp(max-sm) {
        text-align: center;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .price-options {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    #quick-shop & {
      padding-bottom: 42px;
      margin-bottom: 45px;
      border-bottom: 1px solid #b7b7b7;
    }
    @include bp(max-sm) {
      justify-content: center;
    }
    .sale-wrapper {
      display: flex;
      flex-wrap: wrap;

      .col-auto {
        padding: 0;
        &:not(:last-child) {
          margin-right: 23px;
        }
      }
    }

    .sale-info {
      text-transform: uppercase;
      color: #ffffff;
      font-size: 13px;
      background-color: #ea601c;
      font-weight: bold;
      padding: 6px 15px;
      display: block;
      margin-bottom: 3px;
    }

    .on-sale {
    }

    .product-compare-price {
      color: #8b8b8b;
      font-size: 21px;
      display: block;
      margin-bottom: 3px;
      text-decoration: line-through;
    }

    .price-savings {
      color: #ea601c;
      font-weight: bold;
      text-transform: uppercase;

      .percentage-savings {
        font-weight: normal;
      }
    }
  }

  .product-price {
    font-size: 27px;
    font-weight: bold;
    display: block;
  }

  .free-shipping-info {
    font-size: 14px;
    i.icon-delivery-truck {
      font-size: 32px;
      vertical-align: middle;
      margin-right: 10px;
    }
    span {
      color: #84b61a;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .product-add {
    margin-bottom: 20px;
    .btn {
      #quick-shop & {
        margin-bottom: 10px;
      }
    }
    @include bp(max-sm) {
      & {
        display: flex;
      }

      #quick-shop:not(.quick-shop) {
        display: flex;
      }
      .btn,
      .view-product-details {
        flex-grow: 1;
      }
      .btn {
        width: 100%;
        body.template-product & {
          // margin-left: 10px;
          width: auto;
        }
      }
    }
    .product__action--add-to-cart,
    .product__action--view-full {
      @include bp(min-md) {
        #quick-shop & {
          display: inline-flex;
          margin-right: 15px;
        }
      }
    }
    .notify-pdt-availability {
      display: none;
      @include bp(min-md) {
        #quick-shop & {
          order: 13;
        }
      }
    }

    .product__action--add-to-cart.disabled + .notify-pdt-availability {
      display: inline-flex;
    }

    label.quantity-label {
      font-weight: bold;
      text-transform: capitalize;
      font-size: 17px;
      padding-right: 10px;
      @include bp(max-sm) {
        display: none;
      }
    }
    .qty {
      #quick-shop & {
        margin-bottom: 37px;
      }
    }
    .quantity-field {
      color: #fff;
      background-color: #000;
      padding: 10px 20px;
      border: 0;
      height: 50px;
      display: inline-block;
      vertical-align: bottom;
      border-radius: 5px;
      width: 99px;
      font-weight: bold;
      font-size: 26px;
      @include bp(max-sm) {
        margin-right: 10px;
        width: 90px;
        font-size: 24px;
      }
      #quick-shop & {
        width: 80px;
        height: 40px;
        @include font-size(18px);
      }
    }
    .button {
      font: bold 20px "Gotham", sans-serif;
      text-transform: uppercase;
      padding: 12px 45px;
      cursor: pointer;
      display: inline-block;
      height: 50px;
      @include bp(max-sm) {
        font-size: 17px;
        padding: 12px 30px;
      }
      @include bp(only-md) {
        margin-top: 20px;
      }
    }
  }

  &.product--single
    .product-add
    .product__action--add-to-cart.disabled
    + .notify-pdt-availability {
    display: block;
    margin-top: 20px;
  }
  &-description {
    margin-bottom: 32px;
    #quick-shop & {
      @include bp(min-xxl) {
        @include font-size(18px);
      }
    }
    ul,
    p {
      margin-bottom: 15px;
    }

    strong {
      margin-bottom: 10px;
    }
  }

  &-options-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    &.hidden {
      display: none;
    }
    .selector-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      width: calc(50% - 10px);
      @include bp(min-sm) {
        align-items: center;
      }
      @include bp(only-md) {
        width: 100%;
      }
      label {
        width: 60px;
        font-weight: bold;
        font-size: 18px;
        @include bp(max-sm) {
          color: #9c9c9c;
        }
      }
      .single-option-selector {
        width: 100%;
        border: 2px solid #bfbfbf;
        color: #000000;
        padding: 9px 12px;
        font-family: "Gotham Narrow", sans-serif;
        font-weight: 500;
        font-size: 15px;
        font-size: 1.5rem;

        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url(angle-arrow-right.svg);
        background-repeat: no-repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 1.05em auto, 100%;
        outline: none;
        @include bp(min-sm) {
          width: calc(100% - 60px);
        }
      }
    }
  }
}
.img-actions .product__actions .col:first-child {
  display: none;
}

// Quick View
.quick-shop {
  display: none;
  @include bp(min-md) {
    width: 80%;
  }
  @include bp(min-xxl) {
    width: 100%;
    max-width: 1180px;
  }
}
