.reviews_product_score-value {
  &:before {
    color: #FFC700;
    content: '';
    display: inline-block;
  }
}
.reviews_product_score {
  &-5 {
    &:before {
      content: "\2605\2605\2605\2605\2605";
    }
  }
  &-4 {
    &:before {
      content: "\2605\2605\2605\2605";
    }
  }
  &-3 {
    &:before {
      content: "\2605\2605\2605";
    }
  }
  &-2 {
    &:before {
      content: "\2605\2605";
    }
  }
  &-1 {
    &:before {
      content: "\2605";
    }
  }
}