.slider {
  &--equal-height {
    .slick-track {
      display: flex;

      .slick-slide {
        display: flex;
        height: auto;
      }
    }
  }

  &--horizontal {
    position: relative;

    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: opacity 0.15s ease-in-out, transform 0.35s ease-in-out;

      &.slick-disabled {
        opacity: 0;
        visibility: hidden;
      }
    }

    .slick-prev {
      left: 0;

      &:hover {
        transform: translate(-25%, -50%);
      }
    }

    .slick-next {
      right: 0;

      &:hover {
        transform: translate(25%, -50%);
      }
    }
  }

  &--nav {
    margin-bottom: 0;

    @include bp(min-md) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include bp(min-xxl) {
      padding-left: 55px;
      padding-right: 55px;
    }

    .slick-arrow {
      color: #CFCFCF;
      cursor: pointer;

      @include bp(max-sm) {
        display: none !important;
      }

      @include bp(min-md) {
        @include font-size(24px);
      }

      @include bp(min-xl) {
        @include font-size(32px);
      }
    }

    &--thin {
      .slick-arrow {
        &:before {
          @include bp(min-xxl) {
            @include font-size(54px);
          }
        }
      }
      .icon-angle-arrow-left {
        &:before {
          content: "\e910";
        }
      }
      .icon-angle-arrow-right {
        &:before {
          content: "\e911";
        }
      }
    }
  }

  &--nav-caret {
    @include bp(min-md) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .slick-arrow {
      color: #707070;
      cursor: pointer;
      height: 100%;
      width: 62px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      z-index: 9;

      @include bp(max-sm) {
        display: none !important;
      }

      &:before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        transition: transform 0.25s ease-in-out;
      }

      &.slick-prev {
        background: linear-gradient(to left, transparent 0%, $color-light 100%);

        &:before {
          border-width: 9px 8px 9px 0;
          border-color: transparent #707070 transparent transparent;
        }

        &:hover {
          transform: translate(0, -50%);

          &:before {
            transform: translateX(-25%);
          }
        }
      }

      &.slick-next {
        justify-content: flex-end;
        background: linear-gradient(to right, transparent 0%, $color-light 100%);

        &:before {
          border-width: 9px 0 9px 8px;
          border-color: transparent transparent transparent #707070;
        }

        &:hover {
          transform: translate(0, -50%);

          &:before {
            transform: translateX(25%);
          }
        }
      }
    }
  }

  &--show-nxt-mb {
    .slick-list {
      @include bp(max-xs) {
        padding: 0 20% 0 0;
      }
    }
  }

  &--show-nxt-all {
    .slick-list {
      padding: 0 20% 0 0;
    }
  }

  &--nav-none {
    .slick-arrow {
      display: none !important;
    }
  }
}

.slider-group-equal-h {

  #shopify-section-cta-group-ad,
  .collections--slider {
    flex: 0 0 100%;
    max-width: 100%;
    
  }
  .collections--slider, .cta-group--ad{
    overflow: hidden;
    opacity:0;
    transition:opacity 0.5s ease-in-out; 
    @include bp(min-sm){
      height:225px;
    }
    &.slick-initialized{
      overflow: unset;
      height: 100%;
      opacity: 1;
    }
  }
  .cta-group--ad{
    @include bp(max-sm){
      height:192px;
    }
  }
  .slick-slider,
  .slick-list,
  .slick-track {
    height: 100%;
  }
}