
<style type="text/css">
    .annex-container {
        display: flex;
        padding-top: 1rem;
    }
    .annex-state {
        position: fixed;
        z-index: 9999999;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: opacity 0.25s ease-in-out,
            -webkit-transform 0.35s ease-in-out;
        transition: opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
        -o-transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
        transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
        transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out,
            -webkit-transform 0.35s ease-in-out;
    }

    .annex-state--active {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .annex-state--error {
        background-color: #d50032;
    }
    .annex-state--success {
        background-color: #000;
    }

    .annex-state h2 {
        color: #ffffff;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 0;
        padding: 0 5rem;
    }

    .redeem-container p {
        padding: 0 1rem;
    }
    .annex-state__close {
        color: rgba(255, 255, 255, 0.75);
        cursor: pointer;
        position: absolute;
        right: 35px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    [class^="icon-"],
    [class*=" icon-"] {
        font-family: "icomoon" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-cross:before {
        content: "\e90d";
    }

    .account-rewards-select {
        width: 100%;
        border: 2px solid #bfbfbf;
        color: #000;
        padding: 9px 40px 9px 12px;
        font-weight: 500;
        font-size: 18px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url(../assets/angle-arrow-right.svg);
        background-repeat: no-repeat;
        background-position: right 0.7em top 50%, 0 0;
        background-size: 1.05em auto, 100%;
        outline: none;
    }
    .redeem-container {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
        align-items: center;
    }
    .redeem-container p {
        margin-right: 1rem;
    }
    .annex-top-bar {
        display:flex;
        justify-content:space-between
    }
    .annex-top-bar .rewards-txt {
        font-weight:700;
        font-size: 16px;
        margin-top:0;
        margin-bottom:1em;
        margin-right: 1rem;
    }


    @media screen and (max-width: 990px) {
        .annex-element {
            padding: 0;
        }
    }
    @media screen and (min-width: 768px) {
        .annex-state h2 {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 767px) {
        .annex-top-bar {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 1rem;
        }
        .annex-top-bar p {
            margin-bottom: 0.25rem;
        }
        .annex-state h2 {
            padding: 0 3rem 0 1rem;
        }
    }
</style>
<div class="container container--small">
    <div class="customer-account account-overview">
        <div class="header-group">
            <span class="logout-link">{{ 'layout.customer.log_out' | t | customer_logout_link }}</span>
            <h1 class="page-title">{{ 'customer.account.title' | t }}</h1>
        </div><!-- .header-group -->
        <div class="account-sections">
            <div class="dashboard-section account-section">
                <div class="account-section-trigger">
                    <h3>Dashboard</h3>
                </div><!-- .account-section-trigger-->
                <div class="account-content">
                    <div class="desc">
                        <p>
                            Welcome to your Account Dashboard. From your Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
                        </p>
                    </div>
                    <div class="account-details">
                        <h3 class="section-title">Account Information</h3>
                        <div class="contact-info">
                            <h4>
                                Contact Information
                            </h4>
                            {% if customer.name.size != 0 %}<p><i class="icon-user"></i> {{ customer.name }}</p>{% endif %}
                            <p><i class="icon-mail"></i> {{ customer.email }}</p>
                        </div>
                        <div class="address-info">
                            <h4>Address Book</h4>
                            {% if customer.default_address != nil %}
                                <h4>Default Address</h4>
                            {% endif %}
                            <address class="account-primary-billing-address account-address-container">
                                {% if customer.default_address != nil %}
                                    <i class="icon-map-marker"></i>
                                    <div class="address-wrap">
                                        {{ customer.default_address.address1 }} <br/>
                                        {% if customer.default_address.address2 != "" %}
                                        {{ customer.default_address.address2 }} <br/>
                                        {% endif %}
                                        {{ customer.default_address.city}}, {% if customer.default_address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}} <br/>
                                        {{ customer.default_address.zip}} <br/>
                                        {{ customer.default_address.phone }}
                                    </div>
                                {% else %}
                                <p>You do not have a default address.</p>
                                {% endif %}
                            </address>
                            <div class="footer-group">
                                {% comment %} {% if customer.default_address != nil %}
                                    <a href="/account?target=address-edit&id=primary" class="button btn--square btn--dark account-address-link address-edit-link" title="Edit address">Edit Address</a>
                                {% endif %} {% endcomment %}
                                <a href="/account/addresses" class="button btn--square btn--accent address-book-link" title="Manage Addresses">
                                    Manage Addresses
                                </a>
                            </div><!-- .footer-group -->
                        </div><!-- . account-info -->
                        <h3 class="section-title">HUSTLER Hollywood Pleasure Rewards</h3>
                        <div id="annex-root"></div>
                    </div><!-- .account-details -->
                </div><!-- .account-content -->
            </div><!-- .dashboard-section -->


            <div class="orders-section account-section">
                <div class="account-section-trigger">
                    <h3>Order History</h3>
                </div><!-- .account-section-trigger-->
                <div class="account-content">
                    <div id="order-list" class="order-history">
                        <div class="table-responsive">
                        <table class="table account__orders-table">
                            <thead>
                                <tr>
                                <th class="first">Order Date</th>
                                <th>Order Number</th>
                                <th class="">Order Status</th>
                                <th class="">Reorder</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if customer.orders.size == 0 %}
                                <tr class="empty">
                                <td colspan="3" class="last">
                                    <p>No orders placed yet.</p>
                                </td>
                                </tr>
                                {% endif %}
                                {% for order in customer.orders %}
                                <tr class="{{ cycle 'even' | 'odd' }}">
                                <td class="first">{{ order.created_at | date: "%m/%d/%y" }}</td>
                                <td>

                                    {{ order.order_number | link_to: order.customer_url }}
                                </td>
                                <td class="">{{ order.fulfillment_status | camelcase }}</td>
                                <td class="order">
                                  {% for item in order.line_items %}
                                    {% assign index = forloop.index %}
                                    <input type="hidden" data-index="{{ index }}" class="order-item varId" value="{{ item.variant.id }}" />
                                    <input type="hidden" data-index="{{ index }}" class="order-item quantity" value="{{ item.quantity }}" />
                                    {% for prop in item.properties %}
                                      <input
                                        type="hidden"
                                        data-index="{{ index }}"
                                        data-key="{{ prop.name }}"
                                        value="{{ prop.value }}"
                                        class="order-item property">
                                    {% endfor %}
                                  {% endfor %}
                                  <button href="/account/addresses" class="button btn--square btn--accent address-book-link reorder-btn" title="Reorder">
                                    Reorder
                                  </button>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>

                    </div>
                </div><!-- .account-content-->
            </div><!-- .addresses-section -->
        </div><!-- .account-sections -->
    </div>
</div>

<section id="annex-error-message" class="annex-state">
    <div class="container">
      <div class="annex-state__cnt"><h2 class="annex-state__desc"></h2></div>
    </div>
    <span class="annex-state__close icon-cross"></span>
</section>
<script type="text/javascript">
    window.customer_email = "{{ customer.email }}"
    window.customer_id = "{{ customer.id }}"
</script>