
<div class="container container--small">
    <div class="customer-account page-login">
        <div class="header-group">

            <h1 class="page-title">{{ 'customer.activate_account.title' | t }}</h1>
            <p>{{ 'customer.activate_account.subtext' | t }}</p>            
        </div>    
        <div class="forms-wrap">
            <div class="form-container activattion-form-container full-width">
              {% form 'activate_customer_password' %}
                {{ form.errors | default_errors }}

                  <label for="CustomerPassword" class="label-hidden">
                    {{ 'customer.activate_account.password' | t }}
                  </label>
                  <input type="password"
                    name="customer[password]"
                    id="CustomerPassword"
                    placeholder="{{ 'customer.activate_account.password' | t }}" class="input-text">


                  <label for="CustomerPasswordConfirmation" class="label-hidden">
                    {{ 'customer.activate_account.password_confirm' | t }}
                  </label>
                  <input type="password"
                    name="customer[password_confirmation]"
                    id="CustomerPasswordConfirmation"
                    placeholder="{{ 'customer.activate_account.password_confirm' | t }}" class="input-text">


                {% comment %} <input type="submit" class="button" value="{{ 'customer.activate_account.submit' | t }}">
                <input type="submit" class="button button--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"> {% endcomment %}

                <button type="submit"  class="button btn--square btn--accent" name="decline" > {{ 'customer.activate_account.submit' | t }}</button>

                <button type="submit"  class="button btn--square btn--accent" name="decline" > {{ 'customer.activate_account.cancel' | t }}</button>
              {% endform %}

            </div>
        </div>
    </div>
</div>








