{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
<div class="container container--small">
    <div class="customer-account addresses-overview">
        <div class="header-group">

            <a href="/account" class="back-to-account">{{ 'customer.account.return' | t }}</a>
            <h1 class="page-title">{{ 'customer.addresses.title' | t }}</h1>
        </div>
      <div class="account-sections">
        <div class="account-section-trigger">
            <h3>Addresses</h3>
        </div><!-- .account-section-trigger-->
        <div class="account-content">
            <div class="section clearfix">
                <div class="addresses-main">
                    <div id="address_tables">
                        {% paginate customer.addresses by 10 %}
                        {% if customer.addresses.size > 0 %}
                            {% for address in customer.addresses %}
                            <div class="address_table {% if address == customer.default_address %} default-address{% endif %}">
                                <div id="view_address_{{address.id}}" class="customer_address">
                                    <h4 class="address_title">
                                    {{ address.first_name | capitalize }} {{address.last_name | capitalize }}
                                    {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
                                    </h4>
                                    <div class="account-address-container">
                                        <i class="icon-map-marker"></i>
                                        <div class="address-wrap">
                                            <p class="view_address">
                                                {% if address.company != "" %}
                                                    {{ address.company }}<br>
                                                {% endif %}
                                                {% if address.street != "" %}
                                                    {{ address.street }}<br>
                                                {% endif %}
                                                {% if address.city != "" %}
                                                {{ address.city | capitalize }}{% if address.province_code %}, {{ address.province_code | upcase }}{% endif %} {{ address.zip | upcase }}<br>
                                                {% endif %}
                                                 {% if address.country != "" %}
                                                {{ address.country }}<br>
                                                {% endif %}
                                                 {% if address.phone != "" %}
                                                {{ address.phone }}
                                                {% endif %}
                                            </p>

                                        </div>
                                    </div>
                                    <div class="address_actions row">
                                        <div class="action_button action_edit col-auto">
                                            {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id | replace: 'href', 'class="button btn--square btn--accent" href'}}

                                        </div>
                                        <div class="action_button action_delete col-auto
                                        ">
                                            <form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}" onsubmit="return confirm('{{ 'customer.addresses.delete_confirm' | t }}')">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <button type="submit" class="button btn--square btn--dark">{{ 'customer.addresses.delete' | t }}</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div id="edit_address_{{address.id}}" class="customer_address edit_address form-container full-width" style="display:none;">
                                    <h4 class="edit-title">{{ 'customer.addresses.edit_address' | t }}</h4>
                                    {% form 'customer_address', address %}
                                    <label for="address_first_name_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.first_name' | t }}</label>
                                    <input required type="text" id="address_first_name_{{form.id}}" class="address_form input-text" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words">

                                    <label for="address_last_name_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.last_name' | t }}</label>
                                    <input required type="text" id="address_last_name_{{form.id}}" class="address_form input-text" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words">


                                    <label for="address_company_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.company' | t }}</label>
                                    <input type="text" id="address_company_{{form.id}}" class="address_form input-text" name="address[company]" value="{{form.company}}" autocapitalize="words">

                                    <label for="address_address1_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.address1' | t }}</label>
                                    <input required type="text" id="address_address1_{{form.id}}" class="address_form input-text" name="address[address1]" value="{{form.address1}}" autocapitalize="words">

                                    <label for="address_address2_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.address2' | t }}</label>
                                    <input type="text" id="address_address2_{{form.id}}" class="address_form input-text" name="address[address2]" value="{{form.address2}}" autocapitalize="words">

                                    <label for="address_city_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.city' | t }}</label>
                                    <input required type="text" id="address_city_{{form.id}}" class="address_form input-text" name="address[city]" value="{{form.city}}" autocapitalize="words">

                                    <label for="address_country_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.country' | t }}</label>
                                    <select required id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}" class="input-text address_select">{{ country_option_tags }}</select>

                                    <div id="address_province_container_{{form.id}}"  class="province_container" style="display:none">
                                        <label for="address_province_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.province' | t }}</label>
                                        <select required id="address_province_{{form.id}}" class="address_form input-text address_select" name="address[province]" data-default="{{form.province}}"></select>
                                    </div>


                                    <label for="address_zip_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.zip' | t }}</label>
                                    <input required type="text" id="address_zip_{{form.id}}" class="address_form input-text" name="address[zip]" value="{{form.zip}}" autocapitalize="characters">

                                    <label for="address_phone_{{form.id}}"  class="label-hidden">{{ 'customer.addresses.phone' | t }}</label>
                                    <input type="tel" id="address_phone_{{form.id}}" class="address_form input-text" name="address[phone]" value="{{form.phone}}" placeholder="Phone">


                                    <div class="default_address_prompt">
                                        {{ form.set_as_default_checkbox }}
                                        <label for="" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                                    </div>
                                    <div class="action_bottom">
                                        <button type="submit"  class="btn action_button button btn--square btn--accent"> {{ 'customer.addresses.update' | t }}</button>
                                        <a class="button btn--square btn--dark" href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
                                    </div>

                                    {% endform %}
                                </div>
                            </div><!-- end .address_table -->
                            {% endfor %}

                            <br class="clear" />

                        {% else %}
                            <p>{{ 'customer.addresses.no_addresses' | t }}</p>
                        {% endif %}

                        <div id="address_pagination">{{ paginate | default_pagination }}</div>
                        {% endpaginate %}
                    </div><!-- end #address_tables -->

                    <div id="action" class="action_link action_add note add_address_prompt">
                        {% comment %} <a href="#" class="action_button button btn--square btn--accent" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a> {% endcomment %}
                        <h3>Add a new address</h3>
                    </div>
                    <div id="add_address" class="customer_address edit_address form-container full-width">
                        {% form 'customer_address', customer.new_address %}
                            {% comment %} <h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4> {% endcomment %}

                                    <label for="address_first_name_new" class="label-hidden">{{ 'customer.addresses.first_name' | t }}</label>
                                    <input required type="text" id="address_first_name_new" class="address_form input-text" name="address[first_name]" value="{{form.first_name}}" autocapitalize="words"  placeholder="{{ 'customer.addresses.first_name' | t }}">

                                    <label for="address_last_name_new" class="label-hidden">{{ 'customer.addresses.last_name' | t }}</label>
                                    <input required type="text" id="address_last_name_new" class="address_form input-text" name="address[last_name]" value="{{form.last_name}}" autocapitalize="words"  placeholder="{{ 'customer.addresses.last_name' | t }}">


                                    <label for="address_company_new" class="label-hidden">{{ 'customer.addresses.company' | t }}</label>
                                    <input type="text" id="address_company_new" class="address_form input-text" name="address[company]" value="{{form.company}}" autocapitalize="words"  placeholder="{{ 'customer.addresses.company' | t }}">

                                    <label for="address_address1_new" class="label-hidden">{{ 'customer.addresses.address1' | t }}</label>
                                    <input required type="text" id="address_address1_new" class="address_form input-text" name="address[address1]" value="{{form.address1}}" autocapitalize="words"  placeholder="{{ 'customer.addresses.address1' | t }}">


                                    <label for="address_address2_new" class="label-hidden">{{ 'customer.addresses.address2' | t }}</label>
                                    <input type="text" id="address_address2_new" class="address_form input-text" name="address[address2]" value="{{form.address2}}" autocapitalize="words"  placeholder="{{ 'customer.addresses.address2' | t }}">



                                    <label for="address_city_new" class="label-hidden">{{ 'customer.addresses.city' | t }}</label>
                                    <input required type="text" id="address_city_new" class="address_form input-text" name="address[city]" value="{{form.city}}" autocapitalize="words"  placeholder="{{ 'customer.addresses.city' | t }}">

                                    <label for="address_country_new" class="label-hidden address_select">{{ 'customer.addresses.country' | t }}</label>
                                    <select required id="address_country_new" name="address[country]" data-default="{{form.country}}" class="input-text">{{ country_option_tags }}</select>


                                      <div id="address_province_container_new" class="province_container" style="display:none">
                                        <label for="address_province_new" class="label-hidden">{{ 'customer.addresses.province' | t }}</label>
                                        <select required id="address_province_new" class="address_form input-text address_select" name="address[province]" data-default="{{form.province}}"></select>
                                    </div>

                                    <label for="address_zip_new" class="label-hidden">{{ 'customer.addresses.zip' | t }}</label>
                                    <input required type="text" id="address_zip_new" class="address_form input-text" name="address[zip]" value="{{form.zip}}" autocapitalize="characters" placeholder="{{ 'customer.addresses.zip' | t }}">

                                    <label for="address_phone_new" class="label-hidden">{{ 'customer.addresses.phone' | t }}</label>
                                    <input type="tel" id="address_phone_new" class="address_form input-text" name="address[phone]" value="{{form.phone}}" placeholder="Phone">



                            <div class="default_address_prompt">
                                {{ form.set_as_default_checkbox }}
                                <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
                            </div>

                            <div class="action_bottom">
                                {% comment %} <input class="btn action_button" type="submit" value="{{ 'customer.addresses.add' | t }}" /> {% endcomment %}
                                <button type="submit"  class="btn action_button button btn--square btn--accent"> {{ 'customer.addresses.add' | t }}</button>
                                {% comment %} <a class="button btn--square btn--dark" href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
                                    {{ 'customer.addresses.cancel' | t }}
                                </a> {% endcomment %}
                            </div>
                        {% endform %}
                    </div>
                </div><!-- .addresses-main -->
            </div>
        </div><!-- .account-content -->
      </div><!-- .account-section -->
    </div>
</div>

<script type="text/javascript" charset="utf-8" data-no-instant>
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
</script>
