
<div class="container container--small">
    <div class="customer-account page-login">
        <div class="header-group">
        <div class="note form-success" id="reset-success" style="display:none;">
            {{ 'customer.recover_password.success' | t }}
        </div>
            <h1 class="page-title">Log In / Create An Account</h1>
        </div>
        <div class="forms-wrap">
            <div class="form-container">
                <div class="login-form-container">
                    <h2>Existing Customers</h2>
                    <p>If you have an account with us, log in using your email address.</p>
                    {% form 'customer_login' %}
                        {{ form.errors | default_errors }}
                        <input type="email" name="customer[email]" placeholder="Email" class="input-text email-field" />
                        <input type="password" name="customer[password]" placeholder="Password" class="input-text password-field" />
                        <a href="javascript:void(0);" class="recovery-form-trigger">
                            {{ 'customer.login.forgot_password' | t }}
                        </a>
                        <br>
                        <button type="submit" class="button btn--square btn--accent"> {{ 'customer.login.sign_in' | t }}</button>
                    {% endform %}
                </div>
                <div class="recovery-form-container" style="display:none;">
                    {% form 'recover_customer_password' %}
                        <h2 class="page-title">Reset Your Password</h2>
                        <p>We will send you an email to reset your password.</p>
                        {{ form.errors | default_errors }}
                        <input type="email" name="email" placeholder="Email" class="input-text email-field"  />
                        <button type="submit"  class="button btn--square btn--accent"> {{ 'customer.reset_password.submit' | t }}</button>
                    {% endform %}
                    <a href="javascript:void(0);" class="login-form-trigger"><span class="icon-angle-arrow-left" style=""></span>Go Back</a>
                </div>
            </div>
            <div class="form-container register-prompt">
                <h2>New Customers</h2>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                {{ 'Sign UP' | customer_register_link | replace: 'href', 'class="button btn--square btn--accent" href'}}
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

  if (window.location.hash) {
            document.querySelector(".recovery-form-container").style.display = "block";
            document.querySelector(".login-form-container").style.display = "none";
            }
    window.onload = function() {
        $ = jQuery;
       // Allow deep linking to the recover password form
   
      
        var $loginForm = $('.login-form-container'),
            $recoveryForm = $('.recovery-form-container'),
            $loginFormTrigger = $('.login-form-trigger'),
            $recoveryFormTrigger = $('.recovery-form-trigger'),
            $recoverySuccess = $('#reset-success')
            ;

            $loginFormTrigger.on('click',function(){
                $loginForm.slideToggle();
                $recoveryForm.slideToggle();
            })

            $recoveryFormTrigger.on('click',function(){
                $loginForm.slideToggle();
                $recoveryForm.slideToggle();
            })       // reset_success is only true when the reset form is
        {% if reset_success %}
            $recoverySuccess.show();
        {% endif %}
    }

</script>
