
<div class="container container--small">
    <div class="customer-account order-overview">
        <div class="header-group">
            <span class="logout-link">{{ 'layout.customer.log_out' | t | customer_logout_link }}</span>
            <h1 class="page-title">{{ 'customer.order.title' | t: name: order.name }}</h1>            
        </div><!-- .header-group -->
        <div class="account-sections">
            <div class="account-section-trigger">
                <h3>{{ 'customer.order.title' | t: name: order.name }}</h3>
                 <p class="order-date">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
            </div><!-- .account-section-trigger-->
            <div class="account-content">
             
              {% if order.cancelled %}
                {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
                <p class="order-date center">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
                <p class="order-date center">{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
              {% endif %}

                <div class="order-list">
                  {% for line_item in order.line_items %}
                    <div class="order-item" id="{{ line_item.key }}">
                        <ul>
                          <li data-label="{{ 'customer.order.product' | t }}">
                            <span class="order-meta">
                              {{ 'customer.order.product' | t }}
                            </span>
                            <span class="order-value">
                              {{ line_item.title | link_to: line_item.product.url }}
                              {% if line_item.fulfillment %}
                                <dl>
                                  <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                                  <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                                  {% if line_item.fulfillment.tracking_url %}
                                    <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                                    <dd>
                                      <a href="{{ line_item.fulfillment.tracking_url }}">
                                        {{ 'customer.order.track_shipment' | t }}
                                      </a>
                                    </dd>
                                  {% endif %}

                                  <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                                  <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                                  {% if line_item.fulfillment.tracking_number %}
                                    <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                                    <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                                  {% endif %}
                                </dl>
                              {% endif %}                  
                            </span>
                          </li>
                          <li data-label="{{ 'customer.order.sku' | t }}">
                            <span class="order-meta">
                              {{ 'customer.order.sku' | t }}
                            </span>
                            <span class="order-value">
                              {{ line_item.sku }}
                            </span>
                          </li>
                          <li data-label="{{ 'customer.order.price' | t }}">
                            <span class="order-meta">
                              {{ 'customer.order.price' | t }}
                            </span>
                            <span class="order-value">
                              {{ line_item.price | money }}
                            </span>
                          </li>
                          <li data-label="{{ 'customer.order.quantity' | t }}">
                            <span class="order-meta">
                              {{ 'customer.order.quantity' | t }}
                            </span>
                            <span class="order-value">
                              {{ line_item.quantity }}
                            </span>
                          </li>
                          <li data-label="{{ 'customer.order.total' | t }}">
                            <span class="order-meta">
                              {{ 'customer.order.total' | t }}
                            </span>
                            <span class="order-value">
                              {{ line_item.quantity | times: line_item.price | money }}
                            </span>
                          </li>
                        </ul>
                    </div><!-- .order-item -->
                  {% endfor %}
                </div><!-- .order-list -->

                <div class="order-totals">
                  <div class="order-item">
                    <ul>
                      <li data-label="{{ 'customer.order.subtotal' | t }}">
                        <span class="order-meta">
                          {{ 'customer.order.subtotal' | t }}
                        </span>
                        <span class="order-value">
                          {{ order.line_items_subtotal_price | money }}
                        </span>
                      </li>
                    </ul>
                  </div><!-- .order-item -->

                  {% for discount in order.discounts %}
                    <div class="order-item">
                      <ul>
                        <li data-label="{{ 'customer.order.discount' | t }}">
                          <span class="order-meta">
                            {{ discount.code }} {{ 'customer.order.discount' | t }}
                          </span>
                          <span class="order-value">
                            {{ discount.savings | money }}
                          </span>                          
                        </li>
                      </ul>
                    </div><!-- .order-item -->
                  {% endfor %}

                  {% for shipping_method in order.shipping_methods %}
                    <div class="order-item">
                      <ul>
                        <li data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">
                          <span class="order-meta">
                            {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                          </span>
                          <span class="order-value">
                            {{ shipping_method.price | money }}
                          </span>                            
                        </li>
                      </ul>                    
                    </div><!-- .order-item -->
                  {% endfor %}

                  {% for tax_line in order.tax_lines %}
                    <div class="order-item">
                      <ul>
                        <li data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">
                          <span class="order-meta">
                            {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                          </span>
                          <span class="order-value">
                            {{ tax_line.price | money }}
                          </span>                            
                        </li>
                      </ul>                    
                    </div><!-- .order-item -->
                  {% endfor %}

                  <div class="order-item">
                    <ul>
                      <li data-label="{{ 'customer.order.total' | t }}">
                        <span class="order-meta">
                          {{ 'customer.order.total' | t }}
                        </span>
                        <span class="order-value">
                          {{ order.total_price | money }} {{ order.currency }}
                        </span>                          
                      </li>
                    </ul>                  
                  </div><!-- .order-item -->

                </div><!-- .order-totals -->
            </div>  <!-- .account-content -->
            <div class="account-content clearfix no-sidebar billing-shipping-container">
          
              <div class="billing-info-block">
                <h3>{{ 'customer.order.billing_address' | t }}</h3>
                <p>{{ 'customer.order.payment_status' | t }}: <strong>{{ order.financial_status_label }}</strong></p>
                <div class="customer-address">
                  {{ order.billing_address | format_address }}
                </div>              
              </div>
              <div class="shipping-info-block">
                <h3>{{ 'customer.order.shipping_address' | t }}</h3>
                <p>{{ 'customer.order.fulfillment_status' | t }}: <strong>{{ order.fulfillment_status_label }}</strong></p>
                <div class="customer-address">
                  {{ order.shipping_address | format_address }}    
                </div>          
              </div>

          </div><!-- .account-content -->  
        </div><!-- .account-sections --> 


    </div>
</div>        











