<div class="container container--small">
    <div class="customer-account page-login">
        <div class="header-group">
            <h1 class="page-title">{{ 'customer.register.title' | t }}</h1>
            <p>Please enter the following information to create your account.</p>
        </div>
        <div class="forms-wrap">
            <div class="form-container register-form-container full-width">
                {% form 'create_customer' %}
                    {{ form.errors | default_errors }}
                    <input type="text" value="" name="customer[first_name]" size="30" placeholder="First Name" class="input-text half-width left-half"/>
                    <input type="text" value="" name="customer[last_name]" size="30"  placeholder="Last Name"  class="input-text half-width right-half"/>
                    <input type="email" value="" name="customer[email]" size="30"  placeholder="Email"  class="input-text"/>
                    <input type="password" value="" name="customer[password]" size="30"  placeholder="Password"  class="input-text"/>
                    <button type="submit"  class="button btn--square btn--accent"> {{ 'customer.register.submit' | t }}</button>
                {% endform %}
            </div>
            <p class="customer-info">If you already have an account, you can login <a href="/account/login">here</a>.</p>
        </div>
    </div>
</div>