
<div class="container container--small">
    <div class="customer-account page-login">
        <div class="header-group">
            <h1 class="page-title">{{ 'customer.reset_password.title' | t }}</h1>
            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        </div>    
        <div class="forms-wrap">
            <div class="form-container form-reset-password full-width">
                {% form 'reset_customer_password' %}
                  {{ form.errors | default_errors }}
                  <label for="ResetPassword" class="label-hidden">
                    {{ 'customer.reset_password.password' | t }}
                  </label>
                  <input type="password"
                    name="customer[password]"
                    id="ResetPassword"
                    class="{% if form.errors contains 'password' %}input-error{% endif %} input-text"
                    placeholder="{{ 'customer.reset_password.password' | t }}">

                  <label for="PasswordConfirmation" class="label-hidden ">
                    {{ 'customer.reset_password.password_confirm' | t }}
                  </label>
                  <input type="password"
                    name="customer[password_confirmation]"
                    id="PasswordConfirmation"
                    class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %} input-text"
                    placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

                  <button type="submit"  class="button btn--square btn--accent"> {{ 'customer.reset_password.submit' | t }}</button>
                {% endform %}
            </div>
        </div>
    </div>
</div>


