<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <!-- SHANE: Look for ways to improve speed on this template -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }} ">
    <meta name="google-site-verification" content="2h550pggxpKD6qXEM6TlicVoZsDV6gQ3NERUEJbAm-E" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <!-- CSS -->
    {{ checkout_stylesheets }}
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}

    <style>
      .prop65 .link {
        cursor: pointer;
      }
      .display-table .content-box__row {
        display:block;
      }
     /* .section--shipping-method .content-box__row:first-of-type, .section--shipping-method .content-box__row:first-of-type span.small-text, .section--shipping-method .content-box__row:first-of-type span.content-box__emphasis {
        background-color:#c8c8c8;
        color:#fff;
        border-radius: 5px 5px 0 0;
      } */

      .section--shipping-method .content-box__row:first-of-type .input-radio:checked {
        border:1px solid #fff;
      }
      .shipping-note {
        margin-top:10px;
        font-size:14px;
        font-weight: 700;
      }
      .recommended-note {
        margin-top:10px;
        font-size:12px;
        margin-left:30px;
      }
      .section--shipping-method .content-box__row .shipping-note {
        margin-top:0;
      }
      .section--shipping-method .section__header {
        margin-bottom:1em;
      }
      .shipping-highlights {
        display: block;
        padding-left: 1.9rem;
      }
      .shipping-highlights strong {
        font-weight: 600;
        color: #2e9d55;
        display: block;
      }
      .shipping-highlights li {
        font-size: 95%;
        font-weight: 500;
        padding: 0.15rem 0px 0.15rem 1rem;
        display: block;
        position: relative;
        color: #000;
      }
      .shipping-highlights li:before {
       background-color: #2e9d55;
        content: "";
        position: absolute;
        top: 0;
        width: 5px;
        height: 5px;
        overflow: hidden;
        border-radius: 20px;
        left: 0;
        font-size: 11px;
        top:9px;
        left: 2px;

      }
      .covid-note {
        font-size: 13px;
        opacity: 0.85;
        margin: 0.3rem auto;
        text-align: center;
      }
      .shipping-rec-badge {
        border-radius: 2rem;
        background: #2e9d55;
        color: #fff;
        padding: 0px 0.75rem;
        line-height: 20px;
        display: inline-block;
        width: auto;
        font-weight: 700;
        font-size: 12px;
        margin-left: 6px;


      }
      .shipping-rec-badge.star-only {
        background: transparent;
        color: #2e9d55;
        padding: 0px;
      }
       .shipping-rec-badge i {
         font-size: 75%;
         display: inline-block;
         padding-bottom: 4px;
       }
       .shipping-rec-badge * {
         vertical-align: middle;
       }
      .content-box__row.highlight-fedex {
        background-color: #f9fdfb !important;
        color: #545454 !important;
      }
      .display-table .radio__label__primary {
        word-break: keep-all;
        white-space: nowrap;
      }
       .modal-footer a {
         color: #d60132;
         font-weight: 500;
         font-size: 13px;
         display: block;
         text-align: center;
         margin-top: 1rem;
       }

      @media (min-width: 1000px) {
              .sidebar {
                  width: 38%;
                  padding-left: 2%;
                  background-position: left top;
                  float: right;
              }
              html.anyflexbox .content .wrap{box-sizing: border-box;}
              html.anyflexbox .content {
                background: #f9f9f9 !important;
              }
              div.section__header.os-header {

              }
              .os-header__hanging-icon {
                position:relative;
                right:auto;
                top:auto;
                -webkit-transform:none;
                transform:none;

              }
              .step__footer {
                margin-bottom: 2.5em;
              }
              .page--no-banner .main, .page--no-banner .main {
                padding-left: 4em;
              }
              .anyflexbox body, .anyflexbox .content, .anyflexbox .content .wrap, .anyflexbox .main {
                    background-color: #f9f9f9;
              }
              .sidebar {
                background-color: #f9f9f9;
                padding-right: 10px;
              }
              .main.rightside {
                background-color: white;
              }
              /*28-06-2018*/
              .content.myback { position: relative; }
              .content.myback:after { position: absolute; left: inherit; right: 0; content: ""; background: #fff; width: 15%; height: 100%; }
              .main__content { padding: 0 23px 0 0; }


              html.anyflexbox .content,.anyflexbox .content .wrap {
                  background: #fff !important;
              }
              #customer_notification_form--phone .field--two-thirds {
                width:100%;
              }
              .section--page-title {
                margin-bottom:10px;
                float:left;
              }
              .section--page-title h2, .section--page-title .section__hanging-icon, .section--page-title p{
                float:left;
              }
              .section--page-title h2 {
                padding-top:14px;
              }
              .section--page-title p {
                width:100%;
              }
              .section--page-title .section__hanging-icon {
                position:relative;
                right:auto;
                top:auto;
                margin-right:10px;
              }
      }

        @media only screen and (min-width: 1600px) and (max-width: 1920px){
          .content.myback:after { width: 22%; }
        }
        @media (max-width: 1238px) {
          .content.myback:after { width: 7%; }
        }
        @media (min-width: 1201px){
          html.page--no-banner .main, html.page--no-banner .sidebar {
            padding: 2em 3em;
            box-sizing: border-box;
            width:45%;
          }
          div.wrap{width: 80%;max-width: 100%;}
          div.main.rightside {
              width:55%;
              padding: 2em 1em 2em 2em;
          }
        }
        @media (max-width: 1000px){
          .content.myback:after { display: none; }
          .content.myback { background: #fff; }
          .content.myback .wrap { padding: 0; }
        }
        .content.myback:after {
          position: absolute;
          left: inherit;
          right: 0;
          content: "";
          background: #f9f9f9;
          width: 15%;
          height: 100%;
        }
        @media screen and (min-width:992px) and (max-width:1200px){
          .page--no-banner .sidebar{width:50%;}
          .content.myback:after{width: 10%;}
        }
        @media (max-width:999px){
          div.sidebar{order:1;}
        }
        @media screen and (min-width:992px) and (max-width:999px){
          .page--no-banner .sidebar{width:100%;background-color: transparent;}
          .page--no-banner .main, .page--no-banner .main{padding-left:0;}

        }
        @media screen and (min-width:1201px) and (max-width:1299px){
          div.wrap{margin:auto;}
        }
        @media (max-width:991px){
          div.sidebar{
            background-color: transparent
          }
          .main__footer {
            text-align: center;
          }
          .main__footer div li.policy-list__item {
              display: inline-block;
              float: none;
              margin: 0 2px;
          }
          div a.policy-list__item.policy-list__item--one-link {
              display: inline-block;
              width: auto;
              float: none;
              text-align: center;
          }
          ul.policy-list {
              width: 100%;
              display: inline-block;
          }
          div.main__footer div {
            display: inline-block;
            float: none;
          }
          .main__footer a.policy-list__item.policy-list__item--one-link {
              float: none;
              vertical-align: top;
              display: inline-block;
          }
        }

        @media (max-width:767px){
          html.page--no-banner .main, html.page--no-banner .main{padding:2em;}
          .anyflexbox .main__content{padding:0;}
          .section--page-title h2,  .section--page-title p, .section--page-title .section__hanging-icon {
            float:none;
          }
          .order-summary__sections {
            padding:0 20px;
          }
           .display-table .radio__label__primary {
        word-break: break-word;
        white-space: normal;
      }
         .shipping-rec-badge:not(.star-only) + br {
           display: none;
         }
        }
        @media (max-width:580px){
          div.sidebar{padding:0px;}
        }
        @media (max-width:400px){
          div a.policy-list__item.policy-list__item--one-link {
            width: 100%;
          }
        }
    </style>
    <style>
        .gc-modal-link {
          margin: 10px 0;
        }
        .modal.checkout--modal {
          visibility: visible;
        }
        .checkout--modal .field__input {
           border-color:#d9d9d9;
           padding: 1rem .75rem !important;
        }
        .checkout--modal .btn {
          margin: 10px 7.5px 0;
          padding: 1rem 1.5rem;
        }
        .checkout--modal ul li {
          color: #d50032;
          padding: 7.5px;
        }
        @font-face {
          font-family: "icomoon";
          font-style: normal;
          font-weight: 400;
          src: url('{{ "../assets/icomoon.eot" | asset_url }}');
          src: url('{{ "../assets/icomoon.eot" | asset_url }}?#iefix') format("embedded-opentype"), url('{{ "../assets/icomoon.woff" | asset_url }}') format("woff"), url('{{ "../assets/icomoon.ttf" | asset_url }}') format("truetype"), url('{{ "../assets/icomoon.svg" | asset_url }}') format("svg");
          //font-display: swap;
        }
        .rewards-text {
          border-top: 1px solid rgba(175,175,175,0.34);
          padding-top: 1.75rem;
          padding-bottom: 1.75rem;
          text-align: center;
          color: #d60132;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
        }
        .annex-container {
          display: flex;
          padding-top: 1rem;
        }
        .annex-rewards-container {
          max-height: 300px;
          overflow-y: scroll;
        }
        .annex-reward {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 6em 6em;
          border-top: 1px solid rgba(175,175,175,0.34);
          padding: 1.5em 0;
          align-content: center;
        }
        .reward-field {
          padding: 0;
          float: none;
        }
        .reward-field #reward {
          padding-right: 3em;
        }
        @media screen and (max-width: 1000px) {
          .annex-element {
            padding: 1em 1.5em;
          }
        }
        .reward-text, .reward-point {
          padding: 0 .5em;
        }
        .atc-state {
          position: fixed;
          z-index: 9999999;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
          padding: 10px;
          opacity: 0;
          visibility: hidden;
          -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%);
          -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
          transition: opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
          -o-transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
          transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
          transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
        }

        .atc-state--active {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
        .atc-state--error {
          background-color: #D50032;
        }
        .atc-state--success {
          background-color:#000;
        }

        .atc-state h2 {
          color: #FFFFFF;
          font-size: 14px;
          font-size: 1.4rem;
          font-weight: 500;
          margin-bottom: 0;
          padding: 0 5rem;
        }
        .redeem-container {
          display: flex;
          justify-content: flex-end;
          margin: 1rem 0;
          align-items: center;
        }
        .redeem-container button {
          height: 45px;
        }
        .atc-state__close {
          color: rgba(255, 255, 255, 0.75);
          cursor: pointer;
          position: absolute;
          right: 35px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        [class^="icon-"], [class*=" icon-"] {
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        .icon-cross:before {
            content: "\e90d";
        }
        @media screen and (min-width: 768px) {
          .atc-state h2 {
              font-size: 18px;
            }
          }

        @media screen and (max-width: 767px) {
          .atc-state h2 {
              padding: 0 3rem 0 1rem;
          }
        }
    </style>
    <title>{{ shop.name }} - {{ page_title }}</title>
    {{ content_for_header }}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5BSJHR6');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BSJHR6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->




<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

  <script src="//connect.nosto.com/include/shopify-12210120" async></script>
  <script type="text/javascript">
    setTimeout(function() { $('div.wrap').css('opacity', '1') }, 1500)
  </script>


</head>
  <body>



    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content myback" data-content>
      <div class="wrap" style="opacity: 0">
        <div class="main rightside" role="main">
          <div class="main__header">
            <div style="pointer-events: none;"> {{ content_for_logo }} </div>
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>

          <div class="additional mobile-only">
              <p>Please Contact Customer  Service For Any Issues<br />You May Have When Placing An Order</p>

              <ul class="list--reset additional__icons">
                  <li>
                      <img src="{{ 'lock-black.png' | asset_url }}" alt="Secure Checkout" />
                      <span>Secure<br />Checkout</span>
                  </li>
                  <li>
                      <img src="{{ 'gift-box.svg' | asset_url }}" alt="Gift Box" />
                      <span>Discreet<br />Shipping</span>
                  </li>
                  <li>
                      <img src="{{ 'discreet-billing.svg' | asset_url }}" alt="Gift Box" />
                      <span>Discreet<br />Billing</span>
                  </li>
                  <li>
                      <img src="{{ 'gift.svg' | asset_url }}" alt="Free Gift" />
                      <span>Free<br />Gift</span>
                  </li>
              </ul>

              <ul class="list--reset additional__contacts desktop-only">
                  <li><a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}" title="Call HUSTLER Hollywood Customer Care">
                         {{ shop.metafields.accentuate.shop_by_phone_number }}
                       </a></li>
                  <li>{{ shop.metafields.accentuate.shop_by_phone_hours }}</li>
                <li><a href="mailto:customercare@hustlerhollywood.com" title="Email Hustler Hollywood Customer Care" target="_blank">customercare@hustlerhollywood.com</a></li>
              </ul>

              <ul class="list--reset additional__contacts mobile-only">
                  <li><a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}" title="Call HUSTLER Hollywood Customer Care">
                         {{ shop.metafields.accentuate.shop_by_phone_number }}
                       </a></li>
                  <li>{{ shop.metafields.accentuate.shop_by_phone_hours }}</li>
                  <li><a href="mailto:customercare@hustlerhollywood.com" target="_blank" title="Email Hustler Hollywood Customer Care">customercare@hustlerhollywood.com</a></li>
              </ul>

              <img src="{{ 'credit-cards3.png' | asset_url }}" alt="Credit Cards" class="additional__cc" />
          </div>

          <div class="main__footer">
            {{ content_for_footer }}

            </ul>

          </div>


        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content" id="gc-area">
            {{ content_for_order_summary }}
          </div>
          {% comment %}<div id="annex-root">
          </div>{% endcomment %}
          <div class="additional desktop-only">
              <p>Please Contact Customer  Service For Any Issues<br />You May Have When Placing An Order</p>

              <ul class="list--reset additional__icons">
                  <li>
                      <img src="{{ 'lock-black.png' | asset_url }}" alt="Secure Checkout" />
                      <span>Secure<br />Checkout</span>
                  </li>
                  <li>
                      <img src="{{ 'gift-box.svg' | asset_url }}" alt="Gift Box" />
                      <span>Discreet<br />Shipping</span>
                  </li>
                  <li>
                      <img src="{{ 'discreet-billing.svg' | asset_url }}" alt="Discreet Billing" />
                      <span>Discreet<br />Billing</span>
                  </li>
                  <li>
                      <img src="{{ 'gift.svg' | asset_url }}" alt="Free Gift" />
                      <span>Free<br />Gift</span>
                  </li>
              </ul>

              <ul class="list--reset additional__contacts desktop-only">
                <li>
                 <a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}" title="Call HUSTLER Hollywood Customer Care">
                         {{ shop.metafields.accentuate.shop_by_phone_number }}
                       </a>
                </li>
                  <li>{{ shop.metafields.accentuate.shop_by_phone_hours }}</li>
                <li><a href="mailto:customercare@hustlerhollywood.com" title="Email Hustler Hollywood Customer Care" target="_blank">customercare@hustlerhollywood.com</a></li>
              </ul>

              <ul class="list--reset additional__contacts mobile-only">
                  <li> <a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}" title="Call HUSTLER Hollywood Customer Care">
                         <i class="fas fa-phone-alt"></i> {{ shop.metafields.accentuate.shop_by_phone_number }}
                       </a></li>
                  <li>{{ shop.metafields.accentuate.shop_by_phone_hours }}</li>
                  <li><a href="mailto:customercare@hustlerhollywood.com" title="Email Hustler Hollywood Customer Care" target="_blank">customercare@hustlerhollywood.com</a></li>
              </ul>

              <img src="{{ 'credit-cards3.png' | asset_url }}" alt="Credit Cards" class="additional__cc" />
          </div>

        </div>
        </div>
      </div>
    </div>
   <section id="annex-error-message" class="atc-state">
    <div class="container">
      <div class="atc-state__cnt"><h2 class="atc-state__desc"></h2></div>
    </div>
    <span class="atc-state__close icon-cross"></span>
  </section>

  <div class="modal-backdrop login-modal" data-modal-backdrop="">
    <div class="modal default-background" role="dialog" aria-labelledby="modal-title" tabindex="-1">
      <div class="modal__header">

        <div class="modal__close">
          <button type="button" class="modal__close-button" data-modal-close="" aria-label="Close">
            <svg focusable="false" class="icon-svg icon-svg--size-18 icon-svg--block">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="modal__content">
        <h2 class="text-center d-block">Login To Your Account</h2><br/>
         <div class="login-signup-fields">

      <form action="/account/login" method="post">
      <input type="hidden" name="return_to" value="/checkout" />

        <input type="email" value="" name="customer[email]" id="customer_email" class="text form-control" placeholder="Email" />

      <input type="password" value="" name="customer[password]" id="customer_password" class="text form-control" placeholder="Password"/>
          <button type="submit" class="button btn btn--square btn--accent">{{ 'customer.login.sign_in' | t }}</button>
           </form>
        </div>



      <!-- <div class="small modal-footer"><a href="#" class="show-signup-modal">Need Account? Sign Up</a></div> -->

       </div>
    </div>
  </div>


      <div class="modal-backdrop signup-modal" data-modal-backdrop="">
    <div class="modal default-background" role="dialog" aria-labelledby="modal-title" tabindex="-1">
      <div class="modal__header">

        <div class="modal__close">
          <button type="button" class="modal__close-button" data-modal-close="" aria-label="Close">
            <svg focusable="false" class="icon-svg icon-svg--size-18 icon-svg--block">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="modal__content">
        <h2 class="text-center d-block">Create An Account</h2><br/>
         <div class="login-signup-fields">

          <form method="post" action="/account" id="create_customer" accept-charset="UTF-8" _lpchecked="1">

                    <input type="text" value="" name="customer[first_name]"  placeholder="First Name" class="form-control half-width">
                    <input type="text" value="" name="customer[last_name]" placeholder="Last Name" class="form-control half-width">
                    <input type="email" value="" name="customer[email]"  placeholder="Email" class="form-control half-width">
                    <input type="password" value="" name="customer[password]"  placeholder="Password" class="form-control half-width">
                    <button type="submit" class="button btn btn--square btn--accent"> Register</button>
                </form>
        </div>



        <div class="small modal-footer" ><a href="#" class="show-login-modal">Have an account? Login</a></div>

       </div>
    </div>
  </div>



<script>
   $(document).on('click', '#login-link, .show-login-modal', function() {
     $('.modal-backdrop').removeClass('modal-backdrop--is-visible');
      $('.login-modal').addClass('modal-backdrop--is-visible');
      });
$(document).on('click', '.show-signup-modal', function() {
  $('.modal-backdrop').removeClass('modal-backdrop--is-visible');
      $('.signup-modal').addClass('modal-backdrop--is-visible');
      });

</script>

  <div class="modal-backdrop prop65-modal" data-modal-backdrop="">
    <div class="modal default-background" role="dialog" aria-labelledby="modal-title" tabindex="-1">
      <div class="modal__header">
        <h2 class="modal__header__title heading-1" id="modal-title">Prop 65</h2>
        <div class="modal__close">
          <button type="button" class="modal__close-button" data-modal-close="" aria-label="Close">
            <svg focusable="false" class="icon-svg icon-svg--size-18 icon-svg--block">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="modal__content">
        <h2 style="text-align: center;"><strong>California Safe Drinking Water &amp; Toxic Enforcement Act of 1986</strong></h2>
        <h2 style="text-align: center;">(Proposition 65)</h2>
        <p>&nbsp;</p>
        <div style="text-align: center;"></div>
        <p style="text-align: center;">To meet the requirements of Proposition 65, it is our responsibility to inform you of the following:</p>
        <h1 style="text-align: center;"><span style="color: #ff0000;">WARNING</span></h1>
        <h3 style="text-align: center;">Some products sold in this store and on this website contain chemicals known to the State of California to cause cancer, birth defects or other reproductive harm.</h3>
      </div>
    </div>
  </div>
    <script>

      $(document).on('click', '.prop65', function() {
      $('.prop65-modal').addClass('modal-backdrop--is-visible');
      });

      $(document).on('click', '.modal__close', function() {
      $('.modal-backdrop').removeClass('modal-backdrop--is-visible');
      });

      $(document).ready(function(){
        if ($('.prop65').length == 0) {
          var prop65 = '<li class="policy-list__item prop65"><a class="link"  href="javascript:void(0);" title="Prop 65">Prop 65</a></li>';
          $('.policy-list').append(prop65);
        }

      });
    </script>

    <script type="text/javascript">
    $(document).on(`page:load page:change`, function() {
      const totalPrice = Number($('.total-line__price .payment-due__price').attr('data-checkout-payment-due-target'))
      if (totalPrice > 14000) {
        $('.radio-wrapper.content-box__row[data-select-gateway="40281899043"]').hide()
      } else {
        $('.radio-wrapper.content-box__row[data-select-gateway="37943967779"]').hide()
      }
    });
</script>

    <script type="text/javascript">
      // MODALS:
      $(document).ready(function(){
        $(".order-summary__section.order-summary__section--discount").prepend(`
          <div class="gc-modal-link">
            <a data-fancybox="gallery" href="https://cdn.shopify.com/s/files/1/1221/0120/files/gift_card_info.jpg?v=1588884371">Redeem In-Store Gift Cards</a>
          </div>
        `)
        $("select[data-trekkie-id='shipping_address_field']").change(function(e) {
          $("form.edit_checkout .field").removeClass("field--error");
        })
      })

    </script>

    <style>
        .gc-modal-link {
          margin: 10px 0;
        }
        .modal.checkout--modal {
          visibility: visible;
        }
        .checkout--modal .field__input {
           border-color:#d9d9d9;
           padding: 1rem .75rem !important;
        }
        .checkout--modal .btn {
          margin: 10px 7.5px 0;
          padding: 1rem 1.5rem;
        }
        .checkout--modal ul li {
          color: #d50032;
          padding: 7.5px;
        }
        @font-face {
          font-family: "icomoon";
          font-style: normal;
          font-weight: 400;
          src: url('{{ "../assets/icomoon.eot" | asset_url }}');
          src: url('{{ "../assets/icomoon.eot" | asset_url }}?#iefix') format("embedded-opentype"), url('{{ "../assets/icomoon.woff" | asset_url }}') format("woff"), url('{{ "../assets/icomoon.ttf" | asset_url }}') format("truetype"), url('{{ "../assets/icomoon.svg" | asset_url }}') format("svg");
          //font-display: swap;
        }
        .rewards-text {
          border-top: 1px solid rgba(175,175,175,0.34);
          padding-top: 1.75rem;
          padding-bottom: 1.75rem;
          text-align: center;
          color: #d60132;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
        }
        .annex-container {
          display: flex;
          padding-top: 1rem;
        }
        .annex-rewards-container {
          max-height: 300px;
          overflow-y: scroll;
        }
        .annex-reward {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 6em 6em;
          border-top: 1px solid rgba(175,175,175,0.34);
          padding: 1.5em 0;
          align-content: center;
        }
        .reward-field {
          padding: 0;
          float: none;
        }
        .reward-field #reward {
          padding-right: 3em;
        }
      .annex-login {
        background: url('https://cdn.shopify.com/s/files/1/1221/0120/files/loyaltybg.png') no-repeat top right #fff;
        background-size: 45% auto;
        border-radius: 0.45rem;
        padding: 1.5rem;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06);
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06);
        transition: all 0.4s linear;

      }
      .annex-login:hover {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.17);
box-shadow: 0 2px 5px 0 rgba(0,0,0,0.17);
      }
      .annex-login .subtitle {
        text-transform: uppercase;
        color: #999999;
        font-family: var(--hh-labelfont);
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.095em;
      }
      .annex-login .title {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        margin: 0.35rem auto;
      }
      .annex-login .title .red {
        color:#d60132;
          }
      .annex-login .desc {
        display: block;
        padding-right: 23%;
        line-height: 1.3;
        font-size: 95%;
      }
      .annex-login .desc strong {
        color: #000;
      }
      .annex-login .annex-btns {
        margin-top: 0.5rem;
        align-items: center;
        max-width: 220px;
      }
      .annex-login .annex-btns .sep {
        margin: 0px 0.24rem;
      }
      .annex-login .annex-btns a {
        font-weight: 600;
        width: 100%;
        margin-bottom: .4rem;
      }
      .annex-login .btn-sm {
        padding: 0.4em 0.96em;

      }
        .login-modal .modal, .signup-modal .modal {
        width: 100%;
        max-width: 450px;
      }
       .signup-modal .modal  {
         max-width: 600px;
       }
       .login-modal .modal .modal__header, .signup-modal .modal .modal__header {
         font-size: 10px;
         padding: 15px;
       }
      .modal .modal__close {
        text-align: right;
      }
      .login-modal .modal .modal__content, .signup-modal .modal .modal__content {
        padding: 1rem;
        background: #f9f9f9;
        border-radius: 0px 0px 5px 5px;
      }
      .text-center {
        text-align: center;
      }
      .d-block {
        display: block;
      }
      .login-signup-fields {

      }
      .login-signup-fields form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      .login-signup-fields input.form-control  {
       width: 85%;
        margin: 0px auto 0.3rem;
       background: #fff;
        border: 1px solid #d5d5d5;
        height: 40px;
        padding: 0px 15px;
        border-radius: 5px;
        display: block;
      }
      @media all and (min-width: 500px) {
      .login-signup-fields input.form-control.half-width {
        width: 43%;
      }
      }
      .login-signup-fields [type="submit"] {
        display: block;
        margin: 0.4rem auto;
        width: 94%;
        padding: 0.72em 1em;
      }
        @media screen and (max-width: 1000px) {
          .annex-element {
            padding: 1em 1.5em;
          }
        }
        .reward-text, .reward-point {
          padding: 0 .5em;
        }
        .atc-state {
          position: fixed;
          z-index: 9999999;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
          padding: 10px;
          opacity: 0;
          visibility: hidden;
          -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          transform: translateY(-100%);
          -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
          transition: opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
          -o-transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
          transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
          transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.35s ease-in-out;
        }

        .atc-state--active {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
        .atc-state--error {
          background-color: #D50032;
        }
        .atc-state--success {
          background-color:#000;
        }

        .atc-state h2 {
          color: #FFFFFF;
          font-size: 14px;
          font-size: 1.4rem;
          font-weight: 500;
          margin-bottom: 0;
          padding: 0 5rem;
        }
        .redeem-container {
          display: flex;
          justify-content: flex-end;
          margin: 1rem 0;
          align-items: center;
        }
        .redeem-container button {
          height: 45px;
        }
        .atc-state__close {
          color: rgba(255, 255, 255, 0.75);
          cursor: pointer;
          position: absolute;
          right: 35px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        [class^="icon-"], [class*=" icon-"] {
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        .icon-cross:before {
            content: "\e90d";
        }
        @media screen and (min-width: 768px) {
          .atc-state h2 {
              font-size: 18px;
          }
        }
        @media screen and (max-width: 767px) {
          .atc-state h2 {
              padding: 0 3rem 0 1rem;
          }

          .annex-btns .btn-sm {
            margin-bottom: 0.75rem;
          }

        }
    </style>

    {% comment %}<script type="text/javascript">
      let cust_email = "{{ customer.email }}";
      let cust_id = "{{ customer.id }}";
      async function loadRewards(email) {
        fetch('https://hustler.conspireagency.com/loyalty/api/rewards', { // https://hustler.conspireagency.com/loyalty
          method: 'POST',
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            email
          })
        })
          .then(res => res.json())
          .then(res => {
            let rewardHTML = '';
            if (res.data) {
              const rewardInfo = res.data.rewards;
              if (rewardInfo && rewardInfo.length) {
                const sortedRewardInfo = rewardInfo.sort((a,b) => {
                  return Number(a.earned_points_required) - Number(b.earned_points_required)
                })
                let rewards = ''
                for (let i = 0; i < sortedRewardInfo.length; i++) {
                  let reward = sortedRewardInfo[i];
                  rewards += `
                    <option value=${i}>${reward.reward_name} - ${reward.earned_points_required} points</option>
                  `
                }
                rewardHTML = `
                  <div class="annex-element">
                    <p style="font-weight:700; font-size: 16px">HUSTLER Hollywood Pleasure Rewards</p>
                    <p style="font-weight:700; font-size: 16px; margin-top:0; margin-bottom:1em">Redeem your rewards - One reward per transaction</p>
                    <div class="field field--show-floating-label reward-field">
                      <div class="field__input-wrapper field__input-wrapper--select">
                        <label class="field__label field__label--visible" for="reward">Reward</label>
                        <select placeholder="Reward" autocomplete="shipping country" class="field__input field__input--select" id="reward">
                          <option disabled>Reward</option>
                          ${rewards}
                        </select>
                        <div class="field__caret">
                          <svg class="icon-svg icon-svg--color-adaptive-lighter icon-svg--size-10 field__caret-svg" aria-hidden="true" focusable="false"> <use xlink:href="#caret-down"></use> </svg>
                        </div>
                      </div>
                    </div>
                    <div class="redeem-container">
                      <p>${res.data.points.replace('.00', '')} points remaining</p>
                      <div class="reward-redeem">
                        <button
                          class="field__input-btn
                                 btn
                                 reward-btn"
                        >
                          Redeem
                        </button>
                      </div>
                    </div>
                  </div>
                `
              } else {
                rewardHTML = `
                  <div class="annex-element">
                    <p style="text-align:center; font-weight:700">Available rewards have not been found yet.</p>
                  </div>
                `
              }
            } else {
              rewardHTML = `
                  <div class="annex-element">
                    <p style="text-align:center; font-weight:700">Available rewards have not been found yet.</p>
                  </div>
                `
            }
            $('#annex-root').append(`<div class="rewards-text">Earn ${Number("{{ checkout.line_items_subtotal_price | divided_by: 100 }}")} points with your purchase!</div>`);
            $('#annex-root').append(rewardHTML);
            if (res.data) {
              if (res.data.rewards && res.data.rewards.length) {
                const rewardBtn = document.querySelector(".reward-btn");
                const sortedRewards = res.data.rewards.sort((a,b) => {
                  return Number(a.earned_points_required) - Number(b.earned_points_required)
                })
                rewardBtn.addEventListener('click', (e) => {
                  rewardBtn.classList.add("btn--disabled");
                  return redeemReward(sortedRewards, $('#reward').val());
                });
              }
            }
          })
      }
      async function redeemReward(rewards, i) {
        if (rewards[i].eligible === "NO") return;
        fetch('https://hustler.conspireagency.com/loyalty/api/redeem', {
          method: 'POST',
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            cust_email,
            cust_id,
            reward: rewards[i]
          })
        })
          .then(res => res.json())
          .then(res => {
            if (Number(res.error_code)) {
              $("#annex-error-message").addClass("atc-state--active")
              $("#annex-error-message").addClass("atc-state--error")
              $("#annex-error-message").removeClass("atc-state--success");
              $("#annex-error-message .atc-state__desc").html(res.description);
              $('#reward').removeClass("btn--disabled");
              window.scroll(0,0);
              setTimeout(function () {
                  // Removing error message
                  $("#annex-error-message").removeClass("atc-state--active");
                  $("#annex-error-message").removeClass("atc-state--error");
              }, 50000);
            } else {
              $("#annex-error-message").addClass("atc-state--active")
              $("#annex-error-message").addClass("atc-state--success");
              $("#annex-error-message").removeClass("atc-state--error");
              $("#annex-error-message .atc-state__desc").html("Reward successfully redeemed. Check your email for the reward code, or click 'Apply' to add it to your order now!");
              $("#gc-area").find(".field__input").val(res.data.code.toUpperCase());
              $("#gc-area").find(".btn").removeClass("btn--disabled");
              $("#gc-area").find(".btn").removeAttr("disabled");
              if (window.innerWidth < 1001) {
                $('.order-summary-toggle--show').click();
              }
              window.scroll(0,0);
              setTimeout(function () {
                  // Removing error message
                  $("#annex-error-message").removeClass("atc-state--active");
                  $("#annex-error-message").removeClass("atc-state--success");
              }, 50000);
              $('#annex-root').empty();
              loadRewards(cust_email);
            }
          })
      }
      function closeError() {
        $("#annex-error-message").removeClass("atc-state--active");
        $("#annex-error-message").removeClass("atc-state--error");
        $("#annex-error-message").removeClass("atc-state--success");
      }
      $(".atc-state__close").click(closeError);
      const isThankYou = window.location.href.includes("thank_you")
      {% if customer.email %}
        $(document).ready(function(){
          if (!isThankYou) {
            loadRewards(cust_email)
          }
        });
      {% else %}
        $(document).ready(function(){
          const annexElement = `
           <div class="annex-element">
              <div class="annex-login">
                <div class="subtitle">Pleasure Rewards</div>
                <div class="title">Earn <span class="red">{{ checkout.line_items_subtotal_price | divided_by: 100 }} Points</span> on this purchase!</div>
                <div class="desc"><strong>It’s free to join!</strong> Earn pleasure points every time you shop in-store or online with your account.

                <div class="d-flex annex-btns">
                  <a href="#" class="btn btn-primary btn-sm show-login-modal">Log In</a>  <span class="sep">-or-</span> <a href="#" class="strong show-signup-modal">Create New Account</a>
                </div>
              </div>
            </div>
          `
          if (!isThankYou) {
            $('#annex-root').append(annexElement);
          }
        });
      {% endif %}
    </script>{% endcomment %}


    <script type="text/javascript">

      $('.section--contact-information .layout-flex--wrap p.layout-flex__item').html('Already have an account? <a href="#" class="show-login-modal">Login</a>');
    function applyFedexStyle(name) {
       var $fedexRow =  $('span[data-shipping-method-label-title="'+name+'"]').parents('.content-box__row');
          var $fedexText = $('span[data-shipping-method-label-title="'+name+'"]');
          $fedexText.find('sup').insertAfter;
                  // remove any stars that may've been added in previou step
                  $fedexRow.find('.shipping-rec-badge').remove();
          $('<div class="shipping-rec-badge"><i class="fas fa-star"></i> Recommended</div>').insertBefore( 'span[data-shipping-method-label-title="'+name+'"] br');
          $fedexRow.addClass('highlight-fedex');
          $fedexRow.append('<ul class="shipping-highlights">'
                           +'<strong>Enjoy fast, accurate & private shipping for peace of mind.</strong>'
                           +'<li>Reliable & fast delieveries with accurate tracking*</li>'
                           +'<li>Private home drop-offs with option to schedule through Fedex</li>'
                           +'</ul>');
      }

      function applyUspsStyle(name) {
        var $uspsRow = $('span[data-shipping-method-label-title="'+name+'"]').parents('.content-box__row');
          var $uspsDate = $uspsRow.find('.small-text').text();
          var $uspsStartDate = parseInt($uspsDate);
          var $uspsEndDate = parseInt($uspsStartDate) + 2;

          $uspsRow.find('.small-text').text($uspsStartDate+'-'+$uspsEndDate+' business days');
          $('fieldset[data-shipping-methods]').append($uspsRow);

      }

      function undoShippingStyle() {
        $('p.shipping-note').remove();
        $('.covid-note').remove();
        $('.shipping-rec-badge').remove();
        $('.shipping-highlights').remove();
      }
    // add shipping note
      $(function() {
        uspsCheck = false;
        fedexCheck = false;
        shippingChecked = false;
        undoShippingStyle();
        // if (Shopify.Checkout.step == 'contact_information'){
        $(".section--shipping-method .section__header").append( "<p class=\"shipping-note\">Please note: USPS delivery times are not guaranteed.</p>" );
        //$(".content-box__row").eq(1).append( "<p class=\"recommended-note\">Recommended</p>" );
         if (Shopify.Checkout.step == 'shipping_method') {
            $.when(applyShippingRec()).done(function() {
             $(document).find('.section--shipping-method').find('.content-box__row').first().find('.radio__label').trigger('click');

              /*********** no longer needed, no route
               $('#order-summary').bind('DOMSubtreeModified', function(){
       //  location.reload(true);
                 undoShippingStyle();
        if (!routecheck) {
       uspsCheck = false;
        fedexCheck = false;
        shippingChecked = false;
        // if (Shopify.Checkout.step == 'contact_information'){
        $(".section--shipping-method .section__header").append( "<p class=\"shipping-note\">Please note: USPS delivery times are not guaranteed.</p>" );
        //$(".content-box__row").eq(1).append( "<p class=\"recommended-note\">Recommended</p>" );
            $.when(applyShippingRec()).done(function() {
            // $(document).find('.section--shipping-method').find('.content-box__row').first().find('.radio__label').trigger('click');

           return false;
              uspsCheck = true;
        fedexCheck = true;
         shippingChecked = true;
          routecheck = true;
        })
        }

      });
              *********/

          });
            $('#continue_button .btn')
           return false;
         }
        });

        routecheck = false;


        $(document).on(`page:load page:change`, function() {
          $.when(applyShippingRec()).done(function() {
            $(document).find('.section--shipping-method').find('.content-box__row').first().find('.radio__label').trigger('click');
          });
        });
      function applyShippingRec() {
        if (!shippingChecked) {
        if ($('body').find('[name="checkout[shipping_rate][id]"]').length == false ) {
          setTimeout(applyShippingRec, 2000);
          //return false;
        }  else {
          // apply star to all fedex first
              $('span[data-shipping-method-label-title]').each(function() {
            var thislabel = $(this).attr('data-shipping-method-label-title');

            if (thislabel.toLowerCase().indexOf("fedex") >= 0) {
              var thisparent = $(this).parents('.content-box__row');
              $('<div class="shipping-rec-badge star-only"><i class="fas fa-star"></i></div>').insertBefore( 'span[data-shipping-method-label-title="'+thislabel+'"] br');

            }
          });

          if ( $('span[data-shipping-method-label-title="FedEx Ground® Home Delivery"]').length) {

          applyFedexStyle('FedEx Ground® Home Delivery');
          fedexCheck = true;
        } else if ( $('span[data-shipping-method-label-title="FedEx 2Day®"]').length) {
          applyFedexStyle('FedEx 2Day®');
          fedexCheck = true;
        } else if ( $('span[data-shipping-method-label-title="FedEx Standard Overnight®"]').length) {
          applyFedexStyle('FedEx Standard Overnight®');
          fedexCheck = true;
        }

        if ( $('span[data-shipping-method-label-title="Priority Mail"]').length) {
         applyUspsStyle('Priority Mail');
          uspsCheck = true;
        }
           if ( $('span[data-shipping-method-label-title="First Class Mail"]').length) {
 applyUspsStyle('First Class Mail')
          uspsCheck = true;
        }
          $('<div class="covid-note">* Due to COVID impact, all carriers may experience some shipping delays</div>').insertAfter('fieldset[data-shipping-methods]');

          shippingChecked = true;
      }

        }
      }
      const params = new URLSearchParams(window.location.search);
      $(document).ready(function() {
        if (params.get('step') === 'payment_method') {
          $('.main.rightside .additional.mobile-only').prepend(`<p style="margin-bottom: 1rem">If the above button appears stuck after PayPal checkout, please refresh the page</p>`)
        } else if (params.get('step') === 'contact_information') {
          $('#continue_button span').html("Proceed to shipping")
        }
      })
      var getUrlParameter = function getUrlParameter(sParam) {
          var sPageURL = decodeURIComponent(window.location.search.substring(1)),
              sURLVariables = sPageURL.split('&'),
              sParameterName,
              i;

          for (i = 0; i < sURLVariables.length; i++) {
              sParameterName = sURLVariables[i].split('=');

              if (sParameterName[0] === sParam) {
                  return sParameterName[1] === undefined ? true : sParameterName[1];
              }
          }
      };
    </script>

    


    {% if shop.metafields.accentuate.cms != "production" %}
      <script data-cfasync="false">window.ju_num="A4CE8431-0AE3-48E0-8147-35B45660D25F";window.asset_host='//cdn.justuno.com/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>
    {% endif %}

    {{ tracking_code }}


    {{ checkout_scripts }}
    <script async src="https://cdn.tangiblee.com/analytics/1.0/managed/www.hustlerhollywood.com/revision_1/variation_original/ta-bundle.min.js"></script>
    <script type="text/javascript">
    </script>
    <div class="nosto_page_type" style="display:none">other</div>

  </body>

</html>
