<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en-us"> <!--<![endif]-->
<head>

<!-- Start styles in <head> -->
  <style>
    :root {
      /*================ Font Variables =================*/
      --hh-bodyfont: 'Gotham Narrow', sans-serif;
      --hh-labelfont: 'Gotham', sans-serif;
      --hh-titlefont: 'Gotham Narrow', sans-serif;

      /*================ Color Variables ================*/
      --hh-black: #161616;
      --hh-lgray: #e2e2e2;
      --hh-dgray: #3e3e3e;
      --hh-red: #d60132;
      --hh-discount: #EA601C;
    }
    .lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity 300ms}
  </style>

  {% if request.page_type == "index" %}
    {% render 'critical-css-index' %}
  {% else %}

    {% if request.page_type == "product" %}
      <link href="{{ 'product.css' | asset_url }}" rel="stylesheet">
    {% endif %}
    {% if request.page_type == "collection" or request.page_type == "search"  %}
      <link href="{{ 'collection.css' | asset_url }}" rel="stylesheet">
    {% endif %}
    {%- if request.page_type == "blog" or request.page_type == "article" -%}
      <link href="{{ 'blog.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
    {%- if request.page_type contains "customers" -%}
      <link href="{{ 'account.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
    {%- if request.page_type == "cart" -%}
      <link href="{{ 'cart.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
    {%- if page.template_suffix == "store" or page.template_suffix == "stores" -%}
      <link href="{{ 'stores.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
    {%- if template == "page" or template == "page.contact" or template == "404" -%}
      <link href="{{ 'page.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}

    <link href="{{ 'webfonts.scss.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'flickity.scss.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'bootstrap.scss.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet">

    {%- if request.page_type == "index" or template contains "collection.for" -%}
      <!-- Quick view CSS Code -->
      <!-- Make sure this fancybox .css file is included BEFORE the fancybox .js file -->
      <link href="{{ 'jquery.fancybox.min.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
    {%- if request.page_type == "product" -%}
      <link href="{{ 'fancybox-product.min.css' | asset_url }}" rel="stylesheet">
    {%- endif -%}
    
    <link href="{{ 'jquery.modal.min.css' | asset_url }}" rel="stylesheet">

  {% endif %}
<!-- End styles in <head> -->

<!-- Start scripts in <head> before content_for_header -->
  {{ 'jquery.min.js' | asset_url | script_tag }}

  {% include 'lazyloading-images' %}

  {%- if settings.ss_enable -%}
    {%- include 'ss-script' -%}
  {%- endif -%} 
  
  <script defer src="{{ 'cart.min.js' | asset_url }}"></script>
  <script defer src="{{ 'theme.min.js'  | asset_url }}"></script>
  
  {%- if request.page_type contains "customers" -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    <script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
    <script src="{{ 'customer_area.js'  | shopify_asset_url }}"></script>
    <script defer src="{{ 'account.min.js'  | asset_url }}"></script>
    <script type="text/javascript">
      window.template = "{{ template.name }}";
    </script>
  {%- else -%}
    <script src="{{ 'option_selection.js' | shopify_asset_url }}"></script>
  {%- endif -%}

  {%- if template contains "blog" or template contains "article" -%}
    <script defer src="{{ 'blog.min.js'  | asset_url }}"></script>
  {%- endif -%}
  {%- if template contains "product" -%}
    <script defer src="{{ 'product.js'  | asset_url }}"></script>
  {%- endif -%}
  {%- if template contains "collection" -%}
    <script defer src="{{ 'collection.min.js' | asset_url }}"></script>
  {%- endif -%}
<!-- End scripts in <head> before content_for_header -->

<!-- Start content_for_header -->
  {{ content_for_header }}

  {% comment %}
  {% capture asyncLoadReplace %}"https:\/\/upsells.boldapps.net\/v2_ui\/js\/UpsellTracker.js?shop=hustler-hollywood.myshopify.com","https:\/\/upsells.boldapps.net\/v2_ui\/js\/upsell.js?shop=hustler-hollywood.myshopify.com","https:\/\/container.pepperjam.com\/2447164126.js?shop=hustler-hollywood.myshopify.com","https:\/\/connect.nosto.com\/script\/shopify\/nosto.js?merchant=shopify-12210120\u0026shop=hustler-hollywood.myshopify.com","\/\/app.backinstock.org\/widget\/6177_1589232566.js?v=6\u0026shop=hustler-hollywood.myshopify.com"{% endcapture %}

  {% capture nostoReplace %}"https:\/\/connect.nosto.com\/script\/shopify\/nosto.js?merchant=shopify-12210120\u0026shop=hustler-hollywood.myshopify.com",{% endcapture %}

  {{ content_for_header | replace: nostoReplace, '' }}
  {% endcomment %}
<!-- End content_for_header -->


<!-- Start scripts in <head> after content_for_header -->
  <!-- Start snippet 'bold-common' -->
  <!-- bold-common needs to be loaded immediately after content_for_header -->
  {%- render 'bold-common' -%}
  <!-- End snippet 'bold-common' -->

  <script async src="{{ 'font-awesome.min.js' | asset_url }}"></script>
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js"></script>

  <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js"></script>
  <!-- Start Nosto code snippet 'nosto-script' -->
  {% include 'nosto-script' with 'shopify-12210120' %}
  <!-- End Nosto code snippet 'nosto-script' -->
<!-- End scripts in <head> after content_for_header -->


<!-- Start Meta tags -->
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  {%- if current_page > 1  -%}
    <meta name="robots" content="noindex">
  {%- elsif search.performed -%}
    <meta name="robots" content="noindex">
  {%- elsif current_tags -%}
    <meta name="robots" content="noindex">
  {%- endif -%}
  <meta name="ahrefs-site-verification" content="d0b87b5ed3101bf1b11dec85a844bddcf6bc7cd2007f82a655a39a3248f044b0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="google-site-verification" content="PPKfiKM0XS6zPRg_t7hTagCqhYOEU3VCp_KEDBSdya0" />
  <meta name="google-site-verification" content="2h550pggxpKD6qXEM6TlicVoZsDV6gQ3NERUEJbAm-E" />
  <meta name="google-site-verification" content="_FOTzyMpnhpGJsMbCJMCiU1H5uRhl8W43ws1QlkUm2w" />
  <meta name="og:country-name" content="USA"/>
  <meta property="og:locale" content="en_US" />
  <meta name="geo.region" content="US" />
  <meta name="geo.position" content="39.78373;-100.445882" />
  <meta name="ICBM" content="39.78373, -100.445882" />
  {% include 'meta-tags' %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- if template contains 'collection.sex-toys' -%}
    <link rel="canonical" href="https://hustlerhollywood.com/collections/sex-toys" />
  {%- endif -%}
  <!-- Start SchemaAPP Liquid -->
  {% if template.name == 'product'%}
    {% assign schema_app_markup = product.metafields.schemaapp.schema %} 
  {% elsif template.name == 'collection' %}
    {% assign schema_app_markup = collection.metafields.schemaapp.schema %}
  {% elsif template.name == 'article' %}
    {% assign schema_app_markup =  article.metafields.schemaapp.schema %}
  {% elsif template.name == 'blog' %}
    {% assign schema_app_markup = blog.metafields.schemaapp.schema %}
  {% elsif template.name == 'page' %}
    {% assign schema_app_markup = page.metafields.schemaapp.schema %}
  {% elsif template.name == 'index' %}
    {% assign schema_app_markup =  shop.metafields.schemaapp.schema %}
  {% endif %}

  {% if schema_app_markup %}
    <script type="application/ld+json">
      {{ schema_app_markup }}
    </script>
  {% endif %}
  <!-- End SchemaAPP Liquid -->
<!-- End Meta tags -->
</head>
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', '-'  }}{% if template == 'search' %} template-collection{% endif %}">

  {% comment %} HEADER {% endcomment %}
  <header role="banner" class="header">
    <!-- Start section 'header' -->
    {% section 'header' %}
    <!-- End section 'header' -->
    <div class="bottom-bar position-static-inside position-static w-100">
      <div class="container bottom-bar__container">
        <div class="row no-gutters bottom-bar__row px-0">
          <!-- Start snippet 'mainmenu-bottombar-compiled' -->
          {% include 'mainmenu-bottombar-compiled' %}
          <!-- End snippet 'mainmenu-bottombar-compiled' -->
        </div>
      </div>
    </div>
  </header>
  {% comment %} END HEADER {% endcomment %}
  
  <!-- Start Add To Cart State Message -->
  <section class="atc-state">
    <div class="container">
      <div class="atc-state__cnt">
      </div>
    </div>
    <span class="atc-state__close icon-cross"></span>
  </section>
  <!-- End Add To Cart State Message -->
  
  <!-- Start Mini Cart Widget snippet 'content-cart-mini' -->
  {% include 'content-cart-mini' %}
  <!-- End Mini Cart Widget snippet 'content-cart-mini' -->
  
  <main id="main" role="main">
    {% comment %}}
      We have a template file to render.
      That's what content_for_layout is for.
      {{ content_for_layout | replace: ' <', '<br><'}}
    {% endcomment %}
    
    {{ content_for_layout }}
  </main>

  <!-- Start section 'footer' -->
  {% section 'footer' %}
  <!-- End section 'footer' -->

  <!-- Start snippet '//mainmenu-mobile-compiled888' -->
  <!-- Start snippet 'mainmenu-mobile' -->
  {% include 'mainmenu-mobile-compiled' %}
  <!-- End snippet 'mainmenu-mobile' -->
  <!-- End snippet '//mainmenu-mobile-compiled888' -->

  <!-- Start scripts in <body> -->
  {% include 'lazyloading-youtube' %}
  <!-- <script defer src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script> -->

  <!-- Initialise Cart.js once the page has loaded -->
  <script type="text/javascript">
    (function() {
      CartJS.init({{ cart | json }}, {
        "dataAPI": true,
        "requestBodyClass": "cart-loading"
      });
      {%- if template == "index" -%}
      quickShop.init();
      {%- endif -%}
    });
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5BSJHR6');</script>
  <!-- End Google Tag Manager -->

  <!-- Global site tag (gtag.js) - Google Ads: 956877489 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-956877489"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());gtag('config', 'AW-956877489');</script>
  <script>
  gtag('event', 'page_view', {
    'send_to': 'AW-956877489',
    'value': 'replace with value',
    'items': [{
      'id': 'replace with value',
      'google_business_vertical': 'retail'
    }]
  });
  </script>

  <div id="custom_fc_button">
    {% comment %}
    <a class="mini-openphone" href="#phoneordermodal" rel="modal:open"><i class="fas fa-phone"></i></a>
    {% endcomment %}
    <a id="open_fc_widget" onClick="openWidget()" style="cursor: pointer;">
      <picture>
        <source media="(min-width: 767px)" data-srcset="{{ 'hchat_icon.svg' | asset_url }}">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ 'hchat_icon_mobile.svg' | asset_url }}" alt="Chat Icon" style="width:auto;" class="lazyload">
      </picture>
    </a>
    <a id="hide_fc_widget" onClick="hideWidget()" style="cursor: pointer;"><i class="fas fa-times-circle"></i></a>
  </div>

  
  {% comment %}
  {%- if template contains 'collection.for' or template == 'index' -%}
    <script type="text/javascript">
      const runBold = function () {
        window.BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
      }
      setTimeout(runBold, 10000);
    </script>
  {%- elsif template contains 'collection' or template == 'search' -%}
    <script type="text/javascript">
      const runBold = function () {

        window.BOLD.common.Shopify.variants = {};
        {%- if template contains 'collection' -%}
          {%- for product in collection.products -%}
            window.BOLD.common.Shopify.saveProduct({{ product.handle | json }}, {{ product.id | json }});
            {%- for variant in product.variants -%}
              window.BOLD.common.Shopify.saveVariant({{ variant.id | json }}, {product_id: {{ product.id | json }}, price: {{ variant.price | json }} });
            {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if template contains 'search' -%}
          {%- for product in search.results -%}
            window.BOLD.common.Shopify.saveProduct({{ product.handle | json }}, {{ product.id | json }});
            {%- for variant in product.variants -%}
              window.BOLD.common.Shopify.saveVariant({{ variant.id | json }}, {product_id: {{ product.id | json }}, price: {{ variant.price | json }} });
            {%- endfor -%}
          {%- endfor -%}
        {%- endif -%}

        window.BOLD.common.eventEmitter.emit("BOLD_COMMON_cart_loaded");
      }
      window.addEventListener('searchspring.hustlerhollywood.domReady', runBold, false);
    </script>
  {%- endif -%}
  {% endcomment %}


  {%- if request.page_type == "index" or template contains 'collection.for' -%}
    <!-- Start QuickView code -->
      <script defer src="{{ 'quickview.min.js' | asset_url }}"></script>
      <script defer>
        {% capture content %}{% include 'quickview' %}{% endcapture %}
        var content = {{ content | json }};
      </script>

      <script>
        // if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
        //   // true for mobile device
        //   document.write("mobile device");
        // }else{
        //   // false for not mobile device
        //   document.write("not mobile device");
        // }
      </script>
    <!-- End QuickView code -->
  {%- endif -%}

  {%- if request.page_type == "product" -%}
    <!-- used on prod page for the main image zoom/popup -->
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  {%- endif -%}

  <!-- Start Nosto code snippet 'nosto-tagging' -->
  {%- include 'nosto-tagging' -%}
  <!-- End Nosto code snippet 'nosto-tagging' -->

  <!-- Start Yotpo code snippet -->
  {%- if template contains 'product' or 'collection' -%}
    <script type="text/javascript">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/wULFMwJvK36Rz7gHUm5M4rgOgqLUmnzK4nbZr2By/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
    {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
    {%- assign time_now = 'now' | date: '%s' %} {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
    {%- assign diffSeconds = time_now | minus: yotpo_live_time %}
    {%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
    {{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
  {%- endif -%}
  <!-- End Yotpo code snippet -->
<!-- End scripts in <body> -->

  <script defer src="{{ 'slick.min.js'  | asset_url }}"></script>

  <!-- Start snippet 'lazyloading-scripts' -->
  {% include 'lazyloading-scripts' %}
  <!-- End snippet 'lazyloading-scripts' -->
  
<!-- Start styles in <body> -->
  {% if request.page_type == "index" %}
    <link rel="stylesheet" href="{{ 'webfonts.scss.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'flickity.scss.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'bootstrap.scss.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'jquery.modal.min.css' | asset_url }}" media="print" onload="this.media='all'">
  {% endif %}

    
  {%- if request.page_type == "index" or template contains "collection.for" -%}
    <!-- Quick view CSS Code -->
    <!-- Make sure this fancybox .css file is included BEFORE the fancybox .js file -->
    <link rel="stylesheet" href="{{ 'jquery.fancybox.min.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'quickview.scss.css' | asset_url }}" media="print" onload="this.media='all'">
  {%- endif -%}
<!-- End styles in <body> -->


</body>
</html>