html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    color: #{'"{{settings.body_text_color}}"'};
    font-family:#{'"{{ settings.body_font_family}}"'};
    font-weight: #{'"{{ settings.body_font_weight }}"'};
    font-size: #{'"{{ settings.body_font_size }}"'}px;
}

a{
    color: inherit;
    transition: opacity 0.2s ease-in-out;
}
strong{
    font-weight:bold;
}
img{
    height: auto;
    max-width: 100%;
}
p{
    margin-bottom:15px; 
}
h1,h2,h3,h4,h5,h6 {
    margin-top:0;
    line-height: 1.2;
    color: $color-dark;
    font-weight:bold;
    margin-bottom:15px;
}

h1 {
    font-size:33px;
    @include bp(min-md){
        font-size:40px;
    }
    @include bp(min-xxl){
        font-size:55px;
    }
}
h2 {
    font-size:25px;
    @include bp(min-md){
        font-size:27px;
    }
    @include bp(min-xxl){
        font-size:30px;
    }
}
h3 {
    font-size:21px;
    @include bp(min-md){
        font-size:23px;
    }
    @include bp(min-xxl){
        font-size:27px;
    }    
}
h4 {
    font-size:19px;
    @include bp(min-md){
        font-size:21px;
    }
    @include bp(min-xxl){
        font-size:25px;
    }    
}
h5 {
    font-size:17px;
    @include bp(min-md){
        font-size:20px;
    }
    
}
h6 {
    font-size:15px;
}

.hidden{
	display:none;
}

.header-group {
    margin: 60px 0 30px;
    @include bp(min-md){
        margin: 40px 0;
    }
}
h1.page-title {
    font-size: 23px;
    @include bp(min-md){
        font-size: 32px;
    }
}

