.responsive-image{
  &__image{
    width: 100%;
  }
}

.align-top {
  vertical-align: top;
}

.w-100 {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.align-self-stretch {
  align-self: stretch;
}

.container--p-xxl-more {
  @include bp(min-xxl) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.cnt-block {
  margin-bottom: 25px;
  @include bp(min-md) {
    margin-bottom: 50px;
  }
}

.no-col-mob-gutters {
  @include bp(max-sm) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


.p-mob-0 {
  @include bp(max-sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pr-md-10 {
  @include bp(min-md) {
    padding-right: 10px;
  }
}

.pl-md-10 {
  @include bp(min-md) {
    padding-left: 10px;
  }
}

.pr-md-21 {
  @include bp(min-md) {
    padding-right: 21px;
  }
}

.pl-md-21 {
  @include bp(min-md) {
    padding-left: 21px;
  }
}

.pr-lg-105 {
  @include bp(min-lg) {
    padding-right: 105px;
  }
}

.hide-on-mobile{
  display:none;
  @include bp(min-sm) {
    display:block;
  }
}
.show-on-mobile{
  display:none;
  @include bp(max-sm) {
    display:block;
  }
}

.fancybox-is-zoomable .fancybox-bg {
  background-color: $color-light;
  opacity: 1;
}

.container--small {
  @include bp(min-xxl) {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.red-highlight {
  color:#d50032;
  font-weight:bold;
}

// Shopify challenge page   => www.websitelink.com/challenge
#main .shopify-challenge__container {
  margin: 60px auto;
  p.shopify-challenge__message {
      font: 500 20px "Gotham", sans-serif;
      margin-bottom: 35px;
  }
  ul.shopify-challenge__error {
    margin-bottom: 20px;
  }  
  .shopify-challenge__button{
      background: #D50032;
      border: 0;
      padding: 12px 45px;
      font: 500 16px "Gotham", sans-serif;
      text-transform: uppercase;
      color: #fff;
  }
  .g-recaptcha {
      margin: 0 0 35px;
  }
}

// Table
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
}

// Collection 
.collection {
  &__title {
    color: $color-dark;
    font-family: $primary-font-narrow;
    @include font-size(20px);
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;

    @include bp(min-md) {
      @include font-size(41px);
    }
  }

  &__link {
    color: $color-dark;
    text-decoration: none;
  }

  &__desc {
    padding-bottom: 20px;
    @include bp(max-sm) {
      display: none;
    }
    @include bp(min-md) {
      padding-bottom: 45px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
    }

    h2 {
      @include bp(24px);
    }

    p {
      @include font-size(18px);
      line-height: 1.677;
      margin-bottom: 20px;
      @include bp(min-md) {
        margin-bottom: 35px;
      }
    }
  }
}

// Blur up image
.blur-up,[data-blur="true"] {
  filter: blur(5px);
  transition: filter 400ms;
  &.lazyloaded {
		filter: blur(0);
	}
}

// Read More
.desc {
  .readmore, .readless {
    color: $color-accent;
    text-decoration: none;
    &:hover {
      opacity: 0.65;
    }
  }
}
// Disabling gallery option in fancy box
button.fancybox-button--thumbs {
  display: none;
}

@include bp(tablet-only){
  body.is-handheld .col-tab-3{
    flex: 0 0 25%;
    max-width: 25%;
  }
  body.is-handheld .col-tab-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  body.is-handheld .d-tab-none{
    display:none!important;
  }
  body.is-handheld .d-tab-block{
    display:block!important;
  }
}


