// Gotham
@include font-face("gotham-black-webfont", "Gotham", 800, normal);
@include font-face("gotham-bold-webfont", "Gotham", 700, normal);
@include font-face("gotham-book-webfont", "Gotham", 400, normal);
@include font-face("gotham-light-webfont", "Gotham", 300, normal);
@include font-face("gotham-medium-webfont", "Gotham", 500, normal);

// Trade Gotham
@include font-face("TradeGothicLTStd", "Trade Gotham", 400, normal);
@include font-face("TradeGothicLTStd-Bold", "Trade Gotham", 700, normal);

// Gotham Narrow
@include font-face("GothamNarrow-Black", "Gotham Narrow", 800, normal);
@include font-face("GothamNarrow-BlackItalic", "Gotham Narrow", 800, italic);
@include font-face("GothamNarrow-Bold", "Gotham Narrow", 700, normal);
@include font-face("GothamNarrow-BoldItalic", "Gotham Narrow", 700, italic);
@include font-face("GothamNarrow-Book", "Gotham Narrow", 400, normal);
@include font-face("GothamNarrow-BookItalic", "Gotham Narrow", 400, italic);
@include font-face("GothamNarrow-Light", "Gotham Narrow", 300, normal);
@include font-face("GothamNarrow-LightItalic", "Gotham Narrow", 300, italic);
@include font-face("GothamNarrow-Medium", "Gotham Narrow", 500, normal);
@include font-face("GothamNarrow-MediumItalic", "Gotham Narrow", 500, italic);
@include font-face("GothamNarrow-Thin", "Gotham Narrow", 200, normal);
@include font-face("GothamNarrow-ThinItalic", "Gotham Narrow", 200, italic);
@include font-face("GothamNarrow-Ultra", "Gotham Narrow", 900, normal);
@include font-face("GothamNarrow-UltraItalic", "Gotham Narrow", 900, italic);
@include font-face("GothamNarrow-XLight", "Gotham Narrow", 100, normal);
@include font-face("GothamNarrow-XLightItalic", "Gotham Narrow", 100, italic);

// LaxVegasOT
@include font-face("LasVegasOT-Fabulous", "LasVegasOT", 500, normal);

// Flaticon
@include font-face("icomoon", "icomoon", 400, normal);

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

@include bp(min-md){
    .text-md-right{
        text-align: right;
    }
}