// --------------------------------------------------
// colours

$color-dark: #000000;
$color-accent: #D50032;
$color-light: #FFFFFF;


// --------------------------------------------------
// fonts

$primary-font: "Gotham", sans-serif;
$primary-font-std: "Trade Gotham LT Std", sans-serif;
$primary-font-narrow: "Gotham Narrow", sans-serif;

$secondary-font: "Raleway", sans-serif;

$highlight-font: "Playfair Display", serif;
$highlight-font-alt: "LasVegasOT", serif;

$icon-font: "icomoon";

// Font Icon
$font-icon-angle-arrow-left: "\e90e";
$font-icon-angle-arrow-right: "\e90f";
$font-icon-facebook: "\f104";
$font-icon-map-marker: "\f103";
$font-icon-twitter: "\f104";
$font-icon-envelope: "\f105";
$font-icon-instagram: "\f106";
$font-icon-angle-right: "\f107";
$font-icon-lubes: "\e900";
$font-icon-anal-toy: "\e901";
$font-icon-dildo: "\e902";
$font-icon-bra: "\e903";
$font-icon-dvd-3x: "\e904";
$font-icon-vibrator: "\e905";
$font-icon-kink: "\e906";
$font-icon-bag: "\e907";
$font-icon-heart: "\e908";
$font-icon-bag-o: "\e909";
$font-icon-user: "\e90a";
$font-icon-magnifier: "\e90b";
$font-icon-hamburger: "\e90c";
$font-icon-cross: "\e90d";