.footer {
  a{
    text-decoration: none;
  }
  .top-bar{
    background-color: #D50032;
    padding-top: 16px;
    padding-bottom: 13px;
  }
  .bottom-bar{
    background-color: #121212;
    padding-top: 25px;
    padding-bottom: 35px;
    @include bp(min-md){
      padding-top: 35px;
      padding-bottom: 60px;
    }
    &__col{
      margin-bottom: 45px;
    }
  }
  .location{
    color: $color-light;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: $primary-font;
    @include font-size(12px);
    font-weight: 700;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    @include bp(max-sm){
      justify-content: center;
      margin-bottom: 20px;
    }
    @include bp(min-md){
      @include font-size(19px);
    }
    i{
      display: inline-block;
      font-weight: 400;
      margin-right: 16px;
      @include bp(min-md){
        @include font-size(48px);
      }
    }
  }
  .social-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    @include bp(min-md){
      justify-content: flex-start;
    }
  }
  .social-item{
    display: block;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 15px;
    &__link{
      background-color: transparent;
      border: 0px solid rgba(255, 255, 255, 0); 
      border-radius: 30%;
      height: 30px;
      width: 30px;
      padding: 5px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      @include bp(min-md){
        height: 38px;
        width: 38px;
      }
      &:before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: inset 0px 0px 38px rgba(0,0,0,0.2);
        background-color: #D50032;
        overflow: hidden;
        transform: scale(0) translate(-50%, -50%);
        transition: 0.25s opaicty ease-in-out, 0.2s transform cubic-bezier(0.46, 0.03, 0.52, 0.96);
        border: 0px solid rgba(255, 255, 255, 0); 
      }
      &:after{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        background-color: $color-light;
        transition: 0.25s opaicty ease-in-out, 0.2s transform cubic-bezier(0.46, 0.03, 0.52, 0.96);
        border: 0px solid rgba(255, 255, 255, 0); 
      }
      svg{
        fill: #D50032;
        transition: 0.15s opacity ease-in-out;
        @include bp(max-md){
          width: 15px;
          height: auto;
        }
      }
      &:hover, &:focus{
        &:before{
          opacity: 1;
          transform: scale(1) translate(-50%, -50%);
        }
        &:after{
          opacity: 0;
          transform: scale(0);
        }
        svg{
          fill: $color-light;
        }
      }
    }
    &__fallback-text{
      display: none;
    }
  }
  .newsletter{
    @include bp(min-md){
      width: 450px;
      max-width: 100%;
    }
    &__title{
      color: $color-light;
      font-family: $primary-font-narrow;
      font-weight: 500;
      line-height: 1;
      letter-spacing: -0.3px;
      margin-bottom: 12px;
      @include bp(min-md){
        @include font-size(36px);
      }
    }
    &__description{
      color: #737373;
      font-family: $primary-font-narrow;
      font-weight: 400;
      line-height: 1.53;
      letter-spacing: -0.3px;
      margin-bottom: 20px;
      @include bp(min-md){
        @include font-size(17px);
      }
    }
  }
  .logo-txt{
    &__logo{
      width: 40px;
      @include bp(min-md){
        width: 56px;
      }
    }
    &__title{
      color: #737373;
      font-family: $primary-font-narrow;
      font-weight: 500;
      @include font-size(13px);
      line-height: 1.3;
      padding-left: 12px;
    }
  }
  .copyright {
    color: #737373;
    @include font-size(14px);
  }
}