.header {
  background-color: $color-dark;
  position: relative;
  width: 100%;
  z-index: 99;

  .top-bar {
    & > .container > .row{
      align-items: center;
    }
   body.is-handheld &{
      background-color: $color-accent;
      padding: 10px 0;
    }
    @include bp(max-md){
      background-color: $color-accent;
      padding: 10px 0;
    }    
    @include bp(min-lg) {
      background-color: #161616;
      padding: 23px 0 17px;
    }
  }

  .middle-bar {
    width: 100%;
    body.is-handheld &{
      background-color: $color-dark;
      margin-bottom:20px;
    }
    @include bp(max-md){
      background-color: $color-dark;
      margin-bottom:20px;
    }
    @include bp(min-lg) {
      background-color: $color-light;
    }

    body.headMB-fx & {
      @include bp(max-sm) {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    >.container {
      >.row {
        position: relative;
        padding-top: 17px;
        padding-bottom: 14px;

        @include bp(min-md) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
        body.is-handheld &{
          @include bp(tablet-only) {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom:0;
          }  
        }
        @include bp(min-lg) {
          border-bottom: 1px solid #C4C4C4;
          padding-top: 39px;
          padding-bottom: 30px;
        }
      }
    }
  }

  .bottom-bar {
    background-color: $color-light;
    body.is-handheld &{
      &__container{
        max-width:initial;
        padding-left:0;
        padding-right:0;
      }
    }
    body:not(.template-index).is-handheld & {
      display: none;
    }
    body.template-index.is-handheld & {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    @include bp(max-md) {
      &__container{
        max-width:initial;
        padding-left:0;
        padding-right:0;
      }
      body:not(.template-index) & {
        display: none;
      }
      body.template-index & {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .logo-image {
    display: block;

    @include bp(min-md) {
      padding-right: 20px;
    }

    img {
      @include bp(max-sm) {
        width: 125px;
        max-width: 100%;
      }
      @include bp(only-md){
        width: 100px;
      }
      body.is-handheld &{
        @include bp(tablet-only){
          width: 100px;
        }
      }
    }
  }
}

.announcement-bar {
  white-space: pre;
  overflow: hidden;

  @keyframes marquee {
    0% {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  a,
  p {
    
    font-family: $primary-font-narrow;
    @include font-size(18px);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    text-decoration:none;
    @include bp(max-sm) {
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: marquee;
      animation-duration: 12s;
    }
    body.is-handheld &{
      color: $color-light;
      font-weight: 700;
    }
    @include bp(max-md) {
      color: $color-light;
      font-weight: 700;
    }
    @include bp(only-md) {
      @include font-size(11px);
    }

    @include bp(min-lg) {
      color: #A5A5A5;
      @include font-size(14px);
      font-weight: 300;
    }
  }
  p{
    margin-bottom:0;
  }
  a {
    &:hover {
      opacity: 0.85;
    }
  }
  &:hover {
    a, p {
      @include bp(max-sm) {
        animation-play-state: paused;
      }
    }
  }
}

