// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";

.customer-account {
    margin-bottom: 100px;
    p {
        margin-bottom: 5px;
    }
    div#reset-success {
        margin-bottom: 20px;
        font-size: 25px;
        color: $color-accent;
        font-weight: 500;
    }
    .header-group {
        .logout-link {
            float: right;
            a {
                color: $color-accent;
                text-decoration: none;
                font-weight: bold;
            }
        }
        .back-to-account {
            color: $color-accent;
            text-decoration: none;
            font-weight: bold;
            float: right;
            position: relative;
            @include bp(max-sm) {
                display: block;
                float: none;
                margin-bottom: 20px;
            }
        }
        .page-title {
            margin-bottom: 5px;
        }
        p {
            font-size: 1.8rem;
            line-height: 1.2;
            @include bp(min-md) {
                font-size: 2rem;
            }
        }
    }
    .forms-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 80px;
        @include bp(min-xxl) {
            margin-bottom: 0;
        }
    }
    .form-container {
        background-color: #000;
        color: #fff;
        padding: 45px 50px;
        margin-bottom: 30px;
        &.full-width {
            width: 100%;
        }
        &:not(.full-width) {
            @include bp(min-md) {
                width: calc(50% - 5px);
                margin: 0;
            }
        }
        @include bp(min-lg) {
            padding: 65px 70px;
        }
        h2 {
            color: #fff;
            font-size: 23px;
            margin-bottom: 10px;
            font-weight: 500;
            @include bp(min-md) {
                font-size: 29px;
            }
        }
        p {
            margin-bottom: 40px;
        }
        .input-text {
            width: 100%;
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.7);
            font-size: 15px;
            padding: 10px;
            margin-bottom: 12px;
            color: #fff;
            @include bp(min-md) {
                font-size: 17px;
            }
        }
        label.label-hidden {
            display: none;
        }
        input.password-field {
            margin-bottom: 18px;
        }
        .recovery-form-trigger,
        .login-form-trigger {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid;
            display: inline-block;
            margin-bottom: 40px;
        }
        #customer_register_link {
            text-decoration: none;
        }

        .errors {
            margin-bottom: 10px;
            color: $color-accent;
            width: 100%;
        }
        &.register-prompt {
            h2 {
                margin-bottom: 40px;
            }
            p {
                margin-bottom: 50px;
            }
        }
        .recovery-form-container {
            .input-text {
                margin-bottom: 40px;
            }
            .button {
                margin-bottom: 25px;
            }
            .login-form-trigger {
                border-bottom: 0;
                margin-bottom: 0;
                span {
                    margin-right: 5px;
                }
            }
        }
        &.full-width {
            & form {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin: 0 -5px;
                .input-text {
                    @include bp(min-md) {
                        width: calc(50% - 10px);
                        margin: 0 5px 10px;
                    }
                }
                button.button {
                    margin: 10px 0 0;
                    @include bp(min-md) {
                        margin: 40px 5px 0;
                    }
                }
            }
        }
    }
    .button {
        font: 500 13px "Gotham", sans-serif;
        text-transform: uppercase;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        @include bp(max-sm) {
            width: 100%;
            display: block;
            padding: 10px 15px;
            text-align: center;
        }
        @include bp(min-md) {
            display: inline-block;
        }
    }
    p.customer-info {
        color: $color-accent;
        font-size: 1.8rem;
        line-height: 1.2;
        @include bp(min-md) {
            font-size: 2rem;
        }
        a {
            color: $color-accent;
            text-decoration: none;
            border-bottom: 1px solid $color-accent;
        }
    }
    .account-sections {
        .account-section-trigger {
            background-color: #373737;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3 {
                color: #fff;
                padding: 15px 25px;
                margin-bottom: 0;

                @include bp(min-md) {
                    padding: 15px 45px;
                }
            }
        }
        .account-content {
            padding: 25px;
            background-color: #f1f1f1;
            @include bp(min-md) {
                padding: 35px 45px;
            }
        }
        h3 {
            font-size: 18px;
            @include bp(min-md) {
                font-size: 20px;
            }
        }
        h4 {
            font-size: 17px;
            margin-bottom: 7px;
            @include bp(min-md) {
                font-size: 18px;
            }
        }
        .desc {
            margin-bottom: 35px;
        }
        .dashboard-section {
            .account-details {
                display: flex;
                flex-wrap: wrap;
                .section-title {
                    width: 100%;
                    border-bottom: 1px solid #373737;
                    padding-bottom: 15px;
                }
                [class*="icon-"] {
                    margin-right: 5px;
                }
                .contact-info,
                .address-info {
                    margin-bottom: 20px;
                    @include bp(min-md) {
                        width: 50%;
                    }
                }
            }
        }
        .account-address-container {
            display: flex;
            i.icon-map-marker {
                margin: 5px 10px 0 0;
            }
            .address-wrap {
                margin-bottom: 30px;
                width: calc(100% - 27px);
            }
        }
        .addresses-main {
            div#address_tables {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                margin: 0 -15px 20px;
                .address_table {
                    width: 100%;
                    margin-bottom: 20px;
                    order: 1;
                    padding: 0 15px;
                    &.default-address {
                        order: 0;
                    }
                    @include bp(min-md) {
                        width: 50%;
                    }
                    @include bp(min-xl) {
                        width: 33.33%;
                    }
                    .action_edit {
                        @include bp(max-sm) {
                            margin-bottom: 10px;
                            display: block;
                        }
                    }
                }
            }
            div.add_address_prompt {
                border-top: 1px solid #373737;
                padding: 50px 0 30px;
            }
            .form-container {
                background: transparent;
                padding: 0;
                color: #000000;
                &.edit_address {
                    .input-text {
                        font-size: 13px;
                    }
                    .default_address_prompt {
                        font-size: 14px;
                    }
                    .action_bottom {
                        .button {
                            @include bp(max-sm) {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .input-text {
                    border-color: #7a7a7a;
                    color: #000000;
                    font-size: 15px;
                }
                .province_container {
                    width: calc(50% - 10px);
                    .input-text {
                        width: 100%;
                    }
                }
                .default_address_prompt {
                    width: 100%;
                    margin: 30px 0;
                }
                .action_bottom {
                    display: flex;
                    flex-wrap: wrap;
                    button.button {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    table.account__orders-table {
        th,
        td {
            font-size: 14px;
            font-weight: 600;
            padding: 15px 10px;
            text-align: center;
            @include bp(min-md) {
                font-size: 16px;
            }
            &.first {
                text-align: left;
                @include bp(min-md) {
                    padding-left: 40px;
                }
            }
            &.last {
                text-align: right;
                @include bp(min-md) {
                    padding-right: 40px;
                }
            }
        }
        thead {
            background-color: #d7d7d7;
        }
        tbody {
            tr:not(:last-child) {
                border-bottom: 2px solid #d8d8d8;
            }
        }
        td {
            a {
                text-decoration: none;
                color: $color-accent;
            }
        }
    }

    /* Order Over View Page */
    &.order-overview {
        max-width: 900px;
        margin: 0 auto 100px;
        .account-section-trigger {
            .order-date {
                color: #fff;
                margin-right: 25px;
                text-align: right;
                @include bp(min-md) {
                    margin-right: 40px;
                }
            }
        }

        .order-list {
            border-bottom: 1px solid #373737;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .order-item {
            & > ul {
                & > li {
                    display: flex;
                    justify-content: space-between;
                    padding: 3px 0;
                    &[data-label="Product"] .order-meta,
                    &[data-label="Total"] {
                        font-weight: bold;
                    }
                    &[data-label="Product"] .order-value a {
                        color: $color-accent;
                        text-decoration: none;
                        font-weight: bold;
                    }
                    .order-meta,
                    .order-value {
                        width: 50%;
                        @include bp(max-sm) {
                            font-size: 15px;
                        }
                    }
                    .order-value {
                        text-align: right;
                    }
                }
            }
        }
        .account-sections .account-content.billing-shipping-container {
            background-color: #d7d7d7;
        }
        .billing-shipping-container {
            display: flex;
            flex-wrap: wrap;
            .billing-info-block,
            .shipping-info-block {
                width: 100%;
                margin-bottom: 20px;
            }
            @include bp(min-md) {
                .billing-info-block,
                .shipping-info-block {
                    width: 50%;
                    margin-bottom: 0;
                }
                .shipping-info-block {
                    text-align: right;
                }
                .customer-address {
                    margin-top: 20px;
                }
            }
        }
    }
}

.address_select {
    height: 38px;
}
