@charset 'UTF-8';

// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";

body.template-article,
body.template-blog {
  .nav--breadcrumb {
    margin-bottom: 10px;
    @include bp(max-sm) {
      text-align: left;
    }

    @include bp(min-xxl) {
      margin-bottom: 20px;
    }

    a, span:not(.nav__seperator) {
      font-weight: 500;
      &:last-child {
        @include bp(max-sm) {
          color: $color-accent;
          font-weight: 700;
        }
      }
    }
  }
}

// Article and Blog
body.template-article, body.template-blog {
  #main {
    padding-top: 24px;
  }
}

.article {

  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include font-size(14px);
    margin-bottom: 13px;

    @include bp(min-xxl) {
      @include font-size(18px);
      margin-bottom: 28px;
    }
  }

  &__author,
  &__date,
  &__tags {}

  &__author {
    font-weight: 500;
    white-space: pre-wrap;
  }

  &__date {
    color: #808080;

    time {
      white-space: pre-wrap;
    }
  }

  &__tags {
    @include bp(max-sm) {
      display: none;
    }

    .tag {
      color: $color-dark;
      display: inline-block;

      &__link {
        color: $color-accent;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  &--blog,
  &--single {
    .article {
      &__title {
        margin-bottom: 5px;
        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            opacity: 0.75;
          }
        }
      }
      &__banner {
        display: block;
        background-color: #B7B7B7;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 23px;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
  &--single {
    .article {
      &__title {
        @include font-size(32px);

        @include bp(min-xxl) {
          @include font-size(55px);
          margin-bottom: 17px;
        }
      }

      &__banner {
        padding-top: 56.23%;

        @include bp(max-xs) {
          margin-left: -15px;
          margin-right: -15px;
        }

        @include bp(min-xxl) {
          margin-bottom: 45px;
        }
      }
      &__rte {
    
        p+h2 {
          margin-top: 35px;
    
          @include bp(min-xxl) {
            margin-top: 50px;
          }
        }
    
        h2 {
          font-weight: 700;
    
          @include bp(min-xxl) {
            @include font-size(35px);
            margin-bottom: 28px;
          }
    
          * {
            font-weight: 700 !important;
          }
        }
    
        h3 {
          @include font-size(20px);
          font-weight: 500;
          line-height: 1.33;
          text-align: center;
          margin-bottom: 11px;
    
          @include bp(min-xxl) {
            @include font-size(29px);
            line-height: 1.25;
            margin-bottom: 45px;
          }
    
          * {
            font-weight: 500 !important;
          }
    
          &:after {
            display: block;
            margin: 3px auto 0;
            content: '';
            height: 2px;
            width: 54px;
            background-color: $color-accent;
    
            @include bp(min-xxl) {
              margin: 15px auto 0;
              height: 5px;
              width: 105px;
            }
          }
        }
    
        p, ul {
          margin-bottom: 19px;
          @include bp(min-xxl) {
            margin-bottom: 25px;
          }
        }
    
        p {
          color: $color-dark;
          @include font-size(14px);
          line-height: 1.34;
    
          @include bp(min-md) {
            @include font-size(16px);
          }
    
          @include bp(min-xxl) {
            @include font-size(18px);
            line-height: 1.455;
          }
    
          span {
            font-weight: inherit !important;
          }
        }
    
        a {
          text-decoration: none;
          color: $color-accent;
          font-weight: 500;
          span {
            font-weight: 500 !important;
          }
          // anchor hover
          &:hover {
            opacity: 0.75;
          }
        }
    
        blockquote {
          border-left: 5px solid #c4c4c4;
          padding-left: 25px;
          color: $color-accent;
          font-style: italic;
          p, span {
            color: inherit;
            font-size: inherit;
          }
        }
    
      }
      &__actions {
        display: flex;
        flex-wrap: wrap;
        position: sticky;
        top: 15px;

        @include bp(max-sm) {
          margin-bottom: 30px;
          justify-content: center;
        }

        @include bp(min-md) {
          padding-left: 15px;
        }

        @include bp(min-xxl) {
          padding-left: 48px;
          flex-direction: column;
          align-items: flex-end;
        }

        &--btm {
          @include bp(max-sm) {
            margin-bottom: 10px;
          }
        }

        .title {
          flex: 0 0 100%;
          max-width: 100%;
          @include font-size(20px);
          text-align: center;
          text-transform: uppercase;
        }

        .social-sharing {
          display: flex;

          @include bp(max-sm) {
            align-items: center;
            // border-right: 1px solid #C4C4C4;
            margin-right: 10px;
          }

          @include bp(min-md) {
            flex-direction: column;
            // border-bottom: 1px solid #C4C4C4;
            margin-bottom: 10px;
          }

          &__item {
            @include bp(max-sm) {
              margin-right: 7px;
            }

            @include bp(min-md) {
              margin-bottom: 7px;
            }
          }

          &__link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 31px;
            height: 31px;
            border-radius: 50%;

            @include bp(min-md) {     
              width: 38px;
              height: 38px;
            }

            svg {
              width: 45%;
              height: auto;
            }

            &:not(.bookmark) {
              color: $color-light;

              path,
              polygon {
                fill: $color-light;
              }
            }

            &.bookmark {
              background-color: $color-light;
              border: 1px solid #444444;
              color: #444444;

              path,
              polygon {
                fill: #444444;
              }
            }

            &.email {
              background-color: #727272;
            }

            &.facebook {
              background-color: #3B5999;
            }

            &.pinterest {
              background-color: #CB2028;
            }

            &.twitter {
              background-color: #55ACEF;
            }

            i {
              @include font-size(17px);
            }

            // Link hover
            &:hover {
              opacity: 0.75;
            }
          }
        }

        .comments {
          position: relative;

          svg {
            display: block;
            width: 22px;
            height: 20px;
            @include bp(min-md) {
              width: 28px;
              height: 24px;
            }
          }

          path,
          polygon {
            fill: #C4C4C4;
          }

          &__count {
            @include font-size(10px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #444444;
          }
        }

        // article__actions modifier
        &--btm {
          @include bp(min-md) {
            display: none;
          }
        }
      }

      &__body {
        @include bp(min-md) {
          padding-right: 83px;
        }

        @include bp(min-xxl) {
          padding-right: 122px;
        }
      }
    }
  }
  &--blog {
    padding-bottom: 40px;
    @include bp(min-xxl) {
      padding-bottom: 58px;
    }
    &:not(:last-child) {
      border-bottom: 2px solid #B7B7B7;
      margin-bottom: 45px;

      @include bp(min-xxl) {
        margin-bottom: 70px;
      }
    }
    .article {
      &__title {
        @include font-size(18px);
        @include bp(min-xxl) {
          @include font-size(35px);
        }
      }
      &__banner {
        padding-top: 48.28%;
        @include bp(min-xxl) {
          margin-bottom: 50px;
        }
      }
      &__excerpt {
        margin-bottom: 25px;
        @include font-size(14px);
        @include bp(min-xxl) {
          @include font-size(16px);
        }
        @include bp(min-xxl) {
          @include font-size(18px);
        }
      }
    }
  }
}

.articles {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 42px;
    @include bp(min-md) {
      margin-left: -28px;
      margin-right: -28px;
      padding-bottom: 70px;
    }
    .grid {
      &__item {
        flex: 0 0 100%;
        max-width: 0 0 100%;
        @include bp(max-sm) {
          margin-bottom: 13px;
        }
        @include bp(min-md) {
          flex: 0 0 33.333333%;
          max-width: 0 0 33.333333%;
          padding-left: 28px;
          padding-right: 28px;
          margin-bottom: 25px;
        }
      }
    }
    .article {
      @include bp(max-sm) {
        display: flex;
        flex-wrap: wrap;
      }
      a {
        &:hover {
          opacity: 0.75;
        }
      }
      &__banner-wrapper {
        @include bp(max-sm) {
          flex: 0 0 41.163%;
          max-width: 170px;
        }
      }
      &__banner {

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        padding-top: 56.16%;
        width: 100%;
        @include bp(min-md) {
          margin-bottom: 20px;
        }
      }
      &__cnt {
        @include bp(max-sm) {
          flex-basis: 0;
          flex-grow: 1;
          max-width: 100%;
          padding-left: 17px;
          display: flex;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
      &__title {
        @include font-size(15px);
        line-height: 1.19;
        margin-bottom: 0;
        @include bp(min-md) {
          @include font-size(19px);
          margin-bottom: 10px;
        }
        a {
          color: inherit;
          line-height: 1.22;
          text-decoration: none;
        }
      }
      &__excerpt {
        color: #434343;
        @include font-size(15px);
        line-height: 1.48;
        @include bp(max-sm) {
          display: none;
        }
      }
    }
  }
}

// Comments
.comments-wapper {
  padding-bottom: 13px;
  @include bp(min-md) {
    padding-top: 35px;
    padding-right: 83px;
    padding-bottom: 34px;
  }
  @include bp(min-xxl) {
    padding-right: 122px;
  }
  .sub-section {
    padding-bottom: 40px;
    padding-top: 20px;
    @include bp(min-md) {
      border-top: 2px solid #B7B7B7;
    }
    &__title {
      @include font-size(27px);
      @include bp(max-sm) {
        display: none;
      }
      @include bp(xxl) {
        @include font-size(35px);
        margin-bottom: 20px;
      }
    }
  }
}

ul.comments {
  .comment {
    &:not(:last-child) {
      margin-bottom: 37px;
    }
    &__cnt {
      color: $color-dark;
      @include font-size(16px);
      line-height: 1.06;
      @include bp(min-md) {
        @include font-size(18px);
      }
      p {
        margin-bottom: 15px;
      }
    }
    &__footer {
      color: $color-dark;
      @include font-size(16px);
      font-weight: 500;
      line-height: 1.06;
      display: flex;
      flex-wrap: wrap;
      @include bp(min-md) {
        @include font-size(18px);
      }
    }
    &__date {}
    &__author {
      font-weight: inherit;
      font-size: inherit;
      margin-block: 0;
    }
  }
}

.comment-form {
  .form {
    font-family: $primary-font;
    &__title {
      @include bp(max-sm) {
        display: none;
      }
    }
    &__control {
      padding: 5px 11px;
      border: 1px solid #818181;
      outline: none;
      margin-bottom: 15px;
      font-family: inherit;
      @include font-size(20px);
      @include bp(min-md) {
        @include font-size(18px);
      }
    }
  }
  input:not([type="submit"]), select {
    height: 51px;
    @include bp(min-md) {
      height: 45px;
    }
  }

  .btn--md {
    @include bp(min-md) {
      min-width: 185px;
    }
  }
}

// Sidebar
.widgets {
  @include bp(min-lg) {
    width: 220px;
  }
  @include bp(min-xl) {
    width: 277px;
  }
  &--blog {
    @include bp(max-sm) {
      display: none;
    }
  }
}
.widget {
  &:not(:last-child) {
    margin-bottom: 47px;
  }

  &__title {
    color: $color-accent;
    margin-bottom: 13px;

    @include bp(min-md) {
      @include font-size(24px);
    }
  }

  // Categories
  &--blog-tags {
  }
  .tag {
    color: $color-dark;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @include bp(min-md) {
      @include font-size(15px);
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  // Recent Posts
  &--recent-posts {
    @include bp(max-sm) {
      display: none;
    }
  }
  .articles {
    .article {
      margin-bottom: 21px;
      display: flex;

      &__img-wrapper {
        flex: 0 0 70px;
        max-width: 70px;

        @include bp(min-xxl) {
          flex: 0 0 89px;
          max-width: 89px;
        }
      }
      &__img {
        background-color: #B7B7B7;
        display: block;
        height: 0;
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;
      }

      &__cnt {
        padding-left: 20px;

        @include bp(min-xxl) {
          padding-left: 25px;
        }

        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }

      &__title {
        @include font-size(15px);
        font-weight: 500;
        line-height: 1.36;
        margin-bottom: 5px;

        @include bp(min-xxl) {
          @include font-size(17px);
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      &__date {
        color: #7A7A7A;
        @include font-size(12px);

        @include bp(min-xxl) {
          @include font-size(14px);
        }

        time {}
      }
    }
  }
}

// Related Posts
.related-posts {
  border-top: 2px solid #E1E1E1 ;
  padding-top: 35px;
  @include bp(min-md) {
    border-top-color: #B7B7B7;
    padding-top: 30px
  }
  &__title {
    @include font-size(20px);
    text-transform: uppercase;
    margin-bottom: 26px;
    @include bp(min-md) {
      @include font-size(26px);
      margin-bottom: 18px;
    }
  }
}

// Blog Tags Dropdown
.dropdown-blog-tags-container {
  position: relative;
  z-index: 9;
  margin-bottom: 10px;
}

.dropdown-blog-tags {
  display: none;
  position: absolute;
  bottom: 4px;
  transform: translateY(100%);
  width: 100vw;
  background-color: $color-light;
  padding: 20px 0 13px;
  box-shadow: 0 3px 9px rgba(#231F20, 0.57);

  @include bp(min-sm) {
    right: calc((510px - 100vw) / 2);
  }

  @include bp(max-xs) {
    right: -15px;
  }

  ul.tags {
    column-count: 2;
    column-gap: 30px;

    @include bp(min-sm) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .tag {
    color: $color-accent;
    @include font-size(15px);
    font-weight: 700;
    margin-bottom: 10px;
    a {
      color: inherit;
      display: inline-block;
      padding: 7px 0;
      text-decoration: none;
    }
  }
}
@include bp(max-sm) {
  .trigger--blog-nav {
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    padding: 5px 12px 5px 6px;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #999999;
    @include font-size(10px);
    text-transform: uppercase;
    transition: 0.25s all ease-in-out;
    .trigger {
      &__icon {
        position: relative;
        display: inline-block;
        width: 11px;
        height: 10px;
        margin-right: 9px;
        cursor:pointer;
        vertical-align: middle;
        transition: all .3s ease-out;
        .burger {
          display: block;
          height: 2px;
          position: relative;
          margin-top: 4px;
          transition: all .3s ease-out;

          &,
          &:before,
          &:after {
            background-color: #999999;
            width: 100%;
            transition: background-color 0.3s ease-in-out;
          }

          &:before,
          &:after {
            position: absolute;
            height: 2px;
            content: "";
            display: block;
            transition: transform .3s, background .3s;
            transform-origin: center center;
            right: 0;
          }

          &:before {
            top: -4px;
          }

          &:after {
            bottom: -4px;
          }
        }
      }
    }

    .blog-tags-dropdown-on & {
      color: $color-light;
      background-color: $color-accent;
      .trigger__icon {
        .burger {
          background-color: transparent;

          &:before,
          &:after {
            background-color: $color-light;
          }

          &:before {
            transform: translate(0, 4px) rotate(-45deg);
          }

          &:after {
            transform: translate(0, -4px) rotate(45deg);
          }
        }
      }
    }

    &__title {
    }
  }
}