// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";

.template-cart {
  #main {
    padding-top: 48px;
    padding-bottom: 50px;
    @include bp(min-xxl) {
      padding-bottom: 80px;
    }
  }
  // Page Header
  .page-header {
  }
  .page-title {
    text-align: center;
    @include bp(min-md) {
      margin-bottom: 40px;
    }
  }
  .cart-empty {
    a {
      color: $color-accent;
      text-decoration: none;
    }
    h4 {
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 30px;
    }
    .product-link {
      a {
        color: inherit;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          height: 2px;
          width: 100%;
          background-color: $color-accent;
          opacity: 0;
          visibility: hidden;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out, opacity 0.15s ease-in-out;
        }
        &:hover {
          &:after {
            opacity: 1;
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

form.cart-form {
  // width: 1140px;
  // max-width: 100%;
  // display: block;
  // margin: 0 auto;
}
table.cart {
  > thead > tr > th,
  > tbody > tr > td {
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: middle;
    text-align: center;
    &:first-child,
    &:last-child {
      @include bp(min-lg) {
        width: 1%;
        white-space: nowrap;
      }
    }
    &:first-child {
      @include bp(max-sm) {
        padding-top: 25px;
      }
      @include bp(max-md) {
        padding-top: 45px;
      }
      @include bp(min-lg) {
        padding-left: 50px;
        padding-right: 0;
      }
      @include bp(min-xxl) {
        padding-left: 120px;
        padding-right: 25px;
      }
    }

    &:last-child {
      @include bp(max-sm) {
        padding-bottom: 25px;
      }
      @include bp(max-md) {
        padding-top: 45px;
      }
      @include bp(min-lg) {
        padding-left: 0;
        padding-right: 50px;
      }

      @include bp(min-xxl) {
        padding-right: 120px;
      }
    }
    &.product-quantity {
      white-space: nowrap;
    }
  }
  > thead {
    background-color: #0e0e0e;
    @include bp(max-md) {
      display: none;
    }
    th {
      color: $color-light;
      @include font-size(18px);
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px;
      &.product-label {
        text-align: left;
      }
    }
  }
  > tbody {
    > tr {
      > td {
        padding-top: 5px;
        padding-bottom: 5px;
        @include bp(min-lg) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
        @include bp(max-md) {
          @include font-size(15px);
          display: block;
          text-align: right;
          clear: both;
          padding-left: 15px;
          padding-right: 15px;
        }
        table {
          td {
            &:not(:first-child) {
              &:not(:last-child) {
                padding-left: 15px;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
  }
  > tbody {
    background-color: #f1f1f1;
    > tr {
      &:not(:last-child) {
        border-bottom: 1px solid #b7b7b7;
      }
    }
  }
  td {
    &[data-label] {
      @include bp(max-md) {
        &:before {
          content: attr(data-label) ": ";
          font-weight: 600;
          float: left;
        }
      }
    }

    p {
      margin-bottom: 5px;
    }
    a {
      color: inherit;
      text-decoration: none;
      &.product-remove__link {
        margin-top: -10px;
        padding: 10px 0 10px 5px;
        @include font-size(20px);
      }
    }
    &.product {
      &-name a,
      &-price,
      &-quantity,
      &-subtotal {
        font-weight: 500;
        @include bp(min-md) {
          @include font-size(18px);
        }
      }
      &-thumbnail,
      &-name {
        text-align: left;
      }
      &-thumbnail {
        @include bp(max-md) {
          text-align: left;
        }
        @include bp(only-md) {
          text-align: center;
        }
      }
      &:not(.product-thumbnail) {
        text-align: right;
      }
      &-name {
        a {
          &:hover {
            opacity: 0.75;
          }
        }
      }
      &-quantity {
        @include bp(min-lg) {
          text-align: center;
        }
        .qty-field {
          color: #ffffff;
          background-color: #000000;
          border: none;
          border-radius: 4px;
          @include font-size(16px);
          font-weight: 700;
          outline: none;
          padding: 5px 10px;
          width: 45px;
          height: 26px;
          @include bp(min-md) {
            @include font-size(18px);
            width: 55px;
            height: 35px;
          }
        }
        .update-field {
          margin-left: 10px;
        }
      }
      &-subtotal {
        @include bp(max-sm) {
          padding-bottom: 25px;
        }
        @include bp(max-md) {
          padding-bottom: 45px;
        }
      }
      &-remove {
        a {
          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
  .cart-item {
    &__img {
      width: 70px;
      padding-top: 132%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center left;
      @include bp(min-md) {
        width: 92px;
      }
    }
  }
  .product-thumbnail {
    a {
      display: inline-block;
    }
  }
}

// Cart Collaterals
.cart-collaterals {
  padding-top: 45px;
  width: 563px;
  max-width: 100%;
  @include bp(min-xxl) {
    padding-top: 80px;
  }
  h2 {
    @include font-size(26px);
  }
  &__actions {
    margin-bottom: 80px;
    .btn {
      width: 100%;
      @include bp(max-xs) {
        &:not(:last-child) {
          margin-bottom: 14px;
        }
      }
      @include bp(min-sm) {
        width: calc(50% - 10px);
      }
    }
  }
}

// Cart Totals
.cart-totals {
  margin-bottom: 25px;
  @include bp(min-xxl) {
    margin-bottom: 45px;
  }
  &__table {
    th,
    td {
      background-color: #d8d8d8;
      @include font-size(18px);
    }
    th {
      text-align: left;
      padding: 10px 10px 10px 30px;
      @include bp(min-md) {
        padding: 10px 10px 10px 50px;
      }
      @include bp(min-xxl) {
        padding: 25px 40px 25px 70px;
      }
    }
    td {
      text-align: right;
      padding: 10px 30px 10px 10px;
      @include bp(min-md) {
        padding: 10px 50px 10px 10px;
      }
      @include bp(min-xxl) {
        padding: 25px 70px 25px 40px;
      }
    }
    tr {
      border-bottom: 1px solid #cacaca;
      &:first-child {
        th,
        td {
          padding-top: 35px;
          @include bp(min-xxl) {
            padding-top: 55px;
          }
        }
      }
      &:last-child {
        th,
        td {
          padding-bottom: 35px;
          @include bp(min-xxl) {
            padding-bottom: 55px;
          }
        }
      }
    }
    .cart {
      &-subtotal,
      &-discount {
        font-weight: 500;
      }
      &-total {
        font-weight: 700;
      }
    }
  }
}
