@charset 'UTF-8';

// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";

$products: "ul.products";
// Banner
.banner {
  &--default {
    margin-bottom: 40px;
    position: relative;
    .banner {
      &__bg {
        background-position: center;
        background-size: cover;
        padding-top: 27.45%;
      }
    }
  }
}

// Image with text grid
.grid--img-txt {
  &.grid--img-txt--land {
    @include bp(min-md) {
      margin-bottom: 75px;
    }
    .grid {
      &__item {
        padding-left: 10px;
        padding-right: 10px;
      }
      &__cnt-wrapper {
        background-color: $color-dark;
      }
      &__img {
        width: 100%;
      }
      &__title {
        padding: 10px 15px;
      }
      &__link {
        color: $color-light;
        font-weight: 500;
        text-decoration: none;
        @include bp(min-md) {
          @include font-size(18px);
        }
      }
    }
  }
}

.collection-header {
  .heading-breadcrumbs {
    margin-bottom: 25px;

    @include bp(min-md) {
      margin-bottom: 20px;
      margin-right: 15px;
    }
  }

  .collection-heading {
    @include bp(min-md) {
      margin-right: 25px;
    }
  }
}

.collection-heading {
  margin-top: 20px;
  margin-bottom: 20px;

  @include bp(min-md) {
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .title {
    color: $color-dark;
    font-family: $primary-font-narrow;
    @include font-size(32px);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;

    @include bp(min-xs) {
      @include font-size(40px);
    }

    @include bp(min-md) {
      text-align: left;
    }
  }

  .sub-title {
    color: $color-dark;
    font-family: $primary-font-narrow;
    @include font-size(12px);
    font-weight: 400;
    line-height: 1.21;
    text-align: center;

    @include bp(min-xs) {
      @include font-size(16px);
      text-align: left;
    }
  }

  &--landing {
    margin: 0;

    @include bp(min-md) {
      margin: 0;
    }

    .title {
      @include font-size(33px);
      margin-bottom: 0;
      padding-bottom: 5px;

      @include bp(min-md) {
        @include font-size(24px);
      }
      &--fixed {
        display: none;
        @include bp(max-sm) {
          color: $color-light;
          background-color: $color-dark;
          display: none;
          font-family: $primary-font;
          font-weight: 500;
          padding: 13.5px 10px;
          margin-bottom: 0;
          text-transform: uppercase;
          @include font-size(15px);
          position: fixed;
          z-index: 99;
          top: 0;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -100%);
          transition: transform 0.25s ease-in-out;
        }
        body.h-fx & {
          @include bp(max-sm) {
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}

.collection {
  &--landing {
    @include bp(min-md) {
      padding-top: 20px;
    }
    .slider-group-equal-h {
      @include bp(max-sm) {
        margin-bottom: 0;
      }
    }
  }

  .collection-header {
    margin-bottom: 15px;
    @include bp(max-sm) {
      padding-top: 25px;
    }

    @include bp(min-md) {
      margin-bottom: 45px;
    }
  }
}

#toolbarNav {
  @include bp(min-lg) {
    width: 215px;
  }
  @include bp(min-xxl) {
    width: 265px;
  }
}

// --------------------------------------------------
// Filters
.facets-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 0.5px;
  padding-right: 0.5px;

  @include bp(min-md) {
    display: inline-flex;
    padding-left: 1px;
    padding-right: 1px;
  }
}

.facets-group {
  transition: top 0.25s ease-in-out;
  z-index: 88;
  body.fg-fx & {
    @include bp(max-sm) {
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.facet-col {
  &:not(.facet--select) {
    &:not(.facet--all) {
      @include bp(max-sm) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
    }
  }

  &.facet--select,
  &.facet--all {
    @include bp(max-sm) {
      flex: 0 0 31%;
      max-width: 31%;
    }
  }
  &.facet--all {
    @include bp(min-md) {
      flex: 0 0 auto;
      width: auto;
      min-width: 100px;
      max-width: none;
    }
  }

  @include bp(min-md) {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

.facet {
  position: static;

  @include bp(min-xxl) {
    position: relative;
  }

  &__cnt {
    padding-top: 20px;
    padding-bottom: 9px;
  }

  &__label {
    font-family: $primary-font-narrow;
    color: #282828;
    @include font-size(15px);
    padding-left: 13px;
    padding-right: 13px;
  }

  &__count {
    display: inline-block;
    @include font-size(12px);
    margin-left: 3px;
  }

  .reviews_product_score-value {
    &:before {
      @include font-size(18px);
    }
  }

  &--dropdown {
    margin-left: -0.5px;
    margin-right: -0.5px;

    @include bp(min-md) {
      margin-left: -1px;
      margin-right: -1px;
    }

    .facet {
      &__title {
        color: #101010;
        font-family: $primary-font-narrow;
        font-weight: 500;
        @include font-size(15px);

        @include bp(max-xxs) {
          @include font-size(12px);
        }

        @include bp(max-sm) {
          font-family: $primary-font;
          text-transform: uppercase;
        }
      }

      &__btn {
        border: 2px solid $color-dark;
        background: $color-light;
        cursor: pointer;
        outline: none;
        padding: 11px 35px 11px 11px;
        text-align: left;
        position: relative;
        max-width: 100%;

        @include bp(max-xxs) {
          padding: 11px 25px 11px 10px;
        }

        @include bp(max-sm) {
          width: 100%;
          border-width: 1px;
          border-color: #c9c9c9;
        }
        @include bp(min-lg) {
          padding: 9px 75px 9px 11px;
          line-height: 1.4;
        }
        @include bp(min-xxl) {
          &--lg {
            width: 176px;
          }

          &--md {
            width: 162px;
          }
        }

        &:after {
          content: "";
          border: solid black;
          border-width: 0 1.5px 1.5px 0;
          display: inline-block;
          padding: 4px;
          position: absolute;
          right: 20px;
          top: calc(50% - 4px);
          transform: rotate(45deg) translateY(-50%);
          transition: all 0.02s ease-in-out;

          @include bp(max-xxs) {
            right: 15px;
          }

          @include bp(max-sm) {
            padding: 2.5px;
          }
        }
      }

      &__cnt {
        position: absolute;
        background-color: $color-light;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 8;
        border: 2px solid $color-dark;
        border-width: 0 2px 2px;
        opacity: 0;
        transform: scaleY(0);
        transition: 0.35s transform ease-in-out, 0.25s opacity ease-in-out;
        transform-origin: top center;

        @include bp(max-sm) {
          border-width: 1px;
          border-color: #c9c9c9;
          margin-top: -1px;
        }

        &--show {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }

    .nav--toolbar .nav__title {
      @include bp(max-md) {
        display: none;
      }
    }

    .dropdown-btn {
      height: 100%;
    }

    .custom-select {
      .select-items div {
        @include bp(max-xxs) {
          @include font-size(12px);
        }
      }

      .select-selected {
        height: 100%;
        padding: 11px 35px 11px 11px;

        @include bp(max-sm) {
          border-width: 1px;
          border-color: #c9c9c9;
          text-transform: uppercase;
          font-family: $primary-font;
          @include font-size(0px);
        }

        &:after {
          @include bp(max-sm) {
            padding: 2.5px;
          }
        }
      }

      .select-items {
        @include bp(max-sm) {
          border-width: 1px;
          border-color: #c9c9c9;
          margin-top: -1px;
        }
      }
    }

    .facet__btn:not(.facet__btn--toolbar),
    .custom-select .select-selected {
      @include bp(max-xxs) {
        padding-left: 10px;
        padding-right: 10px;
      }
      @include bp(max-sm) {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        &:before {
          @include font-size(15px);
          display: inline-block;
          content: "\002B";
          margin-right: 7px;
        }
      }
    }

    .facet__btn:not(.facet__btn--toolbar) {
      &:after {
        @include bp(max-sm) {
          display: none;
        }
      }
    }
    .custom-select .select-selected {
      &:after {
        @include bp(max-xxs) {
          @include font-size(12px);
        }
        @include bp(max-sm) {
          @include font-size(15px);
          font-weight: 500;
          position: static;
          padding: 0;
          display: inline-block;
          content: "SORT";
          transform: none;
          border: none;
        }
      }
    }
  }

  &--open {
    .facet__btn:not(.facet__btn--toolbar),
    .custom-select .select-selected {
      @include bp(max-sm) {
        &:before {
          content: "\2212";
          font-weight: 700;
        }
      }
    }
  }

  &--all {
    @include bp(min-xxl) {
      position: static;
    }

    .facet {
      &__cnt {
        width: 100%;

        @include bp(min-xxl) {
          width: 332px;
          max-width: 100%;
          left: unset;
          right: 0;
        }
      }
    }
  }

  &--open {
    .facet {
      &__btn {
        &:after {
          border-width: 1.5px 0 0 1.5px;
          top: 50%;
        }
      }
    }
  }

  .sub-facets-group {
    padding: 0 20px 6px;
  }

  .sub-facet {
    &__title {
      color: #353535;
      font-family: $primary-font-narrow;
      @include font-size(14px);
      font-weight: 700;
    }

    &__btn {
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
      padding: 10px 0;
      text-align: left;
      position: relative;
      width: 100%;

      @include bp(min-xxl) {
        &--lg {
          width: 176px;
        }

        &--md {
          width: 162px;
        }
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        background-color: $color-dark;
        transform: translateY(-50%);
        transform-origin: top center;
        transition: transform 0.15s ease-in-out;
      }

      &:before {
        width: 2px;
        height: 10px;
        right: 4px;
      }

      &:after {
        height: 2px;
        width: 10px;
        right: 0px;
      }
    }

    &__cnt {
      background-color: $color-light;
      display: none;

      &--show {
      }
    }

    &--open {
      .sub-facet {
        &__btn {
          &:before {
            transform: rotateZ(90deg) translateY(-50%);
          }
        }
      }
    }
  }

  .custom-select,
  .selector-wrapper {
    @include bp(max-xl) {
      position: static;
    }
  }

  .custom-select--sort-by,
  .selector-wrapper--sort-by {
    width: 100%;
  }
}

/* Search Page Styles */
#main #searchresults {
  margin: 0;
}
.search {
  $s: &;
  .container--search {
    @include bp(min-xxl) {
      padding: 10px 150px 50px;
    }
  }
  #{$s}-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    @include bp(min-md) {
      font-size: 21px;
    }
    @include bp(min-xl) {
      font-size: 37px;
    }
  }
  #{$s}-info {
    font-size: 13px;
    @include bp(min-md) {
      font-size: 16px;
    }
    @include bp(min-xl) {
      font-size: 22px;
    }
  }
  .collection-header {
    margin-bottom: 30px;
    #{$s}-header {
      margin-bottom: 15px;
      @include bp(max-sm) {
        padding: 20px 0 10px;
        text-align: center;
      }
    }
    .facets-group {
      @include bp(max-sm) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .custom-select--sort-by {
      @include bp(min-xl) {
        padding-top: 65px;
      }
    }
    .pagination--mini {
      justify-content: flex-end;
    }
  }
  .popular-searches {
    border-top: 1px solid #cfd0d3;
    padding: 35px 0;
    h3 {
      font-weight: 500;
    }
    .popular-search-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      padding-top: 20px;
      li {
        margin: 10px 10px !important;
        a {
          background-color: #000;
          border-radius: 20px;
          text-transform: uppercase;
          color: $color-light;
          display: block;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: bold;
          padding: 10px 45px;
          text-decoration: none;
          transition: background-color 0.4s ease-in-out;
          &:hover {
            background-color: $color-accent;
          }
        }
      }
    }
  }
}

.collection-list-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .collection-item {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    @include bp(min-sm) {
      width: calc(33.33% - 10px);
    }
    @include bp(min-lg) {
      width: calc(25% - 10px);
    }
    @include bp(min-xl) {
      width: calc(20% - 10px);
    }
    a.thumb-container {
      flex-grow: 1;
      align-items: center;
      display: flex;
      margin-bottom: 10px;
      svg {
        width: 100%;
      }
    }
    a.title-container {
      font-size: 1.6rem;
      line-height: 1.45;
      margin-bottom: 0;
      color: #434343;
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 767px) {
  .collection__desc {
    display: block;
    padding: 2.5rem;
  }
}
