@charset 'UTF-8';

// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";

.page-content {
  margin-bottom: 100px;
}

// Default Page with and without banner
body[class^="template-page"],
body[class*=" template-page"] {
  .page-header {
    padding-top: 28px;
    padding-bottom: 14px;
    .page-title {
      @include bp(min-xxl) {
        @include font-size(35px);
      }
    }
    // With Banner
    &--banner {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      min-height: 300px;
      height: 48vh;
      max-height: 527px;
      margin-bottom: 60px;
      @include bp(min-xxl) {
        margin-bottom: 97px;
      }
      .page-title {
        color: $color-light;
        margin-bottom: 0;
        @include bp(min-xxl) {
          @include font-size(57px);
        }
      }
    }
  }
  .rte {
    h3 {
      @include font-size(18px);
    }
    p {
      color: #525252;
      line-height: 1.35;
      @include bp(min-md) {
        @include font-size(17px);
        margin-bottom: 23px;
      }
    }
    a {
      color: $color-accent;
      text-decoration: none;
      &:hover {
        opacity: 0.75;
      }
    }
    ul {
      padding-bottom: 27px;
      li {
        position: relative;
        padding-left: 18px;
        margin-bottom: 24px;
        &:before {
          content: "";
          height: 8px;
          width: 8px;
          border: 2px solid #7f7f7f;
          position: absolute;
          left: 0;
          top: 8px;
        }
      }
    }
  }
  // With banner
  .page-header--banner ~ * {
    .rte {
      p {
        color: $color-dark;
        line-height: 1.19;
        @include bp(min-md) {
          @include font-size(22px);
          margin-bottom: 25px;
        }
      }
    }
  }
}

// Contact Page
.contact-info-wrap {
  .rte + & {
    margin-top: 50px;
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;

    [class*="icon-"] {
      font-size: 24px;
      margin: 2px 14px 0 0;
      color: $color-accent;
    }

    .contact-details {
      width: calc(100% - 40px);
    }

    span {
      font-size: 18px;
      text-transform: capitalize;
    }

    h4 {
      font-weight: 400;

      @include bp(max-lg) {
        font-size: 16px;
      }

      a {
        text-decoration: none;
        color: $color-dark;
      }
    }

    &.email-info {
      h4 a {
        font-weight: bold;
      }
    }
  }
}

// Form Stylings
form {
  label.label-hidden {
    display: none;
  }

  p.quote {
    font-weight: 500;

    &.success {
      color: #d50032;
    }
  }

  .input-text {
    width: 100%;
    background-color: transparent;
    border: 2px solid #818181;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 12px;
    color: #4c4c4c;
    outline: none;
    font-family: "Gotham Narrow", sans-serif;

    @include bp(min-md) {
      font-size: 17px;
    }
  }
}

// 404 Page Stylings

.error-404 {
  margin: 100px 0 200px;
  h1 {
    color: $color-accent;
    @include bp(max-sm) {
      font-size: 25px;
    }
  }
  h4 {
    @include bp(max-sm) {
      font-size: 14px;
    }
    a {
      color: $color-accent;
      text-decoration: none;
    }
  }
}

// Sample Grid Page Stylings
.sample-grids {
  [class*="col"] {
    margin-bottom: 15px;
  }
  .sample-content {
    background: #e3e2e2;
    padding: 15px 10px;
    font-size: 14px;
  }
}

.offset-ma {
  margin-right: auto;
  margin-left: auto;
}
