@charset 'UTF-8';

// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";

.product {
  .mobile-sticky-bar {
    position: relative;
    .pdt-meta {
      .product-price {
        font-size: 22px;
        margin-left: 50px;
      }
      .pdt-title {
        font-size: 20px;
        color: #fff;
        line-height: 1.3;
      }
    }
    .sticky-wrap {
      overflow: hidden;
      &.scene {
        @include bp(max-sm) {
          position: absolute;
          width: 100%;
          transition: transform 0.2s ease-in-out;
          z-index: 5;
        }
      }
    }
    &.sticky {
      .sticky-wrap.scene {
        @include bp(max-sm) {
          overflow: hidden;
          top: 100%;
          position: fixed;
          transform: translateY(-100%);
          width: 100%;
          left: 0;
          padding: 15px;
          color: $color-light;
          background: #262626;
        }
      }
      .pdt-meta {
        display: flex;
      }
      .product-options-select {
        margin-top: 0;
      }
      .product-add {
        margin-bottom: 0;
      }
      .select-selected {
        background-color: white;
      }
      .select-items {
        height: 70px;
        overflow: auto;
      }
      .sticky-wrap {
        overflow: hidden;
      }
    }
  }
  &__action {
    &--add-to-cart {
      &[disabled] {
        filter: grayscale(1);
        opacity: 0.75;
      }
    }
  }
}

.template-product {
  .nav--breadcrumb {
    @include bp(max-sm) {
      display: none;
    }
  }

  .fancybox-is-open .fancybox-bg {
    opacity: 1;
  }
  .product-main-gallery {
  }
  .video-media {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    clear: both;
    padding-top: 0px;
    float: left;
    width: 100%;
    margin-top: 50px;
    &.show-vdo:before {
      display: none;
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: 2;
    }
    .video-thumb {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    span.play-video {
      width: 88px;
      height: 88px;
      border: 8px solid #fff;
      display: block;
      position: absolute;
      z-index: 2;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      @include bp(min-xl) {
        width: 105px;
        height: 105px;
        &:before {
          border-width: 20px 26px;
        }
      }
      &:before {
        content: "";
        border-color: transparent transparent transparent #fff;
        border-width: 15px 20px;
        border-style: solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-20%, -50%);
      }
    }
    iframe {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  .additional-description {
    .product-extras {
      border-top: 1px solid #bebebe;
      padding-top: 15px;
      margin-bottom: 15px;

      ul li {
        margin-bottom: 5px;
        position: relative;
        padding-left: 22px;

        &:before {
          content: "";
          width: 4px;
          height: 4px;
          background-color: #000;
          position: absolute;
          top: 12px;
          transform: translateY(-50%);
          left: 10px;
          border-radius: 50%;
        }
      }

      h4 {
        font-size: 15px;
        text-transform: uppercase;
        font-family: "Gotham";
        position: relative;
        cursor: pointer;

        &:before,
        &:after {
          content: "";
          width: 12px;
          height: 2px;
          background-color: $color-dark;
          position: absolute;
          right: 10px;
          top: 6px;
          transition: transform 0.4s ease-in-out;
        }

        &.closed:after {
          transform: rotate(90deg);
        }
      }
    }
  }

  .related-products {
    margin-bottom: 50px;
    @include bp(min-sm) {
      margin-bottom: 100px;
    }
    .section-title {
      font-weight: 500;
      margin-bottom: 35px;
      position: relative;
      @include bp(min-sm) {
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #acacac;
          left: 0;
          top: 50%;
        }
      }
      @include bp(max-sm) {
        text-align: left;
      }
      span {
        background-color: #fff;
        display: inline-block;
        position: relative;
        @include bp(min-sm) {
          padding: 0 20px;
        }
      }
    }

    a.pdt-link {
      text-decoration: none;
      padding: 0 10px;
    }

    .item-details {
      .item-name {
        font-size: 13px;
        color: #434343;
      }

      .item-price {
        font-size: 15px;
        font-weight: bold;
        color: #1f1f1f;
      }
    }

    .slider--nav {
      margin-left: -15px;
      margin-right: -15px;
      @include bp(min-sm) {
        padding-left: 20px;
        padding-right: 20px;
      }
      .slick-arrow {
        font-size: 24px;
        font-size: 2.4rem;
        color: $color-dark;
      }
    }
  }
  .products-pairs {
    margin: 40px 0 40px;
    width: 100%;
    padding-top: 40px;
    clear: both;
    @include bp(min-sm) {
      margin: 40px 0 0;
    }
    a.pdt-link {
      text-decoration: none;
      outline: 0;
      padding: 0 6px;
      @include bp(min-sm) {
        padding: 0 7px;
      }
      img {
        border: 1px solid #f2f2f2;
        margin-bottom: 10px;
      }
    }

    .section-title {
      font-weight: 700;
      @include bp(min-sm) {
        font-size: 16px;
        text-transform: uppercase;
      }
    }

    .item-name {
      font-size: 15px;
      color: $color-dark;
      font-weight: 500;
    }

    .slider--nav {
      margin-left: -5px;
      margin-right: -15px;
      @include bp(min-sm) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
        &:after {
          content: "";
          width: 100px;
          height: 100%;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          position: absolute;
          top: 0;
          right: 20px;
        }
      }

      .slick-arrow {
        font-size: 24px;
        font-size: 2.4rem;
        color: $color-dark;
        top: 37%;
        z-index: 1;
      }
    }
  }

  .review-wrapper {
    margin: 0 auto 35px;
    max-width: 1160px;
  }
  .yotpo {
    &.bottomLine {
      margin-bottom: 15px;
      min-height: 18px;
      @include bp(max-sm) {
        text-align: center;
        margin-bottom: 20px;
      }
      .yotpo-bottomline {
        @include bp(max-sm) {
          float: none;
          display: inline-block;
        }
        .yotpo-stars {
          margin-right: 10px;
          padding-right: 10px;
          position: relative;

          &:after {
            content: "";
            width: 1px;
            height: 13px;
            position: absolute;
            right: 0;
            background-color: #6d6d6d;
            top: 4px;
          }
        }

        .yotpo-icon-star,
        .yotpo-icon-half-star,
        .yotpo-icon-empty-star {
          color: $color-accent;
        }

        .text-m:hover {
          color: $color-accent !important;
        }
      }
    }

    .yotpo-review .yotpo-header .yotpo-icon-profile {
      background-color: #666666;
    }

    .yotpo-bottomline .yotpo-icon-star,
    .yotpo-bottomline .yotpo-icon-half-star,
    .yotpo-bottomline .yotpo-icon-empty-star {
      color: $color-dark;
    }
  }
}

.gift-card-line-items {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  .input-text {
    width: 90%;
    max-width: 400px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-size: 15px;
    padding: 10px;
    margin-bottom: 12px;
    &::placeholder {
      color: #aaa;
    }
  }
}
@media screen and (max-width: 767px) {
  .gift-card-atc {
    flex-direction: column;
    .gift-card-line-items {
      .input-text {
        width: 100%;
      }
    }
  }
}
