@charset 'UTF-8';

// --------------------------------------------------
// mixins

@import "../mixins/helpers";

// --------------------------------------------------
// variables

@import "../partials/variables";
.stores-list{
    margin-bottom:100px;
}
.store-item{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   
    .page-link{
        display:block;

    } 
    &__photo {
        position:relative;
        img{
            display:block;
        }
    }
    &__coming {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color:rgba(255, 255, 255, 0.55);
        span{
            font-weight: bold;
            display: block;
            font-size:20px;
        }
    }
    &__coming-soon {
        flex-grow: 1;
    }
    &__header{
        h3{
            font-size:16px;
            background-color:$color-dark;
            padding:15px 20px;
            font-weight:500;
            margin-bottom:0;
            line-height: 1.4;
            color:$color-light;
            @include bp(min-lg){
            font-size:18px; 
            
            }
            @include bp(min-xxl){
                font-size:20px;
                padding:15px 30px;
            }

            a{
                color:#fff;
                text-decoration:none;
            }
        }
    }
    &__mid,
    &__btm{
        padding:20px;
        font-size:16px;
        @include bp(min-xxl){
            padding:20px 30px;
            font-size:18px;
        }
    }
    &__mid{
        background-color:#f5f5f5;
    }
    &__btm{
        background-color:#d7d7d7;
        flex-grow: 1;
    }
    &__address{
        padding-bottom:10px;
        font-weight: 500;
        line-height: 1.3;
        .address-wrap,.phone-number-wrap{
            display:flex;
            flex-wrap:wrap;
            margin-bottom:10px;
            [class*="icon-"] {
                margin-right: 8px;
                line-height: 1.4;
            }
        }
        .phone-number-wrap{
            .tele-link{
                a{
                    text-decoration:none;
                    color:$color-dark;
                }
            }
        }
        address{
            width: calc(100% - 44px);            
        }
    }
    &__hours {
        margin-bottom: 20px;
        h5{
            margin-bottom:10px;
        }
        p{
            margin-bottom:0;
        }
    }
}
.store-single{
    .store-hero{
        margin-bottom:90px;
        .store__info{
            display: flex;
            flex-direction: column;
        }
        .store__image{
            @include bp(min-md){
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                overflow: hidden;
                img {
                    flex-shrink: 0;
                    min-height: 100%;
                    min-width: 100%;
                    max-width: none;
                    height: auto;
                }
            }
        }
    }
    .store-item{
        &__mid,
        &__btm{
            padding:25px;
            @include bp(min-xl){
                padding:30px;
            }
            @include bp(min-xxl){
                padding:50px 60px;
            }
        }
        &__mid{
            h3{
                @include bp(min-xxl){
                    font-size:35px;
                }
                a{
                    color:$color-dark;
                    text-decoration:none;                    
                }
            }
        }
        &__hours{
            h5{
                font-size:24px;
            }

        }
    }
    .store-description{
        margin-bottom:70px;
        .about-title{
            @include bp(min-xxl){
                font-size:35px;
            }
        }
        .container--small{
            padding-bottom:0;
        }
    }
    .store-map {
        margin-bottom: 100px;
        .gmap iframe {
            width: 100%;
        }
    }
}
