<style>.banner--for-couples{position:relative;background-color:#fcf2f5;margin-bottom:32px;overflow:hidden;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}.banner--for-couples:hover{opacity:.8}.banner--for-couples .banner__cnt{padding:15px 15px 20px}.banner--for-couples .banner__hgl{color:#c75a57;font-weight:500;font-size:38px;text-align:center;line-height:1}.banner--for-couples .banner__des{color:#c09d9b;font-weight:400;text-transform:uppercase;font-size:46px;text-align:center;line-height:1.07}.banner--for-couples .banner__des a{color:inherit}.banner--for-couples .banner__bg,.banner--for-couples .banner__fg{background-repeat:no-repeat}.banner--for-couples .banner__bg{background-color:#fcf2f5;background-blend-mode:multiply;background-size:contain;background-position:center right;padding-top:75.57%}.banner--for-couples .banner__fg{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;background-size:cover;background-position:center}.banner--for-couples .banner__hidden-link{width:100%;height:100%;position:absolute;top:0;left:0;z-index:2}@media (min-width:576px){.banner--for-couples .container--banner{position:relative}.banner--for-couples .banner__fg{left:0}}@media (min-width:768px){.banner--for-couples{margin-bottom:72px}.banner--for-couples .banner__bg{padding-top:174.3%;background-position:center}}@media (min-width:1262px){.banner--for-couples .banner__cnt{padding:35px 50px}.banner--for-couples .banner__hgl{font-size:40px;text-align:left}.banner--for-couples .banner__des{font-size:65px;text-align:left;line-height:1.08}}@media (max-width:767px){.banner--for-couples{padding-bottom:15px}.banner--for-couples .banner__bg{-webkit-transform:translateX(5.88%);-ms-transform:translateX(5.88%);transform:translateX(5.88%)}.banner--for-couples .banner__fg{padding-top:55.2%;position:absolute;bottom:10.16%;left:-9.95%;background-size:contain;background-position:left center}}</style>

{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="banner banner--for-couples" data-section-id="{{ section.id }}" data-section-type="banner">
  <div class="container container--banner">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="banner__cnt">
          <p class="banner__hgl">{{ section.settings.highlight }}</p>
          <div class="banner__des">{{ section.settings.description }}</div>
        </div>
      </div>
      <div class="col-12 col-md-2 no-col-mob-gutters">
        <div class="banner__bg lazyload w-100" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img %}"></div>
      </div>
      <div class="col-7 col-md-4 align-self-stretch d-flex no-col-mob-gutters" style="position: static;">
        <div class="banner__fg lazyload w-100" data-bgset="{% include 'responsive-bg-image', image: section.settings.fg_img %}"></div>
      </div>
    </div>
  </div>
  <a class="banner__hidden-link" href="{{ section.settings.link }}"></a>
</section>
{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "id": "bg_img",
      "type": "image_picker",
      "label": "Background Image"
    },
    {
      "id": "fg_img",
      "type": "image_picker",
      "label": "Foreground Image"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Banner Link"
    },
    {
      "id": "highlight",
      "type": "text",
      "label": "Highlighted Info"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description"
    }
  ]
}
{% endschema %}