{% if section.settings.imagepromo1 %} 
<section class="duo_collection_banners" data-section-id="{{ section.id }}" data-section-type="banner">
  <div class="container container--banner px-0">
    <div class="row align-items-center mx-0">
      
     
      <div class="col-12 col-md-6 text-center px-0 px-md-2"><a class="banner__hidden-link" href="{{ section.settings.link1 }}"></a>
       <img data-src="{{ section.settings.imagepromo1 | img_url: '500x' }}" alt="{{ section.settings.imagepromo1.alt }}" class="lazyload mx-auto {% if section.settings.hide1 != true and section.settings.imagepromo1_mobile %}d-none d-md-block {% endif %}">
        {% if section.settings.hide1 != true  %} 
        <img data-src="{{ section.settings.imagepromo1_mobile | img_url: '768x' }}" alt="{{ section.settings.imagepromo1_mobile.alt }}" class="lazyload d-block d-md-none mx-auto" >
        {% endif %}
      </div>

      
      {% if section.settings.imagepromo2  %} 
      <div class="col-12 col-md-6 text-center px-0 px-md-2"><a class="banner__hidden-link" href="{{ section.settings.link2 }}"></a>
        <img data-src="{{ section.settings.imagepromo2 | img_url: '500x' }}" alt="{{ section.settings.imagepromo2.alt }}" class="lazyload mx-auto {% if section.settings.hide2 and section.settings.hide2 != 'blank' %}d-none d-md-block {% endif %}">
        {% if section.settings.hide2 != true %}
        <img data-src="{{ section.settings.imagepromo2_mobile | img_url: '768x' }}" alt="{{ section.settings.imagepromo2_mobile.alt }}" class="lazyload d-block d-md-none mx-auto">
        {% endif %}
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Duo Banners",
  "settings": [
    {
      "id": "imagepromo1",
      "type": "image_picker",
      "label": "Promo Image 1",
      "info": "Size: 550x150 "
    },
	{
      "id": "imagepromo1_mobile",
      "type": "image_picker",
      "label": "Promo Image 1",
      "info": "Size: 768x85 (optional, if showing)"
    },
    {
      "id": "link1",
      "type": "url",
      "label": "Promo Link 1"
    },
    {
      "id": "hide1",
      "type": "checkbox",
	  "default": true,
      "label": "Hide Promo 1 on mobile"
    },
    {
      "id": "imagepromo2",
      "type": "image_picker",
      "label": "Promo Image 2",
 	  "info": "Size: 550x150"
    },
    {
      "id": "imagepromo2_mobile",
      "type": "image_picker",
      "label": "Promo Image 2",
 	  "info": "Size: 768x85 (optional, if showing)"
    },
	{
      "id": "link2",
      "type": "url",
      "label": "Promo Link 2"
    },
    {
      "id": "hide2",
      "type": "checkbox",
	  "default": true,
      "label": "Hide Promo 2 on mobile",
	  "info": "Recommended to hide at least the 2nd banner if not necessary to show"
    }
  ]
}
{% endschema %}