{%- assign current_date_time = 'now' | date: "%Y%m%d%H%M" -%}

{%- comment %}choose start date{%- endcomment -%}
{%- assign start_year = section.settings.start_year -%}
{%- assign start_month = section.settings.start_month -%}
{%- assign start_day = section.settings.start_day -%}
{%- assign start_hour = section.settings.start_hour -%}
{%- assign start_minute = section.settings.start_minute -%}
{%- assign start_second = section.settings.start_second -%}
{%- assign start_date = start_year | append: start_month | append: start_day | append: start_hour | append: start_minute | append: start_second | convert: "date" -%}

{%- comment %}choose end date{%- endcomment -%}
{%- assign end_year = section.settings.end_year -%}
{%- assign end_month = section.settings.end_month -%}
{%- assign end_day = section.settings.end_day -%}
{%- assign end_hour = section.settings.end_hour -%}
{%- assign end_minute = section.settings.end_minute -%}
{%- assign end_second = section.settings.end_second -%}
{%- assign end_date = end_year | append: end_month | append: end_day | append: end_hour | append: end_minute | append: end_second | convert: "date" -%}

<style type="text/css">
  
</style>

{%- if current_date_time >= start_date and current_date_time < end_date -%}

  <section class="shopify-section-{{ section.id }} section lazyload" data-sizes="auto">
    <div class="container px-0">
      <div class="row justify-content-center align-items-center"><div class="col-12 px-0">
        
  {% if section.settings.image_link  %}<a class="coverlink" href="{{ section.settings.image_link }}"></a>{%- endif -%}
         {% if section.settings.desktop_img  %}
        <img data-src="{{ section.settings.desktop_img | img_url: '1200x' }}" alt="{{ section.settings.desktop_img.alt }}" class="lazyload mx-auto d-none d-md-block">
          {%- endif -%}
        {% if section.settings.mobile_img != true %}
        <img data-src="{{ section.settings.mobile_img | img_url: '768x' }}" alt="{{ section.settings.mobile_img.alt }}" class="lazyload d-block d-md-none mx-auto">
        {% endif %}
        </div>
            </div>
    </div>
  </section>



{%- endif -%}

{% schema %}
{
  "name": "Collection Banner Image",
  "settings": [
    {
       "type": "header",
       "content": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_img",
      "label": "Desktop image. 1150x120 image recommended. (Height adjustable)"
    },
    {
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Mobile Image 768x85 image. (Height adjustable)"
    },

    {
      "id": "image_link",
      "type": "url",
      "label": "Image link"
    },
    {
       "type": "header",
       "content": "Start Date"
    },
    {
      "type": "text",
      "id": "start_year",
      "label": "Start Year",
      "default": "2020"
    },
    {
      "type": "select",
      "id": "start_month",
      "label": "Start Month",
      "options": [
        {
          "label": "January",
          "value": "01"
        },
        {
          "label": "February",
          "value": "02"
        },
        {
          "label": "March",
          "value": "03"
        },
        {
          "label": "April",
          "value": "04"
        },
        {
          "label": "May",
          "value": "05"
        },
        {
          "label": "June",
          "value": "06"
        },
        {
          "label": "July",
          "value": "07"
        },
        {
          "label": "August",
          "value": "08"
        },
        {
          "label": "September",
          "value": "09"
        },
        {
          "label": "October",
          "value": "10"
        },
        {
          "label": "November",
          "value": "11"
        },
        {
          "label": "December",
          "value": "12"
        }
      ]
    },
    {
      "type": "select",
      "id": "start_day",
      "label": "Start Day",
      "options": [
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        }
      ]
    },
    {
      "type": "select",
      "id": "start_hour",
      "label": "Start Hour (24hr)",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        }
      ],
      "default": "00"
    },
    {
      "type": "select",
      "id": "start_minute",
      "label": "Start Minute",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "00"
    },
    {
      "type": "select",
      "id": "start_second",
      "label": "Start Second",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "00"
    },
    {
       "type": "header",
       "content": "End Date"
    },
    {
      "type": "text",
      "id": "end_year",
      "label": "End Year",
      "default": "2020"
    },
    {
      "type": "select",
      "id": "end_month",
      "label": "End Month",
      "options": [
        {
          "label": "January",
          "value": "01"
        },
        {
          "label": "February",
          "value": "02"
        },
        {
          "label": "March",
          "value": "03"
        },
        {
          "label": "April",
          "value": "04"
        },
        {
          "label": "May",
          "value": "05"
        },
        {
          "label": "June",
          "value": "06"
        },
        {
          "label": "July",
          "value": "07"
        },
        {
          "label": "August",
          "value": "08"
        },
        {
          "label": "September",
          "value": "09"
        },
        {
          "label": "October",
          "value": "10"
        },
        {
          "label": "November",
          "value": "11"
        },
        {
          "label": "December",
          "value": "12"
        }
      ]
    },
    {
      "type": "select",
      "id": "end_day",
      "label": "End Day",
      "options": [
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        }
      ]
    },
    {
      "type": "select",
      "id": "end_hour",
      "label": "End Hour (24hr)",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        }
      ],
      "default": "23"
    },
    {
      "type": "select",
      "id": "end_minute",
      "label": "End Minute",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "59"
    },
    {
      "type": "select",
      "id": "end_second",
      "label": "End Second",
      "options": [
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "59"
    }
  ],
  "presets": [
    {
      "name": "Collection Single Banner Image",
      "category": "Banners"
    }
  ]
}
{% endschema %}
