<style>.collection-side-banner{padding-top:1.5rem}</style>

{%- if section.settings.image -%}
  {%- if section.settings.image_link -%}
    <a href="{{ section.settings.image_link }}">
  {%- endif -%}
  
  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ section.settings.image | img_url:'large'}}">
  {%- if section.settings.image_link -%}
    </a>
  {%- endif -%}

{%- endif -%}


{% schema %}
{
  "name": "Collection Sidebar Promo",
  "settings": [
    

    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },

	
    {
		"type": "url",
      "id": "image_link",
 
      "label": "Image Link"
    }


  ],
  "presets": [
    {
      "category": "HH",
     "name": "Collection Sidebar Promo"
    }
  ]
}
{% endschema %}