{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% include 'content-collection-heading' %}

{% schema %}
{
  "name": "Page Heading",
  "settings": [
    {
      "type": "header",
      "content": "Featured CTA"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "text",
      "id":        "sub_title",
      "label":     "Sub Title"
    }
  ]
}
{% endschema %}