{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>#shopify-section-cta-group-ad{width:100%}section.cta-group--ad{height:100%;max-height:190px}section.cta-group--ad .slick-list,section.cta-group--ad .slick-track{height:100%}.cta-group--ad .cta-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%}.cta-group--ad .cta-item .cta{background-color:#222;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;padding:30px 30px 20px}.cta-group--ad .cta-item .cta.bg-img{background-position:center;background-size:cover}.cta-group--ad .cta-item .cta__des a,.cta-group--ad .cta-item .cta__subtitle a,.cta-group--ad .cta-item .cta__title a{color:inherit;position:relative;text-decoration:underline;z-index:2;-webkit-transition:opacity .15s ease-in-out;-o-transition:opacity .15s ease-in-out;transition:opacity .15s ease-in-out}.cta-group--ad .cta-item .cta__des a:hover,.cta-group--ad .cta-item .cta__subtitle a:hover,.cta-group--ad .cta-item .cta__title a:hover{opacity:.75}.cta-group--ad .cta-item .cta__title{color:#fff;font-family:"Gotham Narrow",sans-serif;font-weight:600;line-height:1;font-size:40px}.cta-group--ad .cta-item .cta__title strong{font-weight:700}.cta-group--ad .cta-item .cta__title p{margin-bottom:0}.cta-group--ad .cta-item .cta__subtitle{color:#fff;font-family:Gotham,sans-serif;font-size:15px;font-weight:500}.cta-group--ad .cta-item .cta__subtitle strong{font-weight:700}.cta-group--ad .cta-item .cta__subtitle em{text-decoration:underline}.cta-group--ad .cta-item .cta__des{color:rgba(255,255,255,.59);font-family:var(--hh-labelfont);font-size:14px}.cta-group--ad .cta-item .cta__des a{font-family:"Gotham Narrow",sans-serif}.cta-group--ad .cta-item--light-mode{background-color:#fff}@media screen and (max-width:960px){.cta-group--ad .cta-item .cta__title{font-size:22px}}</style>

<section class="cta-group cta-group--ad slider slider--nav-none slider--horizontal slider--equal-height" data-section-id="{{ section.id }}" data-section-type="cta-group--ad" data-slides-to-show="1" data-slides-to-show-xs="1">
  {% for block in section.blocks %}
    <div class="cta-item cta-item--{{ block.settings.theme }}" {{ block.shopify_attributes }}>
      <div class="cta{% if block.settings.bg_img %} bg-img lazyload{% endif %}" {% if block.settings.bg_img %}data-bgset="{% include 'responsive-bg-image', image: block.settings.bg_img %}"{% elsif block.settings.bg_color %}style="background-color:{{ block.settings.bg_color }};"{% endif %}>
        <div class="cta__title">{{ block.settings.title }}</div>
        <div class="cta__subtitle">{{ block.settings.subtitle }}</div>
        <div class="cta__des">{{ block.settings.des }}</div>
        <a class="cta__hidden-link" href="{{ block.settings.link }}"></a>
      </div>
    </div>
  {% endfor %}
</section>
{% schema %}
{
  "name": "Ads",
  "blocks": [
    {
      "type": "ad",
      "name": "Ad",
      "settings": [
        {
          "id": "bg_img",
          "type": "image_picker",
          "label": "Background Image"
        },
        {
          "id": "bg_color",
          "type": "color",
          "label": "Background Color",
          "default": "#000000"
        },
        {
          "id": "theme",
          "type": "radio",
          "label": "Appearance",
          "info": "For best result select the appearance mode based on background",
          "options": [
            { "value": "dark-mode", "label": "Dark Mode" },
            { "value": "light-mode", "label": "Light Mode" }
          ],
          "default": "dark-mode"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Ad Link"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Subtitle"
        },
        {
          "id": "des",
          "type": "richtext",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
