{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>#shopify-section-cta-group-2{margin-bottom:25px}.cta-group-2{margin-bottom:-25px}.cta-group-2 .cta-item{margin-bottom:25px}.cta-group-2 .cta-item a{-webkit-transition:opacity .15s ease-in-out;-o-transition:opacity .15s ease-in-out;transition:opacity .15s ease-in-out}.cta-group-2 .cta-item a:hover{opacity:.85}.cta-group-2 .cta-item .cta--full-bg{background-size:cover;background-position:center;padding:12% 30px 60%;-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}.cta-group-2 .cta-item:hover .cta--full-bg{opacity:.8}.cta-group-2 .cta--full-bg .cta__content{max-width:100%;width:355px;z-index:2}.cta-group-2 .cta--full-bg .cta__title{color:#fff;font-family:"Playfair Display",serif;font-size:500%;margin-bottom:15px;line-height:.87;font-weight:400;text-transform:lowercase}.cta-group-2 .cta--full-bg .cta__description{color:#fff;font-size:120%}.cta-group-2 .cta--full-bg-mob .cta__media{padding-top:58%;background-size:cover;background-position:center;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}.cta-group-2 .cta--full-bg-mob:hover .cta__media{opacity:.8}.cta-group-2 .cta--full-bg-mob .cta__description{color:#000;font-family:"Gotham Narrow",sans-serif;font-weight:400;line-height:1.4}.cta-group-2 .cta--full-bg-mob .cta__description p{margin-bottom:0}.cta-group-2 .cta--full-bg-mob .cta__description a{color:inherit;text-decoration:none;border-bottom:2px solid #000;display:inline-block;line-height:1}@media (min-width:576px){.cta-group-2 .cta--full-bg .cta__title{font-size:330%}}@media (min-width:768px){#shopify-section-cta-group-2{margin-bottom:40px}.cta-group-2 .cta--full-bg-mob{background-image:none!important}.cta-group-2 .cta--full-bg-mob .cta__media{margin-bottom:10px}}@media (min-width:992px){.cta-group-2 .cta--full-bg{padding:10% 75px 51%}.cta-group-2 .cta--full-bg .cta__content{width:580px}.cta-group-2 .cta--full-bg .cta__description{font-size:1.4rem}.cta-group-2 .cta--full-bg-mob .cta__title{font-size:1.3rem}}@media (min-width:1920px){.cta-group-2 .cta--full-bg .cta__title{font-size:500%;margin-bottom:35px}}@media (max-width:767px){.cta-group-2{margin-bottom:-44px}.cta-group-2 .cta-item{padding-left:0;padding-right:0;margin-bottom:44px}.cta-group-2 .cta--full-bg-mob{background-size:cover;background-position:center;padding-top:63%;position:relative;margin-left:-15px;margin-right:-15px}.cta-group-2 .cta--full-bg-mob .cta__content{position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);padding-left:18px;padding-right:18px}.cta-group-2 .cta--full-bg-mob .cta__description{color:#fff;font-size:200%;line-height:1}.cta-group-2 .cta--full-bg-mob .cta__description p{font-weight:700}.cta-group-2 .cta--full-bg-mob .cta__description a{border:0}.cta-group-2 .cta--full-bg{padding:50% 30px 25%}}@media (min-width:768px) and (max-width:991px){.cta-group-2 .cta--full-bg .cta__title{font-size:480%}}</style>

<section data-section-id="{{ section.id }}" data-section-type="cta">
  <div class="container">
    <div class="row cta-group-2">
      <div class="col-md-7 pr-md-21 cta-item d-flex flex-column">
        <a class="coverlink" href="{{ section.settings.linkto_ft}}"></a>
        <div class="cta cta--full-bg lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_ft %}" alt="{{  section.settings.img_ft.alt }}">
          <div class="cta__content">
            <h2 class="cta__title">{{ section.settings.title }}</h2>
            <div class="cta__description d-none d-md-block">{{ section.settings.content_ft_dk }}</div>
            <div class="cta__description d-block d-md-none">{{ section.settings.content_ft_mb }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 pl-md-21 d-flex flex-column justify-content-between">
        <div class="cta-item">
          <div class="cta cta--full-bg-mob lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_1 %}" alt="{{  section.settings.img_1.alt }}">
            <a class="coverlink" href="{{ section.settings.linkto_1}}"></a>
            <div class="cta__media d-none d-md-block lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_1 %}" alt="{{  section.settings.img_ft.alt }}">
              </div>
            <div class="cta__content">
              <h2 class="cta__title d-none d-md-block">{{ section.settings.title_1 }}</h2>
              <div class="cta__description d-none d-md-block">{{ section.settings.content_1 }}</div>
              <div class="cta__description d-block d-md-none">{{ section.settings.content_1_mb }}</div>
            </div>
          </div>
        </div>
        <div class="cta-item">
          <div class="cta cta--full-bg-mob lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_2 %}" alt="{{  section.settings.img_2.alt }}">
            <a class="coverlink" href="{{ section.settings.linkto_2}}"></a>
            <div class="cta__media d-none d-md-block lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_2 %}" alt="{{  section.settings.img_2.alt }}">
            </div>
            <div class="cta__content">
              <h2 class="cta__title d-none d-md-block">{{ section.settings.title_2 }}</h2>
              <div class="cta__description d-none d-md-block">{{ section.settings.content_2 }}</div>
              <div class="cta__description d-block d-md-none">{{ section.settings.content_2_mb }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Group CTA",
  "settings": [
    {
      "type": "header",
      "content": "Featured CTA"
    },
    {
      "type": "image_picker",
      "id": "img_ft",
      "label": "Image"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type": "url",
      "id": "linkto_ft",
      "label": "Link Featured CTA"
    },
    {
      "type": "richtext",
      "id": "content_ft_dk",
      "label": "Content for Dekstop",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "richtext",
      "id": "content_ft_mb",
      "label": "Content for Mobile",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "CTA 1"
    },
    {
      "type":      "text",
      "id":        "title_1",
      "label":     "Title"
    },
    {
      "type": "image_picker",
      "id": "img_1",
      "label": "Image"
    },
{
      "type": "url",
      "id": "linkto_1",
      "label": "Link Small 1"
    },
    {
      "type": "richtext",
      "id": "content_1",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "richtext",
      "id": "content_1_mb",
      "label": "Content for Mobile",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "CTA 2"
    },
    {
      "type":      "text",
      "id":        "title_2",
      "label":     "Title"
    },
    {
      "type": "image_picker",
      "id": "img_2",
      "label": "Image"
    },
{
      "type": "url",
      "id": "linkto_2",
      "label": "Link Small 2"
    },
    {
      "type": "richtext",
      "id": "content_2",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "richtext",
      "id": "content_2_mb",
      "label": "Content for Mobile",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    }
  ]
}
{% endschema %}