{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>.cta-group .cta-item .cta__content{align-self:flex-start;justify-self:flex-end;width:100%;}.cta-group .cta-item .cta--md{display:flex;flex-direction:column}.cta-group:not(.slider) .cta-item{margin-bottom:20px}.cta-group .cta-item .cta{text-decoration:none}.cta-group .cta-item .cta--full-bg{display:block;background-repeat:no-repeat;background-position:center;background-size:cover;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding-left:25px;padding-right:25px;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}.cta-group .cta-item .cta--full-bg:hover{opacity:.85}.cta-group .cta-item .cta--lg{min-height:223px;padding-top:47px;padding-bottom:40px}.cta-group .cta-item .cta--lg .cta__title{color:#fff;font-family:Gotham,sans-serif;font-size:3.4rem;font-weight:400;line-height:1;text-transform:uppercase;max-width:100%}.cta-group .cta-item .cta--lg .cta__btn{display:inline-block}.cta-group .cta-item .cta--md{min-height:193px;padding-top:40px;padding-bottom:25px}.cta-group .cta-item .cta--md .cta__title{color:#fff;font-family:Gotham,sans-serif;font-size:2.4rem;line-height:1;letter-spacing:-.5px;text-transform:uppercase}.cta-group .cta-item .cta--md .cta__title strong{font-size:170%;font-weight:300}.cta-group .cta-item .cta--md .cta__title p{margin-bottom:10px}.cta-group .cta-item .cta--md .cta__btn{display:inline-block}@media (min-width:768px){.cta-group:not(.slider){margin-bottom:-35px}.cta-group:not(.slider) .cta-item{margin-bottom:35px}.cta-group .cta-item .cta--lg{min-height:339px;padding-top:100px;padding-bottom:60px}.cta-group .cta-item .cta--lg .cta__title{margin-bottom:27px}.cta-group .cta-item .cta--md{min-height:307px;padding-top:80px;padding-bottom:45px;height:100%}.cta-group .cta-item .cta--md .cta__title{margin-bottom:27px}.cta-group .cta-item .cta__content{padding:25px}}@media (max-width:992px){.cta-group .cta-item .cta--lg .cta__title,.cta-group .cta-item .cta--md .cta__title{font-size:1.8rem;font-weight:400}}@media (max-width:767px){.cta-group:not(.slider) .cta-item{padding-left:0;padding-right:0}.cta-group .cta-item .cta--lg .cta__title{width:282px;font-size:1.6rem}.cta-group .cta-item .cta--md .cta__title{font-size:1.6rem}.cta-group .btn--lg.cta__btn{font-size:13px;padding:.5em 1em!important;min-width:120px!important}}@media (min-width:400px) and (max-width:575px){.cta-group .cta-item .cta--full-bg{padding-left:40px;padding-right:40px}}</style>

<section data-section-id="{{ section.id }}" data-section-type="cta">
  <div class="container">
    <div class="row cta-group">
      <div class="col-12 cta-item">
        <a class="cta cta--lg cta--full-bg lazyload {{ section.settings.txt_align_lg }} {{ section.settings.cnt_h_align_lg }} {{ section.settings.cnt_v_align_lg }}" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img_lg %}" href="{{ section.settings.cta_link_lg }}" alt="{{ section.settings.title | strip_html }}">
         
          
          <div class="cta__content" style>
                <h2 class="cta__title">{{ section.settings.title }}</h2>
                <div class="cta__btn btn btn--light btn--square btn--lg">{{ section.settings.cta_text_lg }}</div>
              </div>
        </a>
      </div>
      {% for block in section.blocks %}
        <div class="col-md-6 cta-item">
          <a class="cta cta--md cta--full-bg lazyload block-{{ block.id }} {{ block.settings.txt_align_md }} {{ block.settings.cnt_h_align_md }} {{ block.settings.cnt_v_align_md }}" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: block.settings.bg_img_md %}" href="{{ block.settings.cta_link_md }}" alt="{{ block.settings.title | strip_html }}">
              

            <div class="cta__content">
                  <div class="cta__title">{{ block.settings.title }}</div>
               <div class="cta__btn btn btn--light btn--square btn--lg">Shop Now</div>
                </div>
          </a>
        </div>
          {% if block.settings.bg_img_md_mobile  %}
  <style>@media (max-width: 768px) {
  .cta--md.cta--full-bg.block-{{ block.id }} {
    background-image: url({{ block.settings.bg_img_md_mobile | img_url: '768x' }}) !important;
  }
  }</style>
        
        {% endif %}
      
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
{
  "name": "CTA with full background",
  "settings": [
    {
      "type": "header",
      "content": "Large CTA"
    },
    {
      "type": "image_picker",
      "id": "bg_img_lg",
      "label": "Background image",
	  "info": "Recommended: 1550 x 490"
    },
	{
      "type": "image_picker",
      "id": "bg_img_lg_mobile",
      "label": "Background image Mobile",
	  "info": "Recommended: 650 x 275"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "text",
      "id":        "cta_text_lg",
      "label":     "Button text"
    },
    {
      "id": "cta_link_lg",
      "type": "url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "txt_align_lg",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "cnt_h_align_lg",
      "label": "Content Horizontal Alignment",
      "options": [
        {
          "value": "justify-content-start",
          "label": "Left"
        },
        {
          "value": "justify-content-center",
          "label": "Center"
        },
        {
          "value": "justify-content-end",
          "label": "Right"
        }
      ],
      "default": "justify-content-end"
    },
    {
      "type": "select",
      "id": "cnt_v_align_lg",
      "label": "Content Vertical Alignment",
      "options": [
        {
          "value": "align-items-start",
          "label": "Top"
        },
        {
          "value": "align-items-center",
          "label": "Middle"
        },
        {
          "value": "align-items-end",
          "label": "Bottom"
        }
      ],
      "default": "align-items-center"
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "Medium CTA",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_img_md",
          "label": "Background image", 
		  "info": "Recommended: 750 x 265"
        },
	{
      "type": "image_picker",
      "id": "bg_img_md_mobile",
      "label": "Background image Mobile",
	  "info": "Recommended: 650 x 275"
    },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<p>Medium Text<br><em>Large Text</em></p>"
        },
        {
          "id": "cta_link_md",
          "type": "url",
          "label": "CTA link"
        },
        {
          "type": "select",
          "id": "txt_align_md",
          "label": "Text Alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-left"
        },
        {
          "type": "select",
          "id": "cnt_h_align_md",
          "label": "Content Horizontal Alignment",
          "options": [
            {
              "value": "justify-content-start",
              "label": "Left"
            },
            {
              "value": "justify-content-center",
              "label": "Center"
            },
            {
              "value": "justify-content-end",
              "label": "Right"
            }
          ],
          "default": "justify-content-end"
        },
        {
          "type": "select",
          "id": "cnt_v_align_md",
          "label": "Content Vertical Alignment",
          "options": [
            {
              "value": "align-items-start",
              "label": "Top"
            },
            {
              "value": "align-items-center",
              "label": "Middle"
            },
            {
              "value": "align-items-end",
              "label": "Bottom"
            }
          ],
          "default": "align-items-end"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Call To Action",
      "name": "CTA with full background"
    }
  ]
}
{% endschema %}

{%- if section.settings.bg_img_lg_mobile  -%}
<style>
  @media (max-width:768px) {
    .cta--lg.cta--full-bg {
      background-image: url({{ section.settings.bg_img_lg_mobile | img_url: '768x' }}) !important;
    }
  }
</style>
{%- endif -%}
