{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% include 'content-grid-big-products', with selected_handle: section.settings.feature_collection %}

{% schema %}
  {
    "name": "Big Products",
    "settings": [
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Feature collection"
      }
    ],
    "presets": [
      {
        "category": "Collections",
        "name": "Big Products"
      }
    ]
  }
{% endschema %}

<style>section.collection--big .collection__title{color:var(--hh-black)}.collection__link{font-weight:600}</style>

<style>@media (max-width:768px){body.template-index .collection.collection--big{border-top:1px solid rgba(105,105,105,.08);padding-top:15px}}</style>