{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% include 'content-cta-sign-up' %}
<style>
  .cta--sign-up .row--cta{
    background-color: {{ section.settings.background_cta }};
  }
  .cta--sign-up .row--cta:hover{
    background-color: {{ section.settings.background_cta }}ed;
  }
  .cta--sign-up .cta__header .bg-shape svg path{
    fill: {{ section.settings.background_title }};
  }
  .cta--sign-up .cta__title{
    color: {{ section.settings.color_title }};
    font-family: {{ section.settings.font_theme_title }};
    font-size: {{ section.settings.font_size_title | divided_by: 2 | at_least: 18 }}px;
    font-weight: {{ section.settings.font_weight_title }};
    text-transform: {{ section.settings.txt_trans_title }};
  }
  .cta--sign-up .cta__highlights__top{
    color: {{ section.settings.color_top_cnt }};
    font-family: {{ section.settings.font_theme_top_cnt }};
    font-size: {{ section.settings.font_size_top_cnt | divided_by: 2 | at_least: 12 }}px;
    font-weight: {{ section.settings.font_weight_top_cnt }};
    text-transform: {{ section.settings.txt_trans_top_cnt }};
  }
  .cta--sign-up .cta__highlights__mid{
    color: {{ section.settings.color_mid_cnt }};
    font-family: {{ section.settings.font_theme_mid_cnt }};
    font-size: {{ section.settings.font_size_mid_cnt | divided_by: 2 | at_least: 18 }}px;
    font-weight: {{ section.settings.font_weight_mid_cnt }};
    text-transform: {{ section.settings.txt_trans_mid_cnt }};
  }
  .cta--sign-up .cta__highlights__btm{
    color: {{ section.settings.color_btm_cnt }};
    font-family: {{ section.settings.font_theme_btm_cnt }};
    font-size: {{ section.settings.font_size_btm_cnt | divided_by: 2 | at_least: 12 }}px;
    font-weight: {{ section.settings.font_weight_btm_cnt }};
    text-transform: {{ section.settings.txt_trans_btm_cnt }};
  }
  .cta--sign-up .cta__description{
    color: {{ section.settings.color_des }};
    font-family: {{ section.settings.font_theme_des }};
    font-size: {{ section.settings.font_size_des | divided_by: 2 | at_least: 11 }}px;
    font-weight: {{ section.settings.font_weight_des }};
    text-transform: {{ section.settings.txt_trans_des }};
  }
  .cta--sign-up .cta__link{
    color: {{ section.settings.color_link }};
    font-family: {{ section.settings.font_theme_link }};
    font-size: {{ section.settings.font_size_link | divided_by: 2 | at_least: 12 }}px;
    font-weight: {{ section.settings.font_weight_link }};
    text-transform: {{ section.settings.txt_trans_link }};
  }

  @media (min-width:768px) {
  }

  @media (min-width:992px) {
  }

  @media (min-width:1200px) {
    .cta--sign-up .cta__title{
      font-size: {{ section.settings.font_size_title | divided_by: 2 | at_least: 28 }}px;
    }
    .cta--sign-up .cta__highlights__top{
      font-size: {{ section.settings.font_size_top_cnt | divided_by: 2 | at_least: 13 }}px;
    }
    .cta--sign-up .cta__highlights__mid{
      font-size: {{ section.settings.font_size_mid_cnt | divided_by: 2 | at_least: 28 }}px;
    }
    .cta--sign-up .cta__highlights__btm{
      font-size: {{ section.settings.font_size_btm_cnt | divided_by: 2 | at_least: 15 }}px;
    }
    .cta--sign-up .cta__description{
      font-size: {{ section.settings.font_size_des | divided_by: 2 | at_least: 12 }}px;
    }
    .cta--sign-up .cta__link{
      font-size: {{ section.settings.font_size_link | divided_by: 2 | at_least: 13 }}px;
    }
  }

  @media (min-width:1920px) {
    .cta--sign-up .cta__title{
      font-size: {{ section.settings.font_size_title }}px;
    }
    .cta--sign-up .cta__highlights__top{
      font-size: {{ section.settings.font_size_top_cnt }}px;
    }
    .cta--sign-up .cta__highlights__mid{
      font-size: {{ section.settings.font_size_mid_cnt }}px;
    }
    .cta--sign-up .cta__highlights__btm{
      font-size: {{ section.settings.font_size_btm_cnt }}px;
    }
    .cta--sign-up .cta__description{
      font-size: {{ section.settings.font_size_des }}px;
    }
    .cta--sign-up .cta__link{
      font-size: {{ section.settings.font_size_link }}px;
    }
  }

  .cta--sign-up .cta__body,.cta--sign-up .cta__highlights{position:relative;z-index:3}.cta--sign-up .cta__header{position:relative;z-index:2;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.cta--sign-up .cta__header .bg-shape{width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;-webkit-transition:-webkit-transform .25s cubic-bezier(.22,.61,.36,1);transition:-webkit-transform .25s cubic-bezier(.22,.61,.36,1);-o-transition:transform .25s cubic-bezier(.22,.61,.36,1);transition:transform .25s cubic-bezier(.22,.61,.36,1);transition:transform .25s cubic-bezier(.22,.61,.36,1),-webkit-transform .25s cubic-bezier(.22,.61,.36,1)}.cta--sign-up .cta__header .bg-shape svg{width:100%;height:100%}.cta--sign-up .cta__header p{margin-bottom:0}.cta--sign-up .cta__title{line-height:1.27;text-align:center;font-style:italic}.cta--sign-up .cta__highlights{line-height:1.2}.cta--sign-up .cta__highlights__mid{margin-bottom:0}.cta--sign-up .cta__body{text-align:right}.cta--sign-up .cta__description{text-align:left;margin-bottom:15px}.cta--sign-up .cta__link{text-decoration:none;position:relative;z-index:4;-webkit-transition:opacity .15s ease-in-out;-o-transition:opacity .15s ease-in-out;transition:opacity .15s ease-in-out;display:inline-block;line-height:1;border-bottom:1px solid #fff}.cta--sign-up .cta__link:hover{opacity:.75}.cta--sign-up .cta__hidden-link{opacity:0;position:absolute;width:100%;height:100%;top:0;left:0;z-index:3}.cta--sign-up .row--cta{overflow:hidden;position:relative;-webkit-transition:.25s background linear;-o-transition:.25s background linear;transition:.25s background linear}.cta--sign-up .row--cta:hover .cta__header .bg-shape{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}@media (min-width:768px){.cta--sign-up .cta__body,.cta--sign-up .cta__header,.cta--sign-up .cta__highlights{padding-top:50px;padding-bottom:35px}.cta--sign-up .cta__title{width:75%}.cta--sign-up .cta__body{width:90%}}@media (max-width:767px){.cta--sign-up .cta__body,.cta--sign-up .cta__header,.cta--sign-up .cta__highlights{padding:20px 15px}.cta--sign-up .row--cta{margin-left:-15px;margin-right:-15px}}
</style>
{% schema %}
{
  "name": "Sign Up CTA",
  "settings": [
    {
      "type": "color",
      "id": "background_cta",
      "label": "Section Background color",
      "default": "#111111"
    },
    {
      "type":      "richtext",
      "id":        "title",
      "label":     "Title",
      "default": "<p>ENTER FOR A</p><p>CHANCE TO WIN</p>"
    },
    {
      "type": "color",
      "id": "background_title",
      "label": "Title Background color",
      "default": "#C71D31"
    },
    {
      "type": "header",
      "content": "Title Typography"
    },
    {
      "type": "select",
      "id": "font_theme_title",
      "label": "Additional font",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif",
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Font color",
      "default": "#ffffff"
    },
    {
      "type":      "select",
      "id":        "font_weight_title",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "300"
    },
    {
      "type":      "select",
      "id":        "txt_trans_title",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "uppercase"
    },
    {
      "type": "range",
      "id": "font_size_title",
      "label": "Font size",
      "min": 12,
      "max": 51,
      "default": 41,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Highlighted Content"
    },
    {
      "type":      "text",
      "id":        "top_cnt",
      "label":     "Top Content",
      "default": "GRAND PRIZE"
    },
    {
      "type": "header",
      "content": "Top Content Typography"
    },
    {
      "type": "select",
      "id": "font_theme_top_cnt",
      "label": "Additional font",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "color_top_cnt",
      "label": "Font color",
      "default": "#C7C7C7"
    },
    {
      "type":      "select",
      "id":        "font_weight_top_cnt",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "700"
    },
    {
      "type":      "select",
      "id":        "txt_trans_top_cnt",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "uppercase"
    },
    {
      "type": "range",
      "id": "font_size_top_cnt",
      "label": "Font size",
      "min": 12,
      "max": 29,
      "default": 19,
      "unit": "px"
    },
    {
      "type":      "text",
      "id":        "mid_cnt",
      "label":     "Middle Content",
      "default": "$500 Shopping Spree"
    },
    {
      "type": "header",
      "content": "Middle Content Typography"
    },
    {
      "type": "select",
      "id": "font_theme_mid_cnt",
      "label": "Additional font",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "color_mid_cnt",
      "label": "Font color",
      "default": "#FFFFFF"
    },
    {
      "type":      "select",
      "id":        "font_weight_mid_cnt",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "500"
    },
    {
      "type":      "select",
      "id":        "txt_trans_mid_cnt",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "capitalize"
    },
    {
      "type": "range",
      "id": "font_size_mid_cnt",
      "label": "Font size",
      "min": 12,
      "max": 56,
      "default": 46,
      "unit": "px"
    },
    {
      "type":      "text",
      "id":        "btm_cnt",
      "label":     "Bottom Content",
      "default": "by leaving a reviewing for 3 items."
    },
    {
      "type": "header",
      "content": "Bottom Content Typography"
    },
    {
      "type": "select",
      "id": "font_theme_btm_cnt",
      "label": "Additional font",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "color_btm_cnt",
      "label": "Font color",
      "default": "#FFFFFF"
    },
    {
      "type":      "select",
      "id":        "font_weight_btm_cnt",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "400"
    },
    {
      "type":      "select",
      "id":        "txt_trans_btm_cnt",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "none"
    },
    {
      "type": "range",
      "id": "font_size_btm_cnt",
      "label": "Font size",
      "min": 12,
      "max": 33,
      "default": 23,
      "unit": "px"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Short description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing eli. Morbi eget varius nisi. Donec sagittis gravida massa eu feugiat. Aliquam vitae nibh in dui auctor ultrices.</p>"
    },
    {
      "type": "header",
      "content": "Short description Typography"
    },
    {
      "type": "select",
      "id": "font_theme_des",
      "label": "Additional font",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "color_des",
      "label": "Font color",
      "default": "#FFFFFF"
    },
    {
      "type":      "select",
      "id":        "font_weight_des",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "400"
    },
    {
      "type":      "select",
      "id":        "txt_trans_des",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "none"
    },
    {
      "type": "range",
      "id": "font_size_des",
      "label": "Font size",
      "min": 12,
      "max": 27,
      "default": 17,
      "unit": "px"
    },
    {
      "type":      "url",
      "id":        "cta_url",
      "label":     "CTA URL"
    },
    {
      "type":      "text",
      "id":        "link_txt",
      "label":     "Link Text",
      "default": "Enter To Win"
    },
    {
      "type": "header",
      "content": "Link Typography"
    },
    {
      "type": "select",
      "id": "font_theme_link",
      "label": "Additional font",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "color_link",
      "label": "Font color",
      "default": "#FFFFFF"
    },
    {
      "type":      "select",
      "id":        "font_weight_link",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "500"
    },
    {
      "type":      "select",
      "id":        "txt_trans_link",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "capitalize"
    },
    {
      "type": "range",
      "id": "font_size_link",
      "label": "Font size",
      "min": 12,
      "max": 30,
      "default": 20,
      "unit": "px"
    }
  ],
    "presets": [
      {
        "category": "Promotions",
        "name": "Sign Up CTA"
      }
    ]
}
{% endschema %}
