{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% include 'section-grid-img-txt' %}

{% schema %}
  {
    "name": "Grid Image Text",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "grid_item",
        "name": "Grid Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Item Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Item Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Item Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Collections",
        "name": "Multiple Collections Widget"
      }
    ]
  }
{% endschema %}
