{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}




<section data-section-id="{{ section.id }}" data-section-type="collection-group">
  {% for block in section.blocks %}
    {% include 'content-collection-group', with selected_handle: block.settings.feature_collection %}
  {% endfor %}
</section>

<style>
  .hh-slider-grid .responsive-image__image { 
    width: auto;
  }
</style>

{% schema %}
  {
    "name": "Collection Group",
    "class": "collection-group",
    "max_blocks": 2,
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "feature_collection",
            "label": "Feature collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Collections",
        "name": "Collection Group"
      }
    ]
  }
{% endschema %}
