<footer class="footer">
    <!-- <script>setTimeout(function(){
    yotpo.refreshWidgets();
},2000);    </script> -->
  {%- comment -%} <div class="top-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <a class="location" href="{{ section.settings.store_locator_link }}" title="{{ section.settings.store_locator_title }}"><i class="icon-map-marker"></i>{{ section.settings.store_locator_title }}</a>
        </div>
        <div class="col-md-4">
          {%- include 'social-icons' -%}
        </div>
      </div>
    </div>
  </div> {%- endcomment -%}
  <div class="bottom-bar">
    <div class="container">
      <div class="row justify-content-md-between">
        <div class="col-md-7 col-xl-4 order-md-first bottom-bar__col">
          <div class="newsletter">
            <div class="klaviyo-form-K8wKgE"></div>
          </div>
        </div>
        {%- assign link_list1 = section.settings.footer_linklist_1 -%}
        {%- assign link_list2 = section.settings.footer_linklist_2 -%}
        {%- assign link_list3 = section.settings.footer_linklist_3 -%}
        {%- if linklists[link_list1].links.size > 0 -%}
          <div class="col-6 col-md-4 col-xl-2 navigation-item bottom-bar__col">
            <nav role="navigation" class="nav nav--footer">
              <div class="nav__title">{{ linklists[link_list1].title }}</div>
                {%- include 'nav' with template:'footer-nav', link_list : link_list1 -%}
            </nav>
          </div>
        {%- endif -%}
        {%- if linklists[link_list2].links.size > 0 -%}
          <div class="col-6 col-md-4 col-xl-2 navigation-item bottom-bar__col">
            <nav role="navigation" class="nav nav--footer">
              <div class="nav__title">{{ linklists[link_list2].title }}</div>
                {%- include 'nav' with template:'footer-nav', link_list : link_list2 -%}
            </nav>
          </div>
        {%- endif -%}
        {%- if linklists[link_list3].links.size > 0 -%}
          <div class="col-6 col-md-4 col-xl-2 navigation-item bottom-bar__col">
            <nav role="navigation" class="nav nav--footer">
              <div class="nav__title">{{ linklists[link_list3].title }}</div>
              {%- include 'nav' with template:'footer-nav', link_list : link_list3 -%}
              </nav>
            <a href="//hustlerhollywood.com/pages/customer-reviews">
              {%- comment -%} do not add class yotpo-badge to this {%- endcomment -%}
              <div id="y-badges" class="yotpo yotpo-small" data-yotpo-element-id="3">
                <div class="y-badge yotpo-display-wrapper">
                  <div class="y-badge-reviews">{{ shop.metafields.accentuate.total_yotpo_count }}</div>
                  <span class="y-badge-stars">
                    <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
                    <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
                    <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
                    <span class="yotpo-icon yotpo-icon-star rating-star pull-left"></span>
                    <span class="yotpo-icon yotpo-icon-half-star rating-star pull-left"></span>
                  </span>
                  <div class="y-badges-certified">Certified reviews</div>
                  <div class="y-powered-by">Powered by YOTPO</div>
                </div>
              </div>
            </a>
          </div>
        {%- endif -%}

        <div class="col-6 col-md-5 col-xl-2 logo-txt order-md-first order-xl-last bottom-bar__col">
          <dl class="logo-txt__group">
            {%- for block in section.blocks -%}
              <div class="row no-gutters align-items-center logo-txt__item">
                <dd class="col-auto">
                  {%- include 'responsive-image' with image: block.settings.logo_img, image_class: "logo-txt__logo", max_width: 50, max_height: 56 -%}
                </dd>
                <dt class="col"><h4 class="logo-txt__title">{{ block.settings.title }}</h4></dt>
              </div>
            {%- endfor -%}
          </dl>

          <div onClick="openWidget()" class="d-block mb-3 footer-lc-link"><i class="fas fa-comments"></i> Chat Live</div>

          {% comment %}
          <div class="footer-call-number">
            <span class="cs-label">Order By Phone</span>
            <a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}">
              <i class="fas fa-phone-alt"></i> {{ shop.metafields.accentuate.shop_by_phone_number }}
            </a>
            <span class="cs-hours">{{ shop.metafields.accentuate.shop_by_phone_hours }}</span>
            {%- if shop.metafields.accentuate.shop_by_phone_special -%}
              <div class="special-hours">
                {{ shop.metafields.accentuate.shop_by_phone_special }}
              </div>
            {%- endif -%}
          </div>
          {% endcomment %}

          {%- include 'social-icons' -%}
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//cdn.shopify.com/s/files/1/1221/0120/files/Sezzle_Logo_FullColor_WhiteWM-medium_170x.png" data-srcset="//cdn.shopify.com/s/files/1/1221/0120/files/Sezzle_Logo_FullColor_WhiteWM-medium_170x.png 1x, //cdn.shopify.com/s/files/1/1221/0120/files/Sezzle_Logo_FullColor_WhiteWM-medium_340x.png 2x" width="170" height="43" alt="Sezzle Promo Banner" class="footer-sezzle-banner lazyload mb-3">
          <div class="sezzle-footer-text">Available for orders over $140</div>
          {% comment %}{% include 'responsive-image' with image: section.settings.sezzle_img %}{% endcomment %}
        </div>
      </div>
      <div class="copyright">
        &copy; {{ 'now' | date: "%Y" }}, LFP Ecommerce, LLC. All rights reserved.
      </div>
    </div>
</footer>
  <div id="cookie-check">
    <div class="container"><div class="row align-items-center"><div class="col-sm-9">
      <p class="mb-0">
        Our website uses its own and third-party cookies to improve user experience and our services, and we also use data to analyze the use of our website. Here you can find our <a href="/pages/privacy-policy#ca-policyrights">Notice of Information Collected</a> as well as our <a href="/pages/privacy-policy">Privacy Policy</a>.</p>
      </div><div class="col-sm-3 text-center">
      <a href="javascript:void(0);" class="btn mt-2 mt-sm-0" id="accept-cookie">I Understand</a>
      </div></div></div>
  </div>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Newsletter Title"
      },
      {
        "type": "richtext",
        "id": "newsletter_description",
        "label": "Newsletter Description"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_1",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_2",
        "label": "Second menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist_3",
        "label": "Third menu",
        "default": "footer"
      },
  	{
        "type": "image_picker",
        "id": "sezzle_img",
  		"label": "Sezzle Image"
      },
    {
        "type": "image_picker",
        "id": "viabill_img",
      "label": "Viabill Image"
      }
    ],
    "blocks": [
      {
        "type": "header",
        "name": "Logo with Text",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_img",
            "label": "Logo image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      }
    ]

  }
{% endschema %}
