{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="grid grid--ft-post" data-section-id="{{ section.id }}" data-section-type="grid-ft-post">
  <div class="container">
    <div class="row grid__group">
      <div class="col-md-6 grid__col d-flex flex-wrap flex-column">
        <div class="grid__item grid__item--spot d-flex">
          {% include 'content-grid-featured-post-spotlight', link: section.settings.link, image: section.settings.img, thumbnail: section.settings.thumb, title: section.settings.title, description: section.settings.des %}
        </div>
      </div>
      <div class="col-md-6 grid__col d-flex flex-wrap flex-column justify-content-between">
        <div class="grid__item grid__item--normal d-flex">
          {% include 'content-grid-featured-post-normal', link: section.settings.link_2, image: section.settings.img_2, title: section.settings.title_2, subtitle: section.settings.subtitle_2, description: section.settings.des_2 %}
        </div>
        <div class="grid__item grid__item--normal d-flex">
          {% include 'content-grid-featured-post-normal', link: section.settings.link_3, image: section.settings.img_3, title: section.settings.title_3, subtitle: section.settings.subtitle_3, description: section.settings.des_3 %}
        </div>
      </div>
    </div>
  </div>  
</section>


<style>.grid--ft-post{margin-bottom:45px}.grid--ft-post .grid__cnt-wrapper{position:relative}.grid--ft-post .grid__img{background-size:cover;background-position:center;background-repeat:no-repeat;margin:0}.grid--ft-post .grid__hidden-link{position:absolute;top:0;left:0;height:100%;width:100%;z-index:2}.grid--ft-post .grid__item--spot{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.grid--ft-post .grid__item--spot .grid__cnt-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.grid--ft-post .grid__item--spot .grid__img:after{position:absolute;content:'';z-index:1;left:0;top:0;height:100%;width:100%;background-color:rgba(0,0,0,.2);opacity:0;visibility:hidden;-webkit-transition:opacity .45s ease-in-out;-o-transition:opacity .45s ease-in-out;transition:opacity .45s ease-in-out}.grid--ft-post .grid__item--spot .grid__caption{position:relative;z-index:2}.grid--ft-post .grid__item--spot .grid__title{color:#fff;font-weight:500;line-height:1.4;margin-bottom:.25em;font-size:250%}.grid--ft-post .grid__item--spot .grid__des{color:#fff;font-family:"Gotham Narrow",sans-serif;font-size:22px;font-weight:500;line-height:1.1}.grid--ft-post .grid__item--spot .grid__thumb-wrapper{position:absolute;bottom:0;right:0;opacity:1;z-index:2}.grid--ft-post .grid__item--spot .grid__thumb{background-size:contain;background-position:center;background-repeat:no-repeat;-webkit-transform:translateY(24.207%);-ms-transform:translateY(24.207%);transform:translateY(24.207%);padding-top:62.673%}.grid--ft-post .grid__item--spot:hover .grid__img:after{opacity:.85;visibility:visible}.grid--ft-post .grid__item--normal{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.grid--ft-post .grid__item--normal:not(:last-child){margin-bottom:25px}.grid--ft-post .grid__item--normal .grid__img-wrapper{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.grid--ft-post .grid__item--normal .grid__img{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;overflow:hidden}.grid__item.grid__item--spot .grid__overlay{position:absolute;bottom:0;left:0;width:100%;padding:2rem 1rem;background:var(--hh-black);color:#fff}.grid--ft-post .grid__item--normal .grid__img:before{position:absolute;top:50%;left:50%;z-index:2;display:block;content:'';width:0;height:0;background:rgba(0,0,0,.2);border-radius:100%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);opacity:0}.grid--ft-post .grid__item--normal .grid__caption{background-color:#f5f5f5;padding:1rem;min-height:250px}.grid__item.grid__item--spot .grid__overlay .grid__caption{min-height:0}.grid--ft-post .grid__item--normal:hover .grid__img{-webkit-animation:bloom ease-in-out 1s forwards;animation:bloom ease-in-out 1s forwards}.grid--ft-post .grid__item--normal:hover .grid__img:before{-webkit-animation:circle .75s;animation:circle .75s}.grid__item.grid__item--spot .grid__overlay .cta__title{color:#fff}.grid--ft-post .grid__item--spot .grid__cnt-wrapper{min-height:400px}@-webkit-keyframes bloom{0%{-webkit-filter:grayscale(0);filter:grayscale(0)}40%{-webkit-filter:grayscale(.5);filter:grayscale(.5)}100%{-webkit-filter:grayscale(.8);filter:grayscale(.8)}}@keyframes bloom{0%{-webkit-filter:grayscale(0);filter:grayscale(0)}40%{-webkit-filter:grayscale(.5);filter:grayscale(.5)}100%{-webkit-filter:grayscale(.8);filter:grayscale(.8)}}@-webkit-keyframes circle{0%{opacity:.5;background:rgba(70,70,70,.2)}40%{opacity:1;background:rgba(140,140,140,.2)}100%{width:200%;height:200%;opacity:0}}@keyframes circle{0%{opacity:.5;background:rgba(70,70,70,.2)}40%{opacity:1;background:rgba(140,140,140,.2)}100%{width:200%;height:200%;opacity:0}}@media (max-width:768px){.grid__item.grid__item--spot .grid__overlay{bottom:0;top:auto;height:auto;padding:1rem}.grid--ft-post .grid__item--spot .grid__cnt-wrapper{margin-bottom:2rem}.grid--ft-post .grid__item--spot .grid__thumb-wrapper{max-width:35%}}</style>


{% schema %}
{
  "name": "Grid Featured Post",
  "settings": [
    {
      "type": "header",
      "content": "Post 1"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "thumb",
      "label": "Thumbnail"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type": "richtext",
      "id": "des",
      "label": "Content for Dekstop",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "Post 2"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "img_2",
      "label": "Image"
    },
    {
      "type":      "text",
      "id":        "subtitle_2",
      "label":     "Sub Title"
    },
    {
      "type":      "text",
      "id":        "title_2",
      "label":     "Title"
    },
    {
      "type": "richtext",
      "id": "des_2",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "Post 3"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "img_3",
      "label": "Image"
    },
    {
      "type":      "text",
      "id":        "subtitle_3",
      "label":     "Sub Title"
    },
    {
      "type":      "text",
      "id":        "title_3",
      "label":     "Title"
    },
    {
      "type": "richtext",
      "id": "des_3",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    }
  ]
}
{% endschema %}