{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% include 'content-grid-big-products', with selected_handle: section.settings.feature_collection %}

{% schema %}
  {
    "name": "Big Products - More",
    "settings": [
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Feature collection"
      }
    ]
  }
{% endschema %}

<style>@media (max-width:768px){body.template-index .collection.collection--big{border-top:1px solid rgba(105,105,105,.08);padding-top:15px}}</style>