{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>.grid--img-txt{margin-bottom:40px}.grid--img-txt .grid__group{margin-bottom:-40px}.grid--img-txt .grid__item{margin-bottom:40px}.grid--img-txt .grid__item.mod-p{padding-left:5px;padding-right:5px}.grid--img-txt .grid__img-wrapper{width:100%;overflow:hidden;background-color:transparent}.grid--img-txt .grid__img{display:block;-webkit-transition:opacity .25s,-webkit-transform .35s;transition:opacity .25s,-webkit-transform .35s;-o-transition:transform .35s,opacity .25s;transition:transform .35s,opacity .25s;transition:transform .35s,opacity .25s,-webkit-transform .35s;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;width:100%;margin:0 auto .5rem}.grid--img-txt .grid__title{margin-bottom:15px;padding:0 10px;text-align:center;font-family:var(--hh-bodyfont);font-size:19px;font-weight:400;color:var(--hh-black)}.grid--img-txt .grid__title .grid__link{display:inline-block;border-bottom:1px solid}.grid--img-txt .grid__link:hover{opacity:.85}.grid--img-txt .grid__hidden-link{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;z-index:1}.grid--img-txt .grid__cnt-wrapper:hover .grid__img{opacity:.85;-webkit-transform:scale3d(.95,.95,1);transform:scale3d(.95,.95,1)}</style>

{% include 'section-grid-img-txt' %}

{% schema %}
  {
    "name": "Grid Image Text",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "grid_item",
        "name": "Grid Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Item Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Item Link"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Item Title"
          }
        ]
      }
    ]
  }
{% endschema %}