{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
{%- assign current_date_time = 'now' | date: "%Y%m%d%H%M" -%}

{%- comment %}choose start date{%- endcomment -%}
{%- assign start_year = section.settings.start_year -%}
{%- assign start_month = section.settings.start_month -%}
{%- assign start_day = section.settings.start_day -%}
{%- assign start_hour = section.settings.start_hour | remove: ':' -%}
{%- assign start_date = start_year | append: start_month | append: start_day | append: start_hour | convert: "date" -%}

{%- comment %}choose end date{%- endcomment -%}
{%- assign end_year = section.settings.end_year -%}
{%- assign end_month = section.settings.end_month -%}
{%- assign end_day = section.settings.end_day -%}
{%- assign end_hour = section.settings.end_hour | remove: ':' -%}
{%- assign end_date = end_year | append: end_month | append: end_day | append: end_hour | convert: "date" -%}

{%- if customer -%}
{%- assign login_link = '/account' -%}
{%- else -%}
{%- assign login_link = '/account/login' -%}
{%- endif -%}
   <div class="top-announcement-bar">
      <div class="container">
        <div class="row justify-content-between mx-0">
          <div class="col-12 col-md-auto px-0">
            {%- if section.settings.announcement_bar_enabled -%}
                {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
                  {%- if current_date_time >= start_date and current_date_time < end_date -%}
                    {%- if section.settings.timed_announcement_bar_link != blank -%}
                      <a href="{{ section.settings.timed_announcement_bar_link }}" data-char-size="{{ section.settings.timed_announcement_bar_text | size }}">
                        {{ section.settings.timed_announcement_bar_text | escape }}
                      </a>
                    {%- else -%}
                      <p>{{ section.settings.timed_announcement_bar_text | escape }}</p>
                    {%- endif -%}
                  {%- else -%}
                    {%- if section.settings.announcement_bar_link != blank -%}
                      <a href="{{ section.settings.announcement_bar_link }}" data-char-size="{{ section.settings.announcement_bar_text | size }}">
                        {{ section.settings.announcement_bar_text | escape }}
                      </a>
                    {%- else -%}
                      <p>{{ section.settings.announcement_bar_text | escape }}</p>
                    {%- endif -%}
                  {%- endif -%}
                {%- endif -%}
            {%- endif -%}
          </div>
          <div class="col-md-5 d-none d-md-block px-0">
            <nav class="nav nav--features d-block">
              <ul class="nav__group text-right d-block px-0 mx-0 text-right">
                
                {% comment %}
                <li class="nav__item toggle-topbar-shopby">
                  <a class="nav__link shopby-phone-btn"><i class="fas fa-phone"></i> Order By Phone</a>
                  <div class="shopbyphone-info topbar-shopby">
                    {% include 'orderbyphone-details' %}
                  </div>
                </li>
                {% endcomment %}

                <li class="nav__item">
                  <a class="nav__link" href="{{shop.url}}{{login_link}}">Track Order</a>
                </li>
                <li class="nav__item">
                  <a class="nav__link" href="{{shop.url}}/pages/our-stores">Find a Store</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="main-menu-bar">
      <div class="container">
        <div class="row align-items-center no-gutters">
           <div class="col-auto d-flex d-lg-none align-items-center flex-wrap">
          <a class="nav-trigger nav-trigger--primary d-block" id="mobilenav-trigger">
              <span class="hamburger">
              </span>
            </a>
          </div>
          <div class="col-tab-4 col-auto col-md-auto pr-md-4 d-flex align-items-center flex-wrap">
            <a href="/" class="logo-image" style="display:block">
              {%- if section.settings.alt_logo != blank -%}
                {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
                <img class="d-block d-lg-none d-tab-block lazyload"
                     height="{{section.settings.alt_logo.height}}"
                     width="{{section.settings.alt_logo.width}}"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                     data-src="{{ section.settings.alt_logo | img_url: image_size }}"
                     data-srcset="{{ section.settings.alt_logo | img_url: image_size }} 1x, {{ section.settings.alt_logo | img_url: image_size, scale: 2 }} 2x"
                     alt="HUSTLER Hollywood Logo">
              {%- endif -%}
              {%- if section.settings.logo != blank -%}
                {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
                <img class="d-none d-lg-block d-tab-none lazyload"
                     height="{{section.settings.logo.height}}"
                     width="{{section.settings.logo.width}}"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                     data-src="{{ section.settings.logo | img_url: image_size }}"
                     data-srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                     alt="HUSTLER Hollywood Logo" width="{{ section.settings.logo_max_width }}">
              {%- else -%}
                {{ shop.name }}
              {%- endif -%}
            </a>
          </div>
          <div class="col-md-5 d-none d-md-block">
            <form class="form form--search" action="/search" method="get" role="search" ss-test1>
              <label for="Search-{{ section.id }}" hidden>
                {{ 'general.search.placeholder' | t }}
              </label>
              <input class="form-control" type="search"
                name="q"
                id="Search-{{ section.id }}"
                placeholder="{{ 'general.search.placeholder' | t }}">
                <button type="reset"><span class="icon">&#10006;</span></button>
              {%- if settings.ss_enable -%}
              {%- else -%}
              	<input type="hidden" name="type" value="product" />
              {%- endif -%}
              <button type="submit" class="button" hidden>
                <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
              </button>
            </form>
          </div>
          <div class="col-auto ml-auto position-static position-static-inside" style="position: static;">
            <nav class="nav nav--account">
              <ul class="nav__group">

                 <li class="nav__item d-none d-md-inline-block">
                    <a class="nav__link" href="#newslettermodal" rel="modal:open"><i class="hh-icon-mail"></i><span class="d-none d-lg-inline-block">Newsletter</span></a>
                  </li>
                  {%- if shop.customer_accounts_enabled -%}
                      <li class="nav__item d-none d-md-inline-block">
                        <a id="customer_login_link" class="nav__link" href="{{ login_link }}"><i class="hh-icon-user"></i><span class="d-none d-lg-inline-block">{{ 'customer.account.title' | t }}</span></a>
                       </li>
                  {%- endif -%}
                  <li class="nav__item nav__item--search d-inline-block d-md-none">
                    <form class="form form--search" action="/search" method="get" role="search">
                      <label for="Search-{{ section.id }}" hidden>
                        {{ 'general.search.placeholder' | t }}
                      </label>
                      <input class="form-control" type="search"
                        name="q"
                        id="Search-{{ section.id }}"
                        placeholder="{{ 'general.search.placeholder' | t }}">
                        <button type="reset"><span class="icon">&#10006;</span></button>
                      <i class="fas fa-search" id="togsearch"></i>
                      <button type="submit" class="button" hidden>
                        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                      </button>
                    </form>
                  </li>
                  <li class="nav__item nav__item--micro-cart">
                    {%- if template != 'cart' -%}
                    <a class="nav__link micro-cart js-open-mini-cart" href="javascript:void(0);">
                      {%- else -%}
                     <a class="nav__link micro-cart cart-page-link" href="javascript:void(0);">
                    {%- endif -%}
                      <span hidden>{{ 'layout.cart.title' | t }}</span>
                      <i class="hh-icon-bag"></i>
                      <span class="cart-count js-cart-count">{{ cart.item_count }}</span>
                      {% comment %} ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}) {% endcomment %}
                    </a>

                  </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

<div id="phoneordermodal" class="modal">
 <div class="shopbyphone-info">
                     {% include 'orderbyphone-details' %}
                   </div>
</div>



<div id="newslettermodal" class="modal">
   <iframe src="https://manage.kmail-lists.com/subscriptions/subscribe?a=JLjysa&g=PXdhFY" class="newsletter-iframe">
   </iframe>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
         "type": "header",
         "content": "Timed Announcement"
      },
      {
        "type": "text",
        "id": "timed_announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "timed_announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "text",
        "id": "start_year",
        "label": "Start Year"
      },
      {
        "type": "select",
        "id": "start_month",
        "label": "Start Month",
        "options": [
          {
            "label": "January",
            "value": "01"
          },
          {
            "label": "February",
            "value": "02"
          },
          {
            "label": "March",
            "value": "03"
          },
          {
            "label": "April",
            "value": "04"
          },
          {
            "label": "May",
            "value": "05"
          },
          {
            "label": "June",
            "value": "06"
          },
          {
            "label": "July",
            "value": "07"
          },
          {
            "label": "August",
            "value": "08"
          },
          {
            "label": "September",
            "value": "09"
          },
          {
            "label": "October",
            "value": "10"
          },
          {
            "label": "November",
            "value": "11"
          },
          {
            "label": "December",
            "value": "12"
          }
        ]
      },
      {
        "type": "text",
        "id": "start_day",
        "label": "Start Day",
        "info": "Example: '09' for the 9th of the month"
      },
      {
        "type": "text",
        "id": "start_hour",
        "label": "Start Time (24hr)",
        "default": "00:01",
        "info": "Example: '23:59' for 11:59pm"
      },
      {
        "type": "text",
        "id": "end_year",
        "label": "End Year"
      },
      {
        "type": "select",
        "id": "end_month",
        "label": "End Month",
        "options": [
          {
            "label": "January",
            "value": "01"
          },
          {
            "label": "February",
            "value": "02"
          },
          {
            "label": "March",
            "value": "03"
          },
          {
            "label": "April",
            "value": "04"
          },
          {
            "label": "May",
            "value": "05"
          },
          {
            "label": "June",
            "value": "06"
          },
          {
            "label": "July",
            "value": "07"
          },
          {
            "label": "August",
            "value": "08"
          },
          {
            "label": "September",
            "value": "09"
          },
          {
            "label": "October",
            "value": "10"
          },
          {
            "label": "November",
            "value": "11"
          },
          {
            "label": "December",
            "value": "12"
          }
        ]
      },
      {
        "type": "text",
        "id": "end_day",
        "label": "End Day",
        "info": "Example: '09' for the 9th of the month"
      },
      {
        "type": "text",
        "id": "end_hour",
        "label": "End Time (24hr)",
        "default": "23:59",
        "info": "Example: '23:59:59' for 11:59pm and 59 seconds. Seconds are necessary to include for seamless transitions!!"
      },
      {
          "type": "header",
          "content": "Header"
      },
      {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
      },
      {
          "type": "image_picker",
          "id": "alt_logo",
          "label": "Alt Logo image"
      },
      {
          "type": "range",
          "id": "logo_max_width",
          "min": 50,
          "max": 450,
          "step": 5,
          "unit": "px",
          "label": "Custom logo width",
          "default": 235
      }
    ]
}
{% endschema %}
