{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="section header-text-overlay text-center lazyload height-{{ section.settings.spacing }}" data-sizes="auto" data-section-id="{{ section.id }}" data-section-type="txt-img-bg" id="section-{{ section.id }}">
<div class="bg-picture d-none d-lg-block" style="background-image: url('{{ section.settings.bg_img | img_url: '1500x' }}')">
</div>
<div class="bg-picture d-none d-lg-none d-sm-block" style="background-image: url('{{ section.settings.bg_img_tablet | img_url: '992x' }}')">
</div>
<div class="bg-picture d-block d-sm-none" style="background-image: url('{{ section.settings.bg_img_mobile | img_url: '780x' }}')">
</div>
  
  <div class="text-wrap">
        <h2 class="section__title txt-img-bg__title">{{ section.settings.title }}</h2>

        <div class="section__description txt-img-bg__description">{{ section.settings.description }}</div>
        <a class="btn btn--light btn--lg" href="{{ section.settings.btn_link }}" title="{{ section.settings.btn_text }}">{{ section.settings.btn_text }}</a>
      </div>
    
</section>


{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "header",
      "content": "Text and Image"
    },
{
      "type": "select",
      "id": "spacing",
      "label": "Image Spacing",
      "default": "fit",
      "options": [
        {
          "value": "fit",
          "label": "Fit to text"
        },
        {
          "value": "image",
          "label": "Spacious for image"
        }
        
      ]
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image"
    },
{
      "type": "image_picker",
      "id": "bg_img_tablet",
      "label": "Tablet image"
    },
{
      "type": "image_picker",
      "id": "bg_img_mobile",
      "label": "Mobile Background image"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "textarea",
      "id":        "description",
      "label":     "Description"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":      "text",
      "id":        "btn_text",
      "label":     "Button text"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "HH",
      "name": "Header Image with Text"
    }
  ]
}
{% endschema %}

<style>.header-text-overlay .bg-picture{position:absolute;top:0;left:0;width:100%;height:100%;background-position:top center;background-repeat:no-repeat;background-size:cover}.header-text-overlay{min-height:35vh}.header-text-overlay .txt-img-bg__title{font-family:"Gotham Narrow",sans-serif;font-size:30px;font-size:3rem;color:#fff;font-weight:700;line-height:1;letter-spacing:-.3px;margin-bottom:18px;text-transform:uppercase}.header-text-overlay .txt-img-bg__description{font-family:"Gotham Narrow",sans-serif;font-size:15px;font-size:1.5rem;color:#fff;font-weight:300;line-height:1.32;letter-spacing:-.3px;margin-bottom:25px}.header-text-overlay .btn--lg{margin-bottom:20px;font-family:var(--hh-labelfont);height:auto;padding:.6em 1em;min-width:200px}.header-text-overlay .text-wrap{padding-top:135px;padding-bottom:125px}@media (min-width:768px){.header-text-overlay .txt-img-bg__title{font-size:58px;font-size:5rem;margin-bottom:25px}.header-text-overlay .txt-img-bg__description{font-size:28px;font-size:2.5rem;margin-bottom:42px}}</style>