{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>.section-hh-full-image .mobile_img{display:none}@media (max-width:992px){.section-hh-full-image .mobile_img{display:block}.section-hh-full-image .desktop_img{display:none}}@media (max-width:1200px){.section-hh-full-image .container{width:100%;max-width:none}}</style>

{% if section.settings.main_img != blank %}
{% include 'content-hh-image' %}
{% endif %}
{% schema %}
{
  "name": "Full Image More",
  "settings": [
	
    {
      "type": "header",
      "content": "Large Header Text"
    },
    
	{
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },

    {
      "type": "image_picker",
      "id": "main_img",
      "label": "Image"
    },

	{
      "type": "image_picker",
      "id": "tablet_img",
      "label": "Tablet Image"
    },

{
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Mobile Image"
    },
{
      "id": "image_text",
      "type": "text",
      "label": "Hidden caption text"
    },
    {
      "id": "image_link",
      "type": "url",
      "label": "Image Link"
    }
  ],
  "presets": [
    {
      "category": "HH",
      "name": "HH - Couples Full Image"
    }
  ]
}
{% endschema %}
