
{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>#shopify-section-{{section.id}}{padding-top:0}.section-hh-duo-image .mobile_img{display:none}@media (max-width:992px){.section-hh-duo-image .mobile_img{display:block}.section-hh-duo-image .desktop_img{display:none}.section-hh-duo-image .container{padding-left:0;padding-right:0}}@media (max-width:1200px){.section-hh-duo-image .container{width:100%;max-width:none}}</style>

{% include 'content-hh-image-duo' %}


{% schema %}
{
  "name": "Duo Image",
  "settings": [
    

    {
      "type": "image_picker",
      "id": "left_main_img",
      "label": "Left Image"
    },

{
      "type": "image_picker",
      "id": "left_mobile_img",
      "label": "Left Mobile Image"
    },
{
      "id": "left_image_text",
      "type": "text",
      "label": "Left Image Text, add main text that is on the image here"
    },
    {
		"type": "url",
      "id": "left_image_link",
 
      "label": "Left Image Link"
    }, 


    {
      "type": "image_picker",
      "id": "right_main_img",
      "label": "Right Image"
    },

{
      "type": "image_picker",
      "id": "right_mobile_img",
      "label": "Right Mobile Image"
    },
{
      "id": "right_image_text",
      "type": "text",
      "label": "Right Image Text, add main text that is on the image here"
    },
    {
		"type": "url",
      "id": "right_image_link",
 
      "label": "Right Image Link"
    }
  ],
  "presets": [
    {
      "category": "HH",
      "name": "HH - Duo Images"
    }
  ]
}
{% endschema %}
