<div class="container"><div class="row">
<div class="col-12 col-md-10 col-lg-9 mx-auto">

      {% if section.settings.section_title != blank %}
        <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
          <h2 class="h3">{{ section.settings.section_title | escape }}</h2>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rich-text__text--{{ section.settings.text_size }} rte-setting text-center">{{ section.settings.text }}</div>
      {% endif %}
  
</div>
  </div></div>


{% schema %}
{
  "name": "Rich Text",
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Wide Display"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Your text here"
},
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "use this text to share information"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Size",
      "default": "medium",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "category": "Text"
}
  ]
}
{% endschema %}
