{%- comment -%}
** Mega menu - homepage partial **
- Static section
- Uses blocks
- Must be enabled through general settings
{%- endcomment -%}
{%- if section.blocks.size > 0 -%}
  {%- assign mega_menus = "" -%}
  {%- for block in section.blocks -%}
    {%- if block.settings.title -%}
      {%- assign mega_menu = block.settings.title -%}
      {%- if forloop.first == true -%}
        {%- assign mega_menus = mega_menus | append: mega_menu -%}
      {%- else -%}
        {%- assign mega_menus = mega_menus | append : ", " | append : mega_menu -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- assign mega_menus = mega_menus | split: ", " -%}
{%- endif -%}

<nav role="navigation" class="nav nav--secondary nav--mega-menu justify-content-md-end position-relative-inside">
  <ul class="nav__group">
    {%- assign menu = linklists[settings.menu_secondary] -%}
    {%- comment -%} {{ menu.title }}: {{ menu.levels }} {%- endcomment -%}
    {%- for link in menu.links -%}
      {%- assign top_link_title = link.title -%}
      {%- if link.links != blank or mega_menus contains top_link_title -%}
        <li class="nav__item dropdown">
          <a class="nav__link dropdown__toggle" href="{{ link.url }}">

            {%- if link.title == 'For Her' -%}
            <span class="emoji">🌮</span>
            {%- elsif link.title == 'For Him' -%}
            	<span class="emoji">🍆</span>
            {%- elsif link.title == 'For Couples' -%}

            	<span class="emoji">🧡</span>
            {%- endif -%}



          </a>
          <div class="dropdown__menu">
            <div class="container">
            <div class="row">
              {%- for sub_link in link.links -%}
                  {%- if sub_link.links != blank -%}
                    {%- assign sublinkTitle_lCase = sub_link.title | downcase -%}
                    {%- if sublinkTitle_lCase == "highlight items" -%}
                      <div class="col-md-2">
                        <ul class="dropdown__group dropdown__group--highlight">
                          {%- for sub_sub_link in sub_link.links -%}
                            <li class="dropdown__item">
                              {%- if forloop.last == true -%}
                                {%- assign highlightLinkExtraClass = " dropdown__link--accent" -%}
                              {%- endif -%}
                              <a class="dropdown__link{{highlightLinkExtraClass}}" href="{{ sub_sub_link.url }}">
                                {{ sub_sub_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
              {%- endfor -%}
              <div class="col-md-4">
                <ul class="dropdown__group dropdown__group--primary">
                  {%- for sub_link in link.links -%}
                    {%- if sub_link.links != blank -%}
                      {%- assign sublinkTitle_lCase = sub_link.title | downcase -%}
                      {%- if sublinkTitle_lCase != "highlight items" -%}
                        <li class="dropdown__item sub-dropdown">
                          <a class="dropdown__link sub-dropdown__toggle" href="{{ sub_link.url }}">
                            {{ sub_link.title }}
                          </a>
                          <ul class="sub-dropdown__group">
                          {%- for sub_sub_link in sub_link.links -%}
                            <li class="sub-dropdown__item">
                              <a class="sub-dropdown__link" href="{{ sub_sub_link.url }}">
                                {{ sub_sub_link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                          </ul>
                        </li>
                      {%- endif -%}
                    {%- else -%}
                      <li class="dropdown__item">
                        <a class="dropdown__link" href="{{ sub_link.url }}">
                          {{ sub_link.title }}
                        </a>
                      </li>
                    {%- endif -%}
                  {%- endfor -%}
                </ul>
              </div>
              {%- include 'content-mega-menus-main' -%}
            </div>
            </div>
          </div>
        </li>
      {%- else -%}
        <li class="nav__item">
          <a class="nav__link" href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
<style>
@media (max-width: 991px) {
  .nav--secondary .nav__item:nth-child(3n-5) .nav__link {
    background-color: {{ settings.mobile_for_her_bg }}!important;
  }
  .nav--secondary .nav__item:nth-child(3n-4) .nav__link {
    background-color: {{ settings.mobile_for_him_bg }}!important;
  }
  .nav--secondary .nav__item:nth-child(3n) .nav__link {
    background-color: {{ settings.mobile_for_couples_bg }}!important;
  }
}
</style>
{% schema -%}
{
  "name": "Secondary Mega menu",
  "class": "mega-menu-section",
  "max_blocks": 10,
  "settings": [
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "header",
          "content": "Column 1"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Link title",
          "info": "The mega menu will appear below this parent link"
        },
        {
          "type": "image_picker",
          "id": "nav_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "nav_image_text",
          "label": "Image Text"
        },
        {
          "type": "color",
          "id": "nav_image_text_color",
          "label": "Image Text Color",
          "default":"#000000"
        },
        {
          "type": "url",
          "id": "nav_image_link",
          "label": "Image link"
        },
        {
          "type": "header",
          "content": "Articles"
        },

        {
          "type": "text",
          "id": "ariticle_text_1",
          "label": "Article One Title"
        },
        {
          "type": "url",
          "id": "ariticle_link_1",
          "label": "Article One link"
        },
        {
          "type": "text",
          "id": "ariticle_text_2",
          "label": "Article Two Title"
        },
        {
          "type": "url",
          "id": "ariticle_link_2",
          "label": "Article Two link"
        },
        {
          "type": "header",
          "content": "Column 2"
        },
        {
          "type": "image_picker",
          "id": "nav_image_2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "nav_image_text_2",
          "label": "Image Text"
        },
        {
          "type": "color",
          "id": "nav_image_text_color_2",
          "label": "Image Text Color",
          "default":"#000000"
        },
        {
          "type": "url",
          "id": "nav_image_link_2",
          "label": "Image link"
        }
      ]
    }
  ]
}

{% endschema -%}
