{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}


{% assign brandcount = 0 %} 
<section class="page-brands-featured brand-section" data-section-id="{{ section.id }}" data-section-type="featured-brands" >
  <div class="lined-header mb-3"><span>Featured Brands</span></div>
  <div class="container px-0">
    {% for block in section.blocks%} {% assign brandcount = brandcount | plus: 1 %}
  
    
     <div class="row align-items-center mx-0 my-4 brand__item" data-block-id="{{ block.id }}" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
          <div class="col-md-4 py-4 ">
             {% assign fcollection = collections[block.settings.feature_collection] %}
            
                {% if fcollection.metafields.accentuate.collection_brand_logo  %}
      
          {% assign brandimage = fcollection.metafields.accentuate.collection_brand_logo | first %} 
        <div class="brand__img"><a class="collection__link"  href="{{ fcollection.url }}" title="View all {{ fcollection.title }}"><img class="lazyload" data-src="{{ brandimage.src }}" alt="{{ fcollection.title }} Logo"></a></div>

         
              {% endif %}
   
            
            <div class="brand__title"><a class="collection__link" itemprop="item" href="{{ fcollection.url }}" title="View all {{ fcollection.title }}"><span itemprop="name">{{ fcollection.title }}</span></a></div>
            <div class="brand__desc">
            
             <div class="brand-desc-initial" >{{ fcollection.description | split: '[--split--]' | first  }}</div>
     
               <a class="mt-2 read-morelink d-block" href="{{ fcollection.url }}">Shop all {{ fcollection.title }}</a>
              
              {% comment %}
              <div class="labelfont brand-morelink">Read More</div>
      <div id="brand-desc-full" style="display: none;">
  <div class="collapsed-text">
   {{ fcollection.description | split: '[--split--]' | last }}
  </div>
</div>
              
              {% endcomment %}
              
            </div>
          </div>
          <div class="col-md-8 ">
           <ul class="recheck-flickity products slider--equal-height hh-slider-grid slider-lg lg-grid-4" data-flickity='{ "cellAlign": "left",
  "contain": true,
    "cellSelector": ".slider__item",
   "freeScroll": true,
"freeScrollFriction": 0.08,
    "pageDots": false,
    "imagesLoaded": true,
    "lazyLoad": true }'>{% for product in fcollection.products limit:8 %}
        <li{% cycle 'group1': '', '', '', ' class="last product-item slider__item"' %} class="product-item slider__item">
          {% include 'content-product', maxWidth: 400, maxHeight: 516 %}
        </li>
      {% endfor %}
    </ul>
          </div>
        <meta itemprop="position" content="{{ brandcount }}" />
        </div>
    
    {% endfor %}
    
  </div>
</section>


{% schema %}
{
    "name": "Featured Brands",
    "max_blocks": 15,
    "blocks": [
      {
        "type": "grid_item",
        "name": "Brand Collection",
        "settings": [
          {
        "type": "collection",
        "id": "feature_collection",
        "label": "Feature collection"
      }
        ]
      }
    ]
  }
{% endschema %}

<style>@media (min-width:1200px){.slider__item .img-actions{width:75%}}.shopify-section-page-brands-featured .brand__item+.brand__item{border-top:1px solid rgba(0,0,0,.12)}</style>