{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% assign brandcount = 2 %} 

{% if blocks %}
<section class="page-brands-grid mt-3 brand-section" data-section-id="{{ section.id }}" data-section-type="grid-brands">
  <div class="lined-header mb-3"><span>All Brands</span></div>
  <div class="container px-0" >  <div class="row mx-0" data-block-id="{{ block.id }}" >
    {% for block in section.blocks%}
{% assign brandcount = brandcount | plus: 1 %}
          <div class="col-md-4 py-4 mb-2 brand__item" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem" >
             {% assign bcollection = collections[block.settings.collection] %}
            
                {% if bcollection.metafields.accentuate.collection_brand_logo  %}
      
          {% assign brandimage = bcollection.metafields.accentuate.collection_brand_logo | first %} 
            <div class="brand__img" data-mh="img"><a class="collection__link" href="{{ bcollection.url }}" title="View all {{ bcollection.title }}"><img data-src="{{ brandimage.src }}" alt="{{ bcollection.title }} Logo" class="lazyload"></a></div>

         
              {% endif %}
   
            
            <div class="brand__title"><a class="collection__link" itemprop="item" href="{{ bcollection.url }}" title="View all {{ bcollection.title }}"><span itemprop="name">{{ bcollection.title }}</span></a></div>
            <div class="brand__desc">
            
             <div class="brand-desc-initial" >{{ bcollection.description | split: '[--split--]' | first  }}</div>
      <a class="mt-2 read-morelink d-block" href="{{ bcollection.url }}">Shop all {{ bcollection.title }}</a>
              {% comment %}
              <div class="labelfont brand-morelink">Read More</div>
      <div id="brand-desc-full" style="display: none;">
  <div class="collapsed-text">
   {{ bcollection.description | split: '[--split--]' | last }}
  </div>
</div>
              
              {% endcomment %}
              
            </div>
            <meta itemprop="position" content="{{ brandcount }}" />
          </div>
         
        
    
    {% endfor %}
   </div> 
  </div>
</section>

<script async src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
{% endif %}
{% schema %}
{
    "name": "Brands Page List",
    "max_blocks": 6,
    "blocks": [
      {
        "type": "grid_item",
        "name": "Brand",
        "settings": [
          {
        "type": "collection",
        "id": "collection",
        "label": "Feature collection"
      }
        ]
      }
    ]
  }
{% endschema %}