{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<section class="section section--product section--product-spotlight" data-section-id="{{ section.id }}">
  <div class="section-header"> Trusted since '98 </div>
  <div class="container">
    <div class="row">
    {% assign counter = 1 %}
      {% for block in section.blocks %}
        <div class="col-md-4 d-flex block-{{ counter }}">
          {% include 'responsive-image' with image: block.settings.image, image_class: "img_thumb", wrapper_class: "media-holder", max_width: 79, max_height: 67 %}
          <div class="desc">
            <div class="titletext">{{ block.settings.title }}</div>
            <p>{{ block.settings.desc }}</p>
          </div>
        </div> 
        {% assign counter = counter | plus: 1 %} 
      {% endfor %}
    </div>
  </div>
</section>
<style>
  .section--product-spotlight{
    background-color:{{section.settings.section_background}};
  }
  .section--product-spotlight .section-header{
    color: {{section.settings.section_header_color}};
    font: {{ section.settings.section_header_font_weight }} {{ section.settings.section_header_font_size | divided_by: 2 | at_least: 20}}px  {{ section.settings.section_header_font }};
    text-transform: {{section.settings.section_header_txt_trans}};
  }
  {% assign counter = 1 %}
  {% for block in section.blocks %}
    .section--product-spotlight .block-{{counter}} .desc .titletext {
      font:{{ block.settings.title_font_weight }} {{ block.settings.title_font_size | divided_by: 2 | at_least: 19}}px {{ block.settings.title_font }};
      color: {{ block.settings.title_color }};
      text-transform:{{ block.settings.title_txt_trans }};
    }
    .section--product-spotlight .block-{{counter}} .desc p{
      font:{{ block.settings.desc_font_weight }} {{ block.settings.desc_font_size | divided_by: 2 | at_least: 15}}px {{ block.settings.desc_font }};
      color: {{ block.settings.desc_color }};
      text-transform:{{ block.settings.desc_txt_trans }};
    }
  {% assign counter =  counter | plus: 1 %}
  {% endfor %}
  @media (min-width:1200px) {
  .section--product-spotlight .section-header{
    font-size: {{ section.settings.section_header_font_size | divided_by: 2 | at_least: 22}}px ;
  }
  {% assign counter = 1 %}
  {% for block in section.blocks %}
    .section--product-spotlight .block-{{counter}} .desc .titletext{
      font-size:{{ block.settings.title_font_size | divided_by: 2 | at_least: 22}}px ;

    }
    .section--product-spotlight .block-{{counter}} .desc p{
      font-size:{{ block.settings.desc_font_size | divided_by: 2 | at_least: 17}}px ;
    }
  {% assign counter =  counter | plus: 1 %}
  {% endfor %}
  }
</style>
{% schema %}
{
  "name": "Product Spotlight",
  "class": "product-spotlight",
  "settings": [
    {
      "type": "color",
      "id": "section_background",
      "label": "Section Background Color",
      "default": "#0f0f0f"
    },
    {
      "type":"header",
      "content":"Section Header"
    },
    {
      "type":      "text",
      "id":        "section_header",
      "label":     "Section Header Text"
    },
    {
      "type": "color",
      "id": "section_header_bg",
      "label": "Section Header Bg Color",
      "default": "#D50032"
    },
    {
      "type": "select",
      "id": "section_header_font",
      "label": "Font Family",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "section_header_color",
      "label": "Font color",
      "default": "#ffffff"
    },
    {
      "type":      "select",
      "id":        "section_header_font_weight",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "300"
    },
    {
      "type":      "select",
      "id":        "section_header_txt_trans",
      "label":     "Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "uppercase"
    },
    {
      "type": "range",
      "id": "section_header_font_size",
      "label": "Font size",
      "min": 12,
      "max": 51,
      "default": 22,
      "unit": "px"
    }
  ],
  "blocks": [
      {
        "type": "offers",
        "name": "Offer",
        "limit":3,
        "settings": [
          {
            "type": "text",
            "id" : "title",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "title_font",
            "label": "Font Family",
            "options": [
              {
                "value": "'Gotham', sans-serif",
                "label": "Gotham",
                "group": "Sans-serif"
              },
              {
                "value": "'Gotham Narrow', sans-serif",
                "label": "Gotham Narrow",
                "group": "Sans-serif"
              },
              {
                "value": "'Trade Gotham LT Std', sans-serif",
                "label": "Trade Gotham LT Std",
                "group": "Sans-serif"
              },
              {
                "value": "'Playfair Display', serif",
                "label": "Playfair Display",
                "group": "Serif"
              }
            ],
            "default": "'Gotham Narrow', sans-serif"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Font color",
            "default": "#ffffff"
          },
          {
            "type":      "select",
            "id":        "title_font_weight",
            "label":     "Font weight",
            "options": [
              {
                "value": "100",
                "label": "Thin"
              },
              {
                "value": "200",
                "label": "Extra Light"
              },
              {
                "value": "300",
                "label": "Light"
              },
              {
                "value": "400",
                "label": "Normal"
              },
              {
                "value": "500",
                "label": "Medium"
              },
              {
                "value": "600",
                "label": "Semi-Bold"
              },
              {
                "value": "700",
                "label": "Bold"
              },
              {
                "value": "800",
                "label": "Extra-Bold"
              },
              {
                "value": "900",
                "label": "Black"
              }
            ],
            "default":   "400"
          },
          {
            "type":      "select",
            "id":        "title_txt_trans",
            "label":     "Text transform",
            "options": [
              {
                "value": "capitalize",
                "label": "Capitalize"
              },
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "lowercase",
                "label": "Lowercase"
              },
              {
                "value": "uppercase",
                "label": "Uppercase"
              }
            ],
            "default":   "uppercase"
          },
          {
            "type": "range",
            "id": "title_font_size",
            "label": "Font size",
            "min": 12,
            "max": 51,
            "default": 25,
            "unit": "px"
          },
          {
            "type" : "text",
            "id" : "desc",
            "label" : "Description"
          },
          {
            "type": "select",
            "id": "desc_font",
            "label": "Font Family",
            "options": [
              {
                "value": "'Gotham', sans-serif",
                "label": "Gotham",
                "group": "Sans-serif"
              },
              {
                "value": "'Gotham Narrow', sans-serif",
                "label": "Gotham Narrow",
                "group": "Sans-serif"
              },
              {
                "value": "'Trade Gotham LT Std', sans-serif",
                "label": "Trade Gotham LT Std",
                "group": "Sans-serif"
              },
              {
                "value": "'Playfair Display', serif",
                "label": "Playfair Display",
                "group": "Serif"
              }
            ],
            "default": "'Gotham Narrow', sans-serif"
          },
          {
            "type": "color",
            "id": "desc_color",
            "label": "Font color",
            "default": "#ffffff"
          },
          {
            "type":      "select",
            "id":        "desc_font_weight",
            "label":     "Font weight",
            "options": [
              {
                "value": "100",
                "label": "Thin"
              },
              {
                "value": "200",
                "label": "Extra Light"
              },
              {
                "value": "300",
                "label": "Light"
              },
              {
                "value": "400",
                "label": "Normal"
              },
              {
                "value": "500",
                "label": "Medium"
              },
              {
                "value": "600",
                "label": "Semi-Bold"
              },
              {
                "value": "700",
                "label": "Bold"
              },
              {
                "value": "800",
                "label": "Extra-Bold"
              },
              {
                "value": "900",
                "label": "Black"
              }
            ],
            "default":   "400"
          },
          {
            "type":      "select",
            "id":        "desc_txt_trans",
            "label":     "Text transform",
            "options": [
              {
                "value": "capitalize",
                "label": "Capitalize"
              },
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "lowercase",
                "label": "Lowercase"
              },
              {
                "value": "uppercase",
                "label": "Uppercase"
              }
            ],
            "default":   "capitalize"
          },
          {
            "type": "range",
            "id": "desc_font_size",
            "label": "Font size",
            "min": 12,
            "max": 51,
            "default": 20,
            "unit": "px"
          },          
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Image"
          }
        ]
      }
    ]
}
{% endschema %}
 
<style>.product-spotlight{margin-bottom:20px}.product-spotlight .row>.col-md-4{padding-left:25px;padding-right:25px}.product-spotlight .row>.col-md-4+.col-md-4{border-left:1px solid #424242}.section--product-spotlight{padding:50px 0 35px;position:relative}.section--product-spotlight .section-header{position:absolute;top:0;background-color:#d50032;padding:10px 25px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:20px}.section--product-spotlight .section-header:after{content:"";position:absolute;border-color:#d50032 transparent transparent #d50032;border-width:26px 10px 25px 10px;right:-20px;border-style:solid;top:0}.section--product-spotlight [class*=block] .desc h3{margin-bottom:0}.section--product-spotlight .media-holder{margin-right:25px}@media (min-width:576px){.section--product-spotlight .section-header{left:32px}}@media (min-width:1262px){.product-spotlight .row>.col-md-4{padding-left:35px;padding-right:35px}}@media (max-width:767px){.product-spotlight .row>.col-md-4:not(:last-child){margin-bottom:10px}.section--product-spotlight .media-holder{max-width:55px!important}}</style>
