{%- if section.settings.size_chart -%}
    {%- if product.type == "Lingerie" or product.type == "Novelties" or product.type == "Apparel Mens" or product.type == "Apparel Womens"-%}
            {%- if product.tags contains "MAPALE" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Mapale.jpg?38666" -%}
            {%- elsif product.tags contains "Hustler Lingerie" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-01.jpg?38666" -%}
            {%- elsif product.tags contains "Hustler Apparel" and product.tags contains "Men's Apparel" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler-Size-Charts_Man.jpg?v=1556906144" -%}
            {%- elsif product.tags contains "Hustler Apparel" and product.tags contains "Women's Apparel" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler-Size-Charts_Woman.jpg?v=1556906199" -%}
            {%- elsif product.tags contains "OH LA LA CHERI" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Oh_La_La.jpg?v=1550524637" -%}
            {%- elsif product.tags contains "Dreamgirl" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Dream_Girl_1f9469c9-37c3-4233-995c-61ba45f47eba.jpg?v=1551286863" -%}
            {%- elsif product.tags contains "Leg Avenue Lingerie & Costumes" or product.tags contains "Leg Avenue" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Leg_Avenue.jpg?38666" -%}
            {%- elsif product.tags contains "Seven til Midnight" or product.tags contains "Seven Till Midnight" or product.tags contains "Seven 'til Midnight" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Seven_Til_Midnight.jpg?38666s" -%}
            {%- elsif product.tags contains "Shirley Of Hollywood" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/shirley-of-hollywood-SC.jpg?38666" -%}
            {%- elsif product.tags contains "Roma" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Roma_75e9b9ad-0365-42da-a878-313c4ec09dfb.jpg?v=1551379347" -%}
            {%- elsif product.tags contains "Coquette" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Coquette.jpg?v=1550524736" -%}
            {%- elsif product.tags contains "Allure Luca" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/allure-luca-size-chart.jpg?v=1576789988" -%}
            {%- elsif product.tags contains "Allure Lingerie" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/adore-allure-SC_b705d981-dcb2-4e01-998c-d8c951d7c15b.jpg?v=1555360463" -%}
            {%- elsif product.tags contains "Dreamgirl" or product.tags contains "Dreamgirl Lingerie" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Size_Guide-Dream_Girl_98dbe1b3-17d0-426e-a274-277d86a18f74.jpg?v=1555360535" -%}
            {%- elsif product.tags contains "Bodyshotz" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Hollywood-Bodyshotz-Size_Guide-11_b2b1015f-1956-49f8-990e-9f6591ffaeae.jpg?v=1555360565" -%}
            {%- elsif product.tags contains "Envy" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Envy-Size-Charts.jpg?v=1556905956" -%}
            {%- elsif product.tags contains "Daisy Corsets" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/daisy-corsets-SC_c7a3ace8-8655-4f68-b8b4-c577ca4fe984.jpg?v=1555360439" -%}
            {%- elsif product.tags contains "Music Legs" or product.tags contains "music legs" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1777/6525/files/music-legs-SC.jpg?v=1549418498" -%}
            {%- elsif product.tags contains "Fantasy Lingerie" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1777/6525/files/Hustler_Hollywood-Size_Guide-Fantasy_Lingerie.jpg?v=1549418400" -%}
            {%- elsif product.tags contains "Starline" -%}
                {%- assign size_chart_link = "https://cdn.shopify.com/s/files/1/1221/0120/files/Starline-Size-Charts.jpg?v=1556906069" -%}
            {%- else -%}
                {%- assign size_chart_link = "" -%}
            {%- endif -%}
        {%- if size_chart_link != "" -%}

            <p>
                <a href="#" class="size-chart-popup" data-featherlight="{{ size_chart_link }}" title="View Size Chart">
                Size Chart</a>
            </p>

            <link rel="stylesheet" href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" media="print" onload="this.media='all'">

            <script defer src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

        {%- endif -%}
        <script async src="https://cdn.tangiblee.com/integration/3.1/managed/www.hustlerhollywood.com/revision_1/variation_original/tangiblee-bundle.min.js"></script>
    {%- endif -%}

{%- endif -%}

<style>.size-chart-popup{color:#d50032}#shopify-section-product-sizechart{padding:0}@media screen and (max-width:767px){#shopify-section-product-sizechart p{text-align:left;margin-top:1rem}}@media screen and (min-width:1024px){.featherlight img{width:100%!important;height:auto!important}}@media screen and (max-width:1024px){.featherlight{padding:20px 10px}.featherlight img{width:90%!important;height:auto!important}}</style>

{% schema %}
{
"name": "Lingerie Settings",
    "settings": [
        {
            "type": "checkbox",
            "id": "size_chart",
            "default": true,
            "label": "Enable Size Charts"
        }
    ]
}
{% endschema %}
