{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="cta-group cta-group--ad slider slider--nav-none slider--horizontal slider--equal-height" data-section-id="{{ section.id }}" data-section-type="cta-group--ad" data-slides-to-show="1" data-slides-to-show-xs="1">
  {%- for block in section.blocks -%}
    {%- assign current_date_time = 'now' | date: "%Y%m%d%H%M" -%}
    {%- comment %}choose start date{%- endcomment -%}
    {%- assign start_year = block.settings.start_year -%}
    {%- assign start_month = block.settings.start_month -%}
    {%- assign start_day = block.settings.start_day -%}
    {%- assign start_hour = block.settings.start_hour -%}
    {%- assign start_minute = block.settings.start_minute -%}
    {%- assign start_second = block.settings.start_second -%}
    {%- assign start_date = start_year | append: start_month | append: start_day | append: start_hour | append: start_minute | append: start_second | convert: "date" -%}
    {%- comment %}choose end date{%- endcomment -%}
    {%- assign end_year = block.settings.end_year -%}
    {%- assign end_month = block.settings.end_month -%}
    {%- assign end_day = block.settings.end_day -%}
    {%- assign end_hour = block.settings.end_hour -%}
    {%- assign end_minute = block.settings.end_minute -%}
    {%- assign end_second = block.settings.end_second -%}
    {%- assign end_date = end_year | append: end_month | append: end_day | append: end_hour | append: end_minute | append: end_second | convert: "date" -%}
    {%- if current_date_time >= start_date and current_date_time < end_date -%}
      <div class="cta-item cta-item--{{ block.settings.theme }}" {{ block.shopify_attributes }}>
        <div class="cta{% if block.settings.bg_img %} bg-img lazyload{% endif %}" {% if block.settings.bg_img %}data-bgset="{% include 'responsive-bg-image', image: block.settings.bg_img %}"{% elsif block.settings.bg_color %}style="background-color:{{ block.settings.bg_color }};"{% endif %}>
          <div class="cta__title">{{ block.settings.title }}</div>
          <div class="cta__subtitle">{{ block.settings.subtitle }}</div>
          <div class="cta__des">{{ block.settings.des }}</div>
          <a class="cta__hidden-link" href="{{ block.settings.link }}"></a>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</section>
{% schema %}
  {
    "name": "Timed Ads",
    "blocks": [
      {
        "type": "ad",
        "name": "Ad",
        "settings": [
          {
            "id": "bg_img",
            "type": "image_picker",
            "label": "Background Image"
          },
          {
            "id": "bg_color",
            "type": "color",
            "label": "Background Color",
            "default": "#000000"
          },
          {
            "id": "theme",
            "type": "radio",
            "label": "Appearance",
            "info": "For best result select the appearance mode based on background",
            "options": [
              { "value": "dark-mode", "label": "Dark Mode" },
              { "value": "light-mode", "label": "Light Mode" }
            ],
            "default": "dark-mode"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Ad Link"
          },
          {
            "id": "title",
            "type": "richtext",
            "label": "Title"
          },
          {
            "id": "subtitle",
            "type": "richtext",
            "label": "Subtitle"
          },
          {
            "id": "des",
            "type": "richtext",
            "label": "Description"
          },
          {
             "type": "header",
             "content": "Start Date"
          },
          {
            "type": "text",
            "id": "start_year",
            "label": "Start Year",
            "default": "2019"
          },
          {
            "type": "select",
            "id": "start_month",
            "label": "Start Month",
            "options": [
              {
                "label": "January",
                "value": "01"
              },
              {
                "label": "February",
                "value": "02"
              },
              {
                "label": "March",
                "value": "03"
              },
              {
                "label": "April",
                "value": "04"
              },
              {
                "label": "May",
                "value": "05"
              },
              {
                "label": "June",
                "value": "06"
              },
              {
                "label": "July",
                "value": "07"
              },
              {
                "label": "August",
                "value": "08"
              },
              {
                "label": "September",
                "value": "09"
              },
              {
                "label": "October",
                "value": "10"
              },
              {
                "label": "November",
                "value": "11"
              },
              {
                "label": "December",
                "value": "12"
              }
            ]
          },
          {
            "type": "select",
            "id": "start_day",
            "label": "Start Day",
            "options": [
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              },
              {
                "label": "24",
                "value": "24"
              },
              {
                "label": "25",
                "value": "25"
              },
              {
                "label": "26",
                "value": "26"
              },
              {
                "label": "27",
                "value": "27"
              },
              {
                "label": "28",
                "value": "28"
              },
              {
                "label": "29",
                "value": "29"
              },
              {
                "label": "30",
                "value": "30"
              },
              {
                "label": "31",
                "value": "31"
              }
            ]
          },
          {
            "type": "select",
            "id": "start_hour",
            "label": "Start Hour (24hr)",
            "options": [
              {
                "label": "0",
                "value": "00"
              },
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              }
            ],
            "default": "00"
          },
          {
            "type": "select",
            "id": "start_minute",
            "label": "Start Minute",
            "options": [
              {
                "label": "0",
                "value": "00"
              },
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              },
              {
                "label": "24",
                "value": "24"
              },
              {
                "label": "25",
                "value": "25"
              },
              {
                "label": "26",
                "value": "26"
              },
              {
                "label": "27",
                "value": "27"
              },
              {
                "label": "28",
                "value": "28"
              },
              {
                "label": "29",
                "value": "29"
              },
              {
                "label": "30",
                "value": "30"
              },
              {
                "label": "31",
                "value": "31"
              },
              {
                "label": "32",
                "value": "32"
              },
              {
                "label": "33",
                "value": "33"
              },
              {
                "label": "34",
                "value": "34"
              },
              {
                "label": "35",
                "value": "35"
              },
              {
                "label": "36",
                "value": "36"
              },
              {
                "label": "37",
                "value": "37"
              },
              {
                "label": "38",
                "value": "38"
              },
              {
                "label": "39",
                "value": "39"
              },
              {
                "label": "40",
                "value": "40"
              },
              {
                "label": "41",
                "value": "41"
              },
              {
                "label": "42",
                "value": "42"
              },
              {
                "label": "43",
                "value": "43"
              },
              {
                "label": "44",
                "value": "44"
              },
              {
                "label": "45",
                "value": "45"
              },
              {
                "label": "46",
                "value": "46"
              },
              {
                "label": "47",
                "value": "47"
              },
              {
                "label": "48",
                "value": "48"
              },
              {
                "label": "49",
                "value": "49"
              },
              {
                "label": "50",
                "value": "50"
              },
              {
                "label": "51",
                "value": "51"
              },
              {
                "label": "52",
                "value": "52"
              },
              {
                "label": "53",
                "value": "53"
              },
              {
                "label": "54",
                "value": "54"
              },
              {
                "label": "55",
                "value": "55"
              },
              {
                "label": "56",
                "value": "56"
              },
              {
                "label": "57",
                "value": "57"
              },
              {
                "label": "58",
                "value": "58"
              },
              {
                "label": "59",
                "value": "59"
              }
            ],
            "default": "00"
          },
          {
            "type": "select",
            "id": "start_second",
            "label": "Start Second",
            "options": [
              {
                "label": "0",
                "value": "00"
              },
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              },
              {
                "label": "24",
                "value": "24"
              },
              {
                "label": "25",
                "value": "25"
              },
              {
                "label": "26",
                "value": "26"
              },
              {
                "label": "27",
                "value": "27"
              },
              {
                "label": "28",
                "value": "28"
              },
              {
                "label": "29",
                "value": "29"
              },
              {
                "label": "30",
                "value": "30"
              },
              {
                "label": "31",
                "value": "31"
              },
              {
                "label": "32",
                "value": "32"
              },
              {
                "label": "33",
                "value": "33"
              },
              {
                "label": "34",
                "value": "34"
              },
              {
                "label": "35",
                "value": "35"
              },
              {
                "label": "36",
                "value": "36"
              },
              {
                "label": "37",
                "value": "37"
              },
              {
                "label": "38",
                "value": "38"
              },
              {
                "label": "39",
                "value": "39"
              },
              {
                "label": "40",
                "value": "40"
              },
              {
                "label": "41",
                "value": "41"
              },
              {
                "label": "42",
                "value": "42"
              },
              {
                "label": "43",
                "value": "43"
              },
              {
                "label": "44",
                "value": "44"
              },
              {
                "label": "45",
                "value": "45"
              },
              {
                "label": "46",
                "value": "46"
              },
              {
                "label": "47",
                "value": "47"
              },
              {
                "label": "48",
                "value": "48"
              },
              {
                "label": "49",
                "value": "49"
              },
              {
                "label": "50",
                "value": "50"
              },
              {
                "label": "51",
                "value": "51"
              },
              {
                "label": "52",
                "value": "52"
              },
              {
                "label": "53",
                "value": "53"
              },
              {
                "label": "54",
                "value": "54"
              },
              {
                "label": "55",
                "value": "55"
              },
              {
                "label": "56",
                "value": "56"
              },
              {
                "label": "57",
                "value": "57"
              },
              {
                "label": "58",
                "value": "58"
              },
              {
                "label": "59",
                "value": "59"
              }
            ],
            "default": "00"
          },
          {
             "type": "header",
             "content": "End Date"
          },
          {
            "type": "text",
            "id": "end_year",
            "label": "End Year",
            "default": "2019"
          },
          {
            "type": "select",
            "id": "end_month",
            "label": "End Month",
            "options": [
              {
                "label": "January",
                "value": "01"
              },
              {
                "label": "February",
                "value": "02"
              },
              {
                "label": "March",
                "value": "03"
              },
              {
                "label": "April",
                "value": "04"
              },
              {
                "label": "May",
                "value": "05"
              },
              {
                "label": "June",
                "value": "06"
              },
              {
                "label": "July",
                "value": "07"
              },
              {
                "label": "August",
                "value": "08"
              },
              {
                "label": "September",
                "value": "09"
              },
              {
                "label": "October",
                "value": "10"
              },
              {
                "label": "November",
                "value": "11"
              },
              {
                "label": "December",
                "value": "12"
              }
            ]
          },
          {
            "type": "select",
            "id": "end_day",
            "label": "End Day",
            "options": [
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              },
              {
                "label": "24",
                "value": "24"
              },
              {
                "label": "25",
                "value": "25"
              },
              {
                "label": "26",
                "value": "26"
              },
              {
                "label": "27",
                "value": "27"
              },
              {
                "label": "28",
                "value": "28"
              },
              {
                "label": "29",
                "value": "29"
              },
              {
                "label": "30",
                "value": "30"
              },
              {
                "label": "31",
                "value": "31"
              }
            ]
          },
          {
            "type": "select",
            "id": "end_hour",
            "label": "End Hour (24hr)",
            "options": [
              {
                "label": "0",
                "value": "00"
              },
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              }
            ],
            "default": "23"
          },
          {
            "type": "select",
            "id": "end_minute",
            "label": "End Minute",
            "options": [
              {
                "label": "0",
                "value": "00"
              },
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              },
              {
                "label": "24",
                "value": "24"
              },
              {
                "label": "25",
                "value": "25"
              },
              {
                "label": "26",
                "value": "26"
              },
              {
                "label": "27",
                "value": "27"
              },
              {
                "label": "28",
                "value": "28"
              },
              {
                "label": "29",
                "value": "29"
              },
              {
                "label": "30",
                "value": "30"
              },
              {
                "label": "31",
                "value": "31"
              },
              {
                "label": "32",
                "value": "32"
              },
              {
                "label": "33",
                "value": "33"
              },
              {
                "label": "34",
                "value": "34"
              },
              {
                "label": "35",
                "value": "35"
              },
              {
                "label": "36",
                "value": "36"
              },
              {
                "label": "37",
                "value": "37"
              },
              {
                "label": "38",
                "value": "38"
              },
              {
                "label": "39",
                "value": "39"
              },
              {
                "label": "40",
                "value": "40"
              },
              {
                "label": "41",
                "value": "41"
              },
              {
                "label": "42",
                "value": "42"
              },
              {
                "label": "43",
                "value": "43"
              },
              {
                "label": "44",
                "value": "44"
              },
              {
                "label": "45",
                "value": "45"
              },
              {
                "label": "46",
                "value": "46"
              },
              {
                "label": "47",
                "value": "47"
              },
              {
                "label": "48",
                "value": "48"
              },
              {
                "label": "49",
                "value": "49"
              },
              {
                "label": "50",
                "value": "50"
              },
              {
                "label": "51",
                "value": "51"
              },
              {
                "label": "52",
                "value": "52"
              },
              {
                "label": "53",
                "value": "53"
              },
              {
                "label": "54",
                "value": "54"
              },
              {
                "label": "55",
                "value": "55"
              },
              {
                "label": "56",
                "value": "56"
              },
              {
                "label": "57",
                "value": "57"
              },
              {
                "label": "58",
                "value": "58"
              },
              {
                "label": "59",
                "value": "59"
              }
            ],
            "default": "59"
          },
          {
            "type": "select",
            "id": "end_second",
            "label": "End Second",
            "options": [
              {
                "label": "1",
                "value": "01"
              },
              {
                "label": "2",
                "value": "02"
              },
              {
                "label": "3",
                "value": "03"
              },
              {
                "label": "4",
                "value": "04"
              },
              {
                "label": "5",
                "value": "05"
              },
              {
                "label": "6",
                "value": "06"
              },
              {
                "label": "7",
                "value": "07"
              },
              {
                "label": "8",
                "value": "08"
              },
              {
                "label": "9",
                "value": "09"
              },
              {
                "label": "10",
                "value": "10"
              },
              {
                "label": "11",
                "value": "11"
              },
              {
                "label": "12",
                "value": "12"
              },
              {
                "label": "13",
                "value": "13"
              },
              {
                "label": "14",
                "value": "14"
              },
              {
                "label": "15",
                "value": "15"
              },
              {
                "label": "16",
                "value": "16"
              },
              {
                "label": "17",
                "value": "17"
              },
              {
                "label": "18",
                "value": "18"
              },
              {
                "label": "19",
                "value": "19"
              },
              {
                "label": "20",
                "value": "20"
              },
              {
                "label": "21",
                "value": "21"
              },
              {
                "label": "22",
                "value": "22"
              },
              {
                "label": "23",
                "value": "23"
              },
              {
                "label": "24",
                "value": "24"
              },
              {
                "label": "25",
                "value": "25"
              },
              {
                "label": "26",
                "value": "26"
              },
              {
                "label": "27",
                "value": "27"
              },
              {
                "label": "28",
                "value": "28"
              },
              {
                "label": "29",
                "value": "29"
              },
              {
                "label": "30",
                "value": "30"
              },
              {
                "label": "31",
                "value": "31"
              },
              {
                "label": "32",
                "value": "32"
              },
              {
                "label": "33",
                "value": "33"
              },
              {
                "label": "34",
                "value": "34"
              },
              {
                "label": "35",
                "value": "35"
              },
              {
                "label": "36",
                "value": "36"
              },
              {
                "label": "37",
                "value": "37"
              },
              {
                "label": "38",
                "value": "38"
              },
              {
                "label": "39",
                "value": "39"
              },
              {
                "label": "40",
                "value": "40"
              },
              {
                "label": "41",
                "value": "41"
              },
              {
                "label": "42",
                "value": "42"
              },
              {
                "label": "43",
                "value": "43"
              },
              {
                "label": "44",
                "value": "44"
              },
              {
                "label": "45",
                "value": "45"
              },
              {
                "label": "46",
                "value": "46"
              },
              {
                "label": "47",
                "value": "47"
              },
              {
                "label": "48",
                "value": "48"
              },
              {
                "label": "49",
                "value": "49"
              },
              {
                "label": "50",
                "value": "50"
              },
              {
                "label": "51",
                "value": "51"
              },
              {
                "label": "52",
                "value": "52"
              },
              {
                "label": "53",
                "value": "53"
              },
              {
                "label": "54",
                "value": "54"
              },
              {
                "label": "55",
                "value": "55"
              },
              {
                "label": "56",
                "value": "56"
              },
              {
                "label": "57",
                "value": "57"
              },
              {
                "label": "58",
                "value": "58"
              },
              {
                "label": "59",
                "value": "59"
              }
            ],
            "default": "59"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>#shopify-section-timed-cta-group-ad{width:100%}section.cta-group--ad{height:100%;max-height:190px}section.cta-group--ad .slick-list,section.cta-group--ad .slick-track{height:100%}.cta-group--ad .cta-item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%}.cta-group--ad .cta-item .cta{background-color:#222;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;position:relative;padding:30px 30px 20px}.cta-group--ad .cta-item .cta.bg-img{background-position:center;background-size:cover}.cta-group--ad .cta-item .cta__des a,.cta-group--ad .cta-item .cta__subtitle a,.cta-group--ad .cta-item .cta__title a{color:inherit;position:relative;text-decoration:underline;z-index:2;-webkit-transition:opacity .15s ease-in-out;-o-transition:opacity .15s ease-in-out;transition:opacity .15s ease-in-out}.cta-group--ad .cta-item .cta__des a:hover,.cta-group--ad .cta-item .cta__subtitle a:hover,.cta-group--ad .cta-item .cta__title a:hover{opacity:.75}.cta-group--ad .cta-item .cta__title{color:#fff;font-family:"Gotham Narrow",sans-serif;font-weight:600;line-height:1;font-size:40px}.cta-group--ad .cta-item .cta__title strong{font-weight:700}.cta-group--ad .cta-item .cta__title p{margin-bottom:0}.cta-group--ad .cta-item .cta__subtitle{color:#fff;font-family:Gotham,sans-serif;font-size:15px;font-weight:500}.cta-group--ad .cta-item .cta__subtitle strong{font-weight:700}.cta-group--ad .cta-item .cta__subtitle em{text-decoration:underline}.cta-group--ad .cta-item .cta__des{color:rgba(255,255,255,.59);font-family:var(--hh-labelfont);font-size:14px}.cta-group--ad .cta-item .cta__des a{font-family:"Gotham Narrow",sans-serif}.cta-group--ad .cta-item--light-mode{background-color:#fff}@media screen and (max-width:960px){.cta-group--ad .cta-item .cta__title{font-size:22px}}</style>