{%- assign current_date_time = 'now' | date: "%Y%m%d%H%M" -%}
{%- comment %}choose start date{%- endcomment -%}
{%- assign start_year = section.settings.start_year -%}
{%- assign start_month = section.settings.start_month -%}
{%- assign start_day = section.settings.start_day -%}
{%- assign start_hour = section.settings.start_hour -%}
{%- assign start_minute = section.settings.start_minute -%}
{%- assign start_second = section.settings.start_second -%}
{%- assign start_date = start_year | append: start_month | append: start_day | append: start_hour | append: start_minute | append: start_second | convert: "date" -%}
{%- comment %}choose end date{%- endcomment -%}
{%- assign end_year = section.settings.end_year -%}
{%- assign end_month = section.settings.end_month -%}
{%- assign end_day = section.settings.end_day -%}
{%- assign end_hour = section.settings.end_hour -%}
{%- assign end_minute = section.settings.end_minute -%}
{%- assign end_second = section.settings.end_second -%}
{%- assign end_date = end_year | append: end_month | append: end_day | append: end_hour | append: end_minute | append: end_second | convert: "date" -%}

<style type="text/css">
  .shopify-section-{{ section.id }}.txt-img-bg.mobile {
    display: none;
  }
  {% if section.settings.include_small_tablets %}
  @media screen and (max-width: 990px) {
  {% else %}
  @media screen and (max-width: 767px) {
  {% endif %}
    .shopify-section-{{ section.id }}.txt-img-bg.mobile {
      display: block;
    }
    .shopify-section-{{ section.id }}.txt-img-bg.tablet-and-up {
      display: none;
    }
  }
  @media screen and (max-width: 990px) {
    .shopify-section:first-child {
      padding: 0;
    }
    .shopify-section:nth-child(2) {
      padding-top: 0;
    }
  }
</style>

{%- if current_date_time >= start_date and current_date_time < end_date -%}

  {%- if section.settings.btn_link contains 'https://' or  section.settings.btn_link contains 'http://' -%}

        	{%- assign isexternal = true -%}
        {%- else %}

        	{%- assign isexternal = false -%}
        {%- endif -%}


  <a {% if isexternal != false %} target="_blank" rel="nofollow"{% endif %} href="{{ section.settings.btn_link }}" title="{{ section.settings.btn_text }}">
    <section class="shopify-section-{{ section.id }} section txt-img-bg text-center lazyload{% if section.settings.mobile_image %} tablet-and-up{% endif %}" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img %}" data-section-id="{{ section.id }}" data-section-type="txt-img-bg">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-11 col-xl-7">
          <h2 class="section__title txt-img-bg__title">{{ section.settings.title }}</h2>
          <div class="section__description txt-img-bg__description">{{ section.settings.description }}</div>
          <button class="btn btn--light btn--rounded btn--lg">{{ section.settings.btn_text }}</button>
        </div>
      </div>
    </div>
  </section>
</a>
  {%- if section.settings.mobile_image -%}
  <a {% if isexternal != false %} target="_blank" rel="nofollow"{% endif %} href="{{ section.settings.btn_link }}" title="{{ section.settings.btn_text }}">
    <section class="shopify-section-{{ section.id }} section txt-img-bg text-center lazyload mobile" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.mobile_image %}" data-section-id="{{ section.id }}" data-section-type="txt-img-bg">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-11 col-xl-7">
            <h2 class="section__title txt-img-bg__title">{{ section.settings.title }}</h2>
            <div class="section__description txt-img-bg__description">{{ section.settings.description }}</div>
             <button class="btn btn--light btn--rounded btn--lg">{{ section.settings.btn_text }}</button>
          </div>
        </div>
      </div>
    </section>
  </a>
  {%- endif -%}
{%- else -%}
<style>
  #shopify-section-{{ section.id }} {
      display: none;
    }
</style>
{%- endif -%}
{% schema %}
{
  "name": "Scheduled Hero Image",
  "settings": [
    {
       "type": "header",
       "content": "Hero Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image. 1980x1080 image recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Background image (for mobile devices). 800x800 image recommended"
    },

    {
      "type": "checkbox",
      "id": "include_small_tablets",
      "label": "Include small tablets with mobile image"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "textarea",
      "id":        "description",
      "label":     "Description"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":      "text",
      "id":        "btn_text",
      "label":     "Button text"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button link"
    },
    {
       "type": "header",
       "content": "Start Date"
    },
    {
      "type": "text",
      "id": "start_year",
      "label": "Start Year",
      "default": "2020"
    },
    {
      "type": "select",
      "id": "start_month",
      "label": "Start Month",
      "options": [
        {
          "label": "January",
          "value": "01"
        },
        {
          "label": "February",
          "value": "02"
        },
        {
          "label": "March",
          "value": "03"
        },
        {
          "label": "April",
          "value": "04"
        },
        {
          "label": "May",
          "value": "05"
        },
        {
          "label": "June",
          "value": "06"
        },
        {
          "label": "July",
          "value": "07"
        },
        {
          "label": "August",
          "value": "08"
        },
        {
          "label": "September",
          "value": "09"
        },
        {
          "label": "October",
          "value": "10"
        },
        {
          "label": "November",
          "value": "11"
        },
        {
          "label": "December",
          "value": "12"
        }
      ]
    },
    {
      "type": "select",
      "id": "start_day",
      "label": "Start Day",
      "options": [
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        }
      ]
    },
    {
      "type": "select",
      "id": "start_hour",
      "label": "Start Hour (24hr)",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        }
      ],
      "default": "00"
    },
    {
      "type": "select",
      "id": "start_minute",
      "label": "Start Minute",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "00"
    },
    {
      "type": "select",
      "id": "start_second",
      "label": "Start Second",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "00"
    },
    {
       "type": "header",
       "content": "End Date"
    },
    {
      "type": "text",
      "id": "end_year",
      "label": "End Year",
      "default": "2020"
    },
    {
      "type": "select",
      "id": "end_month",
      "label": "End Month",
      "options": [
        {
          "label": "January",
          "value": "01"
        },
        {
          "label": "February",
          "value": "02"
        },
        {
          "label": "March",
          "value": "03"
        },
        {
          "label": "April",
          "value": "04"
        },
        {
          "label": "May",
          "value": "05"
        },
        {
          "label": "June",
          "value": "06"
        },
        {
          "label": "July",
          "value": "07"
        },
        {
          "label": "August",
          "value": "08"
        },
        {
          "label": "September",
          "value": "09"
        },
        {
          "label": "October",
          "value": "10"
        },
        {
          "label": "November",
          "value": "11"
        },
        {
          "label": "December",
          "value": "12"
        }
      ]
    },
    {
      "type": "select",
      "id": "end_day",
      "label": "End Day",
      "options": [
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        }
      ]
    },
    {
      "type": "select",
      "id": "end_hour",
      "label": "End Hour (24hr)",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        }
      ],
      "default": "23"
    },
    {
      "type": "select",
      "id": "end_minute",
      "label": "End Minute",
      "options": [
        {
          "label": "0",
          "value": "00"
        },
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "59"
    },
    {
      "type": "select",
      "id": "end_second",
      "label": "End Second",
      "options": [
        {
          "label": "1",
          "value": "01"
        },
        {
          "label": "2",
          "value": "02"
        },
        {
          "label": "3",
          "value": "03"
        },
        {
          "label": "4",
          "value": "04"
        },
        {
          "label": "5",
          "value": "05"
        },
        {
          "label": "6",
          "value": "06"
        },
        {
          "label": "7",
          "value": "07"
        },
        {
          "label": "8",
          "value": "08"
        },
        {
          "label": "9",
          "value": "09"
        },
        {
          "label": "10",
          "value": "10"
        },
        {
          "label": "11",
          "value": "11"
        },
        {
          "label": "12",
          "value": "12"
        },
        {
          "label": "13",
          "value": "13"
        },
        {
          "label": "14",
          "value": "14"
        },
        {
          "label": "15",
          "value": "15"
        },
        {
          "label": "16",
          "value": "16"
        },
        {
          "label": "17",
          "value": "17"
        },
        {
          "label": "18",
          "value": "18"
        },
        {
          "label": "19",
          "value": "19"
        },
        {
          "label": "20",
          "value": "20"
        },
        {
          "label": "21",
          "value": "21"
        },
        {
          "label": "22",
          "value": "22"
        },
        {
          "label": "23",
          "value": "23"
        },
        {
          "label": "24",
          "value": "24"
        },
        {
          "label": "25",
          "value": "25"
        },
        {
          "label": "26",
          "value": "26"
        },
        {
          "label": "27",
          "value": "27"
        },
        {
          "label": "28",
          "value": "28"
        },
        {
          "label": "29",
          "value": "29"
        },
        {
          "label": "30",
          "value": "30"
        },
        {
          "label": "31",
          "value": "31"
        },
        {
          "label": "32",
          "value": "32"
        },
        {
          "label": "33",
          "value": "33"
        },
        {
          "label": "34",
          "value": "34"
        },
        {
          "label": "35",
          "value": "35"
        },
        {
          "label": "36",
          "value": "36"
        },
        {
          "label": "37",
          "value": "37"
        },
        {
          "label": "38",
          "value": "38"
        },
        {
          "label": "39",
          "value": "39"
        },
        {
          "label": "40",
          "value": "40"
        },
        {
          "label": "41",
          "value": "41"
        },
        {
          "label": "42",
          "value": "42"
        },
        {
          "label": "43",
          "value": "43"
        },
        {
          "label": "44",
          "value": "44"
        },
        {
          "label": "45",
          "value": "45"
        },
        {
          "label": "46",
          "value": "46"
        },
        {
          "label": "47",
          "value": "47"
        },
        {
          "label": "48",
          "value": "48"
        },
        {
          "label": "49",
          "value": "49"
        },
        {
          "label": "50",
          "value": "50"
        },
        {
          "label": "51",
          "value": "51"
        },
        {
          "label": "52",
          "value": "52"
        },
        {
          "label": "53",
          "value": "53"
        },
        {
          "label": "54",
          "value": "54"
        },
        {
          "label": "55",
          "value": "55"
        },
        {
          "label": "56",
          "value": "56"
        },
        {
          "label": "57",
          "value": "57"
        },
        {
          "label": "58",
          "value": "58"
        },
        {
          "label": "59",
          "value": "59"
        }
      ],
      "default": "59"
    }
  ],
  "presets": [
    {
      "name": "Timed Banner Image",
      "category": "Text with Background"
    }
  ]
}
{% endschema %}
