{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="section txt-img-bg text-center lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img %}" data-section-id="{{ section.id }}" data-section-type="txt-img-bg">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-11 col-xl-7 textwrap">
        <div class="mega-title">{{ section.settings.title }}</div>
        <div class="mega-subtitle">{{ section.settings.description }}</div>
        <a class="btn btn--light btn--lg" href="{{ section.settings.btn_link }}" title="{{ section.settings.btn_text }}">{{ section.settings.btn_text }}</a>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Text with Image",
  "settings": [
    {
      "type": "header",
      "content": "Text and Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "textarea",
      "id":        "description",
      "label":     "Description"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":      "text",
      "id":        "btn_text",
      "label":     "Button text"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "Text with Background",
      "name": "Text with Image Background"
    }
  ]
}
{% endschema %}

<style>.txt-img-bg__title{font-family:"Gotham Narrow",sans-serif;font-size:30px;color:#fff;font-weight:700;line-height:1;letter-spacing:-.3px;margin-bottom:18px;text-transform:uppercase}.txt-img-bg__description{font-family:"Gotham Narrow",sans-serif;color:#fff;font-weight:300;font-size:160%;line-height:1.32;letter-spacing:-.3px;margin-bottom:25px}.mega-title{font-size:4rem;font-weight:700;font-family:var(--hh-titlefont)}.mega-subtitle{font-size:1.15em;line-height:1.35}.txt-img-bg .textwrap{color:#fff}.txt-img-bg{padding-top:95px;padding-bottom:90px;background-repeat:no-repeat;background-size:cover;background-position:top center;-webkit-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}.txt-img-bg:hover{opacity:.8}@media (min-width:768px){.txt-img-bg{padding-top:125px;padding-bottom:120px}.txt-img-bg__title{font-size:58px;margin-bottom:25px}}@media (max-width:768px){.txt-img-bg{padding-top:40px;padding-bottom:40px}.txt-img-bg__title{font-size:32px;margin-bottom:15px}.text-img-bg .container{max-width:100%}.mega-title{font-size:3rem}.mega-subtitle{font-size:.97em}.txt-img-bg .btn--lg.btn.btn--light{font-size:13px}}</style>