{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<style>.txt-solid-bg{padding:1rem 0 0}.txt-solid-bg.txt-dark .txt-solid-bg__title{color:var(--hh-black)}.txt-solid-bg.txt-light .txt-solid-bg__description,.txt-solid-bg.txt-light .txt-solid-bg__title{color:#fff}.txt-solid-bg__title{font-size:145%;font-weight:700;line-height:1}.txt-solid-bg__description{font-weight:400;line-height:1.32;letter-spacing:-.3px}.txt-solid-bg__description a{color:#d50032;text-decoration:none}@media (max-width:768px){.txt-solid-bg{padding:1rem 1rem 0}.txt-solid-bg .section__description p{font-size:93%}}</style>

<section class="section txt-solid-bg {{ section.settings.text_color }}" data-section-id="{{ section.id }}" data-section-type="txt-solid-bg" style="background-color:{{ section.settings.bg_color }}">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 col-xl-8">
        <h2 class="section__title text-center txt-solid-bg__title mb-2">{{ section.settings.title }}</h2>
        <div class="section__description txt-solid-bg__description">
          <div class="description__full rte">
            {{ section.settings.description_full }}
           </div>
        </div>

        {% if section.settings.btn_text != blank%}
        <a class="btn btn--light btn--rounded btn--lg{% if section.settings.text_color == 'txt-light' %} btn--light{% else %} btn--dark{% endif %}" {% if section.settings.btn_text != blank %}href="{{ section.settings.btn_link }}"{% endif %} title="{{ section.settings.btn_text }}">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Expandable Excerpt Text",
  "settings": [
    {
      "type": "header",
      "content": "Text and Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type":      "select",
      "id":        "text_color",
      "label":     "Text Color",
      "options": [
          { "value": "txt-light", "label": "Light"},
          { "value": "txt-dark", "label": "Dark"}
      ],
      "default":   "txt-dark"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "richtext",
      "id":        "description_excerpt",
      "label":     "Description Excerpt"
    },
    {
      "type":      "richtext",
      "id":        "description_full",
      "label":     "Description Full"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":      "text",
      "id":        "btn_text",
      "label":     "Button text"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "HH",
      "name": "Expanding Text"
    }
  ]
}
{% endschema %}

<script>
  $('.show-more').on('click',function(){
    $('.description__full').toggleClass('hidden');
    $(this).hide();
  });
  $('.show-less').on('click',function(){
    $('.description__full').toggleClass('hidden');
    $('.show-more').show();
  });
</script>