h1.blogpage-title {
    color: var(--hh-black);
    font-size: 200%;
}
.article__author,
.article__date,
.article__tags {
    margin-bottom: 0px;
    margin-right: 0px;
}

a.article__grid-tag {
    color: #d60132;
    border-bottom: 0px !important;
    padding-bottom: 0px !important;
    font-weight: 500;
    margin-right: 0px !important;
}
.blog-sidebar {
    width: 100%;
    max-width: 350px;
    border-left: 1px solid #eee;
    padding-left: 1.5rem;
}

.article__grid-meta .small {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
}
.article__grid-excerpt {
    font-size: 16px;
}

.blog-sidebar h3.widget__title {
    font-size: 15px;
    font-family: var(--hh-labelfont);
    color: var(--hh-red);
    text-transform: uppercase;
}

.blog-sidebar .widget__title:not(first-of-type) {
    margin-top: 1.5rem;
}
.blog-sidebar ul.tags {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
.blog-sidebar ul.tags li {
    display: flex;
    padding: 0.26rem 0.35rem;
    font-weight: 600;
}
.blog-sidebar ul.tags li a {
    color: var(--hh-black);
    display: block;
    width: 89%;
    font-weight: 500;
    font-size: 96%;
}
.blog-sidebar ul.tags li:hover {
    background: var(--hh-black);
}
.blog-sidebar ul.tags li:hover a {
    color: white;
}
.blog-sidebar ul.tags li + li {
    border-top: 1px solid #eee;
}
.blog-sidebar ul.tags li span.tag__count {
    float: right;
    font-weight: 400;
    font-size: 86%;
    opacity: 0.65;
    display: block;
    width: 11%;
    text-align: right;
}
.blog-sidebar ul.articles {
    margin: 0;
    padding: 0;
}
.blog-sidebar ul.articles li {
    display: flex;
    margin-bottom: 1rem;
}
.blog-sidebar ul li .article__title {
    font-size: 15px;
    color: var(--hh-black);
}

.blog-sidebar .article__img-wrapper a {
    width: 70px;
    height: 50px;
    float: left;
    margin-right: 0.6rem;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.blog-sidebar .article__date {
    font-size: 14px;
    opacity: 0.65;
}

.blog-sidebar
    .Row__FormRow-sc-17nghml-0:first-of-type
    .fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS
    .ql-editor
    span {
    text-transform: none !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    color: rgba(255, 255, 255, 0.8) !important;
}
.blog-sidebar .discount-letter input[type="email"]::placeholder {
  color: #afafaf !important;
  font-size: 14px !important ;
  padding: 0.3rem !important;
  line-height: 25px !important;
}
.blog-sidebar .discount-letter input[type="email"] {
  color: #fff !important;
  font-size: 14px !important;
  padding: 0.3rem !important;
}
.article.article--blog {
    margin-bottom: 2.5rem;
    float: left;
    width: 50%;
    padding: 1rem;
}
.article.article--blog:nth-child(odd) {
    clear: both;
}

.article.article--blog .btn--accent {
    display: none;
}

.article.article--blog .article__title {
    color: var(--hh-black);
    font-size: 1.75rem;
}

.article--blog .article__banner {
    padding-top: 48.28%;
}

.article__excerpt {
    font-size: 95%;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .article.article--blog {
        width: 100%;
        float: none;
        clear: both;
    }
    .blog-sidebar {
        border-left: 0px;
        padding-left: 0;
        padding-right: 0;
    }
    .blog-sidebar .widget.widget--blog-tags {
        display: none;
    }
}

.article__body .button.button--secondary {
    background-color: var(--hh-red);
    border-color: var(--hh-red);
    font-family: var(--hh-labelfont);
    font-size: 14px;
    min-height: 45px;
    padding: 0 1rem;
    line-height: 45px;
    box-shadow: none !important;
}
/** from 2.0 ****/
.dropdown-blog-tags-container {
    position: relative;
    z-index: 9;
    margin-bottom: 10px;
}

.dropdown-blog-tags {
    display: none;
    position: absolute;
    bottom: 4px;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    background-color: #fff;
    padding: 20px 0 13px;
    -webkit-box-shadow: 0 3px 9px rgba(35, 31, 32, 0.57);
    box-shadow: 0 3px 9px rgba(35, 31, 32, 0.57);
    width: 100%;
    min-width: 300px;
    max-width: 350px;
}

.dropdown-blog-tags ul.tags {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    padding-left: 1rem;
}

.dropdown-blog-tags .tag {
    color: var(--hh-black);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.dropdown-blog-tags .tag a {
    color: inherit;
    display: inline-block;
    padding: 7px 0;
    text-decoration: none;
}

@media (min-width: 576px) {
    .dropdown-blog-tags ul.tags {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.trigger--blog-nav {
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    padding: 5px 12px 5px 6px;
    min-height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    color: #999;
    font-size: 90%;
    text-transform: uppercase;
    -webkit-transition: 0.25s all ease-in-out;
    -o-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
}
.trigger--blog-nav .trigger__icon {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 10px;
    margin-right: 9px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.trigger--blog-nav .trigger__icon .burger {
    display: block;
    height: 2px;
    position: relative;
    margin-top: 4px;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.trigger--blog-nav .trigger__icon .burger,
.trigger--blog-nav .trigger__icon .burger:after,
.trigger--blog-nav .trigger__icon .burger:before {
    background-color: #999;
    width: 100%;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.trigger--blog-nav .trigger__icon .burger:after,
.trigger--blog-nav .trigger__icon .burger:before {
    position: absolute;
    height: 2px;
    content: "";
    display: block;
    -webkit-transition: background 0.3s, -webkit-transform 0.3s;
    transition: background 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    right: 0;
}
.trigger--blog-nav .trigger__icon .burger:before {
    top: -4px;
}
.trigger--blog-nav .trigger__icon .burger:after {
    bottom: -4px;
}
.blog-tags-dropdown-on .trigger--blog-nav {
    color: #fff;
    background-color: #d50032;
}
.blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger {
    background-color: transparent;
}
.blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:after,
.blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:before {
    background-color: #fff;
}
.blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:before {
    -webkit-transform: translate(0, 4px) rotate(-45deg);
    -ms-transform: translate(0, 4px) rotate(-45deg);
    transform: translate(0, 4px) rotate(-45deg);
}
.blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:after {
    -webkit-transform: translate(0, -4px) rotate(45deg);
    -ms-transform: translate(0, -4px) rotate(45deg);
    transform: translate(0, -4px) rotate(45deg);
}

.article__meta div {
    display: inline-block;
}
.article__author {
    font-weight: 500;
    white-space: pre-wrap;
}

.article__date {
    color: grey;
}

.article__date time {
    white-space: pre-wrap;
}
.article__tags {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.article__tags .tag {
    color: #000;
    display: inline-block;
}

.article__tags .tag__link {
    color: #d50032;
    font-weight: 400;
    text-decoration: none;
}

.article--blog .article__title,
.article--single .article__title {
    margin-bottom: 5px;
}

.article--blog .article__title a,
.article--single .article__title a {
    color: inherit;
    text-decoration: none;
}

.article--blog .article__title a:hover,
.article--single .article__title a:hover {
    opacity: 0.75;
}

.article--blog .article__banner,
.article--single .article__banner {
    display: block;
    background-color: #b7b7b7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 23px;
}

.article--blog .article__banner:hover,
.article--single .article__banner:hover {
    opacity: 0.75;
}

.article--single .article__title {
    font-size: 2.9rem;
    color: var(--hh-black);
}

.article--single .article__banner {
    padding-top: 56.23%;
    margin-top: 2rem;
}

.article--single .article__rte p + h2 {
    margin-top: 35px;
}

.article--single .article__rte h2 {
    font-weight: 700;
}

.article--single .article__rte h2 * {
    font-weight: 700 !important;
}

.article--single .article__rte h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    margin-bottom: 11px;
}

.article--single .article__rte h3 * {
    font-weight: 500 !important;
}

.article--single .article__rte h3:after {
    display: block;
    margin: 3px auto 0;
    content: "";
    height: 2px;
    width: 54px;
    background-color: #d50032;
}

.article--single .article__rte {
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    font-size: 96%;
    line-height: 1.4;
}
.article--single .article__rte h1,
.article--single .article__rte h2,
.article--single .article__rte h3,
.article--single .article__rte h4 {
    color: var(--hh-black);
}

.article--single .article__rte p,
.article--single .article__rte ul {
    margin-bottom: 19px;
}

.article--single .article__rte p span {
    font-weight: inherit !important;
}

.article--single .article__rte a {
    text-decoration: none;
    color: #d50032;
    font-weight: 500;
}

.article--single .article__rte a span {
    font-weight: 500 !important;
}

.article--single .article__rte a:hover {
    opacity: 0.75;
}

.article--single .article__rte blockquote {
    border-left: 5px solid #c4c4c4;
    padding-left: 25px;
    color: #d50032;
    font-style: italic;
}

.article--single .article__rte blockquote p,
.article--single .article__rte blockquote span {
    color: inherit;
    font-size: inherit;
}

.article--single .article__actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
}

@media (max-width: 768px) {
    h1.blogpage-title {
        font-size: 140%;
    }
    .trigger--blog-nav {
        border: 1px solid #b4b4b4;
        border-radius: 4px;
        padding: 5px 12px 5px 6px;
        min-height: 32px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-decoration: none;
        color: #999;
        font-size: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        -webkit-transition: 0.25s all ease-in-out;
        -o-transition: 0.25s all ease-in-out;
        transition: 0.25s all ease-in-out;
    }
    .trigger--blog-nav .trigger__icon {
        position: relative;
        display: inline-block;
        width: 11px;
        height: 10px;
        margin-right: 9px;
        cursor: pointer;
        vertical-align: middle;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .trigger--blog-nav .trigger__icon .burger {
        display: block;
        height: 2px;
        position: relative;
        margin-top: 4px;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .trigger--blog-nav .trigger__icon .burger,
    .trigger--blog-nav .trigger__icon .burger:after,
    .trigger--blog-nav .trigger__icon .burger:before {
        background-color: #999;
        width: 100%;
        -webkit-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }
    .trigger--blog-nav .trigger__icon .burger:after,
    .trigger--blog-nav .trigger__icon .burger:before {
        position: absolute;
        height: 2px;
        content: "";
        display: block;
        -webkit-transition: background 0.3s, -webkit-transform 0.3s;
        transition: background 0.3s, -webkit-transform 0.3s;
        -o-transition: transform 0.3s, background 0.3s;
        transition: transform 0.3s, background 0.3s;
        transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        right: 0;
    }
    .trigger--blog-nav .trigger__icon .burger:before {
        top: -4px;
    }
    .trigger--blog-nav .trigger__icon .burger:after {
        bottom: -4px;
    }
    .blog-tags-dropdown-on .trigger--blog-nav {
        color: #fff;
        background-color: #d50032;
    }
    .blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger {
        background-color: transparent;
    }
    .blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:after,
    .blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:before {
        background-color: #fff;
    }
    .blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:before {
        -webkit-transform: translate(0, 4px) rotate(-45deg);
        -ms-transform: translate(0, 4px) rotate(-45deg);
        transform: translate(0, 4px) rotate(-45deg);
    }
    .blog-tags-dropdown-on .trigger--blog-nav .trigger__icon .burger:after {
        -webkit-transform: translate(0, -4px) rotate(45deg);
        -ms-transform: translate(0, -4px) rotate(45deg);
        transform: translate(0, -4px) rotate(45deg);
    }
}

.article--single .article__actions .social-sharing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.article--single .article__actions .social-sharing__link {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    border-radius: 50%;
}

.article--single .article__actions .social-sharing__link svg {
    width: 45%;
    height: auto;
}

.article--single .article__actions .social-sharing__link:not(.bookmark) {
    color: #fff;
}

.article--single .article__actions .social-sharing__link:not(.bookmark) path,
.article--single
    .article__actions
    .social-sharing__link:not(.bookmark)
    polygon {
    fill: #fff;
}

.article--single .article__actions .social-sharing__link.bookmark {
    background-color: #fff;
    border: 1px solid #444;
    color: #444;
}

.article--single .article__actions .social-sharing__link.bookmark path,
.article--single .article__actions .social-sharing__link.bookmark polygon {
    fill: #444;
}

.article--single .article__actions .social-sharing__link.email {
    background-color: #727272;
}

.article--single .article__actions .social-sharing__link.facebook {
    background-color: #3b5999;
}

.article--single .article__actions .social-sharing__link.pinterest {
    background-color: #cb2028;
}

.article--single .article__actions .social-sharing__link.twitter {
    background-color: #55acef;
}

.article--single .article__actions .social-sharing__link i {
    font-size: 17px;
    font-size: 1.7rem;
}

.article--single .article__actions .social-sharing__link:hover {
    opacity: 0.75;
}

.article--single .article__actions .comments {
    position: relative;
}

.article--single .article__actions .comments svg {
    display: block;
    width: 22px;
    height: 20px;
}

.article--single .article__actions .comments path,
.article--single .article__actions .comments polygon {
    fill: #c4c4c4;
}

.article--single .article__actions .comments__count {
    font-size: 10px;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #444;
}

.article--blog {
    display: block;
    width: 50%;
    float: left;
    padding: 1.75rem;
}

.article--blog:nth-child(2n + 1) {
    clear: both;
}

.article--blog .article__title {
    font-size: 18px;
    font-size: 1.8rem;
}

.article--blog .article__banner {
    padding-top: 48.28%;
}

.article--blog .article__excerpt {
    margin-bottom: 25px;
}

.articles__grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 42px;
}
.articles__grid .grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 0 0 33.333333%;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 25px;
}
@media (max-width: 768px) {
    .articles__grid .grid__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 0 0 50%;
    }
    @media (max-width: 768px) {
        .articles__grid .grid__item {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 0 0 100%;
        }
    }
}
.articles__grid .article a:hover {
    opacity: 0.75;
}

.articles__grid .article__banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    padding-top: 56.16%;
    width: 100%;
}

.articles__grid .article__title {
    font-size: 1.3rem;
    line-height: 1.19;
    margin-bottom: 0;
    color: var(--hh-black);
    margin-top: 0.75rem;
}

.articles__grid .article__title a {
    color: inherit;
    line-height: 1.22;
    text-decoration: none;
}

.articles__grid .article__excerpt {
    color: #434343;
    font-size: 95%;
}

.articles__grid {
    padding-bottom: 70px;
}

.comments-wapper {
    padding-bottom: 13px;
}

.comments-wapper .sub-section {
    padding-bottom: 40px;
    padding-top: 20px;
}

.comments-wapper .sub-section__title {
    font-size: 27px;
    font-size: 2.7rem;
}

ul.comments .comment:not(:last-child) {
    margin-bottom: 37px;
}

ul.comments .comment__cnt {
    color: #000;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.06;
}

ul.comments .comment__cnt p {
    margin-bottom: 15px;
}

ul.comments .comment__footer {
    color: #000;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.06;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.comments .comment__author {
    font-weight: inherit;
    font-size: inherit;
    margin-block: 0;
}

.comment-form .form {
    font-family: Gotham, sans-serif;
}

.comment-form .form__control {
    padding: 5px 11px;
    border: 1px solid #818181;
    outline: 0;
    margin-bottom: 15px;
    font-family: inherit;
    font-size: 20px;
    font-size: 2rem;
}

.comment-form input:not([type="submit"]),
.comment-form select {
    height: 51px;
}

.related-posts {
    border-top: 2px solid #e1e1e1;
    border-top-color: rgb(225, 225, 225);
    padding-top: 35px;
}
@media (min-width: 768px) {
    .article--single .article__actions--btm {
        display: none;
        margin-bottom: 10px;
    }
    .article--single .article__actions.article__actions--btm .social-sharing {
        flex-directions: row;
    }
}

.widget--shop-items {
    margin-top: 1.5rem;
}
.widget--shop-items .collection__header .collection__title {
    color: #161616;
    font-family: "Gotham Narrow", sans-serif;
    font-weight: 700;
    font-size: 140%;
    line-height: 1.21;
    margin-bottom: 30px;
    text-align: center;
}
.widget--shop-items ul.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widget--shop-items ul.products .product-item {
    width: 100%;
}
@media screen and (max-width: 767px) {
    .widget--shop-items {
        display: none;
    }
    .article--single .article__actions .social-sharing {
        flex-direction: row;
    }
    .post-actions .title {
        margin-right: 1rem;
        margin-bottom: 0;
        line-height: 1.5;
    }
}

.widget--blog-tags .accordion-trigger {
    cursor: pointer;
    line-height: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.widget--blog-tags .accordion-trigger:after {
    content: "–";
    float: right;
    font-size: 25px;
    line-height: 20px;
    font-weight: 300;
    opacity: 0.6;
    color: var(--hh-red);
}

.widget--blog-tags .accordion-trigger.closed:after {
    content: "+";
    float: right;
    opacity: 1;
    color: var(--hh-red);
}

@media screen and (max-width: 767px) {
    .article--heading {
        flex-direction: column;
    }
  .related-posts {
    border-top: 0px;
  }
  .nav--breadcrumb {
    margin-top: 1rem !important;
    font-size: 13px;
  }
}
