#shopify-section-collection-template {
  width: 100%;
}
.ss-no-results
  .ss-no-results-container
  .ss-interest
  .ss-interest-grid
  .ss-interest-grid-item {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.3);
  padding: 26px 0 23px !important;
}

.ss-no-results
  .ss-no-results-container
  .ss-interest
  .ss-interest-grid
  .ss-interest-grid-item
  h5 {
  color: inherit;
  font-size: 25px !important;
}

.ss-no-results
  .ss-no-results-container
  .ss-interest
  .ss-interest-grid
  .ss-interest-grid-item:hover {
  background: var(--hh-black);
  color: #fff;
}
.filters-toolbar__item-wrapper-rightside {
  text-align: right;
}

section.collection.is_fullpage #colleciton_navigation {
  display: none !important;
}
#searchspring-toolbar {
  margin-left: auto;
  text-align: right;
}
#searchspring-facets {
  display: table;
  margin: 0;
}

.ss-toolbar-rightside {
  align-self: flex-end;
}

h1.title.title--default {
  color: var(--hh-black);
}
.collection__desc.cleanup * {
      font-family: var(--hh-bodyfont) !important;
    color: inherit !important;
    font-size: 14px !important;
        line-height: 1.5 !important;
}

.brand-warrenty_link {
  float: right;
    width: 150px;
    min-height: 90px;
    border: 2px solid #e1e1e1;
    padding: 0.95rem;
    margin: 0.75rem 0px 15px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  line-height: 1.15;
  z-index: 5;
  opacity: 0.75;
}
.brand-warrenty_link:hover {
  border-color: var(--hh-red);
    opacity: 1;
    }
.brand-warrenty_link img {
  display: block;
  width: 55px;
  max-width: 80%;
  margin: 5px auto;
}
.brand-warrenty_link .fa-external-link-alt {
  font-size: 19px;
  opacity: 0.25;
  position: absolute;
  top: 0;
  right:0;
 margin: 8px;
  width: 15px;
  height: 15px;
}
@media (max-width: 768px) {
  #searchspring-facets {
    margin: 0 auto;
    width: 100%;
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}
.collection-header {
  display: flex;
  align-items: center;
}
.collections-nav__title {
  font-family: var(--hh-titlefont);
  color: var(--hh-black);
  font-size: 125%;
  font-weight: 700;
}
.nav.nav--toolbar {
  display: block;
}
.nav--toolbar ul {
  margin-left: 0;
  padding-left: 0;
}
.nav--toolbar ul.nav__group {
  margin: 0;
  padding: 0;
  display: block;
}
.nav--toolbar li {
  display: block;
}
.nav--toolbar li a {
  font-size: 90%;
  display: block;
  padding: 0.15em 0;
  color: var(--hh-black);
}
.nav--toolbar li.active a {
  color: var(--hh-red);
  font-weight: 500;
}
.nav--toolbar .nav__group {
  margin-left: 1rem;
}
.nav--toolbar .nav__item.order-last {
  margin-top: 7px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 7px;
}
.nav--toolbar .nav__item.order-last a {
  font-weight: 500;
  color: var(--hh-black);
  font-size: 95%;
}
.nav--toolbar .nav__item.order-last a:hover {
  color: var(--hh-red);
}

.nav--toolbar .nav__title {
  display: block;
  font-weight: 500;
  color: var(--hh-black);
}
.collections-top-slider {
  width: 100%;
  background: rgba(0, 0, 0, 0.07);
  padding: 0.5rem 25px;
}
.collections-top-slider .responsive-image__wrapper {
  display: block;
  margin: auto auto 0.5rem;
}
.collections-top-slider ul {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
.collections-top-slider .responsive-image__wrapper img {
  border-radius: 100px;
  border: 5px solid #fff;
  min-width: 92px;
  max-width: 100px !important;
  margin-bottom: -5px;
}
.collections-top-slider .active .responsive-image__wrapper img {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
  border-color: var(--hh-red);
}
.collections-top-slider .grid__item {
  width: 130px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: -1px;
  justify-content: center;
}
.collections-top-slider .grid__item .collection__title {
  font-size: 14px;
  font-weight: 500;
  color: var(--hh-black);
  width: 95%;
  margin: 0 auto;
  line-height: 1.1;
}
.collections-top-slider .grid__item .collection__title .collection__link {
  font-weight: inherit;
}
.collections-top-slider .flickity-enabled .grid__item {
  visibility: hidden;
}
.collections-top-slider .flickity-prev-next-button {
  position: absolute;
  z-index: 5;
}

.collections-top-slider .flickity-prev-next-button.previous {
  left: -15px;
}

.collections-top-slider .flickity-prev-next-button.previous {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#666666+0,666666+100&0.21+0,0+100 */
  background: -moz-linear-gradient(
    left,
    rgba(102, 102, 102, 0.21) 0%,
    rgba(102, 102, 102, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(102, 102, 102, 0.21) 0%,
    rgba(102, 102, 102, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(102, 102, 102, 0.21) 0%,
    rgba(102, 102, 102, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36666666', endColorstr='#00666666',GradientType=1 ); /* IE6-9 */
  height: 100% !important;
  opacity: 0.5;
  border-radius: 0 !important;
  width: 25px !important;
  left: 0;
}
.collections-top-slider .flickity-prev-next-button.next {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#666666+0,666666+100&0+0,0.21+100 */
  background: -moz-linear-gradient(
    left,
    rgba(102, 102, 102, 0) 0%,
    rgba(102, 102, 102, 0.21) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(102, 102, 102, 0) 0%,
    rgba(102, 102, 102, 0.21) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(102, 102, 102, 0) 0%,
    rgba(102, 102, 102, 0.21) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00666666', endColorstr='#36666666',GradientType=1 );
  height: 100% !important;
  opacity: 0.5;
  border-radius: 0 !important;
  width: 25px !important;
  right: 0;
}
.collection-top-container {
  max-height: 180px;
  overflow-y: hidden;
}
.desc.js-desc {
  font-size: 15px;
  line-height: 1.4;
}
.desc.js-desc h2,
.description__full h2 {
  color: var(--hh-black);
  font-size: 1.4rem;
}
.desc.js-desc h3,
.description__full h3 {
  color: var(--hh-black);
  font-size: 1.2rem;
}
.description__excerpt .readmore,
a.readless {
  color: var(--hh-red);
  font-size: 14px;
  font-family: var(--hh-bodyfont);
  font-weight: 400;
}

@media (min-width: 992px) {
  .product:hover .product__actions,
  .grid__item:hover .product__actions {
    height: 25px;
    opacity: 1;
    bottom: 10px;
    z-index: 2;
  }
}
.product__actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  bottom: -10%;
  opacity: 0;

  transition: all 0.2s ease-in-out;
}
.product__actions .btn {
  font-size: 12px;
  padding: 5px 10px 4px;
}

@media (max-width: 768px) {
  .product__actions .btn {
    display: none;
  }
}
.ss-summary .ss-summary-container .ss-list {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ss-summary .ss-summary-container .ss-list .ss-list-option a.ss-list-link {
  background: #eee;
  padding: 0.25em 1em;
  border-radius: 10px;
}
.ss-summary
  .ss-summary-container
  .ss-list
  .ss-list-option
  .ss-list-link:before {
  position: relative !important;
  top: 0 !important;
  margin-right: 6px !important;
  display: inline-block !important;
}

#ss-merch-header {
  color: var(--hh-black);
}
/***** previous ***/

.banner--default {
  margin-bottom: 40px;
  position: relative;
}

.banner--default .banner__bg {
  background-position: center;
  background-size: cover;
  padding-top: 27.45%;
}

.grid--img-txt.grid--img-txt--land .grid__item {
  padding-left: 10px;
  padding-right: 10px;
}

.grid--img-txt.grid--img-txt--land .grid__cnt-wrapper {
  background-color: #000;
}

.grid--img-txt.grid--img-txt--land .grid__img {
  width: 100%;
}

.grid--img-txt.grid--img-txt--land .grid__title {
  padding: 10px 15px;
}

.grid--img-txt.grid--img-txt--land .grid__link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}


.collection-header .heading-breadcrumbs {
  margin-bottom: 5px;
}

.collection-heading .title {
  color: var(--hh-black);
  font-size: 200%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
}

.collection-heading .sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
}

.collection-lead-desc {
  font-size: 120%;
  line-height: 1.35;
}
.collection-heading--landing {
  margin: 0;
}

.collection-heading--landing .title {
  font-size: 33px;
  font-size: 3.3rem;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.collection-heading--landing .title--fixed {
  display: none;
}

.collection .collection-header {
  margin-bottom: 15px;
}

.facets-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding-left: 0.5px;
  padding-right: 0.5px;
}

.facets-group {
  -webkit-transition: top 0.25s ease-in-out;
  -o-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
  z-index: 25;
}

/*
.facet {
    position: static
}
*/

.facet__cnt {
  padding-top: 20px;
  padding-bottom: 9px;
}

.facet__label {
  font-family: "Gotham Narrow", sans-serif;
  color: #282828;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.facet__count {
  display: inline-block;
  font-size: 12px;
  margin-left: 3px;
}

.facet .reviews_product_score-value:before {
  font-size: 18px;
}

.facet--dropdown {
  margin-left: -0.5px;
  margin-right: -0.5px;
}
.facet--dropdown .nav.nav--toolbar {
  padding-left: 1rem;
}
.facet--dropdown .facet__title {
  color: #101010;
  font-family: "Gotham Narrow", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.facet--dropdown .facet__btn {
  border: 2px solid #000;
  background: #fff;
  cursor: pointer;
  outline: 0;
  padding: 11px 35px 11px 11px;
  text-align: left;
  position: relative;
  max-width: 100%;
}

.facet--dropdown .facet__btn:after {
  content: "";
  border: solid #000;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 20px;
  top: calc(50% - 4px);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  -webkit-transition: all 20ms ease-in-out;
  -o-transition: all 20ms ease-in-out;
  transition: all 20ms ease-in-out;
}

.facet--dropdown .facet__cnt {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 8;
  border: 2px solid #000;
  /* border-width: 0 2px 2px; */
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: 0.25s opacity ease-in-out,
    0.35s -webkit-transform ease-in-out;
  transition: 0.25s opacity ease-in-out, 0.35s -webkit-transform ease-in-out;
  -o-transition: 0.35s transform ease-in-out, 0.25s opacity ease-in-out;
  transition: 0.35s transform ease-in-out, 0.25s opacity ease-in-out;
  transition: 0.35s transform ease-in-out, 0.25s opacity ease-in-out,
    0.35s -webkit-transform ease-in-out;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  min-width: 260px;
  margin-top: -2px;
}

.facet--dropdown .facet__cnt--show {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.facet--dropdown .dropdown-btn {
  height: 100%;
}

.facet--dropdown .custom-select .select-selected {
  height: 100%;
  padding: 11px 35px 11px 11px;
}

.facet--all .facet__cnt {
  width: 100%;
}
.facet--dropdown ul {
  margin: 0;
  padding: 0;
  display: block;
}
.facet--dropdown li {
  display: block;
  padding-left: 0.25rem;
}
.facet--open .facet__btn:after {
  border-width: 1.5px 0 0 1.5px;
  top: 50%;
}

.facet .sub-facets-group {
  padding: 0 15px 6px;
}

.facet .sub-facet__title {
  font-size: 15px;
  font-weight: 500;
}

.facet .sub-facet__btn {
  border: none;
  background: 0 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  text-align: left;
  position: relative;
  width: 100%;
  color: var(--hh-black);
}

.facet .sub-facet__btn:after,
.facet .sub-facet__btn:before {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  -o-transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.facet .sub-facet__btn:before {
  width: 2px;
  height: 10px;
  right: 4px;
}

.facet .sub-facet__btn:after {
  height: 2px;
  width: 10px;
  right: 0;
}

.facet .sub-facet__cnt {
  background-color: #fff;
  display: none;
}

.facet .sub-facet--open .sub-facet__btn:before {
  -webkit-transform: rotateZ(90deg) translateY(-50%);
  -ms-transform: rotate(90deg) translateY(-50%);
  transform: rotateZ(90deg) translateY(-50%);
}

.facet .custom-select--sort-by,
.facet .selector-wrapper--sort-by {
  width: 100%;
}

#main #searchresults {
  margin: 0;
}

.search .search-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.search .search-info {
  font-size: 13px;
}

.search .collection-header {
  margin-bottom: 30px;
}

.search .collection-header .search-header {
  margin-bottom: 15px;
}

.search .collection-header .pagination--mini {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.search .popular-searches {
  border-top: 1px solid #cfd0d3;
  padding: 35px 0;
}

.search .popular-searches h3 {
  font-weight: 500;
}

.search .popular-searches .popular-search-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding-top: 20px;
}

.search .popular-searches .popular-search-list li {
  margin: 10px 10px !important;
}

.search .popular-searches .popular-search-list li a {
  background-color: #000;
  border-radius: 20px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 45px;
  text-decoration: none;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.search .popular-searches .popular-search-list li a:hover {
  background-color: #d50032;
}

.collection-list-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.collection-list-all .collection-item {
  width: calc(50% - 10px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}

.collection-list-all .collection-item a.thumb-container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.collection-list-all .collection-item a.thumb-container svg {
  width: 100%;
}

.collection-list-all .collection-item a.title-container {
  font-size: 1.6rem;
  line-height: 1.45;
  margin-bottom: 0;
  color: #434343;
  text-decoration: none;
  text-transform: capitalize;
}

@media (min-width: 576px) {
  .collection-list-all .collection-item {
    width: calc(33.33% - 10px);
  }
}

@media (min-width: 768px) {
  .grid--img-txt.grid--img-txt--land {
    margin-bottom: 75px;
  }
  .grid--img-txt.grid--img-txt--land .grid__link {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .collection-header .heading-breadcrumbs {
    margin-bottom: 20px;
    margin-right: 15px;
    align-items: center;
  }
  .collection-header .collection-heading {
    margin-right: 25px;
  }
  .collection-heading {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
  }

  .collection-heading--landing {
    margin: 0;
  }
  .collection-heading--landing .title {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .collection--landing {
    padding-top: 20px;
  }
  .collection .collection-header {
    margin-bottom: 45px;
  }
  .facets-row {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 1px;
    padding-right: 1px;
  }
  .facet-col.facet--all {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    min-width: 100px;
    max-width: none;
  }
  .facet-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .facet--dropdown {
    margin-left: -1px;
    margin-right: -1px;
  }
  .search .search-title {
    font-size: 21px;
  }
  .search .search-info {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  #toolbarNav {
    width: 215px;
  }
  .facet--dropdown .facet__btn {
    padding: 9px 75px 9px 11px;
    line-height: 1.4;
  }
  .collection-list-all .collection-item {
    width: calc(25% - 10px);
  }
}

@media (min-width: 1262px) {
  .search .search-title {
    font-size: 37px;
  }
  .search .search-info {
    font-size: 22px;
  }
  .search .collection-header .custom-select--sort-by {
    padding-top: 65px;
  }
  .collection-list-all .collection-item {
    width: calc(20% - 10px);
  }
}

@media (min-width: 1920px) {
  #toolbarNav {
    width: 265px;
  }
  .facet {
    position: relative;
  }
  .facet--dropdown .facet__btn--lg {
    width: 176px;
  }
  .facet--dropdown .facet__btn--md {
    width: 162px;
  }
  .facet--all {
    position: static;
  }
  .facet--all .facet__cnt {
    width: 332px;
    max-width: 100%;
    left: unset;
    right: 0;
  }
  .facet .sub-facet__btn--lg {
    width: 176px;
  }
  .facet .sub-facet__btn--md {
    width: 162px;
  }
  .search .container--search {
    padding: 10px 150px 50px;
  }
}

@media (max-width: 1919px) {
  .facet .custom-select,
  .facet .selector-wrapper {
    position: static;
  }
}

@media (max-width: 991px) {
  .facet--dropdown .nav--toolbar .nav__title {
    display: none;
  }
  .collection-heading .title {
    font-size: 180%;
    margin-top: 15px;
  }
  .collection-heading {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .collection-lead-desc {
    font-size: 95%;
  }
}

@media (max-width: 767px) {
  .collection-header-text .col-12 {
    padding: 0px;
  }
  .collection-heading--landing .title--fixed {
    color: #fff;
    background-color: #000;
    display: none;
    font-family: Gotham, sans-serif;
    font-weight: 500;
    padding: 13.5px 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-size: 1.5rem;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }
  body.h-fx .collection-heading--landing .title--fixed {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .collection--landing .slider-group-equal-h {
    margin-bottom: 0;
  }
  .collection .collection-header {
    padding-top: 15px;
  }
  body.fg-fx .facets-group {
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .facet-col:not(.facet--select):not(.facet--all) {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .facet-col.facet--all,
  .facet-col.facet--select {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 31%;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
  }

  .facets-row.facets-group.ss-facets
    .facet.facet--dropdown.facet-col:last-of-type
    .facet__cnt {
    right: 0;
    left: auto;
  }

  .facet--dropdown .facet__title {
    font-family: Gotham, sans-serif;
    text-transform: uppercase;
  }
  .facet--dropdown .facet__btn {
    width: 100%;
    border-width: 1px;
    border-color: #c9c9c9;
    font-size: 13px;
  }

  .facet--dropdown .facet__btn:after {
    padding: 2.5px;
  }
  .facet--dropdown .facet__cnt {
    border-width: 1px;
    border-color: #c9c9c9;
    margin-top: -1px;
  }
  .facet--dropdown .custom-select .select-selected {
    border-width: 1px;
    border-color: #c9c9c9;
    text-transform: uppercase;
    font-family: Gotham, sans-serif;
    font-size: 0;
    font-size: 0rem;
  }
  .facet--dropdown .custom-select .select-selected:after {
    padding: 2.5px;
  }
  .facet--dropdown .custom-select .select-items {
    border-width: 1px;
    border-color: #c9c9c9;
    margin-top: -1px;
  }
  .facet--dropdown .custom-select .select-selected,
  .facet--dropdown .facet__btn:not(.facet__btn--toolbar) {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .facet--dropdown .custom-select .select-selected:before,
  .facet--dropdown .facet__btn:not(.facet__btn--toolbar):before {
    font-size: 133%;
    font-weight: 400;
    display: inline-block;
    content: "\002B";
    margin-right: 7px;
  }
  .facet--dropdown .facet__btn:not(.facet__btn--toolbar):after {
    display: none;
  }
  .facet--dropdown .custom-select .select-selected:after {
    font-size: 15px;
    font-weight: 500;
    position: static;
    padding: 0;
    display: inline-block;
    content: "SORT";
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: none;
  }
  .facet--open .custom-select .select-selected:before,
  .facet--open .facet__btn:not(.facet__btn--toolbar):before {
    content: "\2212";
    font-weight: 700;
  }
  .search .collection-header .search-header {
    padding: 20px 0 10px;
    text-align: center;
  }
  .search .collection-header .facets-group {
    margin-left: -15px;
    margin-right: -15px;
  }
  .collection__desc {
    display: block;
    padding: 1rem;
  }
}

@media (max-width: 399px) {
  .facet--dropdown .facet__title {
    font-size: 12px;
  }
  .facet--dropdown .facet__btn {
    padding: 11px 25px 11px 10px;
  }
  .facet--dropdown .facet__btn:after {
    right: 15px;
  }
  .facet--dropdown .custom-select .select-items div {
    font-size: 12px;
  }
  .facet--dropdown .custom-select .select-selected,
  .facet--dropdown .facet__btn:not(.facet__btn--toolbar) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .facet--dropdown .custom-select .select-selected:after {
    font-size: 12px;
  }
}
