.nav--mega-menu li.nav__item.dropdown .dropdown__menu:before {
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
  background: url('{{ 'corner_snowflake.png' | asset_url }}') no-repeat top right;
    background-size: 100% auto;
  
}