.nav--mega-menu li.nav__item.dropdown .dropdown__menu:before {
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
  background: url('//cdn.shopify.com/s/files/1/1221/0120/t/161/assets/corner_snowflake.png?v=10245804744027733685') no-repeat top right;
    background-size: 100% auto;
  
}