.page-content {
    margin-bottom: 100px
}

body[class*=" template-page"] .page-header,
body[class^=template-page] .page-header {
    padding-top: 28px;
    padding-bottom: 14px
}

body[class*=" template-page"] .page-header--banner,
body[class^=template-page] .page-header--banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 300px;
    height: 48vh;
    max-height: 527px;
    margin-bottom: 60px
}

body[class*=" template-page"] .page-header--banner .page-title,
body[class^=template-page] .page-header--banner .page-title {
    color: #fff;
    margin-bottom: 0
}

body[class*=" template-page"] .rte h3,
body[class^=template-page] .rte h3 {
    font-size: 18px;
}

body[class*=" template-page"] .rte p,
body[class^=template-page] .rte p {
    color: #525252;
    line-height: 1.35
}

body[class*=" template-page"] .rte a,
body[class^=template-page] .rte a {
    color: #d50032;
    text-decoration: none;
    /*overflow-wrap: break-word;*/
}

body[class*=" template-page"] .rte a:hover,
body[class^=template-page] .rte a:hover {
    opacity: .75
}

body[class*=" template-page"] .rte ul,
body[class^=template-page] .rte ul {
    padding-bottom: 27px
}

body[class*=" template-page"] .rte ul li,
body[class^=template-page] .rte ul li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 24px
}

body[class*=" template-page"] .rte ul li:before,
body[class^=template-page] .rte ul li:before {
    content: "";
    height: 8px;
    width: 8px;
    border: 2px solid #7f7f7f;
    position: absolute;
    left: 0;
    top: 8px
}

body[class*=" template-page"] .rte table,
body[class^=template-page] .rte table {
  max-width: 100%;
  width: 100%;
  overflow-x: scroll;
}

body[class*=" template-page"] .page-header--banner~* .rte p,
body[class^=template-page] .page-header--banner~* .rte p {
    color: #000;
    line-height: 1.19
}
.contactus-page-container .lg-contact-phone {
  font-size: 50px;
  font-family: var(--hh-titlefont);
    text-transform: uppercase;
    color: var(--hh-black);
      font-weight: 600;
      line-height: 1;
    }
  .contactus-page-container .rte {
    font-size: 15px;
    line-height: 1.4;
    margin-top: 1.5rem;
  }
.contactus-page-container .contactus-h1 {
  font-size: 3rem;
}
.contactus-page-container .btn.btn-contactus {
  min-width: 220px;
  font-size: 14px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus-page-container .btn.btn-contactus svg {
  font-size: 132%;
  margin-right: 5px;
}
.contactus-page-container .contact-email {
  color: var(--hh-red);
  font-weight: 500;
     
}
.rte+.contact-info-wrap {
    margin-top: 50px
}



form label.label-hidden {
    display: none
}

form p.quote {
    font-weight: 500
}

form p.quote.success {
    color: #d50032
}

form .input-text {
    width: 100%;
    background-color: transparent;
    border: 2px solid #818181;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 12px;
    color: #4c4c4c;
    outline: 0;
    font-family: "Gotham Narrow", sans-serif
}

  .error-404 {
  border-bottom: 1px solid #eee;
}

.lg-title-404 {
  
  color: rgba(0,0,0,0.2);
  font-size: 6.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1;
}

.sm-title-404 {
  font-size: 1.35rem;
  font-weight: 600;
  margin: 0.5rem 0 1.5rem;
  color: rgba(0,0,0,0.4);
}
.md-title-404 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin:  0 0 1rem;
  line-height: 1.2;
  color: #000;
  font-family: var(--hh-labelfont);
}
.btn.btn-404 {
  text-align: center;
  font-family: var(--hh-labelfont);
  width: 100%;
  margin-bottom: 0.65rem;
    background: var(--hh-red);
}
.btn.btn-404:hover {
  background: var(--hh-black);
    }
.container.container-404-btns {
  max-width: 500px;
  margin-left: 0;
  font-family: var(--hh-titlefont);
}
.container-404-btns.formobile {
  margin:1rem auto;
}
.sample-grids [class*=col] {
    margin-bottom: 15px
}

.sample-grids .sample-content {
    background: #e3e2e2;
    padding: 15px 10px;
    font-size: 14px
}

.offset-ma {
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    body[class*=" template-page"] .rte p,
    body[class^=template-page] .rte p {
        margin-bottom: 23px
    }
    body[class*=" template-page"] .page-header--banner~* .rte p,
    body[class^=template-page] .page-header--banner~* .rte p {
        font-size: 22px;
        margin-bottom: 25px
    }
    form .input-text {
        font-size: 17px
    }
}

@media (min-width:1920px) {
    body[class*=" template-page"] .page-header .page-title,
    body[class^=template-page] .page-header .page-title {
        font-size: 35px;
    }
    body[class*=" template-page"] .page-header--banner,
    body[class^=template-page] .page-header--banner {
        margin-bottom: 97px
    }
    body[class*=" template-page"] .page-header--banner .page-title,
    body[class^=template-page] .page-header--banner .page-title {
        font-size: 57px;
    }
}

@media (max-width:1261px) {

  .contactus-page-container .contactus-h1 {font-size: 2.5rem; }
  .contactus-page-container .btn.btn-contactus {
    min-width: 180px;
  }

}

@media (max-width:768px) {
  .contactus-page-container .contactus-h1 {font-size: 1.75rem; margin-top: 1rem; }
  .contactus-page-container .lg-contact-phone {
    font-size: 2.5rem;
  }
  .contactus-page-container .contact-info {
    text-align: center;
  }
.contactus-page-container .btn.btn-contactus { 
  width: 100%;
  min-width: 0px;
}

.lg-title-404 {
    font-size: 5.2rem;
    white-space: nowrap;
    word-break: keep-all;
    z-index: 2;
}
  .error-404 {
  overflow: hidden;
}
.error-404 img {
      width: auto;
    min-height: 280px;
    max-width: 160%;
  height: auto;
}
  .sm-title-404 {
    font-size: 1.3rem;
  }
}

/** Loyalty Page 3rd party overwrite **/
@media only screen and (max-device-width: 767px) and (min-device-width: 320px) {
#s15-dashboard-iframe_reer { 
  max-height: none;
}
  #s15-dashboard-iframe, #s15-dashboard-iframe {
    min-height: 1200px;
  }
}
