 #quick-view .view-product {
      font-size: 78%;
      font-weight:500;
      opacity: 0.6;
        text-align: center;
   margin-top: 0.85rem;
   font-family: var(--hh-labelfont);
        text-transform: uppercase;
    }
.fancybox-skin {
  border-radius: 0.75rem;

}
.fancybox-opened .fancybox-inner {
  height: auto !important;
}
 #quick-view .view-product:hover {
   opacity: 1;
 }
.fancybox-wrap .fancybox-skin {
  padding: 0px !important;
}
.fancybox-wrap.fancybox-opened { 
  top: 50px !important;
  position: fixed;
  max-height: calc(100vh - 60px);
}
#quick-view {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  .qv-product-images {
    width: 45%;
    height: auto;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    border-radius: 0.75rem 0px 0px 0.75rem;
    padding: 15px 1.75rem;
  }
  .slick-list, .slick-track {
    height: calc(100% - 12px);
  }
  .slick-initialized .slick-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:focus {
      outline: none;
    }
  }
  .slick-arrow {
    z-index: 1;
    border: 0px;
    font-size: 0px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background-color: transparent;
  }
  .slick-prev.slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    left: 10px;
    background: url({{ "arrow-down.svg" | asset_url }}) no-repeat center center;
    transform: rotate(90deg);
    background-size: contain;

  }
   .slick-next.slick-arrow {
     position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    right: 10px;
      background: url({{ "arrow-down.svg" | asset_url }}) no-repeat center center;
    transform: rotate(-90deg);
      background-size: contain;
   }
  .slick-slide {
    padding: 0 25px;
    height: 85%;
    position: relative;
    img {
      margin: 0 auto;
      max-height: 100%;
      /* position: absolute; */
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  }
  .slick-dots {
    padding: 0px;
    right: auto;
    left: 50%;
    width: 100%;
    bottom: 10px;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    li {
      display: inline-block;
      margin: 0 4px 0 0;
      button {
        background-color: #cacaca;
        width: 6px;
        display: block;
        height: 6px;
        border: 0px;
        border-radius: 25px;
        font-size: 0px;
        padding: 0px;
      }
      &.slick-active button {
        background-color: var(--hh-red);
      }
    }
  }
  .qv-content {
    width: 50%;
    display: inline-flex;
    float: right;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0px;
    /*height: calc(100% - 40px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);*/
    flex-wrap: wrap;
    overflow: auto;
    box-sizing: border-box;
    > * {
      width: calc(100% - 25px);
      box-sizing: border-box;
    }
  }
  .qv-product-title {
    padding-right: 20px;
    margin-bottom: 0;
    color: var(--hh-black);
      font-size: 1.5rem;
      line-height: 1.275;
      margin-bottom: 0.8rem;
      font-weight: 700;
  }
  .qv-product-type {
    color: #a18466;

  }
  .qv-product-price, .qv-product-original-price {
    display: inline-block;
    color: var(--hh-black);
    margin-bottom: 0;
    font-size: 110%;
  }
  .qv-product-original-price {
    margin-left: 8px;
    text-decoration: line-through;
    color: #000;
  }
  .option-selection-title {
    display: none;
  }

  .quantity {
    margin-left: auto;
    span {
      text-transform: uppercase;
      font-weight: 600;
      color: var(--hh-black);
      display: block;
      min-width: 80px;
        font-size: 95%;
    }
    input[type="number"]{
      width: 70px;
      text-align: center;
      -moz-appearance: textfield;
      padding: 4px;
	border: 2px solid #bfbfbf;
	color: var(--hh-black);
	padding: 3px 8px;
	font-weight: 500;
	font-size: 17px;
      &:focus {
        outline: none;
        border-color: var(--hh-red);
        display: inline-block;
      }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }
  .qv-product-options {
    > div {
      margin-bottom: 8px;
    }
    span {
      text-transform: uppercase;
      font-weight: 600;
      color: var(--hh-black);
      display: inline-block;
      min-width: 100px;
        font-size: 90%;
        opacity: 0.35;
        font-family: var(--hh-labelfont);
    }
  }
  hr {
    border:0px;
    border-bottom: 1px solid rgba(0,0,0,0.075);
  }
  .qv-row-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .qv-add-button {
    display: block;
    flex-grow: 1;
    min-height: 40px;
   /*  background-color: #ff0000;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    padding: 10px 20px;
    border: 0;
    width: 100%;
    color: #fff;
    &:hover {
      background-color: #ff0000;
    }
    &:focus {
      background-color: #3a3a3a;
      outline: none;
    }
    &:disabled {
      background-color: #ccc;
    } */
  }
  .qv-add-to-cart-response {
    margin-top: 20px;
    display: none;
    font-size: 14px;
    line-height: 1.23;
    &.success, &.error {
      display: block;
      padding: 8px;
      border: 1px solid;
    }
    &.success {
      border-color: #008000;
      color: #008000;
      a {
        text-decoration: underline;
      }
    }
    &.error {
      border-color: #ff0000;
      color:#ff0000;
    }
  }
  .qv-product-description {
    padding: 20px 0 30px;
  }
  
  select {
     width: 100%;
	border: 2px solid #bfbfbf;
	color: var(--hh-black);
	padding: 3px 8px;
	font-weight: 500;
	font-size: 17px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url({{ 'angle-arrow-right.svg' | asset_url }});
	background-repeat: no-repeat;
	background-position: right 0.7em top 50%, 0 0;
	background-size: 0.8em auto, 100%;
	outline: none;
  }
  select.onlyone {
    background-image: none;
    background-color: transparent;
    pointer-events: none;
  }
.notify-qv-availability {
  text-align: center;
  padding: 1rem 0px;
  line-height: 1.24;
  font-size: 14px;
}
  .notify-qv-availability .form-control {
    font-size: 14px;
  }
.notify-qv-availability label {
  font-weight: 500;
  text-align: left;
  font-weight: 500;
  display: block;
}


  @media (max-width: 1200px){
    .qv-product-images, .qv-content {
      width: 50%;
    }
    .qv-content {
      padding-left: 60px;
    }
    .slick-slide {
      padding: 0;
    }
  }
  @media (max-width: 900px){
    display: block;
    height: calc(100% - 40px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    .qv-product-images {
      top: 0;
      left: 0;
      height: 50%;
      max-height: 350px;
      position: relative;
      width: 100%;
    }
    .slick-slide {
      position: relative;
      img {
        max-height: 300px;
        margin: 0 auto;
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: none;
        transform: none;
        height: 100%;
        width: auto;
      }
    }
    .slick-dots {
      bottom: 0;
    }
    .qv-content {
      width: 100%;
      height: auto;
      padding: 0 10px 10px 30px;
      overflow: auto;
      -webkit-transform: none;
      transform: none;
    }
    .slick-initialized .slick-slide {
      display: block;
      text-align: center;
    }
    .slick-slide img {
      width: auto;
      display: inline-block;
      max-width: 300px;
    }
  }
}
