.stores-list {
    margin-bottom: 100px;
}

.store-item {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.store-item .page-link {
    display: block;
    padding: 0;
}
.store-item figure {
    margin: 0;
}

.store-item__photo {
    position: relative;
}

.store-item__photo img {
    display: block;
}

.store-item__coming {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.55);
}

.store-item__coming span {
    font-weight: 700;
    display: block;
    font-size: 20px;
}

.store-item__coming-soon {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.store-item__header h3 {
    font-size: 16px;
    background-color: #000;
    padding: 15px 20px;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.4;
    color: #fff;
}

.store-item__header h3 a {
    color: #fff;
    text-decoration: none;
}

.store-item__btm,
.store-item__mid {
    padding: 20px;
    font-size: 16px;
}

.store-item__mid {
    background-color: #f5f5f5;
}

.store-item__btm {
    background-color: #d7d7d7;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.store-item__address {
    padding-bottom: 10px;
    font-weight: 500;
    line-height: 1.3;
}

.store-item__address .address-wrap,
.store-item__address .phone-number-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.store-item__address .address-wrap [class*="icon-"],
.store-item__address .phone-number-wrap [class*="icon-"] {
    margin-right: 8px;
    line-height: 1.4;
}

.store-item__address .phone-number-wrap .tele-link a {
    text-decoration: none;
    color: #000;
}

.store-item__address address {
    width: calc(100% - 44px);
}

.store-item__hours {
    margin-bottom: 20px;
}

.store-item__hours h5 {
    margin-bottom: 10px;
}

.store-item__hours p {
    margin-bottom: 0;
}

.store-single .store-hero {
    margin-bottom: 90px;
}

.store-single .store-hero .store__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.store-single .store-item__btm,
.store-single .store-item__mid {
    padding: 25px;
}

.store-single .store-item__mid h3 a {
    color: #000;
    text-decoration: none;
}

.store-single .store-item__hours h5 {
    font-size: 24px;
}

.store-single .store-description {
    margin-bottom: 70px;
}

.store-single .store-description .container--small {
    padding-bottom: 0;
}

.store-single .store-map {
    margin-bottom: 100px;
}

.store-single .store-map .gmap iframe {
    width: 100%;
}

.label-curbside {
     color: #000 !important;
    background: #ffd307;
    border-radius: 35px;
    padding: 0.35em 1.2em 0.35em 0.8em;
    display: inline-flex;
  cursor: pointer;
  width: auto;
  align-items: center;
    margin-bottom: 0.5rem;
  font-family: "Gotham";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.label-curbside img {
     width: auto;
    max-height: 20px;
}
#curbsideinfomodal {
  max-width: 1080px; 
  font-size: 15px;
  line-height: 1.3;
  padding-top: 100px;
  padding-bottom: 1.5rem;
  
}
#curbsideinfomodal .modaltitle {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 60px;
  background: #1f1f1f;
  padding: 0px 50px;
  width: 100%;
  padding: 0.6em 1.5rem;
      font-family: "Gotham";
      font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}
#curbsideinfomodal .hilight {
  color: #000;
  background: #ffd307;
  font-weight: 600;
  padding: 0px 8px;
}
#curbsideinfomodal .sublabel {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0.35rem;
  text-transform: uppercase;
  line-height: 1.1;
  color: #000;
  font-family: "Gotham";
  
}
#curbsideinfomodal .sublabel.c-red {
  color: var(--hh-red);
    display: flex;
  align-items: center;
    font-size: 16px;
    }

@media (max-width: 968px) {
  #curbsideinfomodal .sublabel.c-red {
    justify-content: center;
  }
  #curbsideinfomodal .curb_step {
    margin-bottom: 0.75rem;
  }
  #curbsideinfomodal {
    padding-left: 1rem;
  padding-right: 1rem;
}
}
#curbsideinfomodal .sublabel.c-red svg {
      font-size: 130%;
    opacity: 0.19;
  margin-right: 0.35em;
}
#curbsideinfomodal p.lead {
  font-size: 128%;
}
#curbsideinfomodal .curb_step strong {
  font-weight: 500;
  color: #000;
}
#curbsideinfomodal .curb_step .imgwrap {
  margin: 0.46rem 0px;
  display: flex;
  align-items: center;
  height: 90px;
}
#curbsideinfomodal .row.border-top {
  border-top: 1px solid #eee;
  margin-top: 1.16rem;
  padding-top: 1.35rem;
}
#curbsideinfomodal .c-black {
  color: #000;
}
#curbsideinfomodal .checkicon {
 background: var(--hh-red);
   color: #fff;
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   font-size: 24px;
   border-radius: 80px;
}
#curbsideinfomodal h3 {
  font-size: 150%;
}
@media (min-width: 768px) {

    .store-single .store-hero .store__image {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .store-single .store-hero .store__image img {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        height: auto;
    }
}

@media (min-width: 992px) {
    .store-item__header h3 {
        font-size: 18px;
    }
    #curbsideinfomodal .modaltitle {
    font-size: 20px;
  }
  #curbsideinfomodal p.lead {
  font-size: 148%;
}
}

@media (min-width: 1262px) {
    .store-single .store-item__btm,
    .store-single .store-item__mid {
        padding: 30px;
    }
}

@media (min-width: 1920px) {
    .store-item__header h3 {
        font-size: 20px;
        padding: 15px 30px;
    }
    .store-item__btm,
    .store-item__mid {
        padding: 20px 30px;
        font-size: 18px;
    }
    .store-single .store-item__btm,
    .store-single .store-item__mid {
        padding: 50px 60px;
    }
    .store-single .store-item__mid h3 {
        font-size: 35px;
    }
    .store-single .store-description .about-title {
        font-size: 35px;
    }
}
