@font-face {
  font-family: "icomoon";
  src:  url('{{ "icomoon.eot" | asset_url }}');
  src:  url('{{ "icomoon.ttf" | asset_url }}') format("truetype"), url('{{ "icomoon.woff" | asset_url }}') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url('{{ "gotham-bold-webfont.woff" | asset_url }}') format("woff"), url('{{ "gotham-bold-webfont.ttf" | asset_url }}') format("truetype"), url('{{ "gotham-bold-webfont.svg" | asset_url }}') format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  src: url('{{ "gotham-book-webfont.woff" | asset_url }}') format("woff"), url('{{ "gotham-book-webfont.ttf" | asset_url }}') format("truetype"), url('{{ "gotham-book-webfont.svg" | asset_url }}') format("svg");
  font-display: swap;
}

// @font-face {
//   font-family: "Gotham";
//   font-style: normal;
//   font-weight: 300;
//   src: url('{{ "gotham-light-webfont.woff" | asset_url }}') format("woff"), url('{{ "gotham-light-webfont.ttf" | asset_url }}') format("truetype"), url('{{ "gotham-light-webfont.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gotham";
//   font-style: normal;
//   font-weight: 500;
//   src: url('{{ "gotham-medium-webfont.woff" | asset_url }}') format("woff"), url('{{ "gotham-medium-webfont.ttf" | asset_url }}') format("truetype"), url('{{ "gotham-medium-webfont.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

@font-face {
  font-family: "Gotham Narrow";
  font-style: normal;
  font-weight: 700;
  src: url('{{ "GothamNarrow-Bold.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-Bold.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-Bold.svg" | asset_url }}') format("svg");
  font-display: swap;
}

// @font-face {
//   font-family: "Gotham Narrow";
//   font-style: italic;
//   font-weight: 700;
//   src: url('{{ "GothamNarrow-BoldItalic.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-BoldItalic.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-BoldItalic.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

@font-face {
  font-family: "Gotham Narrow";
  font-style: normal;
  font-weight: 400;
  src: url('{{ "GothamNarrow-Book.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-Book.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-Book.svg" | asset_url }}') format("svg");
  font-display: swap;
}

// @font-face {
//   font-family: "Gotham Narrow";
//   font-style: italic;
//   font-weight: 400;
//   src: url('{{ "GothamNarrow-BookItalic.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-BookItalic.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-BookItalic.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gotham Narrow";
//   font-style: normal;
//   font-weight: 300;
//   src: url('{{ "GothamNarrow-Light.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-Light.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-Light.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gotham Narrow";
//   font-style: italic;
//   font-weight: 300;
//   src: url('{{ "GothamNarrow-LightItalic.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-LightItalic.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-LightItalic.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gotham Narrow";
//   font-style: normal;
//   font-weight: 500;
//   src: url('{{ "GothamNarrow-Medium.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-Medium.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-Medium.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

// @font-face {
//   font-family: "Gotham Narrow";
//   font-style: italic;
//   font-weight: 500;
//   src: url('{{ "GothamNarrow-MediumItalic.woff" | asset_url }}') format("woff"), url('{{ "GothamNarrow-MediumItalic.ttf" | asset_url }}') format("truetype"), url('{{ "GothamNarrow-MediumItalic.svg" | asset_url }}') format("svg");
//   font-display: swap;
// }

[class^="hh-icon-"],[class*=" hh-icon-"]{font-family:'icomoon'!important;speak:never;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.hh-icon-lubes:before{content:"\e900"}.hh-icon-anal-toy:before{content:"\e901"}.hh-icon-dildo:before{content:"\e902"}.hh-icon-bra:before{content:"\e903"}.hh-icon-dvd-3x:before{content:"\e904"}.hh-icon-vibrator:before{content:"\e905"}.hh-icon-kink:before{content:"\e906"}.hh-icon-bag:before{content:"\e907"}.hh-icon-heart:before{content:"\e908"}.hh-icon-bag-o:before{content:"\e909"}.hh-icon-magnifier:before{content:"\e90b"}.hh-icon-hamburger:before{content:"\e90c"}.hh-icon-cross:before{content:"\e90d"}.hh-icon-angle-arrow-left:before{content:"\e90e"}.hh-icon-angle-arrow-right:before{content:"\e90f"}.hh-icon-angle-left-thin:before{content:"\e910"}.hh-icon-angle-right-thin:before{content:"\e911"}.hh-icon-delivery-truck:before{content:"\e912"}.hh-icon-mail:before{content:"\e913"}.hh-icon-user:before{content:"\e914"}.hh-icon-envelope:before{content:"\f100"}.hh-icon-map-marker:before{content:"\f103"}.hh-icon-facebook:before{content:"\f104"}.hh-icon-twitter:before{content:"\f105"}.hh-icon-instagram:before{content:"\f106"}.hh-icon-angle-right:before{content:"\f107"}.hh-icon-bin:before{content:"\e90a";color:#aaa}