@mixin bp($point) {
   @if $point == max-xxs {
      @media (max-width: 399px) {
         @content;
      }
   }
  @if $point == max-xs {
     @media (max-width: 575px) {
        @content;
     }
  }
  @if $point == max-sm {
     @media (max-width: 767px) {
        @content;
     }
  }
  @if $point == max-md {
     @media (max-width: 991px) {
        @content;
     }
  }
  @if $point == max-lg {
     @media (max-width: 1261px) {
        @content;
     }
  }
  @if $point == max-xl {
     @media (max-width: 1919px) {
        @content;
     }
  }
  @if $point == min-sm {
     @media (min-width: 576px) {
        @content;
     }
  }
  @if $point == min-md {
     @media (min-width: 768px) {
        @content;
     }
  }
  @if $point == min-lg {
     @media (min-width: 992px) {
        @content;
     }
  }
  @if $point == min-xl {
     @media (min-width: 1262px) {
        @content;
     }
  }
  @if $point == min-xxl{
     @media (min-width: 1920px) {
        @content;
     }
  }
  @if $point == only-xs {
     @media (min-width: 400px) and (max-width: 575px) {
        @content;
     }
  }
  @if $point == only-sm {
     @media (min-width: 576px) and (max-width: 767px) {
        @content;
     }
  }
  @if $point == only-md {
     @media (min-width: 768px) and (max-width: 991px) {
        @content;
     }
  }
  @if $point == only-lg {
     @media (min-width: 992px) and (max-width: 1261px) {
        @content;
     }
  }
  @if $point == md-lg {
     @media (min-width: 768px) and (max-width: 1261px) {
        @content;
     }
  }
  @if $point == hh-max-md { // for handheld devices below 1366px and all devices below 991px of width 
     /* Landscape */
      @media only screen and  (max-device-width : 1366px) and (orientation : landscape) {
         @content;
      }
     /* Portrait */
      @media only screen and  (max-device-width : 1024px) and (orientation : portrait) {
         @content;
      }

      @media (max-width: 991px) {
         @content;
      }
  }
  @if $point == tablet-only { // for devices with width between 992px and 1366px
    @media only screen and (min-width: 992px) and  (max-width : 1366px){
       @content;
    }

}

  @if $point == portrait {
     @media all and (orientation: portrait) {
        @content;
     }
  }
}


// --------------------------------------------------
// event wrapper

@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

// --------------------------------------------------
// contexts

@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}

// --------------------------------------------------
// font size

@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// --------------------------------------------------
// background image

$image-path: '{{ asset_url }}' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $extension, $size:false){
  background-image: url( #{'{{ "#{$name}.#{$extension}" | asset_url }}'} );
  @if($size){
    background-size: $size;
  }

  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url( #{'{{ "#{$name}#{$retina-suffix}.#{$extension}" | asset_url }}'} );
  }
}

// --------------------------------------------------
// clearfix

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// --------------------------------------------------
// animations

// @mixin keyframes($animation-name) {
//   @-webkit-keyframes #{$animation-name} {
//     @content;
//   }
//   @-moz-keyframes #{$animation-name} {
//     @content;
//   }
//   @-ms-keyframes #{$animation-name} {
//     @content;
//   }
//   @-o-keyframes #{$animation-name} {
//     @content;
//   }
//   @keyframes #{$animation-name} {
//     @content;
//   }
// }

// @mixin animation($str) {
//   -webkit-animation: #{$str};
//   -moz-animation: #{$str};
//   -ms-animation: #{$str};
//   -o-animation: #{$str};
//   animation: #{$str};
// }

// --------------------------------------------------
// fonts

@mixin font-face($filename, $font-family:null, $font-weight: null, $font-style: null) {
  @font-face {
    font-family: quote($font-family);
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('{{ "#{$filename}.eot" | asset_url }}');
    src: url('{{ "#{$filename}.eot" | asset_url }}?#iefix') format("embedded-opentype"),
      url('{{ "#{$filename}.woff" | asset_url }}') format("woff"),
      url('{{ "#{$filename}.ttf" | asset_url }}') format("truetype"),
      url('{{ "#{$filename}.svg" | asset_url }}') format("svg");
   font-display: swap;
  }
}

// --------------------------------------------------
// aspect ratio
// e.g. @include aspect-ratio(16,9);
// expects child to have class of `.content` (could be replaced with a wildcard `*`)

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
