<div class="nosto_page_type" style="display:none">notfound</div>
<div class="container container--small">
    <div class="error-404 row justify-content-center align-items-center">
      <div class="col-md-6 col-6">
        <div class="lg-title-404">OOPS!</div>
        <h1 class="sm-title-404">We checked our Toybox, but the page isn't here. </h1>
      	<div class="container container-404-btns d-none d-md-block px-0">
          <div class="md-title-404 w-100">How can we help?</div>
          <div class="row mx-0 px-0">
            <div class="col-6 pl-0"><a href="/contact-us" class="btn btn-404">Contact Us</a>
            </div>
            <div class="col-6 pl-0"><a href="/collections/best-sellers" class="btn btn-404">Best Sellers</a>
            </div>
            <div class="col-6 pl-0"><a href="/collections/new-arrivals" class="btn btn-404">New Arrivals</a>
            </div>
            <div class="col-6 pl-0"><a href="/collections/sale" class="btn btn-404">On Sale Now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-6"><img class="lazyload" data-src="{{ 'hh_404.jpg' | asset_url }}"></div>
    </div>
  <div class="container container-404-btns formobile d-block d-md-none px-0">
     <div class="md-title-404 w-100">How can we help?</div>
      <div class="row mx-0 px-0">
          <div class="col-6 pl-0"><a href="/contact-us" class="btn btn-404">Contact Us</a>
          </div>
          <div class="col-6 pl-0"><a href="/collections/best-sellers" class="btn btn-404">Best Sellers</a>
          </div>
          <div class="col-6 pl-0"><a href="/collections/new-arrivals" class="btn btn-404">New Arrivals</a>
          </div>
          <div class="col-6 pl-0"><a href="/collections/sale" class="btn btn-404">On Sale Now</a>
          </div>
      </div>
  </div>
</div>
{% include '404-collection-group' %}
