<div class="nosto_page_type" style="display:none">other</div>
<div class="container container--small">
  <div class="row article--heading">
    <div class="col col-md-12">
      {% include 'breadcrumbs' %}
    </div>
    <div class="col-auto show-on-mobile">
      <div class='blog-category-dropdown'>
        {% include 'blog-category-dropdown' %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md col-lg-9">
      {% comment %}
      When a comment has just been submitted, it's not shown right away.
      Shopify needs to wait until it knows for sure that it is not spam to publish it.
      We can still show right away *to its author* the comment he just submitted
      — although that comment may not have been published yet.
      When a comment is submitted, the browser is redirected to a page that
      includes the new comment id in its URL. Example:
      http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372
      When a comment ID is specified in an article URL, that comment is accessible in the
      template through a Liquid object called comment.
      That comment is a full-fledged comment variable that has all the regular comment properties:
      http://docs.shopify.com/themes/liquid-variables/comment.
      Note that comment.created_at will only be defined if the comment did not have any blank field
      — was posted without error.
      {% endcomment %}
      {%- assign number_of_comments = article.comments_count -%}

      {%- comment -%}If a comment was just submitted, and it has no blank fields.{%- endcomment -%}
      {%- if comment and comment.created_at -%}
        {%- assign number_of_comments = article.comments_count | plus: 1 -%}
      {%- endif -%}
      {%- capture includedArticlesID -%}{{ article.id }}{%- endcapture -%}
      <article class="article article--single">
        <header class="article__header">
          <h1 class="article__title">
            {{ article.title }}
          </h1>
        </header>
        {%- if article.author or article.published_at or article.tags.size > 0 -%}
          <section class="article__meta">
            {%- if article.author -%}
              <div class="article__author">By {{ article.author }} </div>
            {%- endif -%}
            {%- if article.published_at -%}
              <div class="article__date">
                <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">- {{ article.published_at | date: '%b %d, %Y' }} </time>
              </div>
            {%- endif -%}
            {%- if article.tags.size > 0 -%}
              <ul class="article__tags tags">
                {%- for tag in article.tags -%}
                  <li class="tag"> • <a class="tag__link" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </section>
        {%- endif -%}
        {%- if article.image -%}
          {%- assign articleImage = article.image -%}
        {%- else -%}
          {%- assign articleImage = article.image -%}
        {%- endif -%}
        <div class="article__banner lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}">
        </div>
        <div class="article__body">
          <div class="row">
            <div class="col-md-auto">
              {%- include 'post-actions', title:'' extraClass: 'article__actions' -%}
            </div>
            <div class="col-md">
              <section class="article__rte">
                {{ article.content
                  | replace: '<img src="', '<img class="lazyload" data-src="'
                  | replace: '<iframe src="', '<iframe class="lazyload" data-src="' }}
              </section>
              {%- include 'post-actions', title:'Share This Post' extraClass: 'article__actions article__actions--btm' -%}
            </div>
          </div>
        </div>
      </article>
      {%- if blog.comments_enabled? -%}
        {%- paginate article.comments by 50 -%}
          {%- include 'blog-comments' -%}
        {%- endpaginate -%}
      {%- endif -%}
    </div>
    <!-- Sidebar -->
    <div class="col-md-4 col-lg-3 col-12">
      <aside class="blog-sidebar mx-auto">
        {%- include 'blog-sidebar' -%}
      </aside>
      <div class="widget widget--shop-items sticky-widget">
          {%- include 'blog-products' -%}
      </div>
    </div>
    <!-- End Sidebar -->

  </div>
</div>
{%- include 'related-posts' -%}
<div style="margin-top: 1.5rem">
{% include 'store-collection-group' -%}
</div>