<div class="nosto_page_type" style="display:none">other</div>
{% comment %} The Template for displaying blog archives. {% endcomment %}
<div class="container container-md-fluid">
  <div class="row mx-0">
    <div class="col col-md-12">
      {%- include 'breadcrumbs' -%}
    </div>
    <div class="col-12 d-block d-sm-none">
      <div class='blog-category-dropdown'>
        {%- include 'blog-category-dropdown' -%}
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-md col-lg-9">
      {%- paginate blog.articles by 4 -%}
        <div class="articles clearfix">
          {%- for article in blog.articles -%}

          {%- comment -%}
            Let's extract a blog image.
            We will look for an image in the excerpt first, and in the blog post itself second.
            We will remove the image suffix to grab as big an image as we can.
          {%- endcomment -%}
          {%- if forloop.first == true -%}
            {%- capture includedArticlesID -%}{{ article.id }}{%- endcapture -%}
          {%- else -%}
            {%- capture includedArticlesID -%}{{ includedArticlesID | append: ', ' | append: article.id }}{%- endcapture -%}
          {%- endif -%}

          <article class="article article--blog">
            {%- if article.image -%}
              <a href="{{ article.url }}" title="{{ article.title }}" class="article__banner lazyload"
                data-bgset="{% include 'responsive-bg-image', image: article.image %}">
              </a>
            {%- else -%}
              <a class="article__banner">
              </a>
            {%- endif -%}
            <header class="article__header">
              <h2 class="article__title">
                <a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>

              </h2>
            </header>
            {%- if article.author or article.published_at or article.tags.size > 0-%}
            <section class="article__meta">
              {%- if article.author -%}
              <div class="article__author">By {{ article.author }} </div>
              {%- endif -%}
              {%- if article.published_at -%}
              <div class="article__date">
                <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">- {{ article.published_at | date: '%b %d, %Y' }} </time>
              </div>
              {%- endif -%}
              {%- if article.tags.size > 0 -%}
              <ul class="article__tags tags">
                {%- for tag in article.tags -%}
                <li class="tag"> • <a class="tag__link" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                </li>
                {%- endfor -%}
              </ul>
              {%- endif -%}
            </section>
            {%- endif -%}
            <div class="article__excerpt">
              {{ article.content | strip_html | truncatewords: 60  }}
            </div>
            <a href="{{ article.url }}" class="btn btn--md btn--square btn--accent">Read
              More</a>
          </article>
        {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
          {%- include 'pagination' -%}
        {%- endif -%}
      {%- endpaginate -%}
    </div>
    <!-- Sidebar -->
    <div class="col-md-4 col-lg-3 col-12">
      <aside class="blog-sidebar mx-auto">
        {%- include 'blog-sidebar' -%}
      </aside>
      <div class="widget widget--shop-items sticky-widget">
          {%- include 'blog-products' -%}
      </div>
    </div>
    <!-- End Sidebar -->
  </div>
