
<div class="container-fluid cart-container">
   <div class="row mx-0">
    <div class="col-md-8 col-12 px-0 px-lg-4 pr-md-4 mx-auto">

      {%- if cart.item_count > 0 -%}
 <div class="row mx-0 align-items-center">
        <div class="col-sm-auto px-0 text-center col-12">
           <h1 class="page-title">{{ 'cart.general.title' | t }}</h1>


        </div>
        <div class="col-sm-auto col-12 ml-auto order-first px-0 order-sm-last text-center">
          {% if cart.total_price > 7899 %}
           <div class="shipping-msg success">
            <i class="fas fa-check-circle"></i> Your order qualifies for <strong>FREE Shipping</strong>!
          </div>
          {% elsif cart.total_price > 0 %}
            {% assign priceneeded = 7900 | minus:cart.total_price %}
            <div class="shipping-msg">
              <i class="fas fa-exclamation-circle"></i> Add {{ priceneeded|money }} more to qualify for <strong>FREE Shipping</strong>.
            </div>
          {% else %}
          {% endif %}
        </div>
      </div>
<div class="container-fluid px-0">
  <form class="cart-form" action="/cart" method="post" novalidate>
    <div class="table-responsive">
      <table class="table cart cart-form__contents">
     <!--   <thead>
          <tr>
            <th class="product-label" colspan="2">{{ 'cart.label.product' | t }}</th>
            <th class="product-price">{{ 'cart.label.price' | t }}</th>
            <th class="product-quantity">{{ 'cart.label.quantity' | t }}</th>
            <th class="product-subtotal">{{ 'cart.general.subtotal' | t }}</th>
            <th class="product-remove"></th>
          </tr>
        </thead> -->
        <tbody>

          {%- for item in cart.items -%}
          {% comment %}

          Cart Item Template
          =====================
          The data-label attributes on <td> elements are mobile-friendly
            helpers used for responsive-table labels
            {% endcomment %}

            <tr class="responsive-table-row cart-form__cart-item cart-item">

              <td class="product-thumbnail">


                          {%- if item.image != blank -%}
                          <a href="{{ item.url }}">
                            <div class="cart-item__img lazyload"
                              data-bgset="{% include 'responsive-bg-image', image: item.image %}"></div>
                          </a>
                          {%- endif -%}
                        </td>

              <td class="product-name">

                <a href="{{ item.url }}" class="py-2">{{ item.product.title }}</a>

                {%- unless item.product.has_only_default_variant -%}
                <p>{{ item.variant.title }}</p>
                {%- endunless -%}



                {%- assign property_size = item.properties | size -%}

                {%- if property_size > 0 -%}
                {%- for p in item.properties -%}
                {%- unless p.last == blank -%}
                {%- unless p.first contains "Recipient" -%}
                {{ p.first }}:

                {%- if p.last contains '/uploads/' -%}
                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {%- else -%}
                {{ p.last }}
                {%- endif -%}

                {%- endunless -%}
                {%- endunless -%}
                {%- endfor -%}
                {%- endif -%}
              </td>

                 <td class="product-price" data-label="{{ 'cart.label.total' | t }}">
                {{ item.line_price | money }}
                <div class="rewards-text d-block d-md-none">{{ item.line_price | divided_by: 100 }} points</div>
              </td>
              <td class="product-spacer px-0"></td>
              <td class="product-quantity" data-label="{{ 'cart.label.quantity' | t }}">
                {% if item.product_id == 4498051661859 %}
                  {{ item.quantity }}
                {% else %}
                  <input type="hidden" name="line_number" value="{{ forloop.index }}">
                {% comment %}  <input type="text" pattern="[0-9]*" name="quantity" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0"
                    aria-label="{{ 'cart.general.item_quantity' | t }}" size="3" class="qty-field">
                {% endcomment %}
                <select name="quantity" id="updates_{{ item.key }}" value="{{ item.quantity }}" class="qty-field">
                  <option value="1" {%- if item.quantity == 1 -%}selected{%-endif-%}>1</option>
                  <option value="2" {%- if item.quantity == 2 -%}selected{%-endif-%}>2</option>
                  <option value="3" {%- if item.quantity == 3 -%}selected{%-endif-%}>3</option>
                  <option value="4" {%- if item.quantity == 4 -%}selected{%-endif-%}>4</option>
                  <option value="5" {%- if item.quantity == 5 -%}selected{%-endif-%}>5</option>
                  <option value="6" {%- if item.quantity == 6 -%}selected{%-endif-%}>6</option>
                  <option value="7" {%- if item.quantity == 7 -%}selected{%-endif-%}>7</option>
                  <option value="8" {%- if item.quantity == 8 -%}selected{%-endif-%}>8</option>
                  <option value="9" {%- if item.quantity == 9 -%}selected{%-endif-%}>9</option>
                  <option value="10" {%- if item.quantity == 10 -%}selected{%-endif-%}>10</option>
                  {%- if item.quantity > 10 -%}
                   <option value="{{ item.quantity }}" selected>{{ item.quantity }}</option>
                  {%- endif -%}
                </select>
                 <i class="fas fa-circle-notch fa-spin updateicon"></i>
                {% endif %}
              </td>
            <td class="product-remove">
                <a class="product-remove__link" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">
                 <i class="fas fa-times"></i>
                </a>
              </td>
              <td class="product-pointscol">
               <span class="rewards-circle">{{ item.line_price | divided_by: 100 }}</span>
              </td>
            </tr>

            {% endfor %}
        </tbody>
      </table>

    </div>

    <div class="row cart-final-row ">
      <div class="col-md-4 col-lg-6 d-none d-md-block">
        <div class="small-callnumber small"><strong>Need help?</strong>
          Call <a href="tel:{{ shop.metafields.accentuate.shop_by_phone_number | replace: '.', '' }}">{{ shop.metafields.accentuate.shop_by_phone_number }}</a>
          or <a onclick="openWidget()">chat with us</a>.</div></div>
      <div class="col-md-8 col-lg-6 ml-auto pb-3">

          <div class="cart-totals">

              <div class="subtotal-rowitem">
                <div class="label">{{ 'cart.general.subtotal' | t }}</div>
                <div class="amount">{{ cart.original_total_price | money }}</div>
              </div>
              <small class="small-shiptax-note">Shipping and tax calculated at checkout</small>
                {%- if cart.total_discounts > 0 -%}
                  <div class="subtotal-rowitem">
                    <div class="label">{{ 'cart.general.savings' | t }}</div>
                    <div class="amount">{{ cart.total_discounts | money }}</div>
                  </div>
                {%- endif -%}
               <div class="subtotal-rowitem boldtotal cart-total-price">
                    <div class="label">Est. Total</div>
                    <div class="amount">{{ cart.total_price | money }}</div>
                  </div>
                    <script type="text/javascript">
                      document.sezzleConfig = {
                          targetXPath: '.cart-total-price/.amount',
                          renderToPath: '../..',
                          altVersionTemplate: "or 4 interest-free payments of %%price%% with %%logo%% %%link%%  **Sezzle applies on orders over $140, choose Sezzle at checkout."
                      }
                    </script>
                    <script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=bb904f11-4e7d-47c6-98c6-b83ac8fae171"></script>
          </div>



               <button type="submit" name="checkout" title="Proceed to Checkout" class="btn btn--square btn--md cart__action
                        cart__checkout mt-2 w-100">{{ 'cart.mini.checkout' | t }}</button>

        {% if additional_checkout_buttons %}  <div class="additional-checkout-buttons mx-auto mt-2">
         <label class="fastcheckoutlabel"> <span></span> Checkout Fast With<span></span></label>


           {{  content_for_additional_checkout_buttons }}

  </div> {% endif %}


      </div>
    </div>

  </form>
</div>
{% else %}
<div class="container-fluid">
  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="cart-empty text-center">
    <div class="container py-4">
       <h1 class="page-title text-center">{{ 'cart.general.title' | t }}</h1>
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      <p>&nbsp;</p>
      <h4>You may also be interested in the following product(s):</h4>
      <h4 class="product-link"><a href="/collections/best-sellers">Best Sellers</a></h4>

      <h4 class="product-link"><a href="/collections/new-arrivals">New Arrivals</a></h4>

      <h4 class="product-link"><a href="/collections/sale">On Sale Now</a></h4>
      <p>&nbsp;</p><p class="cant_find">Still can't find what you're looking for? <a href="/pages/contact-us">Contact us</a>.</p>
    </div>
  </div>
  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies d-none">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
</div>
{% endif %}
    </div>

  </div>
  </div>


{% if settings.ss_enable %}
	<!-- SearchSpring IntelliSuggest Tracking -->
	{% if cart.item_count > 0 %}
		<script type="text/javascript" src="//cdn.searchspring.net/intellisuggest/is.min.js"></script>
		<script type="text/javascript">
			try {
				var seed = [];
				{% for item in cart.items %}
					seed.push("{{ item.product.variants[0].sku }}");
				{% endfor %}
				IntelliSuggest.init({siteId:"{{ settings.ss_site_id }}", context:"Basket", seed:seed });
				{% for item in cart.items %}
					IntelliSuggest.haveItem({sku:"{{ item.product.variants[0].sku }}", qty:"{{ item.quantity }}", price:"{{ item.price | money_without_currency }}"});
				{% endfor %}
				IntelliSuggest.inBasket({});
			} catch(err) {}
		</script>
	{% endif %}
	<!-- END SearchSpring IntelliSuggest -->
{% endif %}
<script defer src="{{ 'cart-page.js' | asset_url }}"></script>
