<div class="nosto_page_type" style="display:none">category</div>

<!-- SHANE: This should be moved next to the other CSS -->
<style>
  #custom_collectionimg {
    background-color: #edecec;
  }
  .desktop-collection-img {
    object-fit: cover;
    height: 100%;
  }
  @media (max-width: 1400px) {
    .desktop-collection-img {
      object-fit: contain;
    }
  }
</style>
<!-- //SHANE: This should be moved next to the other CSS -->

{%- comment -%} Now all non fullpage for main collection.liquid{%- endcomment -%}
{%- assign is_fullpage = 'false' -%}

{%- include 'current-link' -%}
{%- assign child_list_handle = currentMenu | handleize -%}

<section class="collection collection--landing {% if is_fullpage == 'true' %} is_fullpage {% endif %}">
  <div class="container container--collection collection-top-container mb-0 mb-lg-4">
    {%- if linklists[child_list_handle].links.size > 0 -%}
      <div class="cnt-block slider-group-equal-h">
        <div class="row">
          {%- if collection.metafields.accentuate.collection_image != blank -%}
            <div id="custom_collectionimg" class="col-12 col-md-5 col-lg-4 pr-md-10 no-col-mob-gutters px-0 pr-md-2">
              <img data-src="{{ collection.metafields.accentuate.collection_image }}" class="d-none d-md-block desktop-collection-img lazyload" alt="{% if collection.metafields.accentuate.collection_image.alt %}{{ collection.metafields.accentuate.collection_image.alt }}{% else %}{{ collection.title }}{% endif %}">
              {%- if collection.metafields.accentuate.collection_image_mobile -%}
                <img data-src="{{ collection.metafields.accentuate.collection_image_mobile }}" alt="{% if collection.metafields.accentuate.collection_image_mobile.alt %}{{ collection.metafields.accentuate.collection_image_mobile.alt }}{% else %}{{ collection.title }}{% endif %}" class="d-block d-md-none mx-auto lazyload">
              {%- endif -%}
            </div>
          {%- else -%}
            <div class="col-12 col-md-5 col-lg-4 pr-md-10 d-flex flex-wrap no-col-mob-gutters px-0 pr-md-2">
              <!-- Start section 'timed-cta-group-ad' -->
              {%- section 'timed-cta-group-ad' -%}
              <!-- End section 'timed-cta-group-ad' -->
            </div>
          {%- endif -%}

          <style>.collections-top-slider .collection__media-wrapper{max-width:120px;max-height:120px} .collections-top-slider.collection__media-wrapper::before{padding-top:100%}</style>

          <div class="col-md-7 col-lg-8 pl-md-10 d-none d-md-flex">
            <div class="collections-top-slider"
              data-flickity='{ "cellAlign": "left",
                               "contain": true,
                               "cellSelector": ".grid__item",
                               "imagesLoaded": true,
                               "freeScroll": true, "freeScrollFriction": 0.08,
                               "pageDots": false }'>
              {%- for child_link in linklists[child_list_handle].links -%}
                {% include 'content-list-collection-collectionpage' with childLink: child_link, itemClass : 'grid__item' %}
              {%- endfor -%}

            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
  <div class="container">
    <!-- Start snippet 'archive-product' -->
    {% include 'archive-product' with post_per_page: 12 %}
    <!-- End snippet 'archive-product' -->
  </div>
</section>

{% if currentLink.title == 'Lingerie' %}
<!-- SHANE: What’s special about this page? Can these styles and script be removed? -->
<style>@font-face{font-family:system;font-style:normal;font-weight:600;src:local(-apple-system),local(BlinkMacSystemFont),local(".SFNSText-Medium"),local(".HelveticaNeueDeskInterface-medium"),local(".LucidaGrandeUI"),local("Ubuntu Medium"),local("Segoe UI Medium"),local("Roboto-Medium"),local("DroidSans"),local("Tahoma")}@font-face{font-family:system-light;font-style:normal;font-weight:600;src:local(-apple-system),local(BlinkMacSystemFont),local(".SFNSText-Light"),local(".HelveticaNeueDeskInterface-Light"),local(".LucidaGrandeUI"),local("Ubuntu Light"),local("Segoe UI Light"),local("Roboto-Light"),local("DroidSans"),local("Tahoma")}.webbanner__body{overflow:visible;height:100%}.webbanner#webbanner{background-color:#000;color:#fff;border-radius:10px;box-shadow:rgba(0,0,0,.2) 0 2px 16px 0;font-family:inherit;font-weight:700;width:90vw;display:block;visibility:visible;opacity:1;border:none;z-index:70;position:fixed;bottom:0;left:0;right:0;margin:auto auto 5vh;height:84px}.webbanner__exit{position:absolute;top:-10px;left:-6px;display:block;margin:0;width:28px;height:28px;border:0;text-align:center;border-radius:14px;background-color:#d7d7d7;z-index:10}.webbanner__exit::after,.webbanner__exit::before{position:absolute;width:2px;height:16px;background:#4f4f4f;content:" ";top:6px}.webbanner__exit::before{transform:rotate(45deg)}.webbanner__exit::after{transform:rotate(-45deg)}.webbanner__icon{border-radius:15px;background-size:64px 64px;margin:0 15px;display:flex;align-items:center;justify-content:center}.webbanner__icon-image{background-repeat:no-repeat;background-size:cover;width:60px;height:60px;box-shadow:0 5px 12px 0 rgba(0,0,0,.2);border-radius:10px}.webbanner__info{height:100%;display:flex;overflow-y:hidden;justify-content:space-around;align-items:center;color:#000;font-weight:400}.webbanner__info__title{font-size:14px;color:#fff;line-height:16px;font-weight:600;letter-spacing:.04pt;padding-top:13px}.webbanner__info__marketing,.webbanner__info__rating{font-family:inherit;color:#fff;font-weight:light;font-size:13px;line-height:15px;letter-spacing:.04pt;max-width:130px;word-break:break-word;margin-left:0}.webbanner__button#webbanner__button{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0}.webbanner__button__label{text-align:center}.webbanner__text{flex:1}.webbanner__button-wrap{flex:.6;display:flex;width:100%;height:100%;position:absolute;top:0;left:0}.appStore-reviews{font-family:system-light;font-weight:light;font-size:10px;color:#bbb;line-height:15px;margin-left:0}.appStore-reviews ul{list-style-type:none;display:flex;padding-inline-start:0;margin-block-start:0;margin-block-end:0;padding-left:0;margin-left:0}.appStore-reviews .banner-star{display:inline-block;width:10px;height:12px;margin-right:2px;-webkit-mask:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid' width='19' height='20' viewBox='0 0 19 20'%3E %3Cpath d='M9.505,0.000 C9.505,0.000 12.450,6.269 12.450,6.269 C12.450,6.269 19.000,8.124 19.000,8.124 C19.000,8.124 14.250,12.519 14.250,12.519 C14.250,12.519 15.379,19.999 15.379,19.999 C15.379,19.999 9.500,16.855 9.500,16.855 C9.500,16.855 3.631,19.999 3.631,19.999 C3.631,19.999 4.768,12.519 4.768,12.519 C4.768,12.519 -0.000,8.124 -0.000,8.124 C-0.000,8.124 6.531,6.269 6.531,6.269 C6.531,6.269 9.505,0.000 9.505,0.000 ' id='path-1' class='cls-2' fill-rule='evenodd'/%3E %3C/svg%3E") no-repeat center center/contain;background-color:#f3d142}.appStore-reviews .banner-star.banner-star-empty{opacity:.5;background-color:grey}</style>
<script type="text/javascript">"use strict";function _classCallCheck(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")}function _defineProperties(e,t){for(var n=0;n<t.length;n++){var a=t[n];a.enumerable=a.enumerable||!1,a.configurable=!0,"value"in a&&(a.writable=!0),Object.defineProperty(e,a.key,a)}}function _createClass(e,t,n){return t&&_defineProperties(e.prototype,t),n&&_defineProperties(e,n),e}function handleExitClick(e,t){t.exit(),e.preventDefault()}function addEventListeners(t){document.querySelector(".js_webbanner__exit").addEventListener("click",function(e){return handleExitClick(e,t)})}var Detector=function(){function e(){_classCallCheck(this,e)}return _createClass(e,null,[{key:"platform",value:function(){return/iPhone|iPad|iPod/i.test(window.navigator.userAgent)?"ios":/Android/i.test(window.navigator.userAgent)?"android":void 0}},{key:"wrapperElement",value:function(){return document.querySelectorAll("html")}}]),e}(),Bakery=function(){function n(){_classCallCheck(this,n)}return _createClass(n,null,[{key:"getCookieExpiresString",value:function(e){var t=new Date;return"expires="+new Date(t.getTime()+e).toGMTString()}},{key:"bake",value:function(e,t){document.cookie="webbanner_exited=1;"+n.getCookieExpiresString(this.hideTtl)+"path=/"}},{key:"unbake",value:function(){document.cookie="webbanner_exited=; expires=Thu, 01 Jan 1970 00:00:01 GMT;"}},{key:"baked",get:function(){return"1"===document.cookie.replace(/(?:(?:^|.*;\s*)webbanner_exited\s*=\s*([^;]*).*$)|^.*$/,"$1")}}]),n}(),WebBanner=function(){function e(){_classCallCheck(this,e),this.wrapper=Detector.wrapperElement(),this.platform=Detector.platform(),this.title="HUSTLER Hollywood Lingerie App",this.marketingCopy="Download for Free",this.ctaEvent="get",this.appIcon="{{ 'tapcart_app.png' | asset_url }}",this.appStoreId="1504156937",this.playStoreId="co.tapcart.app.id_HustlerHollywood",this.androidLive=!0,this.iosLive=!0,this.hideTtl=864e5,this.hidePath="/",this.minimumAppRating=4.3}return _createClass(e,[{key:"kFormatter",value:function(e){return 999<Math.abs(e)?Math.sign(e)*(Math.abs(e)/1e3).toFixed(1)+"k":Math.sign(e)*Math.abs(e)}},{key:"fetchRating",value:function(){var n=this;return fetch("https://itunes.apple.com/lookup?id=".concat(this.appStoreId)).then(function(e){return e.json()}).then(function(e){var t=e.results[0];n.generateStars(t)}).catch(function(e){document.getElementById("appStore-reviews").style.display="none",console.log("Could not retrieve App Store ratings")})}},{key:"generateStars",value:function(e){if(0===e.averageUserRating||0===e.userRatingCount||e.averageUserRating<this.minimumAppRating)document.getElementById("appStore-reviews").style.display="none";else{for(var t="",n=Math.ceil(e.averageUserRating),a=1;a<6;a++)t+=a<=n?'<li class="banner-star banner-star-full"></li>':'<li class="banner-star banner-star-empty"></li>';var i=document.getElementById("review-stars");i.innerHTML=t,i.insertAdjacentHTML("beforeend",this.kFormatter(e.userRatingCount))}}},{key:"create",value:function(){if(!this.platform)return!1;if("ios"===this.platform&&!this.iosLive)return!1;if("android"===this.platform&&!this.androidLive)return!1;if(Bakery.baked)return!1;var e=document.createElement("div");document.querySelector("body").appendChild(e),e.outerHTML=this.html,addEventListeners(this),this.fetchRating()}},{key:"exit",value:function(){var e=document.querySelector(".js_webbanner");document.querySelector("body").removeChild(e),Bakery.bake(this.hideTtl,this.hidePath)}},{key:"html",get:function(){return'\n          <div id="webbanner" class="webbanner js_webbanner">\n            <div class="webbanner__body">\n              <a href="javascript:void(0);" class="webbanner__exit js_webbanner__exit" ></a>\n              <div class="webbanner__info">\n                <div class="webbanner__icon";">\n                <img data-src="'.concat(this.appIcon,'" class="webbanner__icon-image lazyload"></img>\n              </div>\n                <div class="webbanner__text">\n                  <div class="webbanner__info__title">').concat(this.title,'</div>\n                  <div class="webbanner__info__marketing">').concat(this.marketingCopy,'</div>\n                  <div class="appStore-reviews">\n                    <ul id="review-stars"></ul>\n                  </div>\n                </div>\n                <div class="webbanner__button-wrap">\n                    <a href="').concat(this.buttonUrl,'" target="_blank" id="webbanner__button" class="webbanner__button js_webbanner__button" rel="noopener" ><span class="webbanner__button__label">').concat(this.ctaEvent,"</span></a>\n                </div>\n              </div>\n            </div>\n          </div>\n          ")}},{key:"buttonUrl",get:function(){return"android"===this.platform?"https://play.google.com/store/apps/details?id=".concat(this.playStoreId):"ios"===this.platform?"itms-apps:://itunes.apple.com/app/id".concat(this.appStoreId,"?mt=8"):"#"}}]),e}(),webbanner=new WebBanner;"loading"!==document.readyState?setTimeout(function(){webbanner.create()},15000):document.addEventListener("DOMContentLoaded",setTimeout(function(){webbanner.create()},15000));</script>
<!-- //SHANE: What’s special about this page? Can these styles and script be removed? -->
{% endif %}