<div class="nosto_page_type" style="display:none">category</div>
{% assign product_limit = 12 %}

{% section 'collection-heading' %}

{% section 'cta-group-2' %}

{% section 'cta-sign-up' %}

{% include 'collection-group' %}

<div class="hidden"><img class="lazyload" data-src="{{ collection.image | img_url: 'grande' }}" alt="{{ collection.title }} Banner"></div>
<div class="container">
  <div class="collection__desc">
          {% if collection.metafields.accentuate.bottom_description_box %}
            {% include 'read-more' with desc_handle: collection.metafields.accentuate.bottom_description_box, truncate_words: 100%}
          {% endif %}
        </div>
</div>
