<div class="nosto_page_type" style="display:none">category</div>
<style>
  .desktop-collection-img {
        object-fit: cover;
    height: 100%;
  }
  .brand-desc-wrapper {
        font-size: 15px;
        line-height: 1.35;
        margin-bottom: 1rem;
      }

      .collection-desc-initial p {
        display: inline;
      }
        #ss-merch-footer {
          display: none;
        }
      @media (max-width: 768px) {

       .brand-desc-wrapper:not(.showing) .collection-desc-initial {
         max-height: 60px;
         overflow: hidden;
      }
         .brand-desc-wrapper:not(.showing) .collection-desc-initial:before {
           content: "";
          position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
display: block;
           z-index: 1;
         }
        .read-morelink  {
          display: none;
        }
        .brand-desc-wrapper {
          margin-bottom: 0px;
        }
        .page-heading.collection-heading.collection-heading--landing {
          display: none;
        }
        #shopify-section-collection-single-banner {
          padding: 0px;
        }

        .collection-brand-img {
          width: 80%;
          max-width: 200px;
          max-height: 150px;
          width: auto;

      }
</style>




<section class="collection collection--landing is_fullpage">
  {% include 'current-link' %}
  {% assign child_list_handle = currentMenu | handleize %}
  <div class="container">


<div class="container brand-desc-wrapper {% if collection.description contains '[--split--]' %}{% else %}showing{% endif %} px-0">
  <div class="row justify-content-center mx-0 px-0">

        {% if collection.metafields.accentuate.collection_brand_logo  %}
       <div class="col-md-2 col-lg-2 px-0 text-center">
          {% for image in collection.metafields.accentuate.collection_brand_logo %}
         <img data-src="{{ image.src }}" alt="{{ collection.title }}" class="lazyload my-2 collection-brand-img">
{% endfor %}
          </div>
              {% endif %}


    <div class="col-md-10 col-lg-7" >
        {% if collection.description contains '[--split--]' %}
      <div class="collection-desc-initial" >{{ collection.description | split: '[--split--]' | first  }}</div>
      <div class="labelfont read-morelink">More</div>
      <div id="collection-desc-full" style="display: none;">
  <div class="collapsed-text">
   {{ collection.description | split: '[--split--]' | last }}
  </div>
</div>
      {% else %}
      <div class="collection-desc-initial" >{{ collection.description  }}</div>
      {% endif %}

      </div>
  </div></div>

      {% include 'archive-product' with post_per_page: 12 %}
  </div>


</section>


