<div class="nosto_page_type" style="display:none">category</div>

<!-- SHANE: This should be moved next to the other CSS and load only on sex-toys collection -->
<style>
  .desktop-collection-img {
    object-fit: cover;
    height: 100%;
  }

  .collection-description-blackbox {
    background: var(--hh-black);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.3;
    padding: 1.65rem 1.35rem;
    font-size: 92%;
  }

  .carousel-title {
    color: var(--hh-black);
    font-size: 2.37rem;
    font-weight: 800;
    line-height: 1.2;
  }

  .bestselling-box {
    background: #f7f7f7;
    padding: 1.74rem;
    margin: 2rem auto;
    background-position: top left;
    background-size: 31% auto;
    background-repeat: no-repeat;
    min-height: 450px;
  }

  .bestselling-box {
    color: var(--hh-black);
    line-height: 1.45;
  }

  .bestselling-maintext {
    min-height: 250px;
  }

  .bestselling-box h2 {
    font-size: 2.64rem;
  }

  .bestselling-box p.lead {
    font-size: 142%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0.65rem;
    line-height: 1.345;
  }

  .bestselling-box .desc {
    width: 100%;
    max-width: 675px;
    margin: auto;
    font-size: 93%;
  }

  .red-labeltitle {
    color: var(--hh-red);
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--hh-labelfont);
    font-size: 16px;
  }

  .bestselling-carousel {
    padding: 1.5rem 0px;
  }

  .bestselling-resources {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding-top: 1rem;
    font-size: 90%;
  }

  .bestselling-resources li:hover {
    color: var(--hh-red);
    cursor: pointer;
  }

  .bestselling-resources .col-sm-6+.col-sm-6 {
    border-left: 1px solid rgba(0, 0, 0, 0.06);
  }

  .bestselling-resources .col-sm-6 {}

  .bestselling-resources ul {
    display: block;
    padding-left: 0px;
    margin-left: 0px;
  }

  .bestselling-resources ul li {
    display: flex;
    padding: 0.36rem;
    margin: 0 0.5rem;
    line-height: 1.3;
    align-items: center;
  }

  .bestselling-resources ul li span {
    font-size: 130%;
    color: #ababab;
    margin-right: 7px;
  }

  .bestselling-box .collections-top-slider {
    max-height: 170px;
    overflow-y: hidden;
  }

  .bestselling-box .collections-top-slider,
  .collections-top-slider .flickity-prev-next-button.previous,
  .collections-top-slider .flickity-prev-next-button.next {
    background: transparent;
  }

  .bestselling-box .collections-top-slider .responsive-image__wrapper img {
    border-color: rgba(0, 0, 0, 0.06);
  }

  .bestselling-box .collections-top-slider .collection-item.grid__item:hover img {
    border-color: var(--hh-red);
  }

  .bestsellers-categories-grid {
    display: block;
    max-height: 230px;
  }

  .bestsellers-categories-grid .grid-item {
    background: #f7f7f7;
    display: inline-block;
    text-align: center;
    padding: 1rem 0.65rem;
    width: 17%;
    margin: 0 0.75%;
    min-height: 209px;
  }

  .bestsellers-categories-grid .grid-item .grid__img img {
    max-height: 130px;
    width: auto;
    height: auto;
  }

  .bestsellers-categories-grid .grid-item .grid__title {
    font-size: 104%;
    margin-top: 0.35rem;
    color: var(--hh-black);
    line-height: 1.2;
  }

  .toggle-bs-faq span:before {
    content: "+";
  }

  .toggle-bs-faq.showing span:before {
    content: "-";
  }

  .faq-col p {
    margin-bottom: 0px;
  }

  .faq-col .hidden-answer {
    display: none;
    padding: 0 0.75rem 0.6rem;
    font-size: 90%;
    line-height: 1.4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .faq-col .hidden-answer a {
    color: var(--hh-red);
  }

  .bestsellers-categories-mobile-grid {
    display: none;
  }

  .bestsellers-categories-mobile-grid .grid-item {
    width: 49%;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    margin-bottom: 0.15rem;
  }

  .bestsellers-categories-mobile-grid .grid-item:nth-last-child(1),
  .bestsellers-categories-mobile-grid .grid-item:nth-last-child(2),
  .bestsellers-categories-mobile-grid .grid-item:nth-last-child(3) {
    display: none;
  }

  .bestsellers-categories-mobile-grid .grid-item .grid__img {
    max-width: 40%;
  }

  .bestsellers-categories-mobile-grid .grid-item .grid__title {
    text-align: right;
    flex-grow: 1;
    padding-right: 15px;
    line-height: 1.1;
    font-weight: 500;
    color: var(--hh-black);
    margin-left: -1rem;
  }

  .bestseller-videos-wrapper {
    background: var(--hh-black);
    color: #fff;
    padding: 1.5rem 1rem;
    margin: 1.5rem auto;
    width: calc(100% - 15px);
    -webkit-box-shadow: 12px 12px 0 0 var(--hh-red);
    box-shadow: 12px 12px 0 0 var(--hh-red);
  }

  .bestseller-videos-wrapper .obsessions-title {
    background: var(--hh-red);
    color: #fff;
    padding: 0.5rem 1rem 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    font-family: var(--hh-labelfont);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-left: -15px;
  }

  .bestseller-videos-wrapper .leftside {
    padding-top: 50px;
    font-size: 92%;
    line-height: 1.3;
    padding-bottom: 15px;
  }

  .bestseller-videos-wrapper .leftside .desc .readmore {
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--hh-labelfont);
  }

  .bestseller-videos-wrapper .leftside .move-item {
    display: none;
  }

  .bestseller-videos-wrapper #movehere.move-item {
    display: block;
  }

  .bestseller-videos-wrapper .yt-video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .bestseller-videos-wrapper .video-media:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.14);
    z-index: 1;
    pointer-events: none;
  }

  .bestseller-videos-wrapper .product-media-holder {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .bestseller-videos-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }

  .bestseller-videos-wrapper .video-media:not(.count-1) {
    display: none;
    width: 100%;
  }

  .bestseller-videos-wrapper .product-item:not(.count-1) {
    display: none;
  }

  .bestseller-videos-wrapper .product-item {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  .bestseller-videos-wrapper .video-media span.play-video {
    width: 88px;
    height: 88px;
    border: 8px solid #fff;
    display: block;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .bestseller-videos-wrapper .video-media span.play-video:before {
    content: "";
    border-color: transparent transparent transparent #fff;
    border-width: 15px 20px;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
  }

  .bestseller-videos-wrapper .video-media.playing iframe {
    opacity: 1;
    z-index: 5;
  }

  ul.video-carousel {
    padding-left: 0px;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    max-height: 120px;
  }

  ul.video-carousel li {
    display: block;
    width: 30.331%;
    float: left;
    padding: 0.45rem;
    cursor: pointer;
  }

  ul.video-carousel .vid-img {
    height: 95px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 3px solid transparent;
  }

  ul.video-carousel .vid-img.active,
  ul.video-carousel .vid-img:hover {
    border-color: var(--hh-red);
  }

  .product-wrap {
    background: rgba(255, 255, 255, 0.09);
    width: 100%;
    margin: 0px auto 1rem;
    max-width: 380px;
  }

  .product-wrap:hover {
    background: rgba(255, 255, 255, 0.14);
  }

  .product-wrap .imgside {
    background: #fff;
    padding: 0.5rem 0px;
    text-align: center;
  }

  .product-wrap .imgside img {
    min-height: 95px;
  }

  .product-wrap .priceside {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .product-wrap .product__title {
    font-size: 105%;
    font-weight: 500;
  }

  .product-wrap .product__price {
    font-size: 90%;
  }

  .product-wrap .product__ratings {
    font-size: 85%;
    color: var(--hh-red);
  }

  @media (max-width: 1200px) {
    .bestsellers-categories-grid .grid-item {
      width: 24%;
    }
    .bestselling-box {
      background-size: 27% auto;
    }
  }

  @media (max-width: 992px) {
    .bestselling-box {
      background-size: 30% auto;
    }
  }

  @media (max-width: 768px) {
    .bestselling-box {
      background-image: 14% auto;
      padding: 3rem 0.6rem 2rem;
    }
    .bestselling-box h2 {
      width: 95%;
      max-width: 500px;
      margin-left: auto;
      padding-bottom: 1rem;
    }
    .bestselling-box p.lead {
      font-size: 120%;
    }
    .bestselling-box p.desc {
      text-align: left;
    }
    .collections-top-slider {
      padding: 0.5rem 0px;
    }
    .carousel-title {
      font-size: 1.6rem;
      padding: 1rem 0px;
    }
  }

  @media (max-width: 600px) {
    .bestsellers-categories-grid {
      display: none;
    }
    .bestsellers-categories-mobile-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .bestselling-box {
      border-top: 4px solid var(--hh-black)
    }
  }
</style>
<!-- //SHANE: This should be moved next to the other CSS and load only on sex-toys collection -->

<section class="collection collection--landing" itemscope itemtype="https://schema.org/FAQPage">
  {%- comment -%}
  manually moved questions, due to FAQ schema error, does not allow 2 "types" or schema on one page
  {%- endcomment -%}
  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="d-none">
    <h3 itemprop="name">What Materials Are Sex Toys Made Of?</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
       You can find sex toys made of all different materials. Today, the most common material is silicone, but thermoplastic elastomer and plastic are also very common. More experienced sex toy lovers may want to try glass for sensation and weight play.
      </div>
    </div>
  </div>


  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="d-none">
    <h3 itemprop="name">Do All Powered Sex Toys Use Batteries?</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
       Vibration can add extra sensation to your sex toy experience, which you can use for even better sex. But you don’t necessarily need to stock up on batteries for powered toys. Many modern toys offer rechargeable cords or USB recharging.</div>
    </div>
  </div>


  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="d-none">
    <h3 itemprop="name">Can I Get a Sex Toy That’s Not Realistic?</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
       Although many sex toys intentionally offer very realistic designs, you don’t have to stick to that realism. You can find plenty of non-phallic sex toys that offer a unique and effective design without being extremely realistic.</div>
    </div>
  </div>


  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="d-none">
    <h3 itemprop="name">What Are Wireless Sex Toys?</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
       Wireless sex toys typically use Bluetooth technology to connect to either a physical remote or a smartphone app. They can be very helpful for long-distance partners or just people who don’t want the annoyance of a cord during sex.</div>
    </div>
  </div>


  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="d-none">
    <h3 itemprop="name">How Do I Choose a Sex Toy?</h3>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
       You have plenty of options when it comes to the best sex toy for your needs. In fact, HUSTLER® Hollywood carries literally hundreds of sex toys for you to peruse. With the amazing variety you’ll find at HUSTLER® Hollywood, you can rest assured you’ll find the right toy.</div>
    </div>
  </div>
  {%- comment -%}
  End manual comments overwrite.
  {%- endcomment -%}

  {%- include 'current-link' -%}
  {%- assign child_list_handle = currentMenu | handleize -%}
  <div class="container container--collection collection-top-container mb-0 mb-lg-4">
    <div class="cnt-block slider-group-equal-h">
      <div class="row">
        {% if collection.metafields.accentuate.collection_image != blank %}
          <div id="custom_collectionimg" class="col-12 col-md-5 col-lg-4 pr-md-10 no-col-mob-gutters px-0 pr-md-2">
            <img data-src="{{ collection.metafields.accentuate.collection_image }}" class="d-none d-md-block lazyload desktop-collection-img" alt="{% if collection.metafields.accentuate.collection_image.alt %}{{ collection.metafields.accentuate.collection_image.alt }}{% else %}{{ collection.title }}{% endif %}">
            {% if collection.metafields.accentuate.collection_image_mobile  %}
              <img data-src="{{ collection.metafields.accentuate.collection_image_mobile }}"
                   alt="{% if collection.metafields.accentuate.collection_image_mobile.alt %}{{ collection.metafields.accentuate.collection_image_mobile.alt }}{% else %}{{ collection.title }}{% endif %}"
                   class="d-block d-md-none lazyload mx-auto">
            {% endif %}
          </div>
        {% else %}
          <div class="col-12 col-md-5 col-lg-4 pr-md-10 d-flex flex-wrap no-col-mob-gutters px-0 pr-md-2">
            {% section 'timed-cta-group-ad' %}
          </div>
        {% endif %}
        <div class="col-md-7 col-lg-8 pl-md-10 d-none d-md-flex">
          <div class="collection-description-blackbox">
            <h1>{{ collection.metafields.accentuate.bs_collection_tagline }}</h1>
            <p>{{ collection.metafields.accentuate.bs_collection_desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .container -->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-xl-auto d-none d-lg-block collection-sidebar">
        <!-- Start snippet 'collection-toolbar' -->
        {% include 'collection-toolbar' %}
        <!-- End snippet 'collection-toolbar' -->
        {% comment %} {% section 'collection-side-banner' %} {% endcomment %}
      </div>
      <div class="col-12 col-lg-9 mx-auto p-mob-0">
        <div class="container px-0">
          <div class="carousel-title text-center mb-1 mb-md-3">What toys are you looking for?</div>
        </div>
        <div class="bestsellers-categories-grid"
             data-flickity='{ "cellAlign": "left",
                              "contain": true,
                              "cellSelector": ".grid-item",
                              "imagesLoaded": true,
                              "freeScroll": true, "freeScrollFriction": 0.08,
                              "pageDots": false }'>
  				{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
						{% for child_link in linklists[child_list_handle].links %}
							{%- assign grand_child_list_handle = child_link.title | handle -%}
							{%- assign thiscollection = child_link.object -%}
            	{%- assign thisimage = thiscollection.metafields.accentuate.bs_image_category | first -%}
              <div class="grid-item" data-type="{{ child_link.handle }}">
                <div class="grid__img">
                  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ thisimage.src | replace: '?v=0', '' | replace: 'https:', '' }}" width="{{ thisimage.width }}" height="{{ thisimage.height }}" alt="{{ child_link.title }}">
                </div>
                <div class="grid__title">
                  <a class="grid__link" href="{{ child_link.url }}" title="{{ child_link.title }}">{{ child_link.title }}</a>
                </div>
                <a class="coverlink" href="#go-{{ child_link.handle }}"></a>
              </div>
						{% endfor %}
          {% endif %}
        </div>

        <div class="bestsellers-categories-mobile-grid">
  				{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
						{% for child_link in linklists[child_list_handle].links %}
							{%- assign grand_child_list_handle = child_link.title | handle -%}
							{%- assign thiscollection = child_link.object -%}
            	{%- assign thisimage = thiscollection.metafields.accentuate.bs_image_category | first -%}
              <div class="grid-item" data-type="{{ child_link.handle }}">
                <div class="grid__img">
                  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ thisimage.src | replace: '?v=0', '' | replace: 'https:', '' }}" width="{{ thisimage.width }}" height="{{ thisimage.height }}" alt="{{ child_link.title }}">
                </div>
                <div class="grid__title">
                  <a class="grid__link" href="{{ child_link.url }}" title="{{ child_link.title }}">{{ child_link.title }}</a>
                </div>
                <a class="coverlink" href="#go-{{ child_link.handle }}"></a>
              </div>
						{% endfor %}
  				{% endif %}
        </div>

				{% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% for child_link in linklists[child_list_handle].links %}
  			   	{%- assign thiscollection = child_link.object -%}
            {%- assign thisimage = thiscollection.metafields.accentuate.bs_desktop_bg_image | first -%}
            {%- assign thistagline = thiscollection.metafields.accentuate.bs_collection_tagline -%}
            {%- assign thisdesc = thiscollection.metafields.accentuate.bs_collection_desc -%}
            {%- assign thishandle = child_link.handle -%}
            <div class="container lazyload bestselling-box" data-collection="{{ child_link.handle }}" id="go-{{ child_link.handle }}" {% if thisimage %} data-bg="{{ thisimage.src }}" {% endif %}>
              <div class="row bestselling-maintext align-items-center">
                <div class="ml-auto col-md-9  col-lg-10 text-center">
                  <h2>
                    <a class="grid__link" href="{{ child_link.url }}" title="{{ child_link.title }}">{{ child_link.title }}</a>
                  </h2>
                  {% if thistagline %}
                    <p class="lead">{{ thistagline }}</p>
                  {% endif %}
                  {% if thisdesc %}
                    <p class="desc">{{ thisdesc }}</p>
                  {% endif %}
                </div>
              </div>
              <div class="row bestselling-carousel">
                <div class="col-12">
                  <div class="collections-top-slider"
                       data-flickity='{ "cellAlign": "left",
                                        "contain": true,
                                        "cellSelector": ".grid__item",
                                        "imagesLoaded": true,
                                        "freeScroll": true, "freeScrollFriction": 0.08,
                                        "pageDots": false }'>
                    <!-- SHANE: Lots of FOR loops inside for loops here! -->
                    {% if thishandle == 'sex-toys-for-men' or  thishandle == 'couples-toys' or thishandle == 'sex-toys-for-women' %}
                      {% for link in linklists[settings.menu_secondary].links %}
                        {% if thishandle == 'sex-toys-for-men' %}
                          {% assign menuhandle = 'for-him' %}
                        {% endif %}
                        {% if thishandle == 'sex-toys-for-women' %}
                          {% assign menuhandle = 'for-her' %}
                        {% endif %}
                        {% if thishandle == 'couples-toys' %}
                          {% assign menuhandle = 'for-couples' %}
                        {% endif %}
                        {% if link.handle == menuhandle %}
                          {% for child_link_secondary in link.links %}
                            {% include 'content-list-collection' with childLink: child_link_secondary, itemClass : 'grid__item' %}
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      {% if thishandle == 'anal-toys' %}
                        {% assign menuhandle = 'anal' %}
                      {% else %}
                        {% assign menuhandle = thishandle %}
                      {% endif %}

                      {% for link in linklists[settings.menu_primary].links %}
                        {% if link.handle ==  menuhandle  %}
                          {% for child_link_primary in link.links %}
                            {% include 'content-list-collection' with childLink: child_link_primary, itemClass : 'grid__item' %}
                          {% endfor %}
                       {% endif %}
                      {% endfor %}
                    {% endif %}
                    <!-- //SHANE: Lots of FOR loops inside for loops here! -->
                  </div>
                </div>
              </div>
              <div class="row bestselling-resources">
                {% if thiscollection.metafields.accentuate.best_seller_tips_tricks %}
                  <div class="col-sm-6 tips-col">
                    <div class="red-labeltitle">Tips & Tricks</div>
                    <ul>
                    {% for value in thiscollection.metafields.accentuate.best_seller_tips_tricks %}
                      <li><span>+</span> <a href="/blogs/{{ value }}">{{ articles[value].title }}</a></li>
                    {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                {% if thiscollection.metafields.accentuate.bs_faq %}
                  <div class="col-sm-6 faq-col">
                    <div class="red-labeltitle">Ask The Sexperts</div>
                    <ul>
                      {%- assign countfaq = 0 -%}
                      {% for value in thiscollection.metafields.accentuate.bs_faq %}
                        {%- assign countfaq = countfaq | plus: 1 -%}
                        {%- assign fullvalue = value | split: "[--split--]" -%}
                        {%- assign question = fullvalue[0] -%}
                        {%- assign answer = fullvalue[1] -%}
                        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                          <li class="toggle-bs-faq " data-count="{{ countfaq }}"  ><span></span> <div itemprop="name">{{ question }}</div></li>
                          <div class="hidden-answer" data-faq="{{ countfaq }}" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"><div itemprop="text">{{ answer }}</div></div>
                        </div>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
					{% endfor %}
				{% endif %}
       
        <div class="container bestseller-videos-wrapper">
          <div class="row align-items-center">
            <div class="col-md-5 leftside">
              <div class="obsessions-title">Our Current Obsessions</div>
              {%- assign vidcount = 0 -%}
              {% if collection.metafields.accentuate.best_selling_videos %}
                {% for value in collection.metafields.accentuate.best_selling_videos %}

                  {%- assign thisproduct = all_products[value] -%}
                  {%- assign vidcount = vidcount | plus: 1 -%}
                  <div class="product-item count-{{vidcount}}" data-phandle="{{ thisproduct.handle}}">
                    <div class="product-wrap row align-items-center">
                      <a class="coverlink" href="{{ thisproduct.url }}"></a>
                      <div class="col-3 imgside">
                        <img class="lazyload" data-src="{{ thisproduct.featured_image | product_img_url: '88x88' }}" alt="{{ thisproduct.title }} product image" >
                      </div>
                      <div class="col-9 priceside">
                        <div class="product__title" >{{ thisproduct.title }}</div>
                        <div class="product__ratings">
                          {%- if thisproduct.metafields.yotpo.reviews_count and thisproduct.metafields.yotpo.reviews_count != "0" -%}
                            {% assign thisrating = thisproduct.metafields.yotpo.reviews_average | split: "." %}
                            {% if thisrating[0] == '5' %}
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                            {% elsif thisrating[0] == '4' %}
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                              <span class="fas fa-star"></span>
                            	{% if thisrating[1] >= '7' %}
                              	<span class="fas fa-star-half"></span>
                            	{% elsif thisrating[1] >= '3' %}
                              	<span class="fas fa-star-half"></span>
                            	{% endif %}
                            {% endif %}
                          {%- endif -%}
                        </div>
                        <div class="product__price">{{ thisproduct.price | money }}</div>
                      </div>
                    </div>
                    <div class="desc">
                      <p>
                        {%- if thisproduct.description contains "Description:" -%}
                          {%- assign fulldesc = thisproduct.description | split: "Description:" -%}
                          {%- assign desc = fulldesc[1] -%}
                        {%- else -%}
                          {%- assign desc = thisproduct.description -%}
                        {%- endif -%}
                        {{ desc | truncatewords: 100 | replace: '</strong></p>', '' | replace: '</p>', 'XYZPLACEHOLDER' | strip_html | replace: 'XYZPLACEHOLDER', '<br><br>' }} <a class="readmore" href="{{ thisproduct.url }}"> More</a>
                      </p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
            <div class="col-md-7 rightside">
              <div class="product-video-item">
                {%- assign vidcount = 0 -%}
                {% if collection.metafields.accentuate.best_selling_videos %}
                  {% for value in collection.metafields.accentuate.best_selling_videos %}
                    {%- assign vidcount = vidcount | plus: 1 -%}
                    {%- assign thisproduct = all_products[value] -%}
                    {% if thisproduct.metafields.product.video_1 %}
                      {% comment %}
                      <div class="product-media-holder video-media count-{{vidcount}} " data-phandle="{{ thisproduct.handle}}">
                        {%- assign itemVideoImage = thisproduct.metafields.product.video_img_1-%}
                        {%- assign itemVideoId = thisproduct.metafields.product.video_1-%}
                        {%- assign videoId = itemVideoId | remove: "watch?v=" -%}
                        <span class="play-video" data-vid="{{ videoId }}"></span>
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ itemVideoImage | file_img_url: '700x494' }}" alt="{{product.title}} video thumbnail" class="video-thumb lazyload" />
                        <iframe class="appendyt lazyload" data-src="https://www.youtube.com/embed/{{ videoId }}?rel=0&playsinline=1" title="{{product.title}} Video"></iframe>
                      </div>
                      {% endcomment %}

                      {%- assign itemVideoImage = thisproduct.metafields.product.video_img_1-%}
                      {%- assign itemVideoId = thisproduct.metafields.product.video_1-%}
                      {%- assign videoId = itemVideoId | remove: "watch?v=" -%}
                      <div class="youtube-player product-media-holder video-media count-{{vidcount}} " data-phandle="{{ thisproduct.handle }}" data-id="{{ videoId }}" data-thumbnail="{{ itemVideoImage | file_img_url: '700x' }}"></div>

                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              <ul class="video-carousel"
                  data-flickity='{ "cellAlign": "left",
                                   "contain": true,
                                   "cellSelector": "li",
                                   "imagesLoaded": true,
                                   "freeScroll": true, "freeScrollFriction": 0.08,
                                   "pageDots": false }'>
                {% if collection.metafields.accentuate.best_selling_videos %}
                  {% for value in collection.metafields.accentuate.best_selling_videos %}
                    {%- assign thisproduct = all_products[value] -%}
                    {%- assign itemVideoImage = thisproduct.metafields.product.video_img_1-%}
                    {%- assign itemVideoId = thisproduct.metafields.product.video_1-%}
                    <li data-vid="{{thisproduct.metafields.product.video_1}}" data-phandle="{{thisproduct.handle}}">
                      <div class="vid-img lazyload" data-bg="{{ itemVideoImage | file_img_url: '128x128' }}"></div>
                    </li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="collection__desc cleanup pt-4" id="less-jump">
          {% if collection.metafields.accentuate.bottom_description_box %}
            {% include 'read-more' with desc_handle: collection.metafields.accentuate.bottom_description_box, truncate_words: 100%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>