<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

<style type="text/css">
  .giftcard__code {
    font-weight: 700;
  }
  .giftcard__btn {
    padding: 12px 45px;
    font-size: 20px;
  }
  .giftcard {
    margin-bottom: 8rem;
  }
</style>

<div class="header-group">
  <div class="container">
    <h1 class="page-title">{{ 'gift_cards.issued.subtext' | t }}</h1>
  </div>
</div><!-- .header-group -->

<main class="giftcard container{% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %}">
  <p>{{ 'gift_cards.issued.redeem' | t }}: <span id="GiftCardDigits" class="giftcard__code" data-gift-card-digits>{{ gift_card.code | format_code }}</span></p>

  {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}

  <p>{{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}</p>

  {% unless gift_card.enabled %}
    <p class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</p>
  {% endunless %}

  {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

  {% if gift_card.expired and gift_card.enabled %}
    <p class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</p>
  {% endif %}

  {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
    <p class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</p>
  {% endif %}

  {% assign formatted_current_balance = gift_card.balance | money %}

  {% if gift_card.balance != gift_card.initial_value %}
    <p>{{ 'gift_cards.issued.remaining_html' | t: balance: formatted_current_balance }}</p>
  {% endif %}

  {%- assign code_size = gift_card.code | format_code | size -%}


  <a href="{{ shop.url }}" class="button" target="_blank">
    <button class="primary button btn btn--square btn--accent giftcard__btn">
      {{ 'gift_cards.issued.shop_link' | t }}
    </button>
  </a>

  {% if gift_card.pass_url %}
    <a href="{{ gift_card.pass_url }}" class="apple-wallet">
      <img class="apple-wallet-image" src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
    </a>
  {% endif %}

</main>