<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
<div class="page-heading collection-heading">
  <div class="container">
    <h1 class="title">{{ page_title }}</h1>
    <p class="sub-title d-block d-md-none">Check out our most popular categories and essential toys for every fantasy.</p>
  </div>
</div>
<div class="container">
  <div class="collection-list-all">
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
          {% if collection.metafields.nosto == blank %}

        <div class="collection-item">
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}" class="thumb-container">
            {% if collection.image != blank or collection.products.first != blank %}
              {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
              {% include 'responsive-image' with
                image: image_object,
                max_width: 480,
                max_height: 480
              %}
            {% else %}
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {% endif %}
          </a>


          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}" class="title-container">{{ collection.title }}</a>

        </div>
          {% endif %}
        {% endunless %}
      {% endfor %}
  </div>
</div>


