<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}
{%- assign affiliate-page = 'media' -%}
{% include 'affiliate-navbar' %}
<style>
  
  .affiliate-top-home.page-media {
    background: #93002a;
  }
  .affiliate-expandbox {
    padding: 1.65rem;
    border: 3px solid rgba(109, 165, 76, 0.23);
  }
  .affiliate-expandbox h3 {
    color: #6da54c;
  }
  .affiliate-sampleimg-grid {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-top;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .affiliate-sampleimg-grid li {
    display: block;
    width: 33.31%;
    float: left;
    padding: 1.2rem;
    text-align: center;
  }
  .affiliate-sampleimg-grid.grid-2 li {
    width: 50%;
  }
  .affiliate-sampleimg-grid.grid-4 li {
    width: 25%;
  }
  @media (max-width: 768px) {

   .affiliate-sampleimg-grid li {
     width: 100%;
     padding: 0.5rem;
   }
    .affiliate-sampleimg-grid.grid-2 li {
    width: 100%;
  }
    .affiliate-sampleimg-grid.grid-4 li {
     width: 50%;
     padding: 0.5rem;
   }
  }

</style>

<h1 class="text-center xlg-heading c-affiliate mt-4">Banners & Creatives</h1>
<div class="container-fluid">
  <div class="container pb-5 pt-3">
    <div class="row justify-content-center">
      <div class="col-xl-7 mx-auto col-md-12 col-lg-10 text-center">
      
        <p class="lead c-black">From lingerie to fleshlights, and butt plugs to bondage gear, not to mention an entire selection of vibrator and couples themed sex toys, if you’re looking for banners, we have the “right set” for you!
</p>
         <p class="small">See examples below. Please do not use these as they are not your affiliate links. </p>
        <p class="small">Once you <a href="{{ affiliatelink }}" class="c-affiliate">join the HUSTLER Hollywood affiliate program</a>, you’ll have access to all of these and more!</p>
         </div> </div>
    
    <div class="row justify-content-center">
      <div class="col-xl-9 mx-auto col-md-12 text-center">
       

        <ul class="affiliate-sampleimg-grid">
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432559_1603224463.png?v=1608223422"></li>
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432546_1603224338.png?v=1608223422"></li>
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432534_1603224197.png?v=1608223421"></li>
          </ul>
         <ul class="affiliate-sampleimg-grid grid-2">
          <li class="item" style="width: 100%;"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432570_1603224610.png?v=1608223421"></li>
           <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432554_1603224463.png?v=1608223421"></li>
           <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Set5_468x60D.png?v=1608223407"></li>
        </ul>
        <ul class="affiliate-sampleimg-grid">
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Set5_600x900_D.png?v=1608223407"></li>
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Set6_600x900C.png?v=1608223389"></li>
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432560_1603224464.png?v=1608223422"></li>
          
        </ul>
        <ul class="affiliate-sampleimg-grid grid-4">
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432544_1603224337.png?v=1608223422"></li>
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/432533_1603224197.png?v=1608223422"></li>
          <li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/Hustler_Set6_160x600C.png?v=1608223389"></li>
          
<li class="item"><img src="https://cdn.shopify.com/s/files/1/1221/0120/files/HustlerSet5_160x600D.png?v=1608224032"></li>
        </ul>
      </div>
    </div>
 
  </div>
</div>

{% include 'affiliate-footer' %}