<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}
{%- assign bannerImg = page.metafields.conspire.banner_image -%}
{% if bannerImg %}
  <div class="page-header page-header--banner lazyload" data-bgset="{{ bannerImg }}">
    <div class="container container--small">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
{% else %}
  <div class="page-header">
    <div class="container container--small">
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
{% endif %}
<div class="container container--small">
  <div class="row">
    <div class="col-12">
      <div class="rte page-content">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
<!--.container -->
{% if customer %}
<input type="hidden" id="sa_cust_email" value="{{ customer.email }}"
>
{% endif %}
{{ 'universal.js' | asset_url | script_tag }}

