<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

{%- assign affiliate-page = 'home' -%}
{% include 'affiliate-navbar' %}


<div class="container-fluid affiliate-top-home">
  <div class="container">
    <div class="row justify-content-center">
     <div class="col-lg-5 col-md-6 col-lg-7 align-self-end text-right imageside">
      <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/affiliate_home4.png?v=1610626279" class="sideimg">
      </div>
      
       <div class="col-lg-5 col-md-6 col-lg-5 align-self-center py-4">
         <h1 class="xlg-heading">The HUSTLER Hollywood Affiliate Program</h1>
         <p>Are you ready to make money promoting some of the most in-demand (and exclusive) sex toys, lingerie, romantic accessories, and everything in between?</p>
         <p>If you’re already promoting other affiliate programs, you know the importance of a quality brand name—and you can’t beat the reputation and satisfaction of HUSTLER Hollywood toys. </p>
 
         <p><a href="{{ affiliatelink }}" target="_blank" rel="nofollow" class="d-block btn-lg btn btn-black">Join the HUSTLER Hollywood Program</a></p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid affiliate-home-content">
  <div class="container">
 <p class="md-heading text-center my-5 c-black">
   As a <span class="c-affiliate strong"> partner</span>, we are excited to offer you:
    </p>

    
  </div>
  <div class="container container-sm ">
    <div class="affiliate-features">
      
      
<div class="affiliate-feature">
  
  <div class="icon"> <i class="fas fa-check"></i></div> <span class="text-wrap"><strong>10% base commissions</strong></span>
      </div>
      
      
      <div class="affiliate-feature ">
  
        <div class="icon"> <i class="fas fa-check"></i></div> <span class="text-wrap"><strong>Dedicated affiliate managers</strong> to provide you with strategy and support</span>
      </div>
      
      
   
       
      <div class="affiliate-feature ">
  
        <div class="icon"> <i class="fas fa-check"></i></div> <span class="text-wrap"><strong>Name brand products</strong> for review <small class="mt-1">Provided on a case-by-case basis, not everyone will qualify.</small></span>
      </div>
      
       
      <div class="affiliate-feature ">
  
        <div class="icon"> <i class="fas fa-check"></i></div> <span class="text-wrap"><strong>Access to new product launches</strong> as soon as and sometimes before the press finds out</span>
      </div>
      

          
      <div class="affiliate-feature ">
  
        <div class="icon"> <i class="fas fa-check"></i></div> <span class="text-wrap"><strong>Commission protection</strong> if you are a content producer from end of sale poaching</span>
      </div>
      
          
      <div class="affiliate-feature ">
  
    
      </div>

   
    </div>
  </div>
  
  <div class="container container-sm mt-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/affiliate_example.png?v=1605293640"></div>
      <div class="col-md-6">
        <div class="slant-heading mb-2">Ready to Get Started?</div>
        <p >Whether you’re a sex toy reviewer, relationship coach, or just blogging about how to host the best Vegas Night Bachelorette Party, we’re ready to help you turn content into cash!
        </p>
       
         <p><a href="{{ affiliatelink }}" target="_blank" rel="nofollow" class="d-block btn-lg btn btn-green">Join the HUSTLER Hollywood Program</a></p>
      </div>
    </div>
  </div>

</div>

{% include 'affiliate-footer' %}


