<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<style>
  .dvd-bodycontainer {
    min-height: 75vh;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem 1rem;
    
    background: url(https://cdn.shopify.com/s/files/1/1221/0120/files/galaxy_bg.jpg?v=1610627629) no-repeat center center;
    background-size: cover;
  }
  .dvd-bodycontainer .dvd-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: url(https://cdn.shopify.com/s/files/1/1221/0120/files/captainmarvel_2.png?v=1610628524) no-repeat bottom left;
    background-size: cover;
    display: block;
    pointer-events: none;
  }
  .dvd-bodycontainer .text-container {

    color: #fff;
    width: 60%;
    z-index: 10;
  }
  .dvd-bodycontainer .heading-subtitle {
    color: var(--hh-red);
      font-size: 15px;
      font-family: "Gotham";
      text-transform: uppercase;
      }
  .dvd-bodycontainer .lg-heading {
    font-size: 3.75rem;
    line-height: 1;
  }
  .dvd-bodycontainer .container.container-sm {
    max-width: 1300px;
    width: 100%;
  }
  #shopify-section-footer {
    margin-top: 0px;
  }
  @media (max-width: 1350px) {
    .dvd-bodycontainer .lg-heading {
      font-size: 2.8rem;
    }
    .dvd-bodycontainer .text-container { 
      width: 56%;
    }
    .dvd-bodycontainer .dvd-img { 
      width: 64%;
      height: 85%;
    }
  }
  @media (max-width: 768px) { 
    .dvd-bodycontainer {
      flex-wrap: wrap;
      height: auto;
      padding: 0px 0px 5rem;
      overflow-x: hidden;
      min-height: 0px;
    }
    .dvd-bodycontainer .text-container { 
      width: 100%;
    }
   .dvd-bodycontainer .lg-heading {
     font-size: 2rem;
   }
  }
</style>

<div class="dvd-bodycontainer">
  
  <div class="container container-sm">
    <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/dvd_mobile.jpg?v=1610629079" alt="Captain Marvel DVD image" class="mb-4 d-block mx-auto d-md-none">
  <div class="text-container">
    
    <h1 class="heading-subtitle mb-2 text-center text-md-left">HUSTLER Hollywood Adult DVDs</h1>
    <h2 class="lg-heading mb-3">Watch our HUSTLER Honeys and more of the hottest adult stars in action!</h2>

 

    <p>Find a super selection of top-rated adult films with your favorite Heroes of Horniness, now at select HUSTLER Hollywood retail locations.</p>

    <p>Dozens of categories, including new releases and best-selling brands, updated regularly just for you! Can’t find that KAPOW-worthy video? Ask our friendly staff how to special order in-store.</p>

 

    <p>Shop Adult DVDs at your local HUSTLER Hollywood store now.</p>

    <a href="/pages/our-stores" class="btn btn-primary btn-red btn-lg d-table mx-auto mx-md-0 mt-4">Find a Location</a>
    </div>
  </div><div class="dvd-img d-none d-md-block"></div>
</div>

<!--.container -->
{% if customer %}
<input type="hidden" id="sa_cust_email" value="{{ customer.email }}"
>
{% endif %}
{{ 'universal.js' | asset_url | script_tag }}

