<div class="nosto_page_type" style="display:none">other</div>

<div class="container container--small contactus-page-container">
  <div class="row">
    <div class="col-12">
      <div class="header-group text-center mt-2">
        <h1 class="contactus-h1">Contact HUSTLER Hollywood</h1>
        <!-- <p class="lead"> Want to get in touch? We'd love to hear from you. Here's how you can reach us</p> -->
        <div class="container container-sm my-4 my-lg-5 px-0">
          <div class="row justify-content-center align-items-center mx-0 px-0">
            <div class="col-auto d-none d-md-block"><a href="/pages/customer-service" class="btn btn-primary btn-contactus "><i class="fas fa-question-circle"></i> Browse FAQs</a></div>
            <div class="col-6 col-sm-auto"><a href="#" class="btn btn-primary btn-contactus"  onClick="openWidget()" style="cursor: pointer;"><i class="fas fa-comments"></i> Chat Live</a></div>
            <div class="col-6 col-sm-auto"><a href="/pages/our-stores" class="btn btn-primary btn-contactus"><i class="fas fa-map-marker-alt"></i> Find A Store</a></div>
          </div>
        </div>
      </div><!-- .header-group -->

      <div class="page-content">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6 col-xl-4">
             <div class="contact-info-wrap">
              <div class="contact-info">
              <div class="lg-contact-phone">909.443.5068</div>
                <div class="contact-email"><a href="mailto:customercare@hustlerhollywood.com">customercare@hustlerhollywood.com</a></div>
            </div><!-- .contact-info-wrap -->



          </div>
            <div class="rte">
              At HUSTLER Hollywood, we think sex should be unapologetic and fun.
              If you have any questions or concerns, be sure to check out our <a href="/pages/customer-service">FAQ page</a> or contact us anytime.
              All orders are shipped and billed privately for your discretion.


            </div>


            </div>




          <div class="col-12 col-lg-6 col-xl-5">
                {% form 'contact' %}
                  {% if form.posted_successfully? %}
                    <p class="quote success">{{ 'contact.form.post_success' | t }}</p>
                  {% endif %}

                  {% if form.errors %}
                    <p class="quote error">Your message could not be submitted.</p>
                    <p>Please check that you have entered your name, a valid phone number and email, and a message.</p>
                  {% endif %}

                  <br class="clear" />

                    {% assign name_attr = 'contact.form.name' | handle %}
                    <label for="contactFormName" class="label-hidden">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
                    <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required" class="input-text">


                    <label for="contactFormEmail" class="label-hidden">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
                    <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required" class="input-text">


                    {% assign phone_attr = 'contact.form.phone' | t | handle %}
                    <label for="contactFormPhone" class="label-hidden">{{ 'contact.form.phone' | t }}</label>
                    <input type="tel" id="contactFormPhone" name="contact[{{ phone_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[phone_attr] %}{{ form[phone_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}"  class="input-text">


                  <label for="contactFormMessage" class="label-hidden">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
                  <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required" class="input-text">{% if form.body %}{{ form.body }}{% endif %}</textarea>


                  <button type="submit" class="btn btn-primary submit btn--lg button btn--square btn--accent"> {{ 'contact.form.send' | t }}</button>
                {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--.container -->

