<div class="nosto_page_type" style="display:none">other</div>
{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}
{%- assign affiliate-page = 'faq' -%}
{% include 'affiliate-navbar' %}
<style>
  
  .affiliate-top-home.page-faq {
    background: #170707;
  }
  .affiliate-faqlist {
    padding: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
  }
  .affiliate-faqlist li {
    display: block;
    width: 100%;
    margin: 0.5rem 0px;
    padding: 0.75rem 0px;
   
  }
  .affiliate-faqlist li + li {
    border-top: 1px solid #ccc;
  }
  .affiliate-faqlist .question {
    font-size: 109%;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }
  .affiliate-faqlist li.open .question:after {
    content: " - ";
  }
  .affiliate-faqlist li.open .answer {
    display: block;
  }
  .affiliate-faqlist .question:after {
    content: " + ";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    line-height: 20px;
    color: #ddd;
    font-weight: 200;
     cursor: pointer;
  }
  .affiliate-faqlist .question:hover:after {
    color: var(--c-affiliate);
      }
  .affiliate-faqlist .answer {
    padding-left: 1rem;
    font-size: 95%;
    display: none;
  }
</style>
<div class="container-fluid affiliate-top-home page-faq">
  <div class="container">
    <div class="row justify-content-center">
     
      <div class="col-lg-5 col-md-6 col-lg-6 align-self-start text-right order-md-last imageside">
      <img src="https://cdn.shopify.com/s/files/1/1221/0120/files/affiliate_faq5.png?v=1610627106" class="sideimg">
      </div>
       <div class="col-lg-5 col-md-6 col-lg-5 align-self-center py-4">
         <h1 class="xlg-heading">Affiliate Program FAQs</h1>
         <p class="mt-3">Have questions about the HUSTLER Hollywood affiliate program? Scroll below to find answers to the most frequently asked questions.<p>
         <p class="small" style="font-size: 86%; opacity: 0.95;">More questions? You can always <a href="mailto:affiliates@hustlerhollywood.com" target="_blank" style="text-decoration: underline">contact us</a>.</p>
      </div>
      
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-xl-9 mx-auto col-md-10 px-0">
        
        
        
        <ul class="affiliate-faqlist">
          <h3 class="lg-heading c-affiliate">General Questions</h3>
          <li class="faq-question">
            <div class="question">
              Do I need to live in the US to become an affiliate?</div>
            <div class="answer">
No, even if you don’t live in the USA, your website visitors might. We welcome affiliate partners from all countries.  
            </div>
          </li>
          
            <li class="faq-question">
            <div class="question">
              How do I get paid?</div>
            <div class="answer">
Simple, meet the minimum threshold set by the affiliate network.  Their payment terms may change, so make sure to write them and ask.  
            </div>
          </li>
          
            <li class="faq-question">
            <div class="question">
              Where do I join?</div>
            <div class="answer">
              You can sign up by <a href="{{ affiliatelink }}" target="_blank" rel="nofollow" class="c-affiliate">clicking here</a>.
            </div>
          </li>
          
            <li class="faq-question">
            <div class="question">
              Can I get a product for review?</div>
            <div class="answer">
Yes, but only once you have begun driving sales.  We had to create this rule to make it fair for everyone that asks.  If you activate as an affiliate, and you are sending sales on a regular basis, our affiliate manager will add you to our PR list and you will be invited to the review program.

            </div>
          </li>
          
            <li class="faq-question">
            <div class="question">
              How long do I need to be in the program for?</div>
            <div class="answer">
             You can be an affiliate for as long as you’d like, or quit after a month. We encourage you to keep your account open as there is no risk or harm in doing so. Then as you’re writing a blog post, creating a video, or someone asks for a recommendation, you have a link ready to go and you can make money!
            </div>
          </li>
          
            <li class="faq-question">
            <div class="question">
              What is the minimum goal I need to reach?</div>
            <div class="answer">
<p>You aren’t an employee or a sales rep, you are an entrepreneur. You set your own hours and you set your own goals. Our job is to help you succeed.
              </p>
              <p>
The more you put in, the more opportunities you’ll have to earn. There are no minimums and we’ll never require you to hit a goal to remain in the program.
              </p>
            </div>
          </li>
        </ul>
        
        
         
        

        
           </div>
    </div>
  </div>
</div>
{% include 'affiliate-footer' %}