<div class="nosto_page_type" style="display:none">other</div>
<script type="application/ld+json">
    {
     "@context": "http://schema.org",
    "@type": "ImageObject",
    "url": "{{ page.metafields.conspire.store_image }}",
    "name": "{{ page.title }} Store Image"
}
</script>
<section id="store" class="store-single store">
		<div class="header-group">
			<div class="container">
				<h1 class="page-title store-title">{{ page.title }}</h1>
			</div>
		</div>
		{% include 'store-hero' %}
		{% include 'store-description' %}

</section><!-- #store -->

{% include 'store-collection-group' %}



<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Store",
  "name": "{{ page.title }}",
  "image": "{{ imageFeatured }}",
  "@id": "",
  "url": "https://hustlerhollywood.com{{ page.url }}",
  "telephone": "{{ phone }}",
  "priceRange": "6.99 - 2995.00",
  "logo": "https://cdn.shopify.com/s/files/1/1221/0120/files/hustlerhollywood_main_logo.jpg",
  "paymentAccepted":"Cash, Credit Card",
  "contactPoint": [
    { "@type" : "ContactPoint",
      "telephone" : "+1-909-443-5068",
      "contactType" : "customer service",
      "areaServed" : "US"
    }
    ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ page.metafields.conspire.latitude }},
    "longitude": {{ page.metafields.conspire.longitude }}
  },
	"SameAs": [
     {% for value in page.metafields.conspire.store_social_links %}
        "{{value}}",
    {% endfor %}
    "https://hustlerhollywood.com{{ page.url }}"
    ],

  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ page.metafields.conspire.street }}",
    {% if page.metafields.conspire.city %}
    "addressLocality": "{{ page.metafields.conspire.city }}",
    {% endif %}
    "addressRegion": "{{ page.metafields.conspire.state }}",
    "postalCode": "{{ page.metafields.conspire.zipcode }}",
    "addressCountry": "US"
  },
  "openingHoursSpecification": [
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Monday",
    "opens": "{{ page.metafields.conspire.store_mon_start }}",
    "closes": "{{ page.metafields.conspire.store_mon_end }}"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Tuesday",
    "opens": "{{ page.metafields.conspire.store_tue_start }}",
    "closes": "{{ page.metafields.conspire.store_tue_end }}"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Wednesday",
    "opens": "{{ page.metafields.conspire.store_wed_start }}",
    "closes": "{{ page.metafields.conspire.store_wed_end }}"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Thursday",
    "opens": "{{ page.metafields.conspire.store_thu_start }}",
    "closes": "{{ page.metafields.conspire.store_thu_end }}"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Friday",
    "opens": "{{ page.metafields.conspire.store_fri_start }}",
    "closes": "{{ page.metafields.conspire.store_fri_end }}"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Saturday",
    "opens": "{{ page.metafields.conspire.store_sat_start }}",
    "closes": "{{ page.metafields.conspire.store_sat_end }}"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Sunday",
    "opens": "{{ page.metafields.conspire.store_sun_start }}",
    "closes": "{{ page.metafields.conspire.store_sun_end }}"
  }

  ]
}
</script>
