<div class="nosto_page_type" style="display:none">other</div>
<section class="stores-list-wrap">
	<div class="header-group">
		<div class="container">
			<h1 class="page-title store-title">{{ page.title }}</h1>
		</div>
	</div><!-- .header-group -->
	{% include 'stores-list' %}
</section>
<!-- .stores-list-wrap -->
