<div class="nosto_page_type" style="display:none">other</div>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
<style type="text/css">
  :root {
   	--c-lp-accent: #85736a;
  	--c-lp-dark: #272422;
  }
  .c-accent {
    color: var(--c-lp-accent);
   }
  .pleasure-title {
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    margin-top: 1rem;
  }
  .pleasure-subtitle {
    font-family: "Gotham-Narrow", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    font-weight: 300;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pleasure-subtitle span {
    margin-right: .75rem;
  }
  .rewards-table {
    margin: 1rem auto 10rem;
    border: 4px solid var(--c-lp-accent)
  }
  .rewards-table .bg-gray {
    background: rgba(133, 115, 106, 0.2);
  }
  .rewards-table tr th {
    vertical-align: middle;
  }
  .rewards-table tr th, .rewards-table tr td {
    padding: 1rem;
    text-align: center;
    font-weight: 500;
  }
  .rewards-table tr th:first-child, .rewards-table tr td:first-child {
    text-align: left;
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: 22px;
    font-weight: 700;
  }
  .rewards-table tr td:first-child {
    font-size: 16px;
  }
  .rewards-table tr .red-heading {
    font-family: "Gotham", sans-serif;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: 22px;
    font-weight: 700;
    color: #D50032;
  }
  section.lp-section {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
    .lp-top-banner {
      background-color: #baa59c;
    }
     .lp-top-banner img {
       display: block;
       margin: auto;
     }
  .lp-section.lp-earn {
    background-color: #272422;
    color: #fff;
  }

    .earn-box {
      background: var(--c-lp-accent);
        color: #fff;
        padding: 2.62rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 93%;
        margin: 0px auto;
        max-width: 350px;

        }

        .earn-box:before {
          margin-top: 25px;
     content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 25px);
       -webkit-box-shadow: 0 0 0 11px var(--c-lp-accent);
box-shadow: 0 0 0 11px var(--c-lp-accent);
      background: transparent;
  pointer-event: none;
  opacity: 0.2;

    }

    .earn-box span {
      display: block;
      text-align: center;
      border-radius: 1.5rem;
      line-height: 1.35;
    }
    .earn-box span.lg {
      font-size: 122%;
      font-weight: 400;
      font-family: var(--hh-labelfont);
        font-weight: 700;
        text-transform: uppercase;

    }
    .earn-box span.sm {
      font-size: 105%;
      font-weight: 500;
    }
        .earn-img {
      display: block;
      width: auto;
      max-width: 100%;
      margin: 0rem auto 1rem;
      height: auto;
      max-height: 65px;
          opacity: 0.55;
           mix-blend-mode: screen;
          z-index: 1;
    }
    .c-white {
      color: #fff !important;
    }
    .lp-title-lg {
      line-height: 1.05;
      color: var(--hh-black);
      font-size: 3.5rem;
      font-weight: 200;
    }
    .lp-title {
      color: var(--hh-black);
        line-height: 1.2;
      font-size: 2.85rem;
      font-weight: 200;
    }
    .lp-title-md {
      color: var(--hh-black);
      font-size: 1.8rem;
        line-height: 1.25;
      font-weight: 200;
    }
    .lp-subtitle {
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-family: var(--hh-labelfont);
        background: var(--hh-black);
          color: #fff;
          padding: 0.35em 1.25rem;
          display: table;
          }

    .small-col {
      width: 250px;
    }
    .step-wrapper {
      width: 95%;
      max-width: 340px;
      text-align: center;
      margin: 15px auto;
    }
    .step-wrapper .__title {
      font-size: 1.6rem;
      color: var(--hh-black);
       display: block;
        margin-top: 1rem;

        }
    .benefits-box {
      width: 95%;
      padding: 0px 0px 1rem;
      border: 0px solid var(--c-lp-accent);
        background: #fff;

        margin-top: 35px;
        padding-top: 1px;
    }

    .benefits-box:before {
     content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
        -webkit-box-shadow: 0 0 0 11px var(--c-lp-accent);
box-shadow: 0 0 0 11px var(--c-lp-accent);
      background: transparent;
  pointer-event: none;
  opacity: 0.2;

    }
    .benefits-box .__title {
     padding: 0.75rem;
text-align: center;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      font-weight: 600;
      font-family: var(--hh-labelfont);
        color: #fff;
        background: var(--c-lp-accent);
          font-size: 105%;
          letter-spacing: 0.03em;
          margin-top: -30px;
          z-index: 2;

    }
    .benefits-box .__points {
      color: var(--c-lp-accent);
        font-size: 130%;
    text-align: center;
        padding: 0.5rem 1rem;
      /*  border-bottom: 3px solid var(--c-lp-accent); */

        }
    .benefits-box .__points:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--c-lp-accent);
        opacity: 0.25;
        }
    .benefits-box .__list {
      margin: 0px;
      padding: 0px;
    }
    .benefits-box .__list li {
      padding: 0.75rem 0.3rem 0.75rem 1rem;
      font-family: var(--hh-labelfont);
text-align: left;
        font-size:95%;
        color: var(--hh-black);
          display: flex;
          line-height: 1.35;
          width: 100%;
          max-width: 380px;
          margin: 0 auto;
          align-items: center;
          font-weight: 500;
    }
    .benefits-box .__list li + li {
      border-top: 1px solid rgba(0,0,0,0.08);
    }
    .benefits-box .__list li svg {
      display: block;
        margin-right: 0.15rem;
      opacity: 1;
      color: var(--c-lp-accent);
        font-size: 19px;
        color: var(--hh-red);

        }

    .learnmore-link {
      color: var(--hh-red);
        text-transform: uppercase;
        font-weight: 500;
        font-family: var(--hh-labelfont);
          font-size: 13px;
          text-align: center;
          display: block;
          margin-top: 7px;
          }

    .lp-closing {
      background: #1d1610;
    }
.lp-closing img {
  display: block;
  margin: 0 auto;
}
    .rewards-grid {
      margin: 0px;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .rewards-grid li {
      display: block;
      padding: 0.65rem 0.5rem;
      text-align: center;
      line-height: 1.365;
      flex-grow: 1;
    }
    .rewards-grid li .value {
      display: block;
      font-family: var(--hh-labelfont);
        font-size: 30px;
        font-weight: 800;
        color: var(--hh-red);
        }
     .rewards-grid li .points {
      display: block;
      font-family: var(--hh-labelfont);
        font-size:17px;
        font-weight: 300;
        }
    .rewards-grid li + li {
      border-left: 1px solid rgba(0,0,0,0.17);
    }

     .product--faq-answer {
    display: none;
     background: #f2f2f2;
    padding: 0.5rem 0.75rem;
    color: #000;
    font-size: 95%;
    margin-bottom: 10px;
  }
  .product--faq-answer br {
    display: none;
    height: 0px;
  }
  .product--faq-answer p {
    margin-bottom: 0px;
  }

  .product--faq-question .questionwrap  {
    padding: 0.95rem 0.75rem;
    background: #f2f2f2;
    font-weight: 500;
    color: #000;
    font-size: 100%;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    padding-right: 35px;
    line-height: 1.3;

  }
  .product--faq-question .questionwrap p {
    margin-bottom: 0px;
  }
  .product--faq-question .questionwrap br {
    display: none;
    height: 0;
  }
 .product--faq-question .questionwrap:before {
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   text-align: center;
   content: "+";
   font-size: 124%;
   font-weight: 400;
   opacity: 0.6;
   line-height: 54px;
 }
  .product--faq-question.showing .questionwrap:before {
   content: "-";
  }
  .product--faq-question.showing .questionwrap {
    color: #fff;
    background: var(--hh-black);
  }

    @media (max-width: 1200px ) {

     .small-col {
       width: 100%;
       text-align: center;
       margin-bottom: 4rem;
       max-width: 100%;
    }

      .lp-title-lg {
      font-size: 3rem;

    }
      .rewards-grid li {
      width: 50%;
      border-left: 0px;
        border-bottom: 1px solid rgba(0,0,0,0.17);
    }
      .rewards-grid li:nth-last-child(1), .rewards-grid li:nth-last-child(2) {
        border-bottom: 0px;
      }
      .rewards-grid li:nth-child(odd){

        border-left: 0px !important;
      }
    }

    @media (max-width: 992px ) {

     .lp-title-lg {

      font-size: 2.8rem;

    }
    .lp-title {

      font-size: 2.25rem;

    }
    .lp-title-md {

      font-size: 1.7rem;

    }
    .lp-subtitle {
      font-size: 0.75rem;

          }

    }
   @media (max-width: 768px ) {
      .earn-box {
        margin-bottom: 2.5rem;
        width: 100%;
      }
      .benefits-box {
        margin-bottom: 2.5rem;
        width: 100%;
      }
   }
</style>

<section class="lp-top-banner lp-section py-0">
  <a href="/login"><img data-src="{{ 'lp-top-banner.png' | asset_url }}" class="lazyload d-none d-md-block">
  <img data-src="{{ 'lp-top-banner-mobile.png' | asset_url }}" class="lazyload d-block d-md-none">
  </a>

</section>

<section class="container-fluid lp-steps lp-section">
<div class="container">
    <div class="row">
    <div class="col-12 col-sm-10 col-md-8 mx-auto mb-2 mb-md-5">
      <div class="lp-subtitle text-center mx-auto">How It Works</div>
      <h3 class="lp-title text-center mt-4">It's easy to earn rewards!</h3>


      </div></div>
 <div class="row justify-content-center">
    <div class="col-md-4 col-lg-auto"><div class="step-wrapper">
      <img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/step1.png" class="lazyload lp-step-img step1">
      <div class="__title">Join</div>
      <p>Sign up online or in-store and start earning pleasure points with every purchase!</p></div>
      </div>

     <div class="col-md-4 col-lg-auto"><div class="step-wrapper">
        <img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/step-2.png" class="lazyload lp-step-img step2">
      <div class="__title">Earn</div>
      <p>Earn 1 pleasure point for every $1 you spend at HUSTLER Hollywood in store or online.</p></div>
      </div>

     <div class="col-md-4 col-lg-auto"><div class="step-wrapper">
        <img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/step-3.png" class="lazyload lp-step-img step3">
      <div class="__title">Redeem</div>
      <p>When you earn 100 points, redeem it for a $5 reward toward your next purchase!</p></div>
      </div>


  </div>


  </div>




</section>



<section class="container-fluid lp-earn lp-section">
<div class="container">
    <div class="row align-items-center justify-content-center">
    <div class="col-sm-auto col-12 mx-auto small-col">
      <h3 class="lp-title-lg c-white">How to Earn Points</h3>
      <div class="lp-subtitle mx-auto mx-xl-0">Spend and save!</div>
      </div>

      <div class="col-auto flex-grow-1">
      <div class="row justify-content-center">
        <div class="col-md-4"><div class="earn-box" data-mh="eb">
          <img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/icon2.png" class="earn-img lazyload">
          <span class="lg">25 Points</span>
          <span class="sm">Create an Account</span>
          </div></div>
        <div class="col-md-4"><div class="earn-box" data-mh="eb">
          <img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/icon1.png" class="earn-img lazyload">
          <span class="lg">1 Point = $1 Spent</span>
          <span class="sm">Shop HUSTLER Hollywood</span>
          </div></div>

      </div>


  </div>

  </div></div>

  <div class="container pt-5">
    <div class="lp-title-md text-center py-5 c-white">The more points you earn, the higher your status and perks!</div>

 <div class="row">
    <div class="col-12">
      <div class="container container--small">
  <div class="row">
    <div class="col-md-4">
      <div class="benefits-box" data-mh="bb">
        <div class="__title">Seeker</div>
        <div class="__points">0 - 349 Points</div>
        <ul class="__list">
          <li><i class="fas fa-dollar-sign"></i> &nbsp; Birthday Discount</li>
          <li><i class="fas fa-dollar-sign"></i> &nbsp; Seasonal Savings Events</li>
        </ul>
        <a class="learnmore-link" href="#">Learn More</a>
      </div>

    </div>
    <div class="col-md-4">
      <div class="benefits-box" data-mh="bb">
        <div class="__title">Expert</div>
        <div class="__points">350 - 499 Points</div>
        <ul class="__list">
          <li><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i> &nbsp; Birthday Discount </li>
          <li><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i> &nbsp; Seasonal Savings Events</li>
        </ul>
        <a class="learnmore-link" href="#">Learn More</a>
      </div>
    </div>
    <div class="col-md-4">

      <div class="benefits-box" data-mh="bb">
        <div class="__title">Master</div>
        <div class="__points">500+</div>
        <ul class="__list">
          <li><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i> &nbsp; Birthday Discount</li>
          <li><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign"></i> &nbsp; Seasonal Savings Events</li>
        </ul>
        <a class="learnmore-link" href="#">Learn More</a>
      </div>
    </div>

    </div>
  </div>
</div>
      </div>



  </div>

</section>

<section class="container-fluid lp-redeem lp-section">
<div class="container">
    <div class="row justify-content-center align-items-center"> <div class="col-lg-4 col-md-5 col-8 mx-auto mx-md-0">
<img data-src="https://cdn.shopify.com/s/files/1/1221/0120/files/loyalty_redeem.png" class="lazyload d-block mx-auto mb-4 mb-md-0">
      </div><div class="col-lg-5 col-md-7 text-center">
       <div class="lp-subtitle mx-auto">Time to cash in</div>
      <div class="lp-title-lg mt-4">Redeeming Rewards</div>
      <p class="lead">For every 100 points you earn, you’ll be eligible for a $5 reward. Simply login to your account and apply your points during checkout.</p>
       <ul class="rewards-grid">
         <li class="">
           <span class="value">$5</span>
             <span class="points">100 Points</span>
         </li>
         <li class="">
           <span class="value">$10</span>
             <span class="points">200 Points</span>
         </li>
         <li class="">
           <span class="value">$15</span>
             <span class="points">300 Points</span>
         </li>
         <li class="">
           <span class="value">$20</span>
             <span class="points">400 Points</span>
         </li>
      </ul>

      </div>
  </div></div></section>

<section class="container-fluid lp-faq lp-section">
<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-sm-9 mx-auto">
<div class="lp-title text-center mb-2 mb-md-5">Frequently Asked Questions</div>


            <div class="product-faqs" itemtype="https://schema.org/FAQPage">


                <div class="accordion-panel">





 <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question" class="faq-question"><div class="product--faq-wrap">
   <div class="product--faq-question" ><div class="questionwrap" itemprop="name">What if I'm already a rewards member?</div></div>
   <div class="collapse product--faq-answer" itemprop="text">
If you are already a rewards member, create an account on HUSTLERHollywood.com with the same email you've used at the store or made a purchase with online. Your available points and rewards will be visible in your account dashboard.
</div>

                  </div>

                  <div class="product--faq-wrap">
   <div class="product--faq-question" ><div class="questionwrap" itemprop="name">Do I still have all of my existing points?</div></div>
   <div class="collapse product--faq-answer" itemprop="text">
Yes! All of your previously earned points will be available in your account.</div>

                  </div>

    <div class="product--faq-wrap">
   <div class="product--faq-question" ><div class="questionwrap" itemprop="name"> What if I redeem my reward but don't checkout?</div></div>
   <div class="collapse product--faq-answer" itemprop="text">Points are deducted from your available points balance as soon as you click the redeem reward button. Reward dollars generated online can only be used online and reward dollars generated in-store can only be used in-store.
     It's best to wait until you are ready to complete your purchase to redeem pleasure points for reward dollars.</div>

                  </div>

                  </div>



               </div> </div>



      </div>

  </div></div></section>

<section class="mt-5 lp-closing lp-section py-0">
   <a href="/login"><img data-src="{{ 'lp-bottom-banner.png' | asset_url }}" class="d-none d-md-block lazyload"><img data-src="{{ 'lp-bottom-banner-mobile.png' | asset_url }}" class="d-block d-md-none lazyload"></a>

</section>


<!--.container -->

<script>

  $('.product--faq-question').on('click', function(){
    if ($(this).is('.showing')) {
         $(this).removeClass('showing');
    $(this).next('.product--faq-answer').slideUp();
        } else {
         $(this).addClass('showing');
  $(this).next('.product--faq-answer').slideDown();
        }


  });
</script>


