<div class="nosto_page_type" style="display:none">product</div>

{%- if product.available -%}
  {%- assign schema_avail = "InStock" -%}
{%- else -%}
  {%- assign schema_avail = "OutOfStock" -%}
{%- endif -%}

{%- assign add_to_cart = 'Add to cart' -%}
{%- assign sold_out = 'Sold Out' -%}
{%- assign unavailable = 'Unavailable' -%}

<div class="container">
  {%- include 'breadcrumbs-pdp' -%}
</div>

<div class="product product--single" data-product="{{ product | json | escape }}" data-title="{{product.title}}">
  <div class="container container--small">
    {% comment %}
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}"/>
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}"/>
    {% endcomment %}
    <div class="mobile-productheader d-block d-md-none text-center">
      <h2 itemprop="name" class="c-black">{{ product.title }}</h2>
      <div class="yotpo bottomLine d-block d-md-none" data-product-id="{{ product.id }}">
        {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
        {%- assign time_now = 'now' | date: '%s' %}
        {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
        {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
        {%- assign yotpo_bottomline_last_updated = product.metafields.yotpo.catalog_bottomline_update_time | date: '%s' %}
        {%- assign diff_seconds_from_last_bottomline_update = time_now | minus: yotpo_bottomline_last_updated %}
        {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_bottomline_last_updated and diff_seconds_from_last_bottomline_update < 86400 -%}
          {%- assign yotpo_bottomline_obsolete = false %}
        {%- else %}
          {%- assign yotpo_bottomline_obsolete = true %} {%- endif %}
        {%- if yotpo_offload_content == 'yes' and yotpo_bottomline_obsolete != true -%}
          {{ product.metafields.yotpo.catalog_bottomline }}
        {%- endif %}
      </div>
    </div>

    <form onsubmit="event.preventDefault(); return false;"class="js-product-single" data-cart-submit>
      <div class="product__wrap row">
        <div class="product__photos col-12 col-md-6">
          <!-- Start snippet 'product-images' -->
          {% include 'product-images' %}
          <!-- End snippet 'product-images' -->
        </div>

        <div class="product__details col-12 col-md-6 ">
          <!-- Start snippet 'product-details' -->
          {% include 'product-details' %}
          <!-- End snippet 'product-details' -->
        </div>
      </div>
    </form>
  </div><!-- .container -->
</div><!-- .product -->

<div class="container container--small">

  {%- if settings.ss_enable -%}
    <div id="searchspring-product-recommendations" class="intellisuggest" name="Product Recommendations"></div>
  {%- endif -%}

  <!-- Start section 'product-spotlight' -->
  {% section 'product-spotlight' %}
  <!-- End section 'product-spotlight' -->

  {% comment %} {% include 'product-better-with' with wrapper_class:"show-on-mobile" %} {% endcomment %}

  {%- if settings.ss_enable -%}
    <!-- Start snippet 'ss-product-intellisuggest' -->
    {% include 'ss-product-intellisuggest' %}
    <!-- End snippet 'ss-product-intellisuggest' -->
  {%- else -%}
    <!-- Start snippet 'product-related' -->
    {% include 'product-related' %}
    <!-- End snippet 'product-related' -->
  {%- endif -%}

  {% comment %} {% section 'cta-gift-card' %} {% endcomment %}

  <div class="review-wrapper">
    <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}">
      {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content -%}
      {%- assign time_now = 'now' | date: '%s' -%}
      {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' -%}
      {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time -%}
      {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' -%}
      {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated -%}
      {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
        {%- assign yotpo_main_widget_obsolete = false -%}
      {%- else %}
        {%- assign yotpo_main_widget_obsolete = true -%}
      {%- endif %}
      {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
        {%- for field in product.metafields.yotpo_reviews -%} {{ field | last }} {%- endfor -%}
      {%- endif -%}
    </div>
  </div>

  <div class="yotpo yotpo-reviews-carousel"
       data-background-color="transparent"
       data-mode="top_rated"
       data-type="both"
       data-count="9"
       data-show-bottomline="1"
       data-autoplay-enabled="1"
       data-autoplay-speed="3000"
       data-show-navigation="1"
       data-testimonials-page-enabled="1"
       data-testimonials-page-text="See All Reviews"
       data-testimonials-page-link="https://hustlerhollywood.com/pages/customer-reviews">&nbsp;</div>
</div><!-- .container -->

{% comment %}
  Adding support for product options. See here for details:
  http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}
<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(["track", "Viewed Product", item]);
  _learnq.push([
    "trackViewedItem", {
      Title: item.Name,
      ItemId: item.ProductID,
      Categories: item.Categories,
      ImageUrl: item.ImageURL,
      Url: item.URL,
      Metadata: {
        Brand: item.Brand,
        Price: item.Price,
        CompareAtPrice: item.CompareAtPrice
      }
    }
  ]);
</script>
<script type="text/javascript">
  var _learnq = _learnq || [];
  document.querySelector(".product__action--add-to-cart").addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>

<!-- SHANE: This should be moved next to the other CSS -->
<style>
  .product__details .sezzle-product-page-widget + .sezzle-product-page-widget {
    display: none;
  }

  .sezzle-shopify-info-button {
      margin-top: -10px !important;
    }

  @media screen and (max-width: 992px) {
    .sezzle-button-text {
      text-align: center !important;
    }
  }
</style>
<!-- //SHANE: This should be moved next to the other CSS -->