<div class="nosto_page_type" style="display:none">search</div>
{% comment %}
The search.liquid template is not a required template.
That search.liquid template is included in the current theme to make it easier for you
to customize your /search page.
Whether you are using your own template for the search page or not,
the {{ content_for_header }} tag in theme.liquid will always output the following on the /search page:
<link rel="stylesheet" href="//cdn.shopify.com/s/global/search.css" type="text/css" />
So the /search page is always styled by a globally-hosted stylesheet called search.css.
You may override and complement that CSS in your theme's stylesheet.
We are using a div#searchresults below so that the styles defined in search.css get
applied to the elements on this page; the 'searchresults' id is used in the CSS
selectors inside search.css.
{% endcomment %}

{% if settings.ss_enable %}
  <section class="collection collection--landing">
    <div class="container container--p-xxl-more container--collection">
      <div class="row">
        <div class="col-12 col-xl p-mob-0">
          <header class="collection-header">
            <div class="row no-gutters w-100">
              <div class="col-12 col-md-9">
                <div class="heading-breadcrumbs">
                  <div class="row no-gutters">
                    <div class="col-12 col-lg-auto">
                      <div class="page-heading collection-heading collection-heading--landing"></div>
                    </div>
                    <div class="col-12 col-lg">
                      <nav class="nav nav--breadcrumb" role="navigation" aria-label="breadcrumbs"></nav>
                    </div>
                  </div>
                </div>
                <div id="searchspring-facets"></div>
              </div>
              <div class="col-md-3 d-none d-md-block ml-auto">
                <div id="searchspring-toolbar"></div>
              </div>
            </div>
          </header>

          <div id="searchspring-content"></div>
        </div>
      </div>
    </div>
  </section>
{% else %}
  <div id="searchresults" class="search">

    <div class="container container--search">

    {% comment %}
    search.performed is false when accessing the /search page without a 'q' parameter set
    in the URL. A shop-owner can link to the /search page from one of his link lists.
    It is important to show a search form on that page if search.performed is false.
    {% endcomment %}

    {% if search.performed %}

      {% paginate search.results by 12 %}

      {% comment %}
      Common pitfall to avoid: search.results should never be accessed before the opening
      paginate tag. Move the opening and closing paginate tags to the very top and bottom of your
      search.liquid template if you need to.
      If you fail to do the above, the pagination of search results will be broken.
      search.results_count is fine to access in or out of the paginate block.
      {% endcomment %}

      {% if search.results_count == 0 %}
      <h2 class="search-title">Your search for <strong>"{{ search.terms }}"</strong> did not yield any results.</h2>
      {% else %}


      <header class="collection-header">
        <div class="row no-gutters">
          <div class="col-12 col-md-9">
            <div class="search-header">
              <h2 class="search-title">Showing results for <strong>“{{ search.terms }}”</strong></h2>
              <p class="search-info">{{search.results_count}} search results for {{ search.terms }} found.</p>
            </div>
            <div class="facets-row facets-group">
              <div class="facet facet--dropdown facet-col d-none d-md-flex">
                <button type="button" class="facet__title dropdown-btn facet__btn facet__btn--lg">Price Range</button>
                <div class="facet__cnt">
                  <ul>
                    <li class="form-check">
                      <label class="facet__label">
                        Under $20
                        <input class="facet__input facet__input--check" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="facet__count">(37)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="facet__label">
                        $20 - $30
                        <input class="facet__input facet__input--check" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="facet__count">(37)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="facet__label">
                        $30 - $50
                        <input class="facet__input facet__input--check" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="facet__count">(37)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="facet__label">
                        $50 - $100
                        <input class="facet__input facet__input--check" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="facet__count">(37)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="facet__label">
                        $100 - $150
                        <input class="facet__input facet__input--check" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="facet__count">(37)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="facet__label">
                        Above $ 150
                        <input class="facet__input facet__input--check" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="facet__count">(37)</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="facet facet--dropdown facet-col d-none d-md-flex">
                <button type="button" class="facet__title dropdown-btn facet__btn facet__btn--lg">Ratings</button>
                <div class="facet__cnt">
                  <ul>
                    <li class="form-check">
                      <label class="reviews_product_score-value reviews_product_score-5 facet__label">
                        <input class="facet__input facet__input--check" type="checkbox" value="5">
                        <span class="checkmark"></span>
                        <span class="facet__count">(32)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="reviews_product_score-value reviews_product_score-4 facet__label">
                        <input class="facet__input facet__input--check" type="checkbox" value="5">
                        <span class="checkmark"></span>
                        <span class="facet__count">(32)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="reviews_product_score-value reviews_product_score-3 facet__label">
                        <input class="facet__input facet__input--check" type="checkbox" value="5">
                        <span class="checkmark"></span>
                        <span class="facet__count">(32)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="reviews_product_score-value reviews_product_score-2 facet__label">
                        <input class="facet__input facet__input--check" type="checkbox" value="5">
                        <span class="checkmark"></span>
                        <span class="facet__count">(32)</span>
                      </label>
                    </li>
                    <li class="form-check">
                      <label class="reviews_product_score-value reviews_product_score-1 facet__label">
                        <input class="facet__input facet__input--check" type="checkbox" value="5">
                        <span class="checkmark"></span>
                        <span class="facet__count">(32)</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="facet facet--dropdown facet-col facet-mob-col1 d-flex d-lg-none">
                <button type="button" class="facet__title dropdown-btn facet__btn facet__btn--toolbar facet__btn--lg">Categories</button>
                <div class="facet__cnt">
                  {% include 'collection-toolbar' %}
                </div>
              </div>
              <div class="facet facet--dropdown facet--select facet-col d-flex d-md-none">
                {% include 'sort-order-menu' with class: 'custom-select--sort-by ml-auto' %}
              </div>
              <div class="facet facet--dropdown facet--all facet-col d-flex">
                <button type="button" class="facet__title dropdown-btn facet__btn facet__btn--lg"><span class="d-none d-md-inline-block">All </span> Filters</button>
                <div class="facet__cnt">
                  <ul class="sub-facets-group">
                    <li class="sub-facet sub-facet--expandown d-block d-md-none">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Price Range</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Under $20
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(37)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              $20 - $30
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(37)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              $30 - $50
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(37)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              $50 - $100
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(37)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              $100 - $150
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(37)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Above $ 150
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(37)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown d-block d-md-none">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Ratings</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="reviews_product_score-value reviews_product_score-5 facet__label">
                              <input class="facet__input facet__input--check" type="checkbox" value="5">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="reviews_product_score-value reviews_product_score-4 facet__label">
                              <input class="facet__input facet__input--check" type="checkbox" value="5">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="reviews_product_score-value reviews_product_score-3 facet__label">
                              <input class="facet__input facet__input--check" type="checkbox" value="5">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="reviews_product_score-value reviews_product_score-2 facet__label">
                              <input class="facet__input facet__input--check" type="checkbox" value="5">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="reviews_product_score-value reviews_product_score-1 facet__label">
                              <input class="facet__input facet__input--check" type="checkbox" value="5">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Material</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Silicone
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Plastic
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Polyoxymethylene
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Thermoplastic Elastomer
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Insertable Length</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Non-Insertable
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Under 3 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              3 to 5 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              5 to 7 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              7 to 9 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              9 Inches & Above
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Width</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Under 1 Inch
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              1 to 2 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              2 to 3 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              3 Inches & Above
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Color</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Black
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Pink
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Blue
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Purple
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              White
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Size</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              1.5in
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              1.75in
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Length</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Under 3 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              3 to 5 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              5 to 7 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              7 to 9 Inches
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              9 Inches & Above
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="sub-facet sub-facet--expandown">
                      <button type="button" class="sub-facet__title sub-facet__btn expandown-btn">Product Type</button>
                      <div class="sub-facet__cnt">
                        <ul>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Cockring
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Dual/Multi
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - External
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - G Spot
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Kegel
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Massager
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Mastrubator
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - P Spot
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Plug
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                          <li class="form-check">
                            <label class="facet__label">
                              Novelties - Sex Machine
                              <input class="facet__input facet__input--check" type="checkbox">
                              <span class="checkmark"></span>
                              <span class="facet__count">(32)</span>
                            </label>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-none d-md-block">
            {% include 'sort-order-menu' with class: 'custom-select--sort-by ml-auto' %}
            {% include 'mini-pagination' %}
          </div>
        </div>
      </header>
      <ol class="row products product-group">
        {% for product in search.results %}
          <li class="product-item col-6 col-md-4 col-xl-3">
            {% include 'content-product' with maxWidth: 350, maxHeight: 451 %}
          </li>
        {% endfor %}
      </ol>
      {% endif %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

      {% endpaginate %}

      <div class="popular-searches">
        <h3>Popular Searches</h3>
        <ul class="popular-search-list">
          <li>
            <a href="#">sex swing</a>
          </li>
          <li>
            <a href="#">glas vibrators</a>
          </li>
          <li>
            <a href="#">riley reed</a>
          </li>
          <li>
            <a href="#">fleshlight stamina</a>
          </li>
          <li>
            <a href="#">sex swing</a>
          </li>
          <li>
            <a href="#">sex swing</a>
          </li>
          <li>
            <a href="#">glass vibrators</a>
          </li>
          <li>
            <a href="#">riley reed</a>
          </li>
          <li>
            <a href="#">fleshlight stamina</a>
          </li>
        </li>
      </div><!-- .popular-searches -->

    {% endif %}
    </div>
  </div>
{% endif %}
