{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="banner banner--for-couples" data-section-id="{{ section.id }}" data-section-type="banner">
  <div class="container container--banner">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="banner__cnt">
          <p class="banner__hgl">{{ section.settings.highlight }}</p>
          <div class="banner__des">{{ section.settings.description }}</div>
        </div>
      </div>
      <div class="col-12 col-md-2 no-col-mob-gutters">
        <div class="banner__bg lazyload w-100" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img %}"></div>
      </div>
      <div class="col-7 col-md-4 align-self-stretch d-flex no-col-mob-gutters" style="position: static;">
        <div class="banner__fg lazyload w-100" data-bgset="{% include 'responsive-bg-image', image: section.settings.fg_img %}"></div>
      </div>
    </div>
  </div>
  <a class="banner__hidden-link" href="{{ section.settings.link }}"></a>
</section>
{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "id": "bg_img",
      "type": "image_picker",
      "label": "Background Image"
    },
    {
      "id": "fg_img",
      "type": "image_picker",
      "label": "Foreground Image"
    },
    {
      "id": "link",
      "type": "url",
      "label": "Banner Link"
    },
    {
      "id": "highlight",
      "type": "text",
      "label": "Highlighted Info"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description"
    }
  ]
}
{% endschema %}