{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="cta">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-10">
        <div class="row cta-group-2 cta-group-2--couples">
          <div class="col-12 col-md-6">
              <div class="cta-item">
                <div class="cta cta--full-bg-mob lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_1 %}" alt="{{ section.settings.title_1 }}">
                  <div class="cta__media d-none d-md-block lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_1 %}" alt="{{ section.settings.title_1 }}">
                  </div>
                  <div class="cta__content">
                    <h2 class="cta__title d-none d-md-block">{{ section.settings.title_1 }}</h2>
                    <div class="cta__description d-none d-md-block">{{ section.settings.content_1 }}</div>
                    <div class="cta__description d-block d-md-none">{{ section.settings.content_1_mb }}</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-12 col-md-6 d-none d-md-block">
            <div class="cta-item">
              <div class="cta cta--full-bg-mob lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_2 %}" alt="{{ section.settings.title_2 }}">
                <div class="cta__media d-none d-md-block lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.img_2 %}" alt="{{ section.settings.title_2 }}">
                </div>
                <div class="cta__content">
                  <h2 class="cta__title d-none d-md-block">{{ section.settings.title_2 }}</h2>
                  <div class="cta__description d-none d-md-block">{{ section.settings.content_2 }}</div>
                  <div class="cta__description d-block d-md-none">{{ section.settings.content_2_mb }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Group CTA",
  "settings": [
    {
      "type": "header",
      "content": "CTA 1"
    },
    {
      "type":      "text",
      "id":        "title_1",
      "label":     "Title"
    },
    {
      "type": "image_picker",
      "id": "img_1",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "content_1",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "richtext",
      "id": "content_1_mb",
      "label": "Content for Mobile",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "CTA 2"
    },
    {
      "type":      "text",
      "id":        "title_2",
      "label":     "Title"
    },
    {
      "type": "image_picker",
      "id": "img_2",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "content_2",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "richtext",
      "id": "content_2_mb",
      "label": "Content for Mobile",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    }
  ]
}
{% endschema %}