{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="cta">
  <div class="container">
    <div class="row cta-group">
      <div class="col-12 cta-item">
        <a class="cta cta--lg cta--full-bg lazyload {{ section.settings.txt_align_lg }} {{ section.settings.cnt_h_align_lg }} {{ section.settings.cnt_v_align_lg }}" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img_lg %}" href="{{ section.settings.cta_link_lg }}" alt="{{ section.settings.title }}">
              <div class="cta__content" style>
                <h2 class="cta__title">{{ section.settings.title }}</h2>
                <div class="cta__btn btn btn--light btn--square btn--lg">{{ section.settings.cta_text_lg }}</div>
              </div>
        </a>
      </div>
      {% for block in section.blocks %}
        <div class="col-md-6 cta-item">
          <a class="cta cta--md cta--full-bg lazyload {{ block.settings.txt_align_md }} {{ block.settings.cnt_h_align_md }} {{ block.settings.cnt_v_align_md }}" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: block.settings.bg_img_md %}" href="{{ block.settings.cta_link_md }}" alt="{{ block.settings.title }}">
                <div class="cta__content">
                  <div class="cta__title">{{ block.settings.title }}</div>
                </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>  
</section>


{% schema %}
{
  "name": "CTA with full background",
  "settings": [
    {
      "type": "header",
      "content": "Large CTA"
    },
    {
      "type": "image_picker",
      "id": "bg_img_lg",
      "label": "Background image"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "text",
      "id":        "cta_text_lg",
      "label":     "Button text"
    },
    {
      "id": "cta_link_lg",
      "type": "url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "txt_align_lg",
      "label": "Text Alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "select",
      "id": "cnt_h_align_lg",
      "label": "Content Horizontal Alignment",
      "options": [
        {
          "value": "justify-content-start",
          "label": "Left"
        },
        {
          "value": "justify-content-center",
          "label": "Center"
        },
        {
          "value": "justify-content-end",
          "label": "Right"
        }
      ],
      "default": "justify-content-end"
    },
    {
      "type": "select",
      "id": "cnt_v_align_lg",
      "label": "Content Vertical Alignment",
      "options": [
        {
          "value": "align-items-start",
          "label": "Top"
        },
        {
          "value": "align-items-center",
          "label": "Middle"
        },
        {
          "value": "align-items-end",
          "label": "Bottom"
        }
      ],
      "default": "align-items-center"
    }
  ],
  "blocks": [
    {
      "type": "header",
      "name": "Medium CTA",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_img_md",
          "label": "Background image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<p>Medium Text<br><em>Large Text</em></p>"
        },
        {
          "id": "cta_link_md",
          "type": "url",
          "label": "CTA link"
        },
        {
          "type": "select",
          "id": "txt_align_md",
          "label": "Text Alignment",
          "options": [
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-left"
        },
        {
          "type": "select",
          "id": "cnt_h_align_md",
          "label": "Content Horizontal Alignment",
          "options": [
            {
              "value": "justify-content-start",
              "label": "Left"
            },
            {
              "value": "justify-content-center",
              "label": "Center"
            },
            {
              "value": "justify-content-end",
              "label": "Right"
            }
          ],
          "default": "justify-content-end"
        },
        {
          "type": "select",
          "id": "cnt_v_align_md",
          "label": "Content Vertical Alignment",
          "options": [
            {
              "value": "align-items-start",
              "label": "Top"
            },
            {
              "value": "align-items-center",
              "label": "Middle"
            },
            {
              "value": "align-items-end",
              "label": "Bottom"
            }
          ],
          "default": "align-items-end"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Call To Action",
      "name": "CTA with full background"
    }
  ]
}
{% endschema %}
<style>
@media only screen and (min-width:768px){
  #shopify-section-{{ section.id }}{
      padding-bottom:105px;
    }
  }
</style>