{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="cta-group cta-group--ad slider slider--nav-none slider--horizontal slider--equal-height" data-section-id="{{ section.id }}" data-section-type="cta-group--ad" data-slides-to-show="1" data-slides-to-show-xs="1">
  {% for block in section.blocks %}
    <div class="cta-item cta-item--{{ block.settings.theme }}" {{ block.shopify_attributes }}>
      <div class="cta{% if block.settings.bg_img %} bg-img lazyload{% endif %}" {% if block.settings.bg_img %}data-bgset="{% include 'responsive-bg-image', image: block.settings.bg_img %}"{% elsif block.settings.bg_color %}style="background-color:{{ block.settings.bg_color }};"{% endif %}>
        <div class="cta__title">{{ block.settings.title }}</div>
        <div class="cta__subtitle">{{ block.settings.subtitle }}</div>
        <div class="cta__des">{{ block.settings.des }}</div>
        <a class="cta__hidden-link" href="{{ block.settings.link }}"></a>
      </div>
    </div>
  {% endfor %}
</section>
{% schema %}
{
  "name": "Ads",
  "blocks": [
    {
      "type": "ad",
      "name": "Ad",
      "settings": [
        {
          "id": "bg_img",
          "type": "image_picker",
          "label": "Background Image"
        },
        {
          "id": "bg_color",
          "type": "color",
          "label": "Background Color",
          "default": "#000000"
        },
        {
          "id": "theme",
          "type": "radio",
          "label": "Appearance",
          "info": "For best result select the appearance mode based on background",
          "options": [
            { "value": "dark-mode", "label": "Dark Mode" },
            { "value": "light-mode", "label": "Light Mode" }
          ],
          "default": "dark-mode"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Ad Link"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Subtitle"
        },
        {
          "id": "des",
          "type": "richtext",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}