{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

<section class="section section--product section--gift-card" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% include 'responsive-image' with image: section.settings.image, image_class: "img_thumb", wrapper_class: "media-holder", max_width: 353, max_height: 188 %}
      </div>
      <div class="col-md-5">
          <h3 class="section-title">{{ section.settings.title }}</h3>
          <div class="desc">
            {{ section.settings.desc }}
          </div>
      </div>
      <div class="col-md-3 text-center">
        <a href="{{ section.settings.button_url }}" class="section-btn btn"> {{ section.settings.button_text }}</a>
      </div>             
    </div>
  </div>
</section>
<style>
  .section--gift-card{
    background-color:{{section.settings.background_color}};
  }
  .section--gift-card:after{
    border-color: {{section.settings.background_color}} transparent transparent transparent;
  }
  .section--gift-card .section-title{
    color: {{section.settings.title_color}};
    font: {{ section.settings.title_font_weight }} {{ section.settings.title_font_size | divided_by: 2 | at_least: 22 }}px {{ section.settings.title_font }};
  }
  .section--gift-card .desc {
    font:{{ section.settings.desc_font_weight }} {{ section.settings.desc_font_size | divided_by: 2 | at_least: 14}}px {{ section.settings.desc_font }};
    color: {{ section.settings.desc_color }};
  }
  .section--gift-card .btn{
    font:{{ section.settings.button_font_weight }} {{ section.settings.button_font_size | divided_by: 2 | at_least: 11}}px {{ section.settings.button_font }};
    color: {{ section.settings.button_color }};
    text-transform:{{ section.settings.button_txt_trans }};
    background-color:{{ section.settings.button_bg_color }};
  }
  @media (min-width:1200px) {
    .section--gift-card .section-title{
      font-size: {{ section.settings.title_font_size | divided_by: 2 | at_least: 32 }}px;
    }
    .section--gift-card .desc {
      font-size:{{ section.settings.desc_font_size | divided_by: 2 | at_least: 22 }}px;
    }
    .section--gift-card .btn{
      font: {{ section.settings.button_font_size | divided_by: 2 | at_least: 15 }}px;
    }
  }
</style>
{% schema %}
{
  "name": "Gift Card",
  "class": "product-gift-card",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Section Background Color",
      "default": "#d6e7ec"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type":"header",
      "content":"Section Title"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "Title Font Family",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Font color",
      "default": "#ffffff"
    },
    {
      "type":      "select",
      "id":        "title_font_weight",
      "label":     "Title Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "700"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "label": "Title Font size",
      "min": 12,
      "max": 51,
      "default": 32,
      "unit": "px"
    },
    {
      "type":"header",
      "content":"Section Description"
    },
    {
      "type":      "textarea",
      "id":        "desc",
      "label":     "Section Description"
    },
    {
      "type": "select",
      "id": "desc_font",
      "label": "Description Font Family",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "desc_color",
      "label": "Description Font color",
      "default": "#6f7b7e"
    },
    {
      "type":      "select",
      "id":        "desc_font_weight",
      "label":     "Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "400"
    },
    {
      "type": "range",
      "id": "desc_font_size",
      "label": "Description Font size",
      "min": 12,
      "max": 51,
      "default": 22,
      "unit": "px"
    },  
    {
      "type":"header",
      "content":"Section Button"
    },  
    {
      "type": "text",
      "id" : "button_text",
      "label" : "Button Label"
    },
    {
      "type" : "url",
      "id" : "button_url",
      "label" : "Button URL"
    },
    {
      "type": "select",
      "id": "button_font",
      "label": "Button Font Family",
      "options": [
        {
          "value": "'Gotham', sans-serif",
          "label": "Gotham",
          "group": "Sans-serif"
        },
        {
          "value": "'Gotham Narrow', sans-serif",
          "label": "Gotham Narrow",
          "group": "Sans-serif"
        },
        {
          "value": "'Trade Gotham LT Std', sans-serif",
          "label": "Trade Gotham LT Std",
          "group": "Sans-serif"
        },
        {
          "value": "'Playfair Display', serif",
          "label": "Playfair Display",
          "group": "Serif"
        }
      ],
      "default": "'Gotham Narrow', sans-serif"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button Font color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button Background color",
      "default": "#ffffff"
    },
    {
      "type":      "select",
      "id":        "button_font_weight",
      "label":     "Button Font weight",
      "options": [
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "200",
          "label": "Extra Light"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi-Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "800",
          "label": "Extra-Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default":   "700"
    },
    {
      "type":      "select",
      "id":        "button_txt_trans",
      "label":     "Button Text transform",
      "options": [
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default":   "uppercase"
    },
    {
      "type": "range",
      "id": "button_font_size",
      "label": "Button Font size",
      "min": 12,
      "max": 51,
      "default": 15,
      "unit": "px"
    }
  ]
}
{% endschema %}
 