{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}

{% include 'content-grid-big-products', with selected_handle: section.settings.feature_collection %}

{% schema %}
  {
    "name": "Big Products",
    "settings": [
      {
        "type": "collection",
        "id": "feature_collection",
        "label": "Feature collection"
      }
    ]
  }
{% endschema %}
