{%- comment -%}
  This is a static section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="grid grid--ft-post" data-section-id="{{ section.id }}" data-section-type="grid-ft-post">
  <div class="container">
    <div class="row grid__group">
      <div class="col-md-6 grid__col d-flex flex-wrap flex-column">
        <div class="grid__item grid__item--spot d-flex">
          {% include 'content-grid-featured-post-spotlight', link: section.settings.link, image: section.settings.img, thumbnail: section.settings.thumb, title: section.settings.title, description: section.settings.des %}
        </div>
      </div>
      <div class="col-md-6 grid__col d-flex flex-wrap flex-column justify-content-between">
        <div class="grid__item grid__item--normal d-flex">
          {% include 'content-grid-featured-post-normal', link: section.settings.link_2, image: section.settings.img_2, title: section.settings.title_2, subtitle: section.settings.subtitle_2, description: section.settings.des_2 %}
        </div>
        <div class="grid__item grid__item--normal d-flex">
          {% include 'content-grid-featured-post-normal', link: section.settings.link_3, image: section.settings.img_3, title: section.settings.title_3, subtitle: section.settings.subtitle_3, description: section.settings.des_3 %}
        </div>
      </div>
    </div>
  </div>  
</section>


{% schema %}
{
  "name": "Grid Featured Post",
  "settings": [
    {
      "type": "header",
      "content": "Post 1"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "thumb",
      "label": "Thumbnail"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type": "richtext",
      "id": "des",
      "label": "Content for Dekstop",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "Post 2"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "img_2",
      "label": "Image"
    },
    {
      "type":      "text",
      "id":        "subtitle_2",
      "label":     "Sub Title"
    },
    {
      "type":      "text",
      "id":        "title_2",
      "label":     "Title"
    },
    {
      "type": "richtext",
      "id": "des_2",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    },
    {
      "type": "header",
      "content": "Post 3"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "Link"
    },
    {
      "type": "image_picker",
      "id": "img_3",
      "label": "Image"
    },
    {
      "type":      "text",
      "id":        "subtitle_3",
      "label":     "Sub Title"
    },
    {
      "type":      "text",
      "id":        "title_3",
      "label":     "Title"
    },
    {
      "type": "richtext",
      "id": "des_3",
      "label": "Content",
      "default": "<p>Medium Text<br><em>Large Text</em></p>"
    }
  ]
}
{% endschema %}