{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="section txt-img-bg text-center lazyload" data-sizes="auto" data-bgset="{% include 'responsive-bg-image', image: section.settings.bg_img %}" data-section-id="{{ section.id }}" data-section-type="txt-img-bg">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-11 col-xl-7">
        <h1 class="section__title txt-img-bg__title">{{ section.settings.title }}</h1>
        <div class="section__description txt-img-bg__description">{{ section.settings.description }}</div>
        <a class="btn btn--light btn--rounded btn--lg" href="{{ section.settings.btn_link }}" title="{{ section.settings.btn_text }}">{{ section.settings.btn_text }}</a>
      </div>
    </div>
  </div>  
</section>


{% schema %}
{
  "name": "Text with Image",
  "settings": [
    {
      "type": "header",
      "content": "Text and Image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "richtext",
      "id":        "description",
      "label":     "Description"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":      "text",
      "id":        "btn_text",
      "label":     "Button text"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "Text with Background",
      "name": "Text with Image Background"
    }
  ]
}
{% endschema %}