{%- comment -%}
  This is a dynamic section for the Shopify Theme Store.

  Theme Store required settings

  Theme Store optional settings
{%- endcomment -%}
<section class="section txt-solid-bg text-center {{ section.settings.text_color }}" data-section-id="{{ section.id }}" data-section-type="txt-solid-bg" style="background-color:{{ section.settings.bg_color }}">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-12 col-xl-8">
        <h1 class="section__title txt-solid-bg__title">{{ section.settings.title }}</h1>
        <div class="section__description txt-solid-bg__description">
          <div class="description__excerpt">
            {{ section.settings.description_excerpt }}
            <a href="javascript:void(0);" class="show-more" >Read More...</a>
          </div>
          <div class="description__full hidden">
            {{ section.settings.description_full }}
            <a href="javascript:void(0);" class="show-less" >See Less...</a>
          </div>
          
        </div>

        {% if section.settings.btn_text != blank%}
        <a class="btn btn--light btn--rounded btn--lg{% if section.settings.text_color == 'txt-light' %} btn--light{% else %} btn--dark{% endif %}" {% if section.settings.btn_text != blank %}href="{{ section.settings.btn_link }}"{% endif %} title="{{ section.settings.btn_text }}">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>  
</section>


{% schema %}
{
  "name": "Text with Color",
  "settings": [
    {
      "type": "header",
      "content": "Text and Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type":      "select",
      "id":        "text_color",
      "label":     "Text Color",
      "options": [
          { "value": "txt-light", "label": "Light"},
          { "value": "txt-dark", "label": "Dark"}
      ],
      "default":   "txt-dark"
    },
    {
      "type":      "text",
      "id":        "title",
      "label":     "Title"
    },
    {
      "type":      "richtext",
      "id":        "description_excerpt",
      "label":     "Description Excerpt"
    },
    {
      "type":      "richtext",
      "id":        "description_full",
      "label":     "Description Full"
    },    
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type":      "text",
      "id":        "btn_text",
      "label":     "Button text"
    },
    {
      "id": "btn_link",
      "type": "url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "category": "Text with Background",
      "name": "Text with Solid Color Background"
    }
  ]
}
{% endschema %}

{% javascript %}
  $('.show-more').on('click',function(){
    $('.description__full').toggleClass('hidden');
    $(this).hide();
  });
  $('.show-less').on('click',function(){
    $('.description__full').toggleClass('hidden');
    $('.show-more').show();
  });  
{% endjavascript %}